Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Updated RenderBlocks test file
  packages/volto/src/components/theme/View/RenderBlocks.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

improve React contributing guide
  docs/source/contributing/react.md
Due: none

Fix ordering by effective for unpublished contents that previously had effective as None but now have effective dates
  packages/volto/cypress/tests/core/blocks/blocks-search.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Upgrade to Plone 6.2a1 (#7810)
  packages/volto/cypress/tests/core/blocks/blocks-search.js
  packages/volto/news/+updatePlone6.2.internal
  variables.mk
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

improve React contributing guide: added hooks info
  docs/source/contributing/react.md
Due: none

Fix canonical URL editing in URL Management
  packages/volto/src/components/manage/Aliases/Aliases.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

improve React contributing guide: added patterns
  docs/source/contributing/react.md
Due: none

Add changelog entry for canonical URL fix
  news/6058.feature
Due: none

Added Changelog entry
  packages/volto/news/7862.documentation
Due: none

Use Slate Table block when pasting tables (instead of deprecated DraftJS)
  packages/volto-slate/src/blocks/Table/deconstruct.js
  packages/volto-slate/src/blocks/Table/deconstruct.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add changelog
  news/7864.bugfix
Due: none

Use Slate Table block when pasting tables (instead of deprecated DraftJS)
  packages/volto-slate/src/blocks/Table/deconstrct.text.js
  packages/volto-slate/src/blocks/Table/deconstruct.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

rename test file
  packages/volto-slate/src/blocks/Table/deconstruct.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add changelog
  packages/volto-slate/news/7865.bugfix
Due: none

fix(search): show Effective date instead of effective in sort
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7866.bugfix
  packages/volto/src/components/manage/Blocks/Search/SearchBlockEdit.jsx
  packages/volto/src/components/manage/Blocks/Search/components/SortOn.jsx
  packages/volto/src/middleware/index.js
  packages/volto/src/middleware/preloadQuerystringForBlocks.js
  packages/volto/src/store.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

updated locales
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Update packages/volto/src/helpers/Blocks/Blocks.js
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add tests for .well-known handling in production build
  packages/volto-razzle/__tests__/createConfigAsync.test.js
  packages/volto/__tests__/createConfigAsync.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add towncrier entry for .well-known tests
  packages/volto/news/7868.internal
Due: none

Update packages/volto/news/7868.internal
  packages/volto/news/7868.internal
Due: none

Use Plone 6.1.4
  variables.mk
Due: none

Add changes
  packages/volto/news/7870.internal
Due: none

fix(search): internationalize SortOn fallback labels
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Search/components/SortOn.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Reinstalled all dependencies to latest compatible versions
  packages/volto/news/7871.internal
  pnpm-lock.yaml
Due: none

Increase wait time between link check retries with Lychee.
  .github/workflows/readme-link-check.yml
  packages/volto/news/7872.internal
Due: none

Update packages/volto/news/7866.bugfix
  packages/volto/news/7866.bugfix
Due: none

search-ui-fix-new
  packages/volto/src/components/theme/SearchWidget/SearchWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Replace design-volto-theme links with design-comuni-plone-theme
  docs/source/theming/using-third-party-themes.md
Due: none

Fixed link and added news item
  docs/source/theming/using-third-party-themes.md
  packages/volto/news/7857.documentation
Due: none

fix-ui-new2
  packages/volto/news/news.internal
Due: none

Changed changelog name
  packages/volto/news/7874.internal
Due: none

fixed moderate comments view
  packages/volto/news/7786.bugfix
  packages/volto/src/components/manage/Controlpanels/Controlpanels.jsx
  packages/volto/src/components/manage/Controlpanels/Controlpanels.test.jsx
  packages/volto/src/components/manage/Controlpanels/__snapshots__/Controlpanels.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: button aria required
  .vscode/settings.json
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: translations
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
Due: none

update i18n,use useCallback and improve code
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/index.js
  packages/volto/src/components/manage/Blocks/Video/Body.jsx
  packages/volto/src/components/manage/Blocks/Video/schema.js
  packages/volto/src/components/theme/VideoEmbed/VideoEmbed.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update i18n
  docs/source/blocks/settings.md
  packages/volto/news/6359.feature
  packages/volto/news/6870.feature
Due: none

fix: tabIndex -1 to hide the duplicate warning
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: removed
  .vscode/settings.json
Due: none

chore: VS Code local files excluded from push
  .gitignore
Due: none
