Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Fix TS in @plone/blocks leftovers and related dependencies
  packages/blocks/Video/VideoBlockView.tsx
  packages/blocks/tsconfig.json
  packages/blocks/vite-env.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix TS in @plone/publicui leftovers and related dependencies
  packages/publicui/routes/index.tsx
  packages/publicui/tsconfig.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix TS in @plone/cmsui leftovers and related dependencies
  packages/cmsui/acceptance/tests/block-width.test.ts
  packages/cmsui/components/BlockEditor/BlockSettingsForm.test.tsx
  packages/cmsui/routes/api/createContent.test.tsx
  packages/cmsui/routes/search.test.tsx
  packages/cmsui/tsconfig.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: Respect required and fixed block restrictions in the sidebar (#8124)
  packages/volto/cypress/tests/core/blocks/blocks-slate.js
  packages/volto/cypress/tests/core/blocks/blocks-table.js
  packages/volto/cypress/tests/core/blocks/blocks-title.js
  packages/volto/news/6481.bugfix
  packages/volto/src/components/manage/Blocks/Block/Order/Item.jsx
  packages/volto/src/components/manage/Blocks/Block/Order/Item.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Backport - fix: Respect required and fixed block restrictions in the sidebar. (#8125)
  packages/volto/cypress/tests/core/blocks/blocks-slate.js
  packages/volto/cypress/tests/core/blocks/blocks-table.js
  packages/volto/cypress/tests/core/blocks/blocks-title.js
  packages/volto/news/6481.bugfix
  packages/volto/src/components/manage/Blocks/Block/Order/Item.jsx
  packages/volto/src/components/manage/Blocks/Block/Order/Item.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix tsconfig root
  packages/tsconfig/base.json
  packages/volto/news/7966.internal
  tsconfig.json
Due: none

Leave the root tsconfig.json file simple and remove the unused tsconfig package
  package.json
  packages/registry/news/7966.internal
  packages/registry/package.json
  packages/tsconfig/README.md
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/types/news/7966.internal
  packages/types/package.json
  packages/volto/news/7966.internal
  pnpm-lock.yaml
  tsconfig.json
Due: none

Changelog
  apps/seven/news/+unifytsconfig.internal
  packages/agave/news/+unifytsconfig.internal
  packages/blocks/news/+unifytsconfig.internal
  packages/client/news/+unifytsconfig.internal
  packages/cmsui/news/+unifytsconfig.internal
  packages/components/news/+unifytsconfig.internal
  packages/helpers/news/+unifytsconfig.internal
  packages/layout/news/+unifytsconfig.internal
  packages/plate/news/+unifytsconfig.internal
  packages/providers/news/+unifytsconfig.internal
  packages/publicui/news/+unifytsconfig.internal
  packages/react-router/news/+unifytsconfig.internal
  packages/registry/news/+unifytsconfig.internal
  packages/scripts/news/+unifytsconfig.internal
  packages/theming/news/+unifytsconfig.internal
  packages/types/news/+unifytsconfig.bugfix
Due: none

added TS check CI job
  .github/workflows/code-analysis.yml
Due: none

Fix Storybooks
  packages/cmsui/.storybook/main.ts
  packages/components/.storybook/main.ts
  packages/layout/.storybook/main.ts
  packages/plate/.storybook/main.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

test (generate) Seven TS first
  .github/workflows/code-analysis.yml
Due: none

Remove `tsconfig.json` root
  packages/volto/news/7966.internal
  tsconfig.json
Due: none

Update packages/volto/news/8126.bugfix
  packages/volto/news/8126.bugfix
Due: none

better config
  .github/workflows/code-analysis.yml
  packages/blocks/package.json
  packages/cmsui/package.json
  packages/layout/package.json
  packages/publicui/package.json
Due: none

Fixed alias bug in razzle configuration and webpack-less-plugin (#8104)
  packages/volto/news/+depsloader.bugfix
  packages/volto/razzle.config.js
  packages/volto/webpack-plugins/webpack-less-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Last fixes to seven TS
  apps/seven/app/middleware.server.test.ts
  apps/seven/app/root.test.tsx
  apps/seven/tsconfig.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fixes
  packages/volto/src/components/manage/Controlpanels/AddonsControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/DatabaseInformation.jsx
  packages/volto/src/components/manage/Controlpanels/ModerateComments.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

adding changelog
  packages/volto/news/7807.bugfix
Due: none

fix: Add authorization error handling to control panels
  packages/volto/src/components/manage/Controlpanels/AddonsControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/DatabaseInformation.jsx
  packages/volto/src/components/manage/Controlpanels/ModerateComments.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added nick CI workflow
  .github/workflows/nick.yml
Due: none

Fixed
  .github/workflows/nick.yml
Due: none

Fix dir
  .github/workflows/nick.yml
Due: none

Test
  .github/workflows/nick.yml
Due: none

Update short name
  .github/workflows/nick.yml
Due: none

Cleaned up tsconfig files (#7966)
  package.json
  packages/registry/news/7966.internal
  packages/registry/package.json
  packages/tsconfig/README.md
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/types/news/7966.internal
  packages/types/package.json
  packages/volto/news/7966.internal
  pnpm-lock.yaml
  tsconfig.json
Due: none

missing bg
  .github/workflows/nick.yml
Due: none

Fix redirect after login on non-content routes
  packages/volto/news/+login-redirect.bugfix
  packages/volto/src/components/theme/Unauthorized/Unauthorized.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Use modifiers to restrict movement, fix hidden row while dragging
  packages/volto/package.json
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/config/Loadables.jsx
  packages/volto/theme/themes/pastanaga/extras/contents.less
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Update packages/volto/cypress/tests/coresandbox/fieldTypeValidation.js
  packages/volto/cypress/tests/coresandbox/fieldTypeValidation.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

avoid disturbing the table structure with hidden a11y nodes
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/manage/Contents/__snapshots__/Contents.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update to release-it 20.0.0
  catalog.json
  packages/volto/news/+dep-release-it.internal
Due: none

Update to release-it 20.0.0 (#8132)
  catalog.json
  packages/volto/news/+dep-release-it.internal
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update to lodash 4.18.1
  catalog.json
  packages/volto/news/+dep-lodash.internal
  pnpm-lock.yaml
Due: none

Update to lodash 4.18.1 (#8133)
  catalog.json
  packages/volto/news/+dep-lodash.internal
  pnpm-lock.yaml
Due: none

Update webpack plugins
  packages/volto-razzle/news/+dep-webpack-plugins.internal
  packages/volto-razzle/package.json
  packages/volto/news/+dep-webpack-plugins.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update webpack plugins (#8134)
  packages/volto-razzle/news/+dep-webpack-plugins.internal
  packages/volto-razzle/package.json
  packages/volto/news/+dep-webpack-plugins.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Also update volto-razzle dependencies
  packages/volto-razzle/news/+dep-webpack-plugins.internal
  packages/volto-razzle/package.json
  pnpm-lock.yaml
Due: none
