Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Upgrade vite to latest
  packages/client/package.json
  packages/components/package.json
  packages/registry/package.json
  pnpm-lock.yaml
Due: none

Fix the boilerplate for old generator and add a missing upgrade guide… (#6368)
  docs/source/upgrade-guide/index.md
  packages/generator-volto/generators/app/templates/razzle.config.js
  packages/generator-volto/news/6368.breaking
Due: none

Release generate-volto 9.0.0-alpha.18
  packages/generator-volto/CHANGELOG.md
  packages/generator-volto/news/6368.breaking
  packages/generator-volto/package.json
Due: none

Added new VoltoVitePlugin, transfer there almost all config. Added Volto add-on support for Vite.
  packages/coresandbox/src/components/Blocks/FormBlock/Edit.tsx
  packages/coresandbox/src/components/Blocks/InputBlock/Edit.tsx
  packages/coresandbox/src/components/Blocks/TestBlock/Edit.tsx
  packages/coresandbox/src/components/TestForm.jsx
  packages/coresandbox/src/components/Views/NewsAndEvents.tsx
  packages/coresandbox/src/customizations/volto/components/manage/Controlpanels/VersionOverview.jsx
  packages/coresandbox/src/index.ts
  packages/registry/src/addon-registry.js
  packages/volto/razzle.config.js
  packages/volto/vite-plugins/volto.js
  packages/volto/vite.config.js
  packages/volto/volto.config.cjs
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Support for themes and released (node_modules) packages 😎
  packages/registry/src/addon-registry.js
  packages/volto/razzle.config.js
  packages/volto/vite-plugins/volto.js
  packages/volto/vite.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix URL in SSR
  packages/volto/src/entry-server.tsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Pass the `user`, `navRoot` and `contentType` objects to the `restricted` function of the block settings
  docs/source/recipes/how-to-restrict-blocks.md
  news/6264.feature
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
  src/components/manage/BlockChooser/BlockChooser.jsx
  src/components/manage/BlockChooser/BlockChooser.test.jsx
  src/hooks/index.js
  src/hooks/user/useUser.js
Due: none

Convert wall of text to a definition list to improve readability
  docs/source/recipes/how-to-restrict-blocks.md
Due: none

Update news/6264.feature
  news/6264.feature
Due: none

Remove pin on Vale, and upgrade to v3.x configuration
  requirements-docs.txt
  styles/config/vocabularies/Base/accept.txt
  styles/config/vocabularies/Base/reject.txt
  styles/config/vocabularies/Plone/accept.txt
  styles/config/vocabularies/Plone/reject.txt
Due: none

news
  packages/volto/news/6376.documentation
Due: none

Attempt to get docs CI to pass
  .github/workflows/docs.yml
  requirements-docs.txt
Due: none

Force docs CI build on relevant paths
  .github/workflows/docs.yml
Due: none

Temporary comment for immediate testing of Vale
  .github/workflows/docs.yml
Due: none

Clean up docs.yml
  .github/workflows/docs.yml
Due: none

News
  news/6377.documentation
Due: none

Don't return an exit code when building Vale in CI. We want it to be just an FYI, not a requirement.
  .github/workflows/docs.yml
  Makefile
Due: none

Temp comment
  .github/workflows/docs.yml
Due: none

Restore commented bits
  .github/workflows/docs.yml
Due: none

Updated CI and `Makefile` to allow `VALEOPTS=--no-exit`
  .github/workflows/docs.yml
  Makefile
  packages/volto/news/6376.documentation
Due: none

Change formatting from blob of text to definition list.
  docs/source/development/how-to-restrict-blocks.md
Due: none

Change formatting from blob of text to definition list. (#6378)
  docs/source/development/how-to-restrict-blocks.md
Due: none

Attempt to get docs CI to pass (#6377)
  .github/workflows/docs.yml
  Makefile
  news/6377.documentation
  requirements-docs.txt
Due: none

Pass the `user`, `navRoot` and `contentType` objects to the `restricted` function of the block settings (#6375)
  docs/source/recipes/how-to-restrict-blocks.md
  news/6264.feature
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
  src/components/manage/BlockChooser/BlockChooser.jsx
  src/components/manage/BlockChooser/BlockChooser.test.jsx
  src/hooks/index.js
  src/hooks/user/useUser.js
Due: none

Remove pin on Vale, and upgrade to v3.x configuration (#6376)
  .github/workflows/docs.yml
  Makefile
  packages/volto/news/6376.documentation
  requirements-docs.txt
  styles/config/vocabularies/Base/accept.txt
  styles/config/vocabularies/Base/reject.txt
  styles/config/vocabularies/Plone/accept.txt
  styles/config/vocabularies/Plone/reject.txt
Due: none

Add disable enter setting.
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

5573-issues-solved-before-review
  docs/source/contributing/developing-core.md
Due: none

5573.documentation added
  packages/volto/news/5573.documentation
Due: none

updates
  packages/volto/news/6140.internal
  packages/volto/test-setup-globals.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix translations.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
  packages/volto/src/components/manage/Widgets/SelectWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/6373.internal
Due: none

Changelog
  packages/client/news/6373.internal
  packages/components/news/6373.internal
  packages/registry/news/6373.internal
Due: none

move video embed component to components directory
  packages/volto/src/components/index.js
  packages/volto/src/components/manage/Blocks/Video/Body.jsx
  packages/volto/src/components/theme/VideoEmbed/VideoEmbed.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

add changelog entry
  packages/volto/news/6359.feature
Due: none

Added missing arg for `buildStyleClassNamesExtenders`
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix link in vite-js readme
  apps/vite/README.md
Due: none

fix link in vite-ssr readme
  apps/vite-ssr/README.md
Due: none

Ported a few minor fixes upstream
  packages/client/package.json
  packages/components/src/providers/flattenToAppURL.tsx
  packages/types/src/blocks/index.d.ts
  packages/types/src/content/common.d.ts
  packages/types/src/content/index.d.ts
  pnpm-lock.yaml
Due: none

Added news items
  packages/client/news/6382.internal
  packages/providers/news/6382.bugfix
  packages/types/news/6382.bugfix
Due: none

Path conditions:
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm --filter @plone/volto stylelint --fix: (any of: packages/volto/**/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
