Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Release @plone/plate 1.0.0-alpha.8
  packages/plate/CHANGELOG.md
  packages/plate/news/+style-fields-width-fallback.feature
  packages/plate/package.json
Due: none

Keep block naming conventions as and .
  packages/blocks/Teaser/TeaserBlockEdit.tsx
  packages/blocks/Teaser/index.ts
  packages/blocks/news/+keep-naming-convention.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed toolbar button if a single option is shown (#8186)
  packages/plate/components/ui/block-width-toolbar-button.test.tsx
  packages/plate/components/ui/block-width-toolbar-button.tsx
  packages/plate/news/+fix-width-toolbar-button.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/helpers 2.0.0-alpha.6
  packages/helpers/CHANGELOG.md
  packages/helpers/news/+importcompatvolto.bugfix
  packages/helpers/package.json
Due: none

Release @plone/plate 1.0.0-alpha.6
  packages/plate/CHANGELOG.md
  packages/plate/news/+style-fields.feature
  packages/plate/package.json
Due: none

Release @plone/blocks 1.0.0-alpha.10
  packages/blocks/CHANGELOG.md
  packages/blocks/news/+style-fields-width-fallback.internal
  packages/blocks/package.json
Due: none

Upgrade to storybook 10 (Vite 8) (#8225)
  packages/cmsui/.storybook/preview.ts
  packages/cmsui/news/+storybook.internal
  packages/cmsui/package.json
  packages/components/.storybook/preview.ts
  packages/components/news/+storybook.internal
  packages/components/package.json
  packages/layout/.storybook/preview.tsx
  packages/layout/news/+storybook.internal
  packages/layout/package.json
  packages/plate/.storybook/preview.ts
  packages/plate/news/+storybook.internal
  packages/plate/package.json
  packages/tooling/.storybook/preview.ts
  packages/tooling/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/layout 1.0.0-alpha.8
  packages/layout/CHANGELOG.md
  packages/layout/news/+style-fields-width-fallback.feature
  packages/layout/package.json
Due: none

[Seven] Make style fields first-class and preserve block width fallback (#8204)
  packages/blocks/Image/index.ts
  packages/blocks/Image/schema.tsx
  packages/blocks/news/+style-fields-width-fallback.internal
  packages/layout/helpers/index.ts
  packages/layout/news/+style-fields-width-fallback.feature
  packages/plate/components/editor/block-editor-base-kit.tsx
  packages/plate/components/editor/block-editor-kit.tsx
  packages/plate/components/editor/editor-base-kit.tsx
  packages/plate/components/editor/editor-kit.tsx
  packages/plate/components/editor/plugins/block-width-plugin.test.ts
  packages/plate/components/editor/plugins/block-width-plugin.ts
  packages/plate/components/editor/plugins/style-fields-base-kit.tsx
  packages/plate/components/editor/plugins/style-fields-kit.tsx
  packages/plate/components/editor/plugins/style-fields-plugin.ts
  packages/plate/components/ui/block-width-toolbar-button.tsx
  packages/plate/news/+style-fields-width-fallback.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] New Quanta components Modal, Dialog and Form (#8240)
  packages/components/.storybook/preview.ts
  packages/components/news/+qmodal.feature
  packages/components/src/components/Form/Form.quanta.stories.tsx
  packages/components/src/components/Form/Form.quanta.tsx
  packages/components/src/components/Modal/Modal.quanta.stories.tsx
  packages/components/src/components/Modal/Modal.quanta.tsx
  packages/components/src/quanta/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/blocks 1.0.0-alpha.9
  packages/blocks/CHANGELOG.md
  packages/blocks/news/+style-field-utility.internal
  packages/blocks/package.json
Due: none

Release @plone/plate 1.0.0-alpha.7
  packages/plate/CHANGELOG.md
  packages/plate/news/+fix-width-toolbar-button.bugfix
  packages/plate/package.json
Due: none

Release @plone/layout 1.0.0-alpha.7
  packages/layout/CHANGELOG.md
  packages/layout/news/+style-fields.feature
  packages/layout/package.json
Due: none

Make the import for the styleFields helper resilient and Volto-compatible (#8206)
  packages/helpers/news/+importcompatvolto.bugfix
  packages/helpers/src/styleFields.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Added link and button cross variants (#7379)
  packages/components/news/7379.feature
  packages/components/src/components/Breadcrumbs/Breadcrumbs.quanta.tsx
  packages/components/src/components/Button/Button.quanta.stories.tsx
  packages/components/src/components/Button/Button.quanta.test.tsx
  packages/components/src/components/Button/Button.quanta.tsx
  packages/components/src/components/Button/Button.quanta.variants.tsx
  packages/components/src/components/Button/Button.test.tsx
  packages/components/src/components/Link/Link.quanta.stories.tsx
  packages/components/src/components/Link/Link.quanta.test.tsx
  packages/components/src/components/Link/Link.quanta.tsx
  packages/components/src/components/Link/Link.quanta.variants.tsx
  packages/components/src/components/Link/Link.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Login layout implementation (#8271)
  docs/how-to-guides/customize-login-screen.md
  docs/how-to-guides/index.md
  packages/cmsui/components/Login/LoginActions.tsx
  packages/cmsui/components/Login/LoginHero.tsx
  packages/cmsui/components/Login/LoginLogo.tsx
  packages/cmsui/config/slots.ts
  packages/cmsui/index.ts
  packages/cmsui/locales/de/common.json
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/news/6656.bugfix
  packages/cmsui/news/6656.feature
  packages/cmsui/routes/auth/login.tsx
  packages/cmsui/static/plone-white.svg
  packages/cmsui/static/plone.svg
  packages/cmsui/static/volto-hero.svg
  packages/cmsui/styles/cmsui.css
  packages/components/news/6656.bugfix
  packages/components/src/styles/quanta/colors.css
  packages/theming/news/6656.bugfix
  packages/theming/styles/colors.css
  packages/theming/styles/tailwind.css
  packages/theming/styles/theme.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Refactored the `Content` type to allow TypeScript to narrow this type automatically (#8277)
  apps/seven/app/middleware.server.ts
  apps/seven/news/+contenttypes.breaking
  docs/how-to-guides/custom-content-types.md
  docs/how-to-guides/index.md
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserContext.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidget.stories.tsx
  packages/cmsui/components/ObjectBrowserWidget/utils.ts
  packages/cmsui/news/+contenttypes.breaking
  packages/layout/components/EventDate/EventDate.tsx
  packages/layout/components/EventDetails/EventDetails.tsx
  packages/layout/news/+contenttypes.breaking
  packages/layout/views/EventView.tsx
  packages/layout/views/FileView.test.tsx
  packages/layout/views/FileView.tsx
  packages/layout/views/LinkView.tsx
  packages/types/news/+contenttypes.breaking
  packages/types/src/blocks/objectBrowser.d.ts
  packages/types/src/content/base.d.ts
  packages/types/src/content/index.d.ts
  packages/types/src/content/types/collection.d.ts
  packages/types/src/content/types/document.d.ts
  packages/types/src/content/types/event.d.ts
  packages/types/src/content/types/file.d.ts
  packages/types/src/content/types/folder.d.ts
  packages/types/src/content/types/image.d.ts
  packages/types/src/content/types/link.d.ts
  packages/types/src/content/types/news-item.d.ts
  packages/types/src/services/common.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix Nick usage of babel/core, add bcrypt and node-gyp to the externals (#8269)
  apps/seven/.gitignore
  apps/seven/news/+babel-core-dev-dependency.internal
  apps/seven/package.json
  packages/registry/news/+externalize-native-ssr-deps.bugfix
  packages/registry/vite-plugin.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Integrate links with ObjectBrowser (#8246)
  packages/blocks/Teaser/TeaserBlockEdit.tsx
  packages/blocks/news/8246.bugfix
  packages/cmsui/acceptance/tests/link-kit.test.ts
  packages/cmsui/components/BlockEditor/BlocksEditor.tsx
  packages/cmsui/components/BlockEditor/plugins/link-kit.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserModal.test.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserModal.tsx
  packages/cmsui/news/8246.feature
  packages/cmsui/package.json
  packages/plate/components/editor/block-editor-kit.tsx
  packages/plate/components/ui/link-node-static.tsx
  packages/plate/components/ui/link-node.tsx
  packages/plate/news/8246.feature
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Added view for content type Event (#7529)
  packages/layout/components/EventDate/EventDate.tsx
  packages/layout/components/EventDetails/EventDetails.module.css
  packages/layout/components/EventDetails/EventDetails.tsx
  packages/layout/helpers/index.ts
  packages/layout/index.ts
  packages/layout/locales/de/common.json
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/news/6708.feature
  packages/layout/package.json
  packages/layout/slots/ContentArea.tsx
  packages/layout/views/EventView.module.css
  packages/layout/views/EventView.tsx
  packages/types/news/6708.feature
  packages/types/src/content/index.d.ts
  packages/types/src/content/types/event.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

[Seven] Added link view redirects and handled redirects from the backend (#8275)
  apps/seven/app/middleware.server.test.ts
  apps/seven/app/middleware.server.ts
  apps/seven/app/root.tsx
  apps/seven/news/+handleredirects.feature
  apps/seven/news/+linkmiddleware.feature
  packages/client/news/+handleredirects.feature
  packages/client/src/api.test.ts
  packages/client/src/api.ts
  packages/client/src/restapi/content/get.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Fix the sidebar to take 100% vertical space (#8248)
  packages/cmsui/components/ContentForm/ContentForm.tsx
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/cmsui/news/+fix-sidebar-vertical-height.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Added Component component (#8257)
  packages/layout/components/Component/Component.test.tsx
  packages/layout/components/Component/Component.tsx
  packages/layout/news/6691.feature
  packages/registry/news/6691.bugfix
  packages/registry/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Fixed toolbar edit and back button (#8249)
  packages/cmsui/components/ContentForm/ContentForm.tsx
  packages/cmsui/news/+fix-cancel-button-href.bugfix
  packages/publicui/news/+fix-edit-button-stale-url.bugfix
  packages/publicui/routes/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Improved toolbar color transitions and added secondary color option
  packages/layout/components/Toolbar/Toolbar-inner.css
  packages/layout/components/Toolbar/Toolbar.module.css
Due: pnpm stylelint --fix

[Seven] Fixed objectbrowser and Teaser block (#8260)
  packages/blocks/Teaser/schema.tsx
  packages/blocks/news/+fix-teaser-schema.bugfix
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserContext.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidgetBody.tsx
  packages/cmsui/components/ObjectBrowserWidget/utils.ts
  packages/cmsui/news/+fixobjectbrowser.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Removed the native Plate Image block from the slash menu (#8233)
  packages/plate/components/editor/plugins/slash-menu.tsx
  packages/plate/news/+removeimageblockfromtextgroup.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Add DialogTrigger component (#8270)
  packages/cmsui/components/ImageWidget/ImageWidget.test.tsx
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserTrigger.tsx
  packages/components/news/+dialogtrigger.feature
  packages/components/src/components/Dialog/Dialog.quanta.tsx
  packages/components/src/components/Dialog/Dialog.stories.tsx
  packages/components/src/components/Dialog/Dialog.tsx
  packages/components/src/components/Modal/Modal.quanta.stories.tsx
  packages/components/src/components/Modal/Modal.stories.tsx
  packages/components/src/components/Popover/Popover.quanta.stories.tsx
  packages/components/src/components/Popover/Popover.stories.tsx
  packages/components/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Added view for content type Link (#7534)
  apps/seven/app/root.test.tsx
  apps/seven/app/root.tsx
  apps/seven/news/6710.feature
  packages/layout/index.ts
  packages/layout/locales/de/common.json
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/news/6710.feature
  packages/layout/styles/content-area.css
  packages/layout/views/LinkView.tsx
  packages/types/news/6710.feature
  packages/types/src/content/index.d.ts
  packages/types/src/content/types/link.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Unify Makefile files across the packages (#8298)
  Makefile
  apps/seven/Makefile
  apps/seven/news/+unify-makefiles.internal
  packages/agave/Makefile
  packages/agave/news/+unify-makefiles.internal
  packages/blocks/Makefile
  packages/blocks/news/+unify-makefiles.internal
  packages/client/Makefile
  packages/client/news/+unify-makefiles.internal
  packages/cmsui/Makefile
  packages/cmsui/news/+unify-makefiles.internal
  packages/components/Makefile
  packages/components/news/+unify-makefiles.internal
  packages/helpers/Makefile
  packages/helpers/news/+unify-makefiles.internal
  packages/layout/Makefile
  packages/layout/news/+unify-makefiles.internal
  packages/plate/Makefile
  packages/plate/news/+unify-makefiles.internal
  packages/publicui/Makefile
  packages/publicui/news/+unify-makefiles.internal
  packages/react-router/Makefile
  packages/react-router/news/+unify-makefiles.internal
  packages/registry/Makefile
  packages/registry/news/+unify-makefiles.internal
  packages/scripts/Makefile
  packages/scripts/news/+unify-makefiles.internal
  packages/theming/Makefile
  packages/theming/news/+unify-makefiles.internal
  packages/tsconfig/Makefile
  packages/types/Makefile
  packages/types/news/+unify-makefiles.internal
  packages/volto/Makefile
  packages/volto/news/+unify-makefiles.internal
  variables.mk
Due: none

[Seven] Add `renderEmptyState` to `Table` component (#8308)
  packages/components/news/+tableRenderEmptyState.feature
  packages/components/src/components/Table/Table.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Recurrence widget (#7200)
  apps/seven/news/+recurrencewidget.feature
  packages/cmsui/components/Form/Field.tsx
  packages/cmsui/components/Form/Form.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByMonthDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByWeekdayOfTheMonth.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByWeekdayOfTheMonthIndex.tsx
  packages/cmsui/components/RecurrenceWidget/Components/CountEndField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/IntervalField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/MonthOfTheYearField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/RadioOptionsField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/RecurrenceWidgetModal.tsx
  packages/cmsui/components/RecurrenceWidget/Components/SelectedDates.tsx
  packages/cmsui/components/RecurrenceWidget/Components/UntilEndField.tsx
  packages/cmsui/components/RecurrenceWidget/RecurrenceWidget.stories.tsx
  packages/cmsui/components/RecurrenceWidget/RecurrenceWidget.test.tsx
  packages/cmsui/components/RecurrenceWidget/RecurrenceWidget.tsx
  packages/cmsui/components/RecurrenceWidget/rrule.ts
  packages/cmsui/components/RecurrenceWidget/utils.ts
  packages/cmsui/config/widgets.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/news/+recurrencewidget.feature
  packages/cmsui/package.json
  packages/cmsui/routes/atoms.ts
  packages/components/news/+radiogroup-and-components-props.feature
  packages/components/src/components/Select/Select.quanta.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/components/TextField/TextField.quanta.tsx
  packages/theming/news/+mutedbackground.feature
  packages/theming/styles/tailwind.css
  packages/types/news/+eventtypes.bugfix
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

lint
  packages/blocks/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(a11y): use visually-hidden on empty aria-live region in FormFieldWrapper
  packages/volto/src/components/manage/Controlpanels/__snapshots__/Aliases.test.jsx.snap
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/AlignWidget.test.tsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ButtonsWidget.test.tsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/CheckboxGroupWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/CheckboxWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/DatetimeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/EmailWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/IdWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ImageSizeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/NumberWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ObjectBrowserWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ObjectListWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/PasswordWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RadioGroupWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ReferenceWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RegistryImageWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/StaticTextWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TextWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TextareaWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TimeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/UrlWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/VocabularyTermsWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: add news entry for #8319
  packages/volto/news/8319.bugfix
Due: none

added acceptance tests
  packages/layout/acceptance/tests/toolbar-menu.test.ts
  packages/publicui/acceptance/tests/content-types-menu.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

refactor: add tests and clean up querystringWidget
  packages/blocks/index.ts
  packages/blocks/news/40.feature
  packages/cmsui/acceptance/tests/listing-block.test.ts
  packages/cmsui/components/BlockEditor/BlockSettingsForm.tsx
  packages/cmsui/components/QuerystringWidget/QuerystringWidgetContext.tsx
  packages/cmsui/news/+fix-querystringWidgetContext.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(a11y): use visually-hidden on empty aria-live region in FormFieldWrapper (#8319)
  packages/volto/news/8319.bugfix
  packages/volto/src/components/manage/Controlpanels/__snapshots__/Aliases.test.jsx.snap
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/AlignWidget.test.tsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ButtonsWidget.test.tsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/CheckboxGroupWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/CheckboxWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/DatetimeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/EmailWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/IdWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ImageSizeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/NumberWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ObjectBrowserWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ObjectListWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/PasswordWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RadioGroupWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ReferenceWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RegistryImageWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/StaticTextWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TextWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TextareaWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TimeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/UrlWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/VocabularyTermsWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Improve support for non multilingual sites default language (#8311)
  packages/volto/news/+non-multilingual-site-cookie.bugfix
  packages/volto/src/server.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n
