Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Remove support for loading config from project.
  packages/registry/__tests__/create-addons-loader.test.js
  packages/registry/src/addon-registry/create-addons-loader.ts
  packages/volto/__tests__/create-addons-loader.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

docs
  docs/source/upgrade-guide/index.md
Due: none

Changelog
  packages/volto/news/6842.breaking
Due: none

Changelog
  packages/registry/news/6842.breaking
Due: none

fix: type for content
  packages/helpers/src/Content/Content.ts
  packages/volto/src/helpers/Content/Content.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

type import
  packages/volto/src/helpers/Content/Content.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: tests
  packages/helpers/src/Content/Content.ts
  packages/volto/src/helpers/Content/Content.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: date type
  packages/volto/src/helpers/Cookies/cookies.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed redirection logic which now checks for edit permission
  packages/volto/src/components/theme/View/LinkView.jsx
  packages/volto/src/components/theme/View/LinkView.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

news item
  packages/volto/news/6843.bugfix
Due: none

Update to use Plone 6.1.1rc1
  variables.mk
Due: none

Update Languages.cjs
  packages/volto/src/constants/Languages.cjs
Due: none

Add `--dry-run` to prepublish script
  packages/scripts/prepublish.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/scripts/news/6847.feature
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
Due: none

Fix required array on delete field.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Make editing querystring parameter and placeholder opt-in.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Pass in vocabulary.
  packages/volto/src/components/manage/Widgets/RadioGroupWidget.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove unused compose method.
  packages/volto/src/components/manage/Widgets/CheckboxGroupWidget.jsx
  packages/volto/src/components/manage/Widgets/RadioGroupWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Use buildin includes method.
  packages/volto/src/helpers/Utils/Utils.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Replace lodash map with internal map.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: lint
  packages/helpers/package.json
  packages/helpers/src/Content/Content.test.ts
  packages/helpers/src/Content/Content.ts
  packages/helpers/src/index.ts
  packages/volto/src/helpers/Content/Content.ts
  packages/volto/src/helpers/Cookies/cookies.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix unit test
  packages/helpers/src/Cookies/cookies.ts
  packages/volto/src/helpers/Cookies/cookies.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix svg import issue
  packages/helpers/customs.d.ts
  packages/helpers/tsconfig.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix import
  packages/helpers/src/Content/Content.test.ts
  packages/helpers/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add `--dry-run` to prepublish script (#6847)
  packages/scripts/news/6847.feature
  packages/scripts/prepublish.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove @plone/volto-testing
  packages/volto-testing/.release-it.json
  packages/volto-testing/CHANGELOG.md
  packages/volto-testing/cypress/helpers/index.js
  packages/volto-testing/cypress/support/commands.js
  packages/volto-testing/cypress/support/constants.js
  packages/volto-testing/cypress/support/index.js
  packages/volto-testing/cypress/support/reset-fixture.js
  packages/volto-testing/news/.gitkeep
  packages/volto-testing/package.json
  packages/volto-testing/towncrier.toml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove guillotina
  docs/source/contributing/developing-core.md
  g-api/README.md
  g-api/config-local.yml
  g-api/config.yml
  g-api/docker-compose-local.yml
  g-api/docker-compose.yml
  packages/volto-guillotina/.npmignore
  packages/volto-guillotina/.project.eslintrc.js
  packages/volto-guillotina/Makefile
  packages/volto-guillotina/babel.config.js
  packages/volto-guillotina/locales/volto.pot
  packages/volto-guillotina/package.json
  packages/volto-guillotina/src/customizations/volto/actions/sharing/sharing.js
  packages/volto-guillotina/src/customizations/volto/actions/sharing/sharing.test.js
  packages/volto-guillotina/src/customizations/volto/components/theme/Logo/Logo.svg
  packages/volto-guillotina/src/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove all traces of Plone 5
  Makefile
  docs/source/contributing/version-policy.md
  variables.mk
Due: none

lock
  pnpm-lock.yaml
Due: none

Changelog
  .github/workflows/cookieplone.yml
  packages/scripts/news/6848.breaking.1
  packages/scripts/news/6848.breaking.2
  packages/scripts/news/6848.breaking.3
  packages/volto/news/6848.breaking
Due: none

Fix redirect
  packages/client/README.md
Due: none

Fix redirect in client for readthedocs badge (#6849)
  packages/client/README.md
Due: none

Remove the changes to cookieplone
  .github/workflows/cookieplone.yml
Due: none

Add more checks to cookieplone tests
  .github/workflows/cookieplone.yml
Due: none

Add more checks to Cookieplone tests (#6850)
  .github/workflows/cookieplone.yml
Due: none

Fix error when saving content with ObjectBrowserNav open
  packages/volto/news/6845.bugfix
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.jsx
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.test.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/ObjectBrowserNav.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix error when saving content with ObjectBrowserNav open (#6846)
  packages/volto/news/6845.bugfix
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.jsx
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.test.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/ObjectBrowserNav.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n
