Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Avoid storing blocksClipboard in localstorage until it has a value
  packages/volto/7730.bugfix
  packages/volto/src/config/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix changelog
  packages/volto/news/6697.bugfix
Due: none

fix(types): correct typing for contentIcons and controlPanelsIcons (#7923)
  packages/types/news/7339.bugfix
  packages/types/src/config/Settings.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Convert new response format to old one, this way components don't need to be updated
  packages/volto/src/components/manage/Controlpanels/Users/UserGroupMembershipListing.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.test.jsx
  packages/volto/src/reducers/users/users.js
  packages/volto/src/reducers/users/users.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Title defaults
  packages/cmsui/components/BlockEditor/SomersaultEditor.tsx
  packages/cmsui/index.ts
  packages/plate/components/editor/plugins/title.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added width (layout) related icons both svg and components
  packages/components/src/components/icons/WidthDefaultIcon.tsx
  packages/components/src/components/icons/WidthFullIcon.tsx
  packages/components/src/components/icons/WidthLayoutIcon.tsx
  packages/components/src/components/icons/WidthNarrowIcon.tsx
  packages/components/src/components/icons/index.ts
  packages/components/src/icons/width-default.svg
  packages/components/src/icons/width-full.svg
  packages/components/src/icons/width-layout.svg
  packages/components/src/icons/width-narrow.svg
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/components/news/+addwidthiconcomponents.feature
Due: none

Add width icons (#7926)
  packages/components/news/+addwidthiconcomponents.feature
  packages/components/src/components/icons/WidthDefaultIcon.tsx
  packages/components/src/components/icons/WidthFullIcon.tsx
  packages/components/src/components/icons/WidthLayoutIcon.tsx
  packages/components/src/components/icons/WidthNarrowIcon.tsx
  packages/components/src/components/icons/index.ts
  packages/components/src/icons/width-default.svg
  packages/components/src/icons/width-full.svg
  packages/components/src/icons/width-layout.svg
  packages/components/src/icons/width-narrow.svg
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/components 4.0.0-alpha.6
  packages/components/CHANGELOG.md
  packages/components/news/+addwidthiconcomponents.feature
  packages/components/news/7918.feature
  packages/components/package.json
Due: none

Backport @plone/components 4a6
  packages/components/CHANGELOG.md
  packages/components/README.md
  packages/components/package.json
  packages/components/src/components/Spinner/Spinner.quanta.stories.tsx
  packages/components/src/components/Spinner/Spinner.quanta.tsx
  packages/components/src/components/Spinner/Spinner.stories.tsx
  packages/components/src/components/Spinner/Spinner.test.tsx
  packages/components/src/components/Spinner/Spinner.tsx
  packages/components/src/components/Toolbar/Toolbar.quanta.stories.tsx
  packages/components/src/components/Toolbar/Toolbar.quanta.tsx
  packages/components/src/components/icons/WidthDefaultIcon.tsx
  packages/components/src/components/icons/WidthFullIcon.tsx
  packages/components/src/components/icons/WidthLayoutIcon.tsx
  packages/components/src/components/icons/WidthNarrowIcon.tsx
  packages/components/src/components/icons/index.ts
  packages/components/src/icons/width-default.svg
  packages/components/src/icons/width-full.svg
  packages/components/src/icons/width-layout.svg
  packages/components/src/icons/width-narrow.svg
  packages/components/src/index.ts
  packages/components/src/quanta/index.ts
  packages/components/src/stories/Icons.stories.tsx
  packages/components/src/styles/basic/Spinner.css
  packages/components/src/styles/basic/main.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Make the table to look nice (like quanta designs)
  packages/volto/src/components/manage/Controlpanels/BlockType.tsx
  packages/volto/src/components/manage/Controlpanels/BlockTypes.tsx
  packages/volto/theme/themes/pastanaga/extras/block-types.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Use `getSlateEditorAndType` in `03-block-slate.js` to make the test more robust (#7924)
  packages/volto/cypress/tests/core/volto-slate/03-block-slate.js
  packages/volto/news/7924.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove link to Jobfamilie MEDICE: site is no longer a Volto site (redirects to non-Volto destination).
  README.md
  packages/volto/README.md
Due: none

Add changes
  packages/volto/news/7929.documentation
Due: none

moving changelog file
  packages/scripts/news/7894.bugfix
  packages/volto/news/7894.internal
Due: none

fix: send factory as string in SchemaWidget and filter field types in types control panel
  packages/volto/news/+schema-widget-factory.bugfix
  packages/volto/src/components/manage/Controlpanels/ContentTypeSchema.jsx
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fixing requested changes
  packages/volto/.eslintignore
Due: none

Backport: Exclude .storybook from ESLint default hidden directory ignore list (#7894)
  packages/volto/news/7894.internal
Due: none

Use `getSlateEditorAndType` in `03-block-slate.js` to make the test more robust (#7928)
  packages/volto/cypress/tests/core/volto-slate/03-block-slate.js
  packages/volto/news/7924.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Backport: Exclude .storybook from ESLint default hidden directory ignore list (#7894) (#7931)
  packages/volto/.eslintignore
  packages/volto/news/7894.internal
Due: none

Remove link to Jobfamilie MEDICE: site is no longer a Volto site (redirects to non-Volto destination) (#7929)
  README.md
  packages/volto/README.md
  packages/volto/news/7929.documentation
Due: none

Remove link to Jobfamilie MEDICE: site is no longer a Volto site (redirects to non-Volto destination) (#7932)
  README.md
  packages/volto/README.md
  packages/volto/news/7929.documentation
Due: none

Update css-minimizer-webpack-plugin to v7 and keep razzleOptions.enableSourceMaps control
  packages/volto-razzle/config/createConfigAsync.js
  packages/volto-razzle/config/createConfigAsync.test.js
  packages/volto-razzle/news/7934.internal
  packages/volto-razzle/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix: Update LeadImage View snapshot for loading/fetchpriority props
  packages/volto/src/components/manage/Blocks/LeadImage/__snapshots__/View.test.jsx.snap
Due: none

Fix heading buttons not working in RichText Slate fields in custom content types
  BUG_FIX_HEADING_BUTTONS.md
  packages/volto-slate/news/7889.bugfix
  packages/volto-slate/src/editor/ui/BlockButton.jsx
  packages/volto-slate/src/editor/ui/ClearFormattingButton.jsx
  packages/volto-slate/src/editor/ui/MarkButton.jsx
  packages/volto-slate/src/editor/ui/MarkElementButton.jsx
  packages/volto-slate/src/editor/ui/Toolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Apply a bulk `flattenToAppURL` to all the initial static store resultant from SSR initial request.
  packages/volto/src/helpers/Html/Html.jsx
  packages/volto/src/helpers/Url/bulkFlattenToAppURL.test.ts
  packages/volto/src/helpers/Url/bulkFlattenToAppURL.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add changelog.
  packages/volto/news/7935.bugfix
Due: none

Fix subordering of blocks.
  packages/volto/src/components/manage/Blocks/Block/Order/Item.jsx
  packages/volto/src/components/manage/Blocks/Block/Order/Order.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix dragging invalid blocktypes in order tab
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Block/Order/Item.jsx
  packages/volto/src/components/manage/Blocks/Block/Order/Order.jsx
  packages/volto/src/components/manage/Blocks/Block/Order/utilities.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix sorting and deleting sub blocks in order tab.
  packages/volto/src/components/manage/Blocks/Block/Order/Order.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix test.
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: remove duplicated text in 7894.internal changelog entry
  packages/volto/news/7894.internal
Due: none

fix: remove duplicated text in 7894.internal changelog entry (#7933)
  packages/volto/news/7894.internal
Due: none

Remove unused styles
  packages/volto/theme/themes/pastanaga/extras/block-types.less
Due: pnpm stylelint --fix

Fix converting value to html in HtmlSlateWidget
  packages/volto-slate/news/7889.bugfix
  packages/volto-slate/src/widgets/HtmlSlateWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Avoid storing blocksClipboard in localstorage until it has a value (#7925)
  packages/volto/news/6697.bugfix
  packages/volto/src/config/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Rename changelog
  packages/volto/news/+userscp.bugfix
Due: none
