Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Fix issue where label for the checkbox doesn't show.
  packages/components/news/+fix-label-not-showing-checkbox.bugfix
  packages/components/src/components/Checkbox/Checkbox.quanta.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Updated modal story
  packages/components/src/components/Modal/Modal.quanta.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

WIP: listing block
  packages/cmsui/components/QuerystringWidget/QuerystringWidgetContext.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Keep block naming conventions as and .
  packages/blocks/Teaser/TeaserBlockEdit.tsx
  packages/blocks/Teaser/index.ts
  packages/blocks/news/+keep-naming-convention.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(@plone/types): Add Batching type to querystring-search and search responses (#7798)
  packages/types/news/6267.bugfix
  packages/types/src/services/common.d.ts
  packages/types/src/services/querystring-search.d.ts
  packages/types/src/services/registry.d.ts
  packages/types/src/services/search.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix placeholder in listing edit
  packages/blocks/Listing/ListingBlockEdit.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Updated modal story, added Form quanta component
  packages/components/src/components/Form/Form.quanta.stories.tsx
  packages/components/src/components/Form/Form.quanta.tsx
  packages/components/src/components/Modal/Modal.quanta.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

more improvements
  packages/blocks/Teaser/schema.tsx
  packages/cmsui/components/ObjectBrowserWidget/OBJECTBROWSER.md
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserContext.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidgetBody.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Improved storybook navigation
  packages/components/.storybook/preview.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Prepare for Plone 6.2 release (#8051)
  docs/source/contributing/version-policy.md
  packages/volto/news/8051.documentation
Due: none

Fix AXE a11y test
  packages/volto/src/components/theme/SearchWidget/SearchWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

update snapshot
  packages/volto/src/components/theme/SearchWidget/__snapshots__/SearchWidget.test.jsx.snap
Due: none

Add the ref I forgot
  packages/volto/src/components/theme/Search/Search.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix AXE a11y check
  packages/volto/src/components/theme/SearchWidget/SearchWidget.jsx
  packages/volto/src/components/theme/SearchWidget/__snapshots__/SearchWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: a11y search (#8085)
  packages/volto/news/8085.bugfix
  packages/volto/src/components/theme/Search/Search.jsx
  packages/volto/src/components/theme/Search/__snapshots__/Search.test.jsx.snap
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update changelog
  packages/volto/news/7950.breaking
  packages/volto/news/7950.bugfix
Due: none

fix: a11y in search page (#8084)
  packages/volto/news/8084.fix
  packages/volto/src/components/theme/Search/Search.jsx
  packages/volto/src/components/theme/Search/__snapshots__/Search.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Replace moment with formatDate in theme display widgets (PR 1) (#8236)
  packages/volto/news/6732.feature
  packages/volto/src/components/theme/Widgets/DateWidget.jsx
  packages/volto/src/components/theme/Widgets/DatetimeWidget.jsx
  packages/volto/src/components/theme/Widgets/__snapshots__/DatetimeWidget.test.jsx.snap
  packages/volto/src/helpers/Utils/Date.js
  packages/volto/src/helpers/Utils/Date.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

update to correct add route
  packages/cmsui/routes/add.test.tsx
  packages/publicui/components/Toolbar/ContentTypesMenu.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(richTextWidget): fixed the invalid nesting of data in richtextwid… (#7950)
  packages/volto/news/7950.breaking
  packages/volto/src/components/theme/Widgets/RichTextWidget.jsx
  packages/volto/src/components/theme/Widgets/__snapshots__/RichTextWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: use quanta components for button and input
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

replace svg with correct icon
  packages/layout/components/EventDetails/EventDetails.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/types 2.0.0-alpha.21
  packages/types/CHANGELOG.md
  packages/types/news/6267.bugfix
  packages/types/package.json
Due: none

Release 19.0.0-alpha.38
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/6732.feature
  packages/volto/news/7950.breaking
  packages/volto/news/8051.documentation
  packages/volto/news/8085.bugfix
  packages/volto/package.json
Due: none

Fix the sidebar to take 100% vertical space
  packages/cmsui/components/ContentForm/ContentForm.tsx
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/cmsui/news/+fix-sidebar-vertical-height.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/types 2.0.0
  packages/types/CHANGELOG.md
  packages/types/package.json
Due: none

fix sortableIndexes
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.tsx
  packages/cmsui/components/QuerystringWidget/QuerystringWidgetContext.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix toolbar edit and back button
  packages/cmsui/components/ContentForm/ContentForm.tsx
  packages/cmsui/news/+fix-cancel-button-href.bugfix
  packages/publicui/news/+fix-edit-button-stale-url.bugfix
  packages/publicui/routes/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/components 4.0.0
  packages/components/CHANGELOG.md
  packages/components/package.json
Due: none

Release @plone/registry 3.0.0
  packages/registry/CHANGELOG.md
  packages/registry/package.json
Due: none

Release @plone/scripts 4.0.0
  packages/scripts/CHANGELOG.md
  packages/scripts/package.json
Due: none

Release @plone/babel-preset-razzle 1.0.0
  packages/volto-babel-preset-razzle/CHANGELOG.md
  packages/volto-babel-preset-razzle/package.json
Due: none

Release @plone/razzle-dev-utils 1.0.0
  packages/volto-razzle-dev-utils/CHANGELOG.md
  packages/volto-razzle-dev-utils/package.json
Due: none

Release @plone/razzle 1.0.0
  packages/volto-razzle/CHANGELOG.md
  packages/volto-razzle/package.json
Due: none

Release @plone/volto-slate 19.0.0
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/package.json
Due: none

Release 19.0.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/package.json
Due: none

fix make Criteria a searchable select
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.tsx
  packages/components/src/components/ComboBox/ComboBox.quanta.tsx
  packages/components/src/quanta/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix storybook for QuerystringWidget
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feat: add ComboBox.quanta and use it in Select for queryString
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.stories.tsx
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.tsx
  packages/cmsui/components/QuerystringWidget/QuerystringWidgetContext.tsx
  packages/cmsui/routes/queryStringOptions.tsx
  packages/components/src/components/ComboBox/ComboBox.quanta.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix sidebar height and scrolling
  packages/cmsui/components/Sidebar/Sidebar.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write
