Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Update to latest RAC, some styling fixes here and there. (#7469)
  catalog.json
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidget.stories.tsx
  packages/cmsui/news/7469.internal
  packages/components/news/7469.bugfix
  packages/components/package.json
  packages/components/src/components/Button/Button.quanta.stories.tsx
  packages/components/src/components/Button/Button.quanta.tsx
  packages/components/src/components/Calendar/Calendar.quanta.tsx
  packages/components/src/components/DateField/DateField.quanta.stories.tsx
  packages/components/src/components/DateField/DateField.quanta.tsx
  packages/components/src/components/DateInput/DateInput.quanta.tsx
  packages/components/src/components/DateTimePicker/DateTimePicker.quanta.tsx
  packages/components/src/components/Field/Field.quanta.tsx
  packages/components/src/components/ListBox/ListBox.quanta.tsx
  packages/components/src/components/MultiSelect/TokenSelect.quanta.stories.tsx
  packages/components/src/components/MultiSelect/TokenSelect.quanta.tsx
  packages/components/src/components/SearchField/SearchField.quanta.stories.tsx
  packages/components/src/components/SearchField/SearchField.quanta.tsx
  packages/components/src/components/TagGroup/TagGroup.quanta.stories.tsx
  packages/components/src/components/TagGroup/TagGroup.quanta.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix authentication
  apps/seven/app/root.test.tsx
  apps/seven/app/root.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

restructured header tools slots
  packages/layout/slots/Header/Header.module.css
  packages/layout/slots/Header/Header.tsx
  packages/layout/slots/HeaderTools/HeaderTools.tsx
  packages/layout/slots/LanguageSwitcher/LanguageSwitcher.tsx
  packages/layout/slots/Tools.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

added HeaderTools sub-slots
  apps/seven/app/root.test.tsx
  packages/layout/config/slots.ts
  packages/layout/locales/de/common.json
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/slots/Breadcrumbs.tsx
  packages/layout/slots/HeaderTools/Anontools.tsx
  packages/layout/slots/HeaderTools/SearchWidget.tsx
  packages/layout/slots/HeaderTools/SiteActions.tsx
  packages/layout/slots/HeaderTools/Tools.module.css
  packages/layout/styles/publicui.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

feat: enhanced diff reducer to process static behaviors (#7546)
  packages/volto/news/7546.feature
  packages/volto/src/helpers/Content/Content.js
  packages/volto/src/helpers/Content/Content.test.js
  packages/volto/src/reducers/content/content.js
  packages/volto/src/reducers/diff/diff.js
  packages/volto/src/reducers/diff/diff.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feature -> bugfix
  packages/volto/news/7543.bugfix
  packages/volto/news/7543.feature
Due: none

Update CreateTranslation Component (#7543)
  packages/volto/news/7543.bugfix
  packages/volto/src/components/manage/Multilingual/CreateTranslation.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Use volto_version instead
  .github/workflows/cookieplone.yml
Due: none

update tests
  packages/volto/cypress/tests/core/blocks/listing/blocks-listing-templates.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix duplicated HTML
  packages/volto/src/helpers/Html/Html.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix tests
  packages/volto/cypress/tests/core/blocks/blocks-table.js
  packages/volto/cypress/tests/core/volto-slate/05-block-slate-format-basics.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

update snapshot
  packages/volto/src/helpers/Html/__snapshots__/Html.test.jsx.snap
Due: none

fix
  packages/volto/src/server.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix changelogs
  packages/cmsui/news/7395.1.internal
  packages/cmsui/news/7395.2.internal
Due: none

Update packages/volto-slate/locales/volto.pot
  packages/volto-slate/locales/volto.pot
Due: none

Temporary block helpers, wired
  packages/cmsui/components/BlockEditor/BlockEditor.tsx
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/cmsui/components/BlockEditor/blockLayoutActions.ts
  packages/cmsui/news/7395.internal
  packages/components/src/components/Toolbar/Toolbar.quanta.stories.tsx
  packages/components/src/components/Toolbar/Toolbar.quanta.tsx
  packages/components/src/quanta/index.ts
  packages/helpers/src/atoms.ts
  packages/helpers/src/primitives.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/cmsui/news/7549.feature
  packages/components/news/7549.feature
Due: none

Changelog
  packages/helpers/news/7549.feature
Due: none

fix macOS name
  packages/volto-slate/src/blocks/Text/ShortcutListing.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

update po files
  packages/volto-slate/locales/de/LC_MESSAGES/volto.po
  packages/volto-slate/locales/en/LC_MESSAGES/volto.po
  packages/volto-slate/locales/es/LC_MESSAGES/volto.po
  packages/volto-slate/locales/eu/LC_MESSAGES/volto.po
  packages/volto-slate/locales/it/LC_MESSAGES/volto.po
  packages/volto-slate/locales/nl/LC_MESSAGES/volto.po
  packages/volto-slate/locales/pt_BR/LC_MESSAGES/volto.po
Due: none

wip on editor
  packages/blocks/Text/Edit.tsx
  packages/cmsui/components/BlockEditor/BlockEditor.tsx
  packages/cmsui/components/BlockEditor/DefaultEditBlock.tsx
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/cmsui/helpers/utils.ts
  packages/cmsui/index.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/routes/edit.tsx
  packages/cmsui/routes/layout.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

wip on the blocks editor
  packages/cmsui/components/BlockEditor/BlockEditor.tsx
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/cmsui/helpers/utils.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/routes/edit.tsx
  packages/cmsui/styles/cmsui.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Revert controlpanels index id
  packages/cmsui/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Updated routes layout
  packages/cmsui/routes/auth/login.tsx
  packages/cmsui/routes/controlpanel.tsx
  packages/cmsui/routes/controlpanels.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

wip on handling plate focus
  packages/blocks/Text/TextBlockEdit.tsx
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/plate/components/editor/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: removed unnecessary @plone/components parts
  packages/components/src/styles/basic/main.css
  packages/components/src/styles/basic/utility.css
Due: pnpm stylelint --fix

chore: news
  packages/volto/news/6356.feature
Due: none

Added visually-hidden class (#6356)
  docs/source/contributing/accessibility-guidelines.md
  docs/source/upgrade-guide/index.md
  packages/volto/news/6356.feature
  packages/volto/theme/themes/pastanaga/extras/utils.less
Due: pnpm stylelint --fix

fix(A11Y): Corrected accessibility issues to improve the expand/shrink behavior of the main edit toolbar
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

chore: tests
  packages/volto/src/components/manage/Toolbar/__snapshots__/Toolbar.test.jsx.snap
Due: none

refactor: move .visually-hidden class to main.less and remove unused utils.less and references
  packages/volto/theme/themes/pastanaga/extras/main.less
  packages/volto/theme/themes/pastanaga/extras/utils.less
Due: pnpm stylelint --fix

chore: news
  packages/volto/news/7552.bugfix
Due: none

fix:correct news fragment filename
  packages/volto/news/7533.bugfix
Due: none

refactor(search): separating urlOptions/searchOptions/apiOptions, and removing dead code
  packages/volto/src/components/theme/Search/Search.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add interpretare.ro to Volto in production README section
  README.md
  packages/volto/README.md
Due: none

New ButtonsWidget
  Makefile
  packages/volto/Makefile
  packages/volto/package.json
  packages/volto/src/components/manage/Widgets/ButtonsWidget.jsx
  packages/volto/src/components/manage/Widgets/ButtonsWidget.test.jsx
  packages/volto/src/components/manage/Widgets/ButtonsWidget.test.tsx
  packages/volto/src/components/manage/Widgets/ButtonsWidget.tsx
  packages/volto/src/components/manage/Widgets/__snapshots__/ButtonsWidget.test.tsx.snap
  packages/volto/src/theme.js
  packages/volto/theme/themes/pastanaga/extras/widgets.less
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Add interpretare.ro to Volto in production README section (#7554)
  README.md
  packages/volto/README.md
Due: none

AlignmentWidget refactor, and new BlockWidth, Size, BlockAlignment
  packages/volto/src/components/manage/Widgets/AlignWidget.stories.jsx
  packages/volto/src/components/manage/Widgets/AlignWidget.test.jsx
  packages/volto/src/components/manage/Widgets/AlignWidget.test.tsx
  packages/volto/src/components/manage/Widgets/AlignWidget.tsx
  packages/volto/src/components/manage/Widgets/BlockAlignment.stories.tsx
  packages/volto/src/components/manage/Widgets/BlockAlignment.test.tsx
  packages/volto/src/components/manage/Widgets/BlockAlignment.tsx
  packages/volto/src/components/manage/Widgets/BlockWidth.stories.tsx
  packages/volto/src/components/manage/Widgets/BlockWidth.test.tsx
  packages/volto/src/components/manage/Widgets/BlockWidth.tsx
  packages/volto/src/components/manage/Widgets/ButtonsWidget.stories.jsx
  packages/volto/src/components/manage/Widgets/ButtonsWidget.tsx
  packages/volto/src/components/manage/Widgets/Size.stories.tsx
  packages/volto/src/components/manage/Widgets/Size.test.tsx
  packages/volto/src/components/manage/Widgets/Size.tsx
  packages/volto/src/components/manage/Widgets/__snapshots__/AlignWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/AlignWidget.test.tsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
