Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Remove duplicate configuration item `html_title`
  docs/source/conf.py
Due: none

change log
  packages/volto/news/6933.documentation
Due: none

Remove duplicate configuration item `html_title` (#6933)
  docs/source/conf.py
  packages/volto/news/6933.documentation
Due: none

fix(Avatar): Improve prop defaults and accessibility
  packages/volto/src/components/theme/Avatar/Avatar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Complete missing german translations and Storybook story for 'ContentsDeleteModal' (#6881)
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/news/6005.feature
  packages/volto/src/components/manage/Contents/ContentsDeleteModal.stories.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Storybook for `Container` component (#6928)
  packages/components/news/6928.documentation
  packages/components/src/stories/TailwindComponents.mdx
  packages/components/src/tailwind/Container/Container.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fetch vocabularies and querystring config in the current context
  packages/volto/news/3216.breaking
  packages/volto/src/actions/querystring/querystring.js
  packages/volto/src/actions/querystring/querystring.test.js
  packages/volto/src/actions/vocabularies/vocabularies.js
  packages/volto/src/actions/vocabularies/vocabularies.test.js
  packages/volto/src/components/manage/Widgets/IdWidget.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Use default query in SSR rendering and client fetch of the listing block when we don't have a search criteria
  packages/volto/cypress/tests/core/blocks/blocks-search.js
  packages/volto/news/3839.breaking
  packages/volto/src/components/manage/Blocks/Listing/__snapshots__/ListingBody.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Listing/getAsyncData.js
  packages/volto/src/components/manage/Blocks/Listing/withQuerystringResults.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: typo & error message keys
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: update locales
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Added more root layout tests
  apps/seven/app/config.test.ts
  apps/seven/app/root.test.tsx
  apps/seven/tests/setup.ts
  apps/seven/tests/testHelpers.tsx
  apps/seven/vitest.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

news item
  apps/seven/news/6936.internal
Due: none

Update packages/volto/news/3839.breaking
  packages/volto/news/3839.breaking
Due: none

chore: re-use error message
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore(locales): update error message in ImageInput component
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore(locales): update german .po file
  packages/volto/locales/de/LC_MESSAGES/volto.po
Due: none

Add .readthedocs.yaml build for components
  packages/components/.readthedocs.yaml
Due: none

Fix build
  packages/components/.readthedocs.yaml
Due: none

Changelog
  packages/components/news/6938.internal
Due: none

Build storybook seven components (#6938)
  packages/components/.readthedocs.yaml
  packages/components/news/6938.internal
Due: none

Missing env var in makefile
  Makefile
Due: none

Remove the build from netlify for @plone/components
  packages/components/.storybook/theme.ts
  packages/components/README.md
  packages/components/netlify.toml
  packages/slots/.storybook/theme.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Move @plone/components build to readthedocs, build from Seven branch
  packages/components/.storybook/theme.ts
  packages/components/README.md
  packages/slots/.storybook/theme.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fetch vocabularies and querystring config in the current context (#6935)
  packages/volto/news/3216.breaking
  packages/volto/src/actions/querystring/querystring.js
  packages/volto/src/actions/querystring/querystring.test.js
  packages/volto/src/actions/vocabularies/vocabularies.js
  packages/volto/src/actions/vocabularies/vocabularies.test.js
  packages/volto/src/components/manage/Widgets/IdWidget.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

[Seven] Added more root layout tests (#6936)
  apps/seven/app/config.test.ts
  apps/seven/app/root.test.tsx
  apps/seven/news/6936.internal
  apps/seven/tests/setup.ts
  apps/seven/tests/testHelpers.tsx
  apps/seven/vitest.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add centralized Storybook composed of the smallest ones.
  packages/tooling/.storybook/Logo.svg
  packages/tooling/.storybook/main.ts
  packages/tooling/.storybook/manager.js
  packages/tooling/.storybook/preview-head.html
  packages/tooling/.storybook/preview.ts
  packages/tooling/.storybook/storybook-base.css
  packages/tooling/.storybook/theme.ts
  packages/tooling/tsconfig.json
  stories/Introduction.mdx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Changelog
  packages/components/news/6940.documentation
Due: none

Update @plone/slots storybook
  packages/slots/.storybook/storybook-base.css
  packages/slots/components/App.stories.tsx
  packages/slots/components/Header.stories.tsx
  packages/slots/news/6940.documentation
  packages/slots/package.json
  packages/tooling/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Added rtd config for slots
  packages/components/netlify.toml
  packages/slots/.readthedocs.yaml
Due: none

Added @plone/slots to the main Storybook config
  lint-staged.config.js
  packages/tooling/.storybook/main.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add main rtd
  packages/tooling/.readthedocs.yaml
Due: none

Fix badge and links in @plone/components, add one for @plone/slots
  packages/components/README.md
  packages/slots/README.md
Due: none

Fix Tab component
  packages/components/src/components/Tabs/Tabs.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Apply suggestions from code review
  packages/components/src/stories/Introduction.mdx
  packages/slots/.readthedocs.yaml
  packages/tooling/.readthedocs.yaml
  stories/Introduction.mdx
Due: none

Some amendments to main README
  README.md
Due: none

docs: add Vale note to index.md
  docs/source/index.md
Due: none

Issue #6805 sloved, with additional bug fixes.
  packages/volto-slate/news/6805.bugfix
  packages/volto-slate/src/blocks/Text/DefaultTextBlockEditor.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Login acceptance tests, improve login form
  apps/seven/cypress/support/constants.ts
  apps/seven/cypress/support/e2e.js
  apps/seven/cypress/tests/core/basic/login.cy.ts
  apps/seven/cypress/tsconfig.json
  packages/cmsui/routes/auth/login.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
