Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

added translations
  packages/cmsui/components/Toolbar/ToolbarSettings.tsx
  packages/cmsui/locales/de/common.json
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/publicui/components/Toolbar/ContentTypesMenu.tsx
  packages/publicui/components/Toolbar/ToolbarEdit.tsx
  packages/publicui/locales/de/common.json
  packages/publicui/locales/en/common.json
  packages/publicui/locales/it/common.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

update docs
  docs/configuration/component-registry.md
  docs/configuration/configuration-registry.md
  docs/configuration/index.md
  docs/how-to-guides/access-registry.md
  docs/how-to-guides/icons.md
  docs/how-to-guides/index.md
Due: none

clean up a little
  packages/layout/components/Toolbar/Toolbar.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

make popovers in the toolbar wider
  packages/layout/components/Toolbar/Toolbar-inner.css
Due: pnpm stylelint --fix

fix typescript errors for svgs
  packages/layout/tsconfig.json
Due: none

teaser size fixes
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Blocks/Teaser/View.jsx
  packages/volto/src/components/manage/Blocks/Teaser/utils.js
  packages/volto/src/components/manage/Blocks/Teaser/utils.test.js
  packages/volto/src/components/theme/View/ImageView.jsx
  packages/volto/src/components/theme/View/ImageView.test.jsx
  packages/volto/src/config/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Refactored to use context in all loaders and actions
  apps/seven/app/middleware.server.test.ts
  apps/seven/news/+contextloaders.internal
  eslint.config.mjs
  packages/cmsui/+contextloaders.internal
  packages/cmsui/routes/api/createContent.test.tsx
  packages/cmsui/routes/api/createContent.tsx
  packages/cmsui/routes/breadcrumbs.tsx
  packages/cmsui/routes/controlpanel.tsx
  packages/cmsui/routes/controlpanels.tsx
  packages/cmsui/routes/edit.tsx
  packages/cmsui/routes/objectBrowserWidget.tsx
  packages/cmsui/routes/search.test.tsx
  packages/cmsui/routes/search.tsx
  packages/cmsui/vitest.config.ts
  packages/publicui/+contextloaders.internal
  packages/publicui/routes/content.tsx
  packages/publicui/routes/index.tsx
  packages/publicui/routes/search.tsx
  packages/publicui/routes/sitemap.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed tests
  .github/workflows/unit.yml
Due: none

Added eslint-import-resolver-alias
  packages/tooling/package.json
  pnpm-lock.yaml
Due: none

Fix null port in virtual hosting path passed to backend by devproxy (#7967)
  packages/volto/news/+devproxy_port.bugfix
  packages/volto/src/express-middleware/devproxy.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Use a consistent version of jsdom
  catalog.json
  packages/client/news/+dep-jsdom.internal
  packages/client/package.json
  packages/components/news/+dep-jsdom.internal
  packages/components/package.json
  packages/volto-razzle/news/+dep-jsdom.internal
  packages/volto-razzle/package.json
  packages/volto-slate/news/+dep-jsdom.internal
  packages/volto-slate/package.json
  packages/volto/news/+dep-jsdom.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

jsdom is a devDependency of volto-slate
  packages/volto-slate/news/+dep-jsdom.internal
  packages/volto-slate/package.json
  pnpm-lock.yaml
Due: none

Update test snapshots
  packages/volto-slate/src/blocks/Text/__snapshots__/TextBlockEdit.test.jsx.snap
  packages/volto/src/components/manage/BlockChooser/__snapshots__/BlockChooser.test.jsx.snap
  packages/volto/src/components/manage/BlockChooser/__snapshots__/BlockChooserButton.test.jsx.snap
  packages/volto/src/components/manage/BlockChooser/__snapshots__/BlockChooserSearch.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
  packages/volto/src/components/manage/Blocks/HTML/__snapshots__/Edit.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Search/components/__snapshots__/DateRangeFacet.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Search/components/__snapshots__/SelectFacet.test.jsx.snap
  packages/volto/src/components/manage/Contents/__snapshots__/Contents.test.jsx.snap
  packages/volto/src/components/manage/Contents/__snapshots__/ContentsUploadModal.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/Groups/__snapshots__/GroupsControlpanel.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/Users/__snapshots__/UsersControlpanel.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/__snapshots__/AddonsControlpanel.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/__snapshots__/Aliases.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/__snapshots__/ContentTypes.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/__snapshots__/Controlpanels.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/__snapshots__/UndoControlpanel.test.jsx.snap
  packages/volto/src/components/manage/Multilingual/__snapshots__/ManageTranslations.test.jsx.snap
  packages/volto/src/components/manage/Sharing/__snapshots__/Sharing.test.jsx.snap
  packages/volto/src/components/manage/Toolbar/__snapshots__/More.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/AlignWidget.test.tsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ButtonsWidget.test.tsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/DatetimeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ObjectBrowserWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ObjectListWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RegistryImageWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TimeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/UrlWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/VocabularyTermsWidget.test.jsx.snap
  packages/volto/src/components/theme/Navigation/__snapshots__/ContextNavigation.test.jsx.snap
Due: none

Fix null port in virtual hosting path passed to backend by devproxy (#8036)
  packages/volto/news/+devproxy_port.bugfix
  packages/volto/src/express-middleware/devproxy.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Translated using Weblate (Dutch)
  packages/volto-slate/locales/nl/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Galician)
  packages/volto-slate/locales/gl/LC_MESSAGES/volto.po
Due: none

changelog
  packages/volto-slate/news/7941.feature
Due: none

changelog
  packages/volto/news/7828.feature
Due: none

Translations update from Hosted Weblate (#7941)
  packages/volto-slate/locales/gl/LC_MESSAGES/volto.po
  packages/volto-slate/locales/nl/LC_MESSAGES/volto.po
  packages/volto-slate/news/7941.feature
Due: none

Translations update from Hosted Weblate (#7828)
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/gl/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/tr/LC_MESSAGES/volto.po
  packages/volto/news/7828.feature
Due: none

Translated using Weblate (Basque)
  packages/volto/locales/eu/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Spanish)
  packages/volto/locales/es/LC_MESSAGES/volto.po
Due: none

enable volto-slate test suite via Vitest multi-project config
  packages/volto-slate/src/blocks/Table/__snapshots__/Cell.test.js.snap
  packages/volto-slate/src/blocks/Table/__snapshots__/Cell.test.jsx.snap
  packages/volto-slate/src/blocks/Table/__snapshots__/TableBlockEdit.test.jsx.snap
  packages/volto-slate/src/blocks/Table/__snapshots__/TableBlockView.test.jsx.snap
  packages/volto-slate/src/blocks/Table/deconstruct.test.js
  packages/volto-slate/src/blocks/Text/TextBlockEdit.test.jsx
  packages/volto-slate/src/blocks/Text/__snapshots__/TextBlockEdit.test.jsx.snap
  packages/volto-slate/src/editor/ui/__snapshots__/ToolbarButton.test.jsx.snap
  packages/volto/news/7892.bugfix
  packages/volto/test-setup-globals-vitest.js
  packages/volto/vitest.config.mjs
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

change in configuration
  packages/volto-slate/news/7892.internal
  packages/volto-slate/src/blocks/Text/TextBlockEdit.test.jsx
  packages/volto/news/7892.bugfix
  packages/volto/news/7892.internal
  packages/volto/vitest.config.mjs
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Exclude https://tanstack.com/ from README link check
  .github/workflows/readme-link-check.yml
Due: none

Add changes
  packages/volto/news/8040.internal
Due: none

Update packages/volto/news/8040.internal
  packages/volto/news/8040.internal
Due: none

Fixed alias bug in razzle configuration and webpack-less-plugin (#8034)
  packages/volto/news/+depsloader.bugfix
  packages/volto/razzle.config.js
  packages/volto/webpack-plugins/webpack-less-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Refactored to use context in all loaders and actions (#8035)
  .github/workflows/unit.yml
  apps/seven/app/middleware.server.test.ts
  apps/seven/news/+contextloaders.internal
  eslint.config.mjs
  packages/cmsui/+contextloaders.internal
  packages/cmsui/routes/api/createContent.test.tsx
  packages/cmsui/routes/api/createContent.tsx
  packages/cmsui/routes/breadcrumbs.tsx
  packages/cmsui/routes/controlpanel.tsx
  packages/cmsui/routes/controlpanels.tsx
  packages/cmsui/routes/edit.tsx
  packages/cmsui/routes/objectBrowserWidget.tsx
  packages/cmsui/routes/search.test.tsx
  packages/cmsui/routes/search.tsx
  packages/cmsui/vitest.config.ts
  packages/publicui/+contextloaders.internal
  packages/publicui/routes/content.tsx
  packages/publicui/routes/index.tsx
  packages/publicui/routes/search.tsx
  packages/publicui/routes/sitemap.tsx
  packages/tooling/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Exclude https://tanstack.com/ from README link check (#8040)
  .github/workflows/readme-link-check.yml
  packages/volto/news/8040.internal
Due: none

use @plone/components menu for toolbarmenu
  packages/components/src/components/Menu/Menu.tsx
  packages/layout/components/Toolbar/ToolbarMenu.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

added news
  apps/seven/news/6653.feature
  packages/cmsui/news/6653.feature
  packages/components/news/6653.feature
  packages/layout/news/6653.feature
  packages/publicui/news/6653.feature
  packages/types/news/6653.bugfix
Due: none

gitignore auto generated files
  apps/seven/.gitignore
  apps/seven/news/6653.feature
Due: none

fix route conditions
  packages/cmsui/index.ts
  packages/publicui/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

small docs improvements
  docs/configuration/component-registry.md
  packages/components/news/6653.feature
  packages/layout/news/6653.feature
Due: none

chore: news update
  packages/volto/news/8033.bugfix
Due: none

chore: comments and unit test for Datetimer
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
  packages/volto/src/components/manage/Widgets/DatetimeWidget.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n
