Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "packages/!volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Release @plone/components 2.0.0-alpha.10
  packages/components/CHANGELOG.md
  packages/components/news/6062.bugfix
  packages/components/package.json
Due: none

Pass class into breadcrumbs RAC (#6018)
  packages/components/news/6018.bugfix
  packages/components/src/components/Breadcrumbs/Breadcrumbs.tsx
Due: none

Update msgid default following Steve's suggestion
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update it translations suggestions by Giulia
  packages/volto/locales/it/LC_MESSAGES/volto.po
Due: none

Update pt_br translations per Wagner suggestions
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
Due: none

s/an URL/a URL
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

s/an URL/a URL
  packages/volto/locales/volto.pot
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Revert comment on image aspect ratio as per David suggestion
  packages/volto/theme/themes/pastanaga/extras/grid.less
Due: pnpm stylelint --fix

Revert bad change in the test suite
  packages/volto/cypress/tests/core/blocks/blocks-grid.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Rename new icon to external-link.svg
  packages/volto/src/icons/external-link.svg
Due: none

Two additional missing things
  packages/volto/theme/themes/pastanaga/extras/grid.less
Due: pnpm stylelint --fix

Support for slots to get the full location instead of only the pathname.
  packages/types/src/config/Slots.d.ts
  packages/volto/package.json
  packages/volto/src/components/theme/App/App.jsx
  packages/volto/src/components/theme/SlotRenderer/SlotRenderer.tsx
  packages/volto/src/helpers/Slots/index.tsx
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog and docs
  docs/source/configuration/slots.md
  docs/source/upgrade-guide/index.md
  packages/types/news/6063.breaking
  packages/volto/news/6063.breaking
  packages/volto/news/6063.feature
Due: none

Revert to old history package
  packages/volto/package.json
  packages/volto/src/components/theme/SlotRenderer/SlotRenderer.tsx
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Improved image typings
  packages/types/src/content/common.d.ts
  packages/types/src/content/index.d.ts
  packages/types/src/services/common.d.ts
Due: none

news item
  packages/types/news/6064.bugfix
Due: none

Make css layer more specific
  packages/components/src/styles/basic/Button.css
Due: pnpm stylelint --fix

news item
  packages/components/news/6065.bugfix
Due: none

Apply suggestions from code review
  docs/source/configuration/slots.md
  docs/source/upgrade-guide/index.md
  packages/types/news/6063.breaking
  packages/volto/news/6063.breaking
Due: none

Apply suggestions from code review
  docs/source/configuration/slots.md
  packages/volto/news/6063.feature
Due: none

Update docs/source/configuration/slots.md
  docs/source/configuration/slots.md
Due: none

Support for slots to get the full location instead of only the pathname. (#6063)
  docs/source/configuration/slots.md
  docs/source/upgrade-guide/index.md
  packages/types/news/6063.breaking
  packages/types/src/config/Slots.d.ts
  packages/volto/news/6063.breaking
  packages/volto/news/6063.feature
  packages/volto/package.json
  packages/volto/src/components/theme/App/App.jsx
  packages/volto/src/components/theme/SlotRenderer/SlotRenderer.tsx
  packages/volto/src/helpers/Slots/index.tsx
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Make css layer more specific (#6065)
  packages/components/news/6065.bugfix
  packages/components/src/styles/basic/Button.css
Due: pnpm stylelint --fix

Improved image typings (#6064)
  packages/types/news/6064.bugfix
  packages/types/src/content/common.d.ts
  packages/types/src/content/index.d.ts
  packages/types/src/services/common.d.ts
Due: none

WIP
  apps/nextjs/package.json
  apps/remix/package.json
  apps/remix/remix.config.js
  apps/vite-ssr/package.json
  apps/vite-ssr/src/entry-client.tsx
  apps/vite-ssr/src/entry-server.tsx
  apps/vite-ssr/src/routeTree.gen.ts
  apps/vite-ssr/src/routes/__root.tsx
  apps/vite/package.json
  apps/vite/src/main.css
  apps/vite/src/routeTree.gen.ts
  apps/vite/src/routes/__root.tsx
  apps/vite/src/routes/login.tsx
  packages/providers/src/AppRouter.tsx
  packages/providers/src/index.ts
  packages/slots/Login/Driver.tsx
  packages/slots/Login/Login.tsx
  packages/slots/Login/index.tsx
  packages/slots/Login/test.ts
  packages/slots/SlotRenderer/SlotRenderer.tsx
  packages/slots/index.ts
  packages/slots/package.json
  packages/slots/src/index.ts
  packages/slots/tsconfig.json
  packages/volto/razzle.config.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm stylelint --fix

lock
  pnpm-lock.yaml
Due: none

context url in object browser and image scales
  packages/volto/cypress/tests/core/blocks/blocks-grid.js
  packages/volto/src/components/manage/Blocks/Image/Edit.jsx
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Revert blocks-grid.js to original
  packages/volto/cypress/tests/core/blocks/blocks-grid.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Revert blocks-image.js to original
  packages/volto/cypress/tests/core/blocks/blocks-image.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Update blocks-image.js
  packages/volto/cypress/tests/minimal/blocks-image.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

image scales
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

image scales
  packages/volto/src/components/manage/Blocks/Image/Edit.jsx
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

subrequest
  packages/volto/src/components/manage/Blocks/Image/Edit.jsx
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix js events association on error pages
  packages/volto/news/6048.bugfix
  packages/volto/src/helpers/Html/Html.jsx
  packages/volto/src/server.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Remove settings `config.settings.serverConfig.extractScripts.errorPages`.
  docs/source/configuration/settings-reference.md
  packages/volto/news/6048.bugfix
  packages/volto/src/config/server.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Spell out JavaScript
  packages/volto/news/6048.bugfix
Due: none

Add a breaking change
  docs/source/upgrade-guide/index.md
  packages/volto/news/6048.breaking
Due: none

use requests from redux state
  packages/volto/src/components/manage/Blocks/Image/Edit.jsx
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
Due: none

Update ImageWidget.jsx
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n
