Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Added translation using Weblate (Norwegian Bokmål)
  packages/volto/locales/nb_NO/LC_MESSAGES/volto.po
Due: none

Added translation using Weblate (fu (generated) (fu))
  packages/volto/locales/fu/LC_MESSAGES/volto.po
Due: none

Added translation using Weblate (Serbian (sr@latn))
  packages/volto/locales/sr@latn/LC_MESSAGES/volto.po
Due: none

Added translation using Weblate (Serbian (sr@cyrl))
  packages/volto/locales/sr@cyrl/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Dutch)
  packages/volto/locales/nl/LC_MESSAGES/volto.po
Due: none

migrated <AddLinkForm/> from class component to function component
  packages/volto/src/components/manage/AnchorPlugin/components/LinkButton/AddLinkForm.jsx
  packages/volto/src/components/manage/AnchorPlugin/useLinkEditor.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

working version
  packages/volto/src/components/manage/AnchorPlugin/components/LinkButton/AddLinkForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

jsdoc update
  packages/volto/src/components/manage/AnchorPlugin/components/LinkButton/AddLinkForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

updated snapshots because of migration to functional component
  packages/volto/news/6996.feature
  packages/volto/src/components/manage/AnchorPlugin/components/LinkButton/AddLinkForm.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/ObjectBrowserNav.test.jsx.snap
  packages/volto/src/components/theme/Widgets/__snapshots__/HiddenWidget.test.jsx.snap
  packages/volto/src/components/theme/Widgets/__snapshots__/StaticTextWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

first version
  packages/components/package.json
  packages/components/src/tailwind/TokenWidget/MultipleSelect.stories.tsx
  packages/components/src/tailwind/TokenWidget/MultipleSelect.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Initial work
  packages/cmsui/components/Form/Field.tsx
  packages/cmsui/package.json
  packages/cmsui/routes/edit.tsx
  packages/components/src/tailwind/index.ts
  packages/slots/components/Tools.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Form generator on its way 🚀
  packages/cmsui/components/Form/Field.tsx
  packages/cmsui/components/Form/Form.tsx
  packages/cmsui/config/widgets.ts
  packages/cmsui/index.ts
  packages/cmsui/package.json
  packages/cmsui/routes/edit.tsx
  packages/types/src/services/types.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Translated using Weblate (Spanish)
  packages/volto/locales/es/LC_MESSAGES/volto.po
Due: none

Pluggables in form for buttons
  packages/cmsui/components/Pluggable/index.js
  packages/cmsui/package.json
  packages/cmsui/routes/edit.tsx
  packages/cmsui/routes/layout.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

correction in log and mock file
  packages/volto/news/7000.bugfix
  packages/volto/src/components/manage/Form/__mocks__/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

minor correction in test
  packages/volto/src/components/manage/Actions/Actions.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Updated a Spanish translation string
  packages/volto/locales/es/LC_MESSAGES/volto.po
Due: none

fix: correct useEmailAsLogin configuration key in registration component
  packages/volto/src/components/theme/Register/Register.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

With grid, with toolbar, with sidebar and transition in grid columns. With fieldsets.
  packages/cmsui/components/Accordion/Accordion.tsx
  packages/cmsui/components/Form/Field.tsx
  packages/cmsui/components/Layout/TopNavBar.tsx
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/cmsui/components/Toolbar/Toolbar.tsx
  packages/cmsui/index.ts
  packages/cmsui/package.json
  packages/cmsui/routes/edit.tsx
  packages/cmsui/routes/layout.tsx
  packages/cmsui/routes/test.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

More complete (and fixed) Quanta buttons
  packages/components/src/tailwind/Button/Button.stories.tsx
  packages/components/src/tailwind/Button/Button.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added Accordion Tailwind component
  packages/components/src/tailwind/Accordion/Accordion.stories.tsx
  packages/components/src/tailwind/Accordion/Accordion.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added missing imports
  packages/components/src/tailwind/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/components/news/7003.feature.1
  packages/components/news/7003.feature.2
Due: none

Last touches, update to RAC 1.8.0
  packages/components/src/tailwind/Button/Button.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Improve `Button` Tailwind component + Added `Accordion` Tailwind component (#7003)
  packages/components/news/7003.feature.1
  packages/components/news/7003.feature.2
  packages/components/src/tailwind/Accordion/Accordion.stories.tsx
  packages/components/src/tailwind/Accordion/Accordion.tsx
  packages/components/src/tailwind/Button/Button.stories.tsx
  packages/components/src/tailwind/Button/Button.tsx
  packages/components/src/tailwind/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Adapt to new buttons and adjust accordion
  packages/cmsui/components/Form/Field.tsx
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/cmsui/components/Toolbar/Toolbar.tsx
  packages/cmsui/routes/auth/login.tsx
  packages/cmsui/routes/edit.tsx
  packages/components/src/tailwind/Accordion/Accordion.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix switch sidebar to Blocks tab on block selection from Order tab
  packages/volto/news/7004.bugfix
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

first working version
  packages/components/src/tailwind/TokenWidget/MultipleSelect.stories.tsx
  packages/components/src/tailwind/TokenWidget/MultipleSelect.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

first version
  packages/components/src/tailwind/TokenWidget/MultipleSelect.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Allow `object_list` widget to receive a `schemaName` prop, mapped to an utility
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/src/content/common.d.ts
  packages/types/src/services/site.d.ts
  packages/volto/src/components/manage/Widgets/ObjectListWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changelog
  packages/registry/news/7007.bugfix
  packages/types/news/7007.feature
  packages/volto/news/7007.feature
Due: none

Allow `object_list` widget to receive a `schemaName` prop, mapped to an utility (#7007)
  packages/registry/news/7007.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/news/7007.feature
  packages/types/src/content/common.d.ts
  packages/types/src/services/site.d.ts
  packages/volto/news/7007.feature
  packages/volto/src/components/manage/Widgets/ObjectListWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Allow `object_list` widget to receive a `schemaName` prop, mapped to … (#7008)
  packages/registry/news/7007.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/news/7007.feature
  packages/types/src/content/common.d.ts
  packages/types/src/services/site.d.ts
  packages/volto/news/7007.feature
  packages/volto/src/components/manage/Widgets/ObjectListWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: css
  packages/components/src/tailwind/TokenWidget/MultipleSelect.stories.tsx
  packages/components/src/tailwind/TokenWidget/MultipleSelect.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/types 1.4.0
  packages/types/CHANGELOG.md
  packages/types/news/7007.feature
  packages/types/package.json
Due: none

Release @plone/registry 2.5.1
  packages/registry/CHANGELOG.md
  packages/registry/news/7007.bugfix
  packages/registry/package.json
Due: none

Release 18.13.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/7007.feature
  packages/volto/package.json
Due: none
