Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Fix linkcheck
  .github/workflows/readme-link-check.yml
  docs/source/conf.py
Due: none

Use auto whenever possible, check all Image instances
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
  packages/volto/src/components/theme/View/ImageView.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Amended docs
  docs/source/upgrade-guide/index.md
Due: none

update classname and displayName
  packages/volto/src/components/theme/Unauthorized/Unauthorized.jsx
  packages/volto/src/components/theme/View/View.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: cross language support for blocks chooser search
  packages/volto/src/components/manage/BlockChooser/BlockChooser.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

changelog
  packages/volto/news/7657.feature
Due: none

Fix linting
  packages/plate/components/editor/plugins/split-hotkey.tsx
  packages/plate/components/editor/plugins/split-utils.ts
  packages/plate/legacy/Icon.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Backport: Fix flattenScales TypeError for 18.x.x (#7568)
  packages/volto/news/7568.bugfix
  packages/volto/src/helpers/Url/Url.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix TypeError in flattenScales caused by missing image.scales (#7658)
  packages/volto/news/7568.bugfix
  packages/volto/src/helpers/Url/Url.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix umlaut and cross language support for slash-menu
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

changelog
  packages/volto-slate/news/7657.feature
Due: none

change to more relatable names
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feat: show message from backend response when there is an error deleting contents
  packages/volto/src/components/manage/Contents/Contents.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added Cypress tests for @@edit view and Plate.js editor integration.
  Makefile
  apps/seven/cypress/tests/core/basic/edit.cy.ts
  apps/seven/cypress/tsconfig.json
  docs/reference/index.md
  docs/reference/plate-cypress.md
  packages/plate/config/presets/block.ts
  packages/plate/package.json
  packages/tooling/cypress.config.js
  packages/tooling/cypress/support/commands.js
  packages/tooling/cypress/support/e2e.js
  packages/tooling/cypress/support/index.ts
  packages/tooling/cypress/support/plate.ts
  packages/tooling/package.json
  pnpm-lock.yaml
  variables.mk
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix readme link check
  .github/workflows/readme-link-check.yml
  docs/conf.py
Due: none

[Seven] Plate split editor slash command and hotkey (#7653)
  .github/workflows/readme-link-check.yml
  Makefile
  apps/seven/cypress/tests/core/basic/edit.cy.ts
  apps/seven/cypress/tsconfig.json
  docs/conf.py
  docs/reference/index.md
  docs/reference/plate-cypress.md
  packages/plate/components/editor/block-editor-kit.tsx
  packages/plate/components/editor/index.tsx
  packages/plate/components/editor/plugins/split-hotkey.tsx
  packages/plate/components/editor/plugins/split-utils.ts
  packages/plate/components/ui/slash-node.tsx
  packages/plate/config/presets/block.ts
  packages/plate/legacy/Icon.tsx
  packages/plate/news/7653.feature
  packages/plate/package.json
  packages/tooling/cypress.config.js
  packages/tooling/cypress/support/commands.js
  packages/tooling/cypress/support/e2e.js
  packages/tooling/cypress/support/index.ts
  packages/tooling/cypress/support/plate.ts
  packages/tooling/package.json
  pnpm-lock.yaml
  variables.mk
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  apps/seven/news/7650.documentation
  apps/seven/news/7650.feature
Due: none

Block helpers, preliminary styled, wired (#7549)
  packages/cmsui/components/BlockEditor/BlockEditor.tsx
  packages/cmsui/components/BlockEditor/BlockEditorContext.ts
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/cmsui/components/BlockEditor/blockLayoutActions.ts
  packages/cmsui/components/BlockEditor/useBlockEditorContextValue.test.ts
  packages/cmsui/components/BlockEditor/useBlockEditorContextValue.ts
  packages/cmsui/news/7395.internal
  packages/cmsui/news/7549.feature
  packages/components/news/7549.feature
  packages/components/src/components/Toolbar/Toolbar.quanta.stories.tsx
  packages/components/src/components/Toolbar/Toolbar.quanta.tsx
  packages/components/src/quanta/index.ts
  packages/helpers/news/7549.feature
  packages/helpers/src/atoms.ts
  packages/helpers/src/primitives.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: more robust regex
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

working location with objectbrowser widget
  packages/volto/src/components/manage/Widgets/QueryWidget.jsx
  packages/volto/src/reducers/querystring/querystring.js
  packages/volto/theme/themes/pastanaga/extras/widgets.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Apply suggestion from @wesleybl
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

final fix
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7661.feature
  packages/volto/src/components/manage/Widgets/QueryWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Hide date/time fields when whole_day or open_end is checked in Event form
  packages/volto/cypress/tests/core/content/content.js
  packages/volto/news/3243.bugfix
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix cypress
  packages/volto/cypress/tests/core/blocks/listing/blocks-listing.js
  packages/volto/src/components/manage/Widgets/QueryWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix: show NotFound when control panel does not exist
  packages/volto/src/components/manage/Controlpanels/Controlpanels.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix order of installation for prod acceptance test commands
  packages/volto/Makefile
  packages/volto/news/+acceptance.bugfix
Due: none

Apply suggestions from code review
  docs/source/configuration/environmentvariables.md
Due: none

Fix prod build order in CI commands
  packages/volto/Makefile
Due: none

Changelog
  packages/volto/news/+fixprod.internal
Due: none

fix(controlpanel): Render <NotFound /> when control panel does not exist
  packages/components/basic.css
  packages/components/basic.css.map
  packages/volto/src/components/manage/Controlpanels/Controlpanels.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

docs: add changelog entry for controlpanel NotFound enhancement
  packages/volto/news/7218.controlpanel.notfound.md
  packages/volto/news/7663.feature
Due: none

added : 7663.bugfix
  et --hard 56dede515
  packages/volto/news/7218.controlpanel.notfound.md
  packages/volto/news/7663.bugfix
Due: none

Revert #7646 Makefile, removing --prod experiment
  packages/volto/Makefile
  packages/volto/news/+revert7646Makefile.internal
Due: none

Moved hitorical amendment for the CssMinimizerPlugin to the Razzle fork, removed calc processing.
  packages/volto-razzle/config/createConfigAsync.js
  packages/volto/razzle.config.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/volto/news/7667.bugfix
Due: none

Fix link checker
  .github/workflows/readme-link-check.yml
  packages/volto-babel-preset-razzle/README.md
Due: none

Moved hitorical amendment for the CssMinimizerPlugin to the Razzle fork (#7667)
  .github/workflows/readme-link-check.yml
  packages/volto-babel-preset-razzle/README.md
  packages/volto-razzle/config/createConfigAsync.js
  packages/volto/news/7667.bugfix
  packages/volto/razzle.config.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Revert #7646 Makefile, removing --prod experiment (#7666)
  packages/volto/Makefile
  packages/volto/news/+revert7646Makefile.internal
Due: none

Release 19.0.0-alpha.18
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+revert7646Makefile.internal
  packages/volto/news/7568.bugfix
  packages/volto/news/7667.bugfix
  packages/volto/package.json
Due: none
