Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Fix deselecting lists. (#6080)
  packages/volto-slate/news/6080.bugfix
  packages/volto-slate/src/utils/blocks.js
Due: none

fixed querystring-search query and mutation creators
  packages/client/src/restapi/querystring-search/get.ts
  packages/client/src/restapi/querystring-search/post.ts
Due: none

feat: allow use of localized vocabularies
  packages/client/src/restapi/vocabularies/get.ts
Due: none

Fix readthedocs
  .readthedocs.yaml
Due: none

Use button instead of label for upload an image functionality
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix deselecting lists (#6080) (#6089)
  .readthedocs.yaml
  packages/volto-slate/news/6080.bugfix
  packages/volto-slate/src/utils/blocks.js
Due: none

Amend changelog
  news/6080.bugfix
  packages/volto-slate/news/5347.bugfix
  packages/volto-slate/news/5517.feature
  packages/volto-slate/news/5668.bugfix
  packages/volto-slate/news/5779.bugfix
  packages/volto-slate/news/5859.bugfix
  packages/volto/news/5262.bugfix
Due: none

Release 17.16.1
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/6080.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

Italian translation
  packages/volto/locales/it/LC_MESSAGES/volto.po
Due: none

fix: nocheck blocks/Text/View and change flattenToAppURL signature
  packages/blocks/src/Text/View.tsx
  packages/components/src/providers/flattenToAppURL.tsx
Due: none

Fix drag handle in FF
  packages/volto/src/components/manage/Blocks/Block/Order/Item.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

bug fix. relations control panel. Restrict eglible relation targets according relation constraints of fields vocabulary
  packages/volto/news/6091.bugfix
  packages/volto/src/components/manage/Controlpanels/Relations/RelationsListing.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

added doc on redirecting after logout to the table of contents
  docs/source/development/index.md
Due: none

Set center and l default value for Image schema align and size fields
  packages/volto/src/components/manage/Blocks/Image/schema.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Create 6046.bugfix
  packages/volto/news/6046.bugfix
Due: none

update test snapshot after setting default value
  packages/volto/src/components/manage/Blocks/Image/__snapshots__/ImageSidebar.test.jsx.snap
Due: none

changed toNumber to parseFloat #5447 (#5448)
  news/5448.bugfix
  src/components/manage/Controlpanels/Users/UserGroupMembershipControlPanel.jsx
Due: none

Remaking drop indicators
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
  packages/volto/theme/themes/pastanaga/extras/dnd.less
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Fix link in pop-up RelationsMatrix.jsx (#6085)
  packages/volto/news/6085.bugfix
  packages/volto/src/components/manage/Controlpanels/Relations/RelationsMatrix.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Remove lodash whenever possible
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

update test
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
Due: none

Check if the link leads to an image
  packages/volto/src/components/manage/Blocks/Image/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

add objectbrowserpickertype as prop
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update ImageWidget.jsx
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

generate i18n files
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  pnpm-lock.yaml
Due: none

Update pnpm-lock.yaml to main
  pnpm-lock.yaml
Due: none

Backport #5448 -- fix restapi version check in group membership control panel (#6094)
  news/5448.bugfix
  src/components/manage/Controlpanels/Users/UserGroupMembershipControlPanel.jsx
Due: none

Release 16.31.10
  CHANGELOG.md
  locales/ca/LC_MESSAGES/volto.po
  locales/de/LC_MESSAGES/volto.po
  locales/en/LC_MESSAGES/volto.po
  locales/es/LC_MESSAGES/volto.po
  locales/eu/LC_MESSAGES/volto.po
  locales/fi/LC_MESSAGES/volto.po
  locales/fr/LC_MESSAGES/volto.po
  locales/it/LC_MESSAGES/volto.po
  locales/ja/LC_MESSAGES/volto.po
  locales/nl/LC_MESSAGES/volto.po
  locales/pt/LC_MESSAGES/volto.po
  locales/pt_BR/LC_MESSAGES/volto.po
  locales/ro/LC_MESSAGES/volto.po
  locales/volto.pot
  locales/zh_CN/LC_MESSAGES/volto.po
  news/5448.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

drop checkImage as it s not a good solution
  packages/volto/src/components/manage/Blocks/Image/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

[types] Improve styleClassNameExtenders types, Icon component JSDoc types def
  packages/types/src/config/Settings.d.ts
  packages/volto/src/components/theme/Icon/Icon.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

make Enter a URL to an image button and Pick an existing image object browser behave similar
  packages/volto/src/components/manage/AnchorPlugin/components/LinkButton/AddLinkForm.jsx
  packages/volto/src/components/manage/AnchorPlugin/useLinkEditor.js
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/types/news/6095.bugfix
  packages/volto/news/6095.bugfix
Due: none

[types] Improve styleClassNameExtenders types, Icon component JSDoc t… (#6095)
  packages/types/news/6095.bugfix
  packages/types/src/config/Settings.d.ts
  packages/volto/news/6095.bugfix
  packages/volto/src/components/theme/Icon/Icon.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix internalUrl Widget to Reflect Prop Changes via onChangeBlock (#6036)
  packages/coresandbox/src/components/Blocks/InputBlock/Data.tsx
  packages/coresandbox/src/components/Blocks/InputBlock/Edit.tsx
  packages/coresandbox/src/components/Blocks/InputBlock/View.tsx
  packages/coresandbox/src/components/Blocks/InputBlock/schema.ts
  packages/coresandbox/src/index.ts
  packages/volto/cypress/tests/coresandbox/internalUrl.js
  packages/volto/news/6036.bugfix
  packages/volto/src/components/manage/Widgets/InternalUrlWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add support for reading the add-ons tsconfig.json paths and add them to the build resolve aliases
  packages/registry/src/addon-registry.js
Due: none

Fix tests
  packages/volto/__tests__/addon-registry-project.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/volto/news/6096.feature
Due: none

Fix tests again, wrong path
  packages/volto/__tests__/addon-registry-project.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Add optional `token` parameter to ploneClient initialization (#6077)
  docs/source/client/quick-start.md
  packages/client/news/6076.documentation
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
