Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Add changelog also in @plone/blocks
  packages/blocks/news/6689.feature
Due: none

Correct code formatting, rename slider into embeddedLink
  docs/source/configuration/validation.md
Due: none

Correct formatting, code style, grammar in blocks/anatomy docs
  docs/source/blocks/anatomy.md
Due: none

Correct formatting, info, punctuation in blocks/settings docs
  docs/source/blocks/settings.md
Due: none

Better code&text style, formatting, grammar in
  docs/source/blocks/editcomponent.md
Due: none

Add some of the missing languages
  packages/volto/src/helpers/LanguageMap/LanguageMap.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add the rest of the languages
  packages/volto/src/helpers/LanguageMap/LanguageMap.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

changelog
  packages/volto/news/7146.bugfix
Due: none

Add detailed list with links to contents delete modal (#7055)
  packages/volto/cypress/tests/core/basic/deleteItemModal.js
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7054.feature
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/manage/Contents/ContentsDeleteModal.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

wip
  packages/cmsui/components/RecurrenceWidget/ByMonthField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByMonthDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByMonthField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/IntervalField.tsx
  packages/cmsui/components/RecurrenceWidget/RecurrenceWidget.tsx
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: news item
  packages/components/news/7142.feature
Due: none

Remove flags
  packages/volto/src/helpers/LanguageMap/LanguageMap.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(blocks): remove redundant class selectors for error state styling
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm stylelint --fix

Added radiogroup basic component (#7142)
  packages/components/news/7142.feature
  packages/components/src/tailwind/RadioGroup/RadioGroup.stories.tsx
  packages/components/src/tailwind/RadioGroup/RadioGroup.tsx
  packages/components/src/tailwind/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Don't render an error during hydration unless there was also one on the server
  packages/volto/news/7132.bugfix
  packages/volto/src/middleware/api.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add SevenContext component to allow theming via tailwind-variants
  packages/components/src/tailwind/Button/Button.stories.tsx
  packages/components/src/tailwind/Button/Button.tsx
  packages/components/src/tailwind/Checkbox/Checkbox.tsx
  packages/components/src/tailwind/SevenContext/SevenContext.stories.tsx
  packages/components/src/tailwind/SevenContext/SevenContext.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feat: modal delete and refactor css
  packages/contents/components/ContentsActions.tsx
  packages/contents/components/ContentsTable.tsx
  packages/contents/components/DeleteModal.tsx
  packages/contents/locales/en/common.json
  packages/contents/locales/it/common.json
  packages/contents/package.json
  packages/contents/providers/contents.tsx
  packages/contents/routes/contents.tsx
  packages/contents/styles/Contents.css
  packages/contents/styles/base/reactAriaModal.css
  packages/contents/styles/base/reactAriaPopover.css
  packages/contents/styles/base/reset.css
  packages/contents/styles/main.css
  packages/theming/styles/simple/main.css
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

feat: Implement AlignWidget, SizeWidget, and WidthWidget components with associated stories and icons; update widget configuration in cmsui.
  packages/cmsui/config/widgets.ts
  packages/components/src/components/icons/ImagenarrowIcon.tsx
  packages/components/src/components/icons/ImagewideIcon.tsx
  packages/components/src/components/icons/index.ts
  packages/components/src/tailwind/AlignWidget/AlignWidget.stories.tsx
  packages/components/src/tailwind/AlignWidget/AlignWidget.tsx
  packages/components/src/tailwind/RadioGroup/RadioGroup.tsx
  packages/components/src/tailwind/SizeWidget/SizeWidget.stories.tsx
  packages/components/src/tailwind/SizeWidget/SizeWidget.tsx
  packages/components/src/tailwind/WidthWidget/WidthWidget.stories.tsx
  packages/components/src/tailwind/WidthWidget/WidthWidget.tsx
  packages/components/src/tailwind/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: changelog
  packages/cmsui/news/7150.feature
  packages/components/news/7150.feature
Due: none

refactor: remove outdated comment from AlignWidget story file
  packages/components/src/tailwind/AlignWidget/AlignWidget.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

refactor: clean up AlignWidget story by removing unnecessary line
  packages/components/src/tailwind/AlignWidget/AlignWidget.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

refactor: remove defaultAction from AlignWidget, SizeWidget, and WidthWidget stories and components; add WithDefault story for each widget
  packages/components/src/tailwind/AlignWidget/AlignWidget.stories.tsx
  packages/components/src/tailwind/AlignWidget/AlignWidget.tsx
  packages/components/src/tailwind/SizeWidget/SizeWidget.stories.tsx
  packages/components/src/tailwind/SizeWidget/SizeWidget.tsx
  packages/components/src/tailwind/WidthWidget/WidthWidget.stories.tsx
  packages/components/src/tailwind/WidthWidget/WidthWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Translated using Weblate (Basque)
  packages/volto/locales/eu/LC_MESSAGES/volto.po
Due: none

Fix object names
  packages/volto/src/helpers/LanguageMap/LanguageMap.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

types
  packages/components/src/tailwind/Button/Button.tsx
  packages/components/src/tailwind/Checkbox/Checkbox.tsx
  packages/components/src/tailwind/SevenContext/SevenContext.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

restore blocks
  packages/blocks/Image/index.tsx
  packages/blocks/Teaser/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Revert "Fixed flattenToAppURL (#7140)"
  apps/seven/app/root.tsx
  apps/seven/news/7140.bugfix
  packages/helpers/news/7140.bugfix
  packages/helpers/package.json
  packages/helpers/src/flattenToAppURL.test.ts
  packages/helpers/src/flattenToAppURL.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added the `@plone/registry` dependency in peerDependencies
  packages/helpers/package.json
Due: none

Revert "[Seven] Fix flattenToAppURL" (#7152)
  apps/seven/app/root.tsx
  apps/seven/news/7140.bugfix
  packages/helpers/news/7140.bugfix
  packages/helpers/package.json
  packages/helpers/src/flattenToAppURL.test.ts
  packages/helpers/src/flattenToAppURL.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added cmsui @search loader
  packages/cmsui/index.ts
  packages/cmsui/routes/search.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added path and searchabletext wildcard
  packages/cmsui/routes/search.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Updated for new flatten
  packages/cmsui/routes/search.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

wip
  packages/blocks/Teaser/Edit.tsx
  packages/blocks/config/index.ts
  packages/blocks/package.json
  packages/editor/components/editor/use-create-editor.ts
  packages/editor/helpers/conversions.ts
  packages/editor/styles/main.css
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Datetime widget (#7131)
  packages/cmsui/config/widgets.ts
  packages/cmsui/news/7131.feature
  packages/components/news/7131.feature
  packages/components/package.json
  packages/components/src/tailwind/Button/Button.tsx
  packages/components/src/tailwind/Calendar/Calendar.tsx
  packages/components/src/tailwind/DateInput/DateInput.stories.tsx
  packages/components/src/tailwind/DateInput/DateInput.tsx
  packages/components/src/tailwind/DatePicker/DatePicker.stories.tsx
  packages/components/src/tailwind/DatePicker/DatePicker.tsx
  packages/components/src/tailwind/DateTimePicker/DateTimePicker.stories.tsx
  packages/components/src/tailwind/DateTimePicker/DateTimePicker.tsx
  packages/components/src/tailwind/Dialog/Dialog.tsx
  packages/components/src/tailwind/Popover/Popover.tsx
  packages/components/src/tailwind/TimeField/TimeField.stories.tsx
  packages/components/src/tailwind/TimeField/TimeField.tsx
  packages/components/src/tailwind/index.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix getUtility when called with a utility type that hasn't been registered (#7113)
  packages/registry/news/7108.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feat: add getWidget and registerWidget methods in registry (#7141)
  packages/cmsui/components/Form/Field.tsx
  packages/cmsui/components/TextField/TextField.stories.tsx
  packages/cmsui/config/widgets.ts
  packages/cmsui/news/7141.feature
  packages/registry/news/7141.feature
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/news/7141.bugfix
  packages/types/src/config/Widgets.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added tests
  packages/cmsui/routes/search.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Don't render an error during hydration unless there was also one on the server (#7148)
  packages/volto/news/7132.bugfix
  packages/volto/src/middleware/api.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added coverage
  packages/cmsui/package.json
  packages/cmsui/routes/search.test.tsx
  packages/cmsui/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
