Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "packages/!volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Delete packages/volto/news/5657.enhancement
  packages/volto/news/5657.enhancement
Due: none

added information file
  packages/volto/news/5657.enhancement
Due: none

proofread generator readme and modified project name suggestion to myvoltoproject since that is what we use in documentation
  packages/generator-volto/README.md
  packages/generator-volto/generators/app/index.js
Due: none

clarify the default value of the --defaultAddonName
  packages/generator-volto/README.md
  packages/generator-volto/news/5439.bugfix
Due: none

Added note about the defaultAddonName and how it affects the theme add-on generation
  packages/generator-volto/README.md
  packages/generator-volto/news/5439.bugfix
Due: none

align default from defaultAddonName with the other options
  packages/generator-volto/README.md
Due: none

Make it even more explicit the output name from using the configuration vs default
  packages/generator-volto/README.md
Due: none

Apply suggestions from code review
  packages/generator-volto/README.md
  packages/generator-volto/news/5439.bugfix
Due: none

Update 5657.enhancement
  packages/volto/news/5657.enhancement
Due: none

fix: menu toggle
  packages/volto/news/5645.bugfix
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Added aria-live='polite' (#5639)
  packages/volto/news/5617.feature
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/manage/Contents/__snapshots__/Contents.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

update docs for appextras
  docs/source/recipes/appextras.md
Due: none

Update docs/source/recipes/appextras.md
  docs/source/recipes/appextras.md
Due: none

Apply suggestions from code review
  docs/source/recipes/appextras.md
Due: none

Update packages/volto/news/5621.feature
  packages/volto/news/5621.feature
Due: none

Update appextras.md
  docs/source/recipes/appextras.md
Due: none

feat: add multilingual prefixed tests
  .github/workflows/acceptance.yml
  packages/volto/Makefile
Due: none

Revert "fix: remove loadable where component is composed"
  packages/volto/src/components/manage/Widgets/index.tsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Removed useless compose
  packages/volto/src/components/manage/Widgets/InternalUrlWidget.jsx
  packages/volto/src/components/manage/Widgets/UrlWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fixes: Menu_Toggle, New PR due to synchronization issues in last one
  packages/volto/news/5645.bugfix
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Resolved conflicts
  packages/volto/news/5696.bugfix
Due: none

added isInHTML and addLocationQueryString commands used in testing the search block listing templates for SSR rendering
  packages/volto/cypress/support/commands.js
  packages/volto/cypress/tests/core/blocks/listing/blocks-listing-templates.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Optimize Lodash Imports
  packages/registry/news/5672.bugfix
Due: none

Empty Commit to re-run test
  packages/volto/news/5672.bugfix
Due: none

Fix some cypress tests
  packages/volto/cypress/support/e2e.js
  packages/volto/cypress/tests/core/controlpanels/upgrade.js
  packages/volto/src/components/manage/Controlpanels/Controlpanels.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Empty Commit to re-run test 1
  packages/client/news/5672.bugfix
  packages/components/news/5672.bugfix
  packages/generator-volto/generators/addon/templates/news/5672.bugfix
  packages/generator-volto/news/5672.bugfix
  packages/registry/news/5672.bugfix
  packages/scripts/news/5672.bugfix
  packages/types/news/5672.bugfix
  packages/volto-slate/news/5672.bugfix
  packages/volto-testing/news/5672.bugfix
Due: none

Moved towncrier news item to the correct path
  packages/volto/news/4190.bugfix
Due: none

bugfix: wrong conditional proprieties on ObjectBrowser (#4190)
  packages/volto/news/4190.bugfix
  packages/volto/src/components/manage/Sidebar/ObjectBrowserBody.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Remove turbo from monorepo commands until it's really necessary
  Makefile
  package.json
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Changelog
  packages/volto/news/5715.bugfix
Due: none
