Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

fix: add changelog
  packages/volto/news/6570.bugfix
Due: none

fix: eslint .
  packages/volto-slate/src/blocks/Text/index.jsx
Due: none

fix: place changelog in correct place
  packages/volto-slate/news/6570.bugfix
Due: none

Update to latest RR7 and conventions, fix index page
  apps/rr7/app/content.tsx
  apps/rr7/app/routes.ts
  apps/rr7/package.json
  apps/rr7/react-router.config.ts
  apps/rr7/vite.config.ts
  packages/slots/components/Logo.tsx
  packages/volto/.gitignore
  pnpm-lock.yaml
Due: none

fixing Markdown heading
  packages/volto-slate/src/constants.js
  packages/volto-slate/src/editor/plugins/Markdown/constants.js
Due: none

fix-prettier
  packages/volto-slate/src/editor/plugins/Markdown/constants.js
Due: none

Suggestions implemented
  packages/volto/src/config/Blocks.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Prettier
  apps/rr7/react-router.config.ts
Due: none

fix site logo issue
  packages/volto/src/components/manage/Widgets/RegistryImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Simplify error handling. Also make it less confusing
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

[RR7] Update to latest RR7 and conventions, fix index page (#6589)
  apps/rr7/app/content.tsx
  apps/rr7/app/routes.ts
  apps/rr7/package.json
  apps/rr7/react-router.config.ts
  apps/rr7/vite.config.ts
  packages/slots/components/Logo.tsx
  packages/volto/.gitignore
  pnpm-lock.yaml
Due: none

Update packages/volto/news/6576.bugfix
  packages/volto/news/6576.bugfix
Due: none

fix: incorrect copied state useClipboard (#6585)
  packages/volto/news/6585.bugfix
  packages/volto/src/hooks/clipboard/useClipboard.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

relative paths for includes
  docs/source/theming/custom-styling.md
  docs/source/theming/index.md
  docs/source/theming/semanticui-theming.md
  docs/source/theming/theming-engine.md
  docs/source/theming/theming-strategy.md
Due: none

Apply suggestions from code review
  docs/source/_inc/_branch-policy.md
Due: none

Update packages/volto/news/6541.documentation
  packages/volto/news/6541.documentation
Due: none

Add changelog entry
  packages/volto/news/6591.fix.rst
Due: none

adding changelog
  packages/volto/news/6588.feature.rst
Due: none

lazy load the image and also refactor in component
  packages/volto/src/components/manage/Contents/ContentsItem.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Export the getContent bare fetcher
  packages/client/src/client.ts
Due: none

Changelog
  packages/client/news/6594.feature
Due: none

add dropdown for month & year
  packages/volto/news/5662.feature
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Remove RQ from loaders
  apps/rr7/app/content.tsx
  apps/rr7/app/root.tsx
  apps/rr7/app/routes.ts
Due: none

Make checkbox required to be checked if required is set. Add default value to checkbox widget.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
  packages/volto/src/helpers/FormValidation/FormValidation.jsx
  packages/volto/theme/themes/pastanaga/elements/input.overrides
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Improve meta tags
  apps/rr7/app/content.tsx
Due: none

Export the getContent bare fetcher (#6594)
  apps/rr7/app/content.tsx
  apps/rr7/app/root.tsx
  apps/rr7/app/routes.ts
  packages/client/news/6594.feature
  packages/client/src/client.ts
Due: none

Apply suggestions from code review
  docs/source/contributing/version-policy.md
Due: none

Remove volto 18 from @plone/generator compatibility table
  docs/source/contributing/version-policy.md
Due: none

Update packages/volto/news/6588.feature.rst
  packages/volto/news/6588.feature.rst
Due: none

Release @plone/client 1.0.0-alpha.21
  packages/client/CHANGELOG.md
  packages/client/news/6594.feature
  packages/client/package.json
Due: none

fixing-require-changes
  packages/volto-slate/src/constants.js
  packages/volto-slate/src/editor/plugins/Markdown/constants.js
  packages/volto/news/6588.feature
Due: none

fix unused warning
  packages/volto/src/components/manage/BlockChooser/BlockChooser.jsx
  packages/volto/src/components/manage/BlockChooser/BlockChooserButton.jsx
  packages/volto/src/components/manage/BlockChooser/BlockChooserSearch.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

add changelog
  packages/volto/news/5212.bugfix
Due: none

fixing link can handle more than one mail
  packages/volto/src/helpers/Url/Url.test.js
  packages/volto/src/helpers/Url/urlRegex.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

rename-changelog-file-name
  packages/volto/news/6591.fix
Due: none

adding-changelog
  packages/volto/news/6598.fix
Due: none

WIP
  packages/coresandbox/src/index.ts
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/src/config/index.d.ts
  packages/types/src/utils.d.ts
Due: none

WIP
  packages/revolto/.eslintrc.cjs
  packages/revolto/.gitignore
  packages/revolto/README.md
  packages/revolto/app/config.server.ts
  packages/revolto/app/config.ts
  packages/revolto/app/content.tsx
  packages/revolto/app/okroute.tsx
  packages/revolto/app/root.tsx
  packages/revolto/app/routes.ts
  packages/revolto/app/utils.ts
  packages/revolto/package.json
  packages/revolto/public/favicon.ico
  packages/revolto/react-router.config.ts
  packages/revolto/registry.config.ts
  packages/revolto/tsconfig.json
  packages/revolto/vite.config.ts
Due: none

fixing-extension
  packages/volto/news/6591.feature
  packages/volto/news/6591.fix
Due: none

Path conditions:
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm --filter @plone/volto stylelint --fix: (any of: packages/volto/**/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
