Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

change log
  packages/volto/news/7758.internal
Due: none

fix: Toolbar Types crash and multilingual redirects (backport)
  packages/volto/news/7637.bugfix
  packages/volto/src/components/manage/Add/Add.jsx
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/components/manage/Multilingual/CompareLanguages.jsx
  packages/volto/src/components/manage/Multilingual/ManageTranslations.jsx
  packages/volto/src/components/manage/Multilingual/TranslationObject.jsx
  packages/volto/src/components/manage/Toolbar/Types.jsx
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.tsx
  packages/volto/src/components/theme/MultilingualRedirector/MultilingualRedirector.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: proper MyST directives
  docs/source/configuration/how-to.md
Due: none

Update packages/volto/news/7736.bugfix
  apps/nextjs/next.config.mjs
  packages/volto/news/7736.bugfix
Due: none

Add changelog
  apps/nextjs/next.config.mjs
  packages/volto/news/7660.feature
Due: none

Added: Change log entry
  packages/volto/news/7756.documentation
Due: none

Update packages/volto/news/7756.documentation
  packages/volto/news/7756.documentation
Due: none

Initial Commit
  packages/volto-slate/src/blocks/Table/TableBlockEdit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added Changelog file
  packages/volto-slate/news/7760.internal
Due: none

fix for prettier and es lint issue
  packages/volto-slate/src/blocks/Table/TableBlockEdit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Prevent VSCode from mangling the `html_meta` header of documentation … (#7758)
  .gitignore
  .vscode/settings.json
  packages/volto/news/7758.internal
Due: none

Fix typos in production sites list: 'Carrer' → 'Career' + minor grammar tweaks
  README.md
Due: none

Fix spelling of 'Career' in README entries
  news/typo-fixes.documentation.md
Due: none

Fix spelling errors in README entries
  packages/volto/news/fix-typos.documentation.md
Due: none

Delete news directory from root that has been created accidentally
  news/typo-fixes.documentation.md
Due: none

Delete packages/volto/news/fix-typos.documentation.md
  packages/volto/news/fix-typos.documentation.md
Due: none

Fix typos in production sites list: 'Carrer' → 'Career' + minor grammar changes (#7761)
  README.md
Due: none

Docs: Add deprecation warning for src/config.js (Volto 18+) (#7756)
  docs/source/configuration/how-to.md
  packages/volto/news/7756.documentation
Due: none

Toolbar expand/collapse button a11y (#7500)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7500.bugfix
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/src/components/manage/Toolbar/__snapshots__/Toolbar.test.jsx.snap
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Testfix
  packages/volto/src/components/manage/AnchorPlugin/components/LinkButton/AddLinkForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added changelog file
  packages/volto/news/7764.internal
Due: none

Initial commit for Converting View class based to functional component
  packages/volto/news/news.internal
  packages/volto/src/components/theme/View/View.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changed changelog filename
  packages/volto/news/7766.internal
Due: none

Fix toolbar button contrast by removing opacity
  packages/volto/theme/themes/default/elements/button.variables
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm stylelint --fix

Add changelog entry for toolbar contrast fix
  changelog.d/feature/fix-toolbar-contrast.yaml
Due: none

Fix changelog YAML formatting for toolbar contrast fix
  changelog.d/feature/fix-toolbar-contrast.yaml
Due: none

fix: opacity from semantic-ui CSS overwritten by custom CSS
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm stylelint --fix

chore: news
  packages/volto/news/7771.bugfix
  packages/volto/src/components/manage/Contents/__snapshots__/Contents.test.jsx.snap
Due: none

Update 6.2 release requirements for Volto and Classic UI
  docs/source/contributing/version-policy.md
Due: none

change log
  packages/volto/news/7772.documentation
Due: none

Update docs/source/contributing/version-policy.md
  docs/source/contributing/version-policy.md
Due: none

Docs: replace ReactJS with React in README
  README.md
Due: none

Docs: replace ReactJS with React in README (#7773)
  README.md
Due: none

Docs: replace ReactJS with React
  README.md
  packages/components/README.md
  packages/volto/README.md
Due: none

Docs: replace ReactJS with React in components README
  packages/components/README.md
Due: none

Docs: replace ReactJS with React (#7774)
  packages/components/README.md
  packages/volto/README.md
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
