Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "packages/!volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Remove unuseds
  packages/volto/src/components/manage/Add/Add.jsx
  packages/volto/src/components/manage/Edit/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Restore sidebar logic from bad merge
  packages/volto/src/actions/index.js
  packages/volto/src/actions/sidebar/sidebar.js
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
  packages/volto/src/reducers/sidebar/sidebar.js
  src/actions/sidebar/sidebar.js
  src/components/manage/Sidebar/Sidebar.jsx
  src/reducers/sidebar/sidebar.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix button moving about
  packages/volto/src/components/manage/Form/SidebarToggleButton.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

i18n
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

lin
  packages/volto-slate/src/editor/less/editor.less
  packages/volto/theme/themes/pastanaga/extras/sidebar.less
Due: pnpm stylelint --fix

changelog
  packages/volto/news/3912.feature
Due: none

refactored SelectMetadataField from class based component to functional component
  packages/volto/src/components/manage/Blocks/Search/widgets/SelectMetadataField.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactored ModerateComments.jsx into functional based components
  packages/volto/src/components/manage/Controlpanels/ModerateComments.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Lint fix.
  packages/volto/src/components/manage/Aliases/Aliases.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

added changelog file
  packages/client/news/6200.feature
Due: none

Apply suggestions from code review
  docs/source/configuration/validation.md
  packages/registry/news/6161.feature
  packages/types/news/6161.feature
Due: none

Prepare for release @plone/blocks
  packages/blocks/.npmignore
  packages/blocks/.release-it.json
  packages/blocks/CHANGELOG.md
  packages/blocks/README.md
  packages/blocks/news/0.internal
  packages/blocks/package.json
  packages/blocks/towncrier.toml
Due: none

Release @plone/blocks 1.0.0-alpha.1
  packages/blocks/CHANGELOG.md
  packages/blocks/news/0.internal
  packages/blocks/package.json
Due: none

Configured failing checks
  packages/volto-slate/src/editor/less/editor.less
  packages/volto/src/components/manage/Widgets/__snapshots__/DatetimeWidget.test.jsx.snap
  pnpm-lock.yaml
Due: pnpm stylelint --fix

refactor: undo changes to ImageScale and Image
  packages/types/src/content/common.d.ts
Due: none

changes made
  packages/volto-slate/news/6182.feature
Due: none

refactored DatetimeWidget.jsx
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

added change log
  packages/volto/news/6201.feature
Due: none

Refactor: Change content types to interfaces to make them extendable (#6191)
  packages/types/news/6191.feature
  packages/types/src/content/common.d.ts
Due: none

Release @plone/types 1.0.0-alpha.18
  packages/types/CHANGELOG.md
  packages/types/news/6191.feature
  packages/types/package.json
Due: none

Refactored Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactored Display.jsx.
  packages/volto/src/components/manage/Display/Display.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactored Display.jsx.
  packages/volto/news/6203.feature
  packages/volto/src/components/manage/Display/Display.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fixed changelock error
  packages/volto-slate/news/6187.feature
  packages/volto/news/6187.feature
Due: none

Refactored ArrayWidget from class based to functional based
  packages/volto/src/components/manage/Widgets/ArrayWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactored Cell
  packages/volto-slate/src/blocks/Table/Cell.jsx
Due: none

Refactored ContentTypeSchema.jsx to functional based components
  packages/volto/src/components/manage/Controlpanels/ContentTypeSchema.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactored Edit.jsx.
  packages/volto/news/6206.feature
  packages/volto/src/components/manage/Blocks/LeadImage/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

updated pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Refactored ModerateComments.jsx into functional based components.
  packages/volto/news/6207.feature
  packages/volto/src/components/manage/Controlpanels/ModerateComments.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactored ContentTypeSchema.jsx into functional based components.
  packages/volto/news/6208.feature
  packages/volto/src/components/manage/Controlpanels/ContentTypeSchema.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

added necessary changes
  packages/volto/src/components/manage/Widgets/ArrayWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactored ControlPanels.jsx
  packages/volto/src/components/manage/Controlpanels/Controlpanel.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

added changelog
  packages/volto/news/6209.feature
Due: none

Update packages/volto-slate/news/6187.feature
  packages/volto-slate/news/6187.feature
Due: none

added changelog
  packages/volto/news/6210.feature
Due: none

Refactored RenderGroups.jsx
  packages/volto/src/components/manage/Controlpanels/Groups/RenderGroups.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

added changelog
  packages/volto/news/6211.feature
Due: none

refactored SelectAutoComplete from class based component to functional component
  packages/volto/news/6211.feature
  packages/volto/src/components/manage/Widgets/SelectAutoComplete.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fixed ESLint errors
  packages/volto/src/components/manage/Controlpanels/Groups/RenderGroups.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n
