Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Apply suggestions from code review
  docs/index.md
Due: none

More suggestions
  docs/index.md
  docs/news
Due: none

Update Makefile
  Makefile
Due: none

Remove volto-testing and volto-guillotina
  README.md
  packages/volto/README.md
Due: none

Added stale checker (#6867)
  .github/stale-items.yml
Due: none

Last leftover
  docs/source/contributing/developing-core.md
Due: none

Remove Plone 5 from compat table
  docs/source/contributing/version-policy.md
Due: none

Add removed packages to upgrade guide
  docs/source/upgrade-guide/index.md
Due: none

Updated news item label
  packages/volto/news/6843.breaking
Due: none

Fix READMEs links
  README.md
  packages/client/README.md
Due: none

Use Plone 6.1.1 final.
  variables.mk
Due: none

Changelog
  packages/volto/news/+6.1.1.feature
Due: none

url condition at Video Body component for peertube instances
  packages/volto/src/components/manage/Blocks/Video/Body.jsx
  packages/volto/src/components/manage/Blocks/Video/Body.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

update Video Block component test snapshot
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/Body.test.jsx.snap
Due: none

improve Edit view to give more information about block possibilities
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Video/Edit.jsx
  packages/volto/src/components/manage/Blocks/Video/Edit.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

changelog
  packages/volto/news/6870.feat
Due: none

Update Plone 6.1.1 final (#6868)
  packages/volto/news/+6.1.1.feature
  variables.mk
Due: none

add field title to errors in validateFieldsPerFieldset to avoid redundant schema processing
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/helpers/FormValidation/FormValidation.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

test: add title property to validation error messages in FormValidation tests
  packages/volto/src/helpers/FormValidation/FormValidation.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update docs/source/upgrade-guide/index.md
  docs/source/upgrade-guide/index.md
Due: none

Update packages/volto/news/6513.bugfix
  packages/volto/news/6513.bugfix
Due: none

Russian translations and locale added
  packages/volto/locales/ru/LC_MESSAGES/volto.po
Due: none

Fix changelog, fix comment
  packages/volto/news/6513.breaking
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm stylelint --fix

Remove SemanticUI CSS declaration `overflow-x: hidden` in BODY tag. (#6513)
  packages/volto/news/6513.breaking
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm stylelint --fix

Moved new wf action to the correct folder
  .github/workflows/stale-items.yml
Due: none

rollback video block edit msgid modification
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Video/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/news/6864.feature
  packages/volto/news/6864.feature
Due: none

semantics
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/helpers/Utils/withSaveAsDraft.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

semantics
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Enabled docs builds on 18.x.x
  .github/workflows/docs-rtd-pr-preview-registry.yml
  .github/workflows/docs-rtd-pr-preview-volto.yml
  .readthedocs.yaml
Due: none

Change log
  packages/volto/news/6876.internal
Due: none

fix logic
  packages/volto/src/components/manage/Form/Form.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix logic
  pnpm-lock.yaml
Due: none

changelog added
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/news/6874.feature
Due: none

snapshots
  pnpm-lock.yaml
Due: none

Fix pointer to main in README
  README.md
Due: none

fix pnpm and snapshots
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Search/components/__snapshots__/SelectFacet.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
