Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

feat: added sidebar
  packages/contents/components/ContentsTable.tsx
  packages/contents/locales/en/common.json
  packages/contents/locales/it/common.json
  packages/contents/package.json
  packages/contents/routes/contents.tsx
  packages/contents/routes/layout.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add Tailwind storybook for Image component
  packages/components/src/components/Image/Image.Tailwind.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

debounce searchableText
  packages/contents/components/ContentsTable.tsx
  packages/contents/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update docs
  docs/source/configuration/environmentvariables.md
  docs/source/configuration/how-to.md
  docs/source/configuration/multilingual.md
  docs/source/configuration/settings-reference.md
  docs/source/upgrade-guide/index.md
  packages/volto/cypress/downloads/downloads.html
  packages/volto/news/7125.breaking
Due: none

fix: debounce
  packages/contents/components/ContentsTable.tsx
  packages/contents/routes/contents.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: seven sidebar (#7126)
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/cmsui/news/7126.bugfix
  packages/cmsui/routes/layout.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Translated using Weblate (Basque)
  packages/volto/locales/eu/LC_MESSAGES/volto.po
Due: none

fix
  packages/components/src/components/Image/Image.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Better formatting, styling, grammar in
  docs/source/configuration/settings-reference.md
Due: none

chore: add news
  packages/components/news/7131.feature
Due: none

feat: Add DateTimePicker and DateField to widget configuration
  packages/cmsui/config/widgets.ts
  packages/cmsui/news/7131.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Preview image support in list
  packages/volto/cypress/tests/core/basic/objectBrowser.js
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.jsx
  packages/volto/theme/themes/pastanaga/extras/sidebar.less
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Changelog
  apps/seven/news/7133.internal
  packages/helpers/news/7133.internal
Due: none

feat: moved new flattenToAppURL to helpers package (#7133)
  apps/seven/app/root.tsx
  apps/seven/news/7133.internal
  apps/seven/package.json
  packages/helpers/news/7133.internal
  packages/helpers/package.json
  packages/helpers/src/flattenToAppURL.test.ts
  packages/helpers/src/flattenToAppURL.ts
  packages/helpers/src/index.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Moved auth to the react-router package (#7134)
  packages/cmsui/news/7134.internal
  packages/cmsui/routes/auth/auth.ts
  packages/cmsui/routes/auth/login.tsx
  packages/cmsui/routes/auth/logout.tsx
  packages/cmsui/routes/edit.tsx
  packages/react-router/news/7134.internal
  packages/react-router/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

changelog
  news/7136.feature
Due: none

d
  packages/components/src/components/Image/Image.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

changelog
  packages/volto/news/7135.feature
Due: none

d
  packages/components/src/components/Image/Image.Tailwind.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

moved changelog to correct folder
  packages/volto/news/7136.feature
Due: none

feat: Add reset button to DateTimePicker for clearing date and time selection
  packages/components/src/tailwind/DateTimePicker/DateTimePicker.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

refactor: Remove unused slot attribute from DateTimePicker button
  packages/components/src/tailwind/DateTimePicker/DateTimePicker.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update changelog
  packages/components/news/6689.feature
Due: none

Update packages/volto/news/7120.feature
  packages/volto/news/7120.feature
Due: none

wip: integrating object browser widget
  packages/cmsui/components/Form/Field.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidget.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidgetBody.tsx
  packages/cmsui/components/TextField/TextField.stories.tsx
  packages/cmsui/components/TextField/TextField.tsx
  packages/cmsui/config/widgets.ts
  packages/cmsui/routes/edit.tsx
  packages/components/src/components/GridList/GridList.stories.tsx
  packages/components/src/tailwind/GridList/GridList.tsx
  packages/components/src/tailwind/index.ts
  packages/registry/src/index.ts
  packages/types/src/config/Widgets.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

pr comments
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

revert pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: add error state handling for block selection.
  packages/volto/news/7138.feature
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Apply suggestions from code review
  docs/source/configuration/environmentvariables.md
  docs/source/configuration/multilingual.md
  docs/source/configuration/settings-reference.md
Due: none

Update docs/source/configuration/environmentvariables.md
  docs/source/configuration/environmentvariables.md
Due: none

Apply suggestions from code review
  docs/source/configuration/settings-reference.md
Due: none

Update packages/volto/news/7136.feature
  packages/volto/news/7136.feature
Due: none

Better grammar, parenthesis pairing in configuration/settings-reference docs
  docs/source/configuration/settings-reference.md
Due: none

refactor: Remove console log from DateTimePicker component
  packages/components/src/tailwind/DateTimePicker/DateTimePicker.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add compatibility note about addBlockButton feature
  docs/source/configuration/experimental.md
Due: none

Correct a list item in configuration/internalproxy docs
  docs/source/configuration/internalproxy.md
Due: none
