Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Changelog
  apps/seven/news/7463.1.documentation
  apps/seven/news/7463.2.documentation
Due: none

fix: added languages translations
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Changelog
  packages/cmsui/news/7467.internal
  packages/components/news/7467.internal
  packages/layout/news/7467.internal
  packages/plate/news/7467.internal
  packages/scripts/vscodesettings.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added more defaults to VSCode
  packages/scripts/vscodesettings.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Backport: Fix slate backspace merge issue to Volto 18
  packages/volto-slate/news/7373.bugfix
  packages/volto-slate/src/blocks/Text/index.jsx
  packages/volto-slate/src/blocks/Text/keyboard/joinBlocks.js
  packages/volto-slate/src/blocks/Text/keyboard/splitAtSeam.js
  packages/volto-slate/src/utils/selection.js
  packages/volto-slate/src/utils/volto-blocks.js
  packages/volto/cypress/tests/core/blocks/blocks-slate-backspace.js
  packages/volto/news/7373.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update to latest RAC, some styling fixes here and there. Added ObjectBrowserWidget story, TagGroup and ListBox. Added TokenSelect from RAC examples.
  catalog.json
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidget.stories.tsx
  packages/components/package.json
  packages/components/src/components/Button/Button.quanta.tsx
  packages/components/src/components/Field/Field.quanta.tsx
  packages/components/src/components/ListBox/ListBox.quanta.tsx
  packages/components/src/components/MultiSelect/TokenSelect.quanta.stories.tsx
  packages/components/src/components/MultiSelect/TokenSelect.quanta.tsx
  packages/components/src/components/SearchField/SearchField.quanta.stories.tsx
  packages/components/src/components/SearchField/SearchField.quanta.tsx
  packages/components/src/components/TagGroup/TagGroup.quanta.stories.tsx
  packages/components/src/components/TagGroup/TagGroup.quanta.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Upgrade missing version of @internationalized/date
  packages/components/package.json
  pnpm-lock.yaml
Due: none

Fix images path in root README
  README.md
  packages/volto/README.md
  packages/volto/news/7437.documentation
Due: none

Fix images path in root README (#7470)
  README.md
  packages/volto/README.md
  packages/volto/news/7437.documentation
Due: none

fix: aria-label for edit and drag block button (#7424)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7424.bugfix
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Backport: Fix slate backspace merge issue to Volto 18 (#7468)
  packages/volto-slate/news/7373.bugfix
  packages/volto-slate/src/blocks/Text/index.jsx
  packages/volto-slate/src/blocks/Text/keyboard/joinBlocks.js
  packages/volto-slate/src/blocks/Text/keyboard/splitAtSeam.js
  packages/volto-slate/src/utils/selection.js
  packages/volto-slate/src/utils/volto-blocks.js
  packages/volto/cypress/tests/core/blocks/blocks-slate-backspace.js
  packages/volto/news/7373.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

changelog
  packages/volto/news/+i18n.bugfix
Due: none

Leaking non-quanta Button component in a quanta component
  packages/components/src/components/Calendar/Calendar.quanta.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(blocks): correctly merge and delete adjacent text blocks when pressing Delete
  packages/volto-slate/news/7263.bugfix
  packages/volto-slate/src/blocks/Text/keyboard/joinBlocks.js
  packages/volto/cypress/tests/core/blocks/blocks-slate-delete.js
  packages/volto/news/7263.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix logo CSS
  packages/layout/slots/Logo/Logo.module.css
Due: pnpm stylelint --fix

ADded middlewares to the party
  docs/conceptual-guides/seven-vs-volto-differences.md
Due: none

Added Brain to image component item types
  packages/layout/components/Image/Image.tsx
  packages/layout/news/+moreimagetypes.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added basic content types views management and rendering
  packages/layout/index.ts
  packages/layout/news/+ctviews.feature
  packages/layout/slots/ContentArea.tsx
  packages/layout/views/DefaultView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: add a function to escape double quotes in pot files
  packages/scripts/i18n.cjs
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

changelog
  packages/volto/news/7476.bugfix
Due: none

Update slate to latest
  packages/volto-slate/package.json
  pnpm-lock.yaml
Due: none

Changelog
  packages/volto-slate/news/7477.internal
Due: none

Fixed corner case where RAZZLE_INTERNAL_API_PATH is set and id is still undefined on first SSR load.
  packages/volto/src/helpers/Content/withClientSideContent.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changelog
  packages/volto/news/7478.bugfix
Due: none

Seven vs Volto differences documentation (#7463)
  apps/seven/news/7463.1.documentation
  apps/seven/news/7463.2.documentation
  docs/conceptual-guides/index.md
  docs/conceptual-guides/seven-vs-volto-differences.md
  docs/reference/index.md
  docs/reference/react-19.md
Due: none

Fixed corner case where RAZZLE_INTERNAL_API_PATH is set and id is still undefined on first SSR load. (#7478)
  packages/volto/news/7478.bugfix
  packages/volto/src/helpers/Content/withClientSideContent.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Release @plone/slate 18.7.1
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/7373.bugfix
  packages/volto-slate/package.json
Due: none

Release 18.28.2
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+i18n.bugfix
  packages/volto/news/7373.internal
  packages/volto/news/7437.documentation
  packages/volto/news/7478.bugfix
  packages/volto/package.json
Due: none

Fix slate race condition when trying to update the UI before it ended the previous operation. The new version does not tolerate this.
  packages/volto-slate/src/editor/SlateEditor.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Added Brain to image component item types (#7474)
  packages/layout/components/Image/Image.tsx
  packages/layout/news/+moreimagetypes.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Improved border and inset-ring for the inputs. Fixed DateInput and alike styling. Fixed SearchField too.
  packages/components/src/components/DateField/DateField.quanta.stories.tsx
  packages/components/src/components/DateField/DateField.quanta.tsx
  packages/components/src/components/DateInput/DateInput.quanta.tsx
  packages/components/src/components/DateTimePicker/DateTimePicker.quanta.tsx
  packages/components/src/components/Field/Field.quanta.tsx
  packages/components/src/components/SearchField/SearchField.quanta.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed logo CSS
  packages/layout/slots/Logo/Logo.module.css
Due: pnpm stylelint --fix

Changelog
  packages/layout/news/+fixedlogocss.bugfix
Due: none

Apply suggestions
  packages/volto-slate/src/editor/SlateEditor.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Internationalizes help for the `Group Name` field.
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Controlpanels/Groups/GroupsControlpanel.jsx
  packages/volto/src/helpers/MessageLabels/MessageLabels.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
