Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

.lintstagedrc:

{
  "packages/!(volto)/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "packages/!(volto)/**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.{css,less,scss}": [
    "pnpm --filter @plone/volto stylelint --fix"
  ],
  "packages/volto/**/*.overrides": [
    "pnpm --filter @plone/volto stylelint --fix"
  ]
}

Changelog
  packages/types/news/6445.feature
Due: none

A11y: Wrap ToC Block within nav tag (#6084)
  docs/source/upgrade-guide/index.md
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/6082.breaking
  packages/volto/src/components/manage/Blocks/ToC/View.jsx
  packages/volto/src/components/manage/Blocks/ToC/variations/DefaultTocRenderer.jsx
  packages/volto/src/components/manage/Blocks/ToC/variations/HorizontalMenu.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Small fix
  docs/source/development/add-ons/install-an-add-on-dev-prerelease.md
Due: none

BlockStyleWrapper aware of block themes (#6445)
  packages/types/news/6445.feature
  packages/types/src/blocks/index.d.ts
  packages/types/src/config/Blocks.d.ts
  packages/volto/news/6445.feature
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
  packages/volto/src/components/manage/Blocks/Block/StyleWrapper.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
  packages/volto/src/helpers/Blocks/Blocks.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix page changes not being announced by assistive technology when navigating using the client-side router (#5288)
  packages/volto/cypress/tests/core/basic/locking.js
  packages/volto/cypress/tests/core/basic/metadata.js
  packages/volto/cypress/tests/workingCopy/create.js
  packages/volto/news/5288.bugfix
  packages/volto/src/components/theme/App/App.jsx
  packages/volto/src/components/theme/App/App.test.jsx
  packages/volto/src/components/theme/App/__snapshots__/App.test.jsx.snap
  packages/volto/src/components/theme/RouteAnnouncer/RouteAnnouncer.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fixed tests and missing keys
  packages/volto/src/components/manage/Controlpanels/Addons/AddonPanel.tsx
  packages/volto/src/components/manage/Controlpanels/Addons/__snapshots__/AddonsControlpanel.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Added h1 for a11y and fixed translations
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Controlpanels/Addons/AddonsControlpanel.tsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Updated snapshot to fix tests
  packages/volto/src/components/manage/Controlpanels/Addons/__snapshots__/AddonsControlpanel.test.jsx.snap
Due: none

fix imports and disable broken addons import
  apps/nextjs/next.config.mjs
  apps/nextjs/src/config/index.ts
  apps/nextjs/src/helpers/client.ts
  apps/nextjs/src/helpers/url.ts
Due: none

Fix useSelector is returned a different result when called with the same parameters in IdWidget.
  packages/volto/news/6449.bugfix
  packages/volto/src/components/manage/Widgets/IdWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

minor fix
  packages/volto/src/components/manage/Widgets/IdWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Moved `applyBlockDefaults` one component up so the style is computed correctly
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

rename values to value
  packages/volto/src/components/manage/Widgets/IdWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/6451.bugfix
Due: none

Uses actions/upload-artifact v4
  .github/workflows/acceptance.yml
Due: none

Updates configuration of prefixed acceptance tests
  .github/workflows/acceptance.yml
Due: none

Use `docker compose` in deployment-prefixed-acceptance-web-server-start
  packages/volto/Makefile
Due: none

Fix useSelector is returned a different result when called with the s… (#6450)
  packages/volto/news/6449.bugfix
  packages/volto/src/components/manage/Widgets/IdWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Moved `applyBlockDefaults` one component up so the style is computed correctly (#6451)
  packages/volto/news/6451.bugfix
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Final release notes
  packages/volto/CHANGELOG.md
Due: none

Add release changelog script to @plone/scripts
  packages/scripts/finalreleasechangelog.py
Due: none

Release @plone/types 1.0.0-alpha.22
  packages/types/CHANGELOG.md
  packages/types/news/6445.feature
  packages/types/package.json
Due: none

Release @plone/slate 18.0.0-alpha.20
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/6444.bugfix
  packages/volto-slate/package.json
Due: none

Fix declaration emits for wrong JSDocs
  packages/volto/src/components/manage/Blocks/ToC/variations/DefaultTocRenderer.jsx
  packages/volto/src/components/manage/Blocks/ToC/variations/HorizontalMenu.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Release 18.0.0-alpha.48
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/3839.bugfix
  packages/volto/news/5288.bugfix
  packages/volto/news/6082.breaking
  packages/volto/news/6445.feature
  packages/volto/news/6446.documentation
  packages/volto/news/6449.bugfix
  packages/volto/news/6451.bugfix
  packages/volto/package.json
  packages/volto/types/components/manage/Blocks/ToC/View.d.ts
  packages/volto/types/components/manage/Blocks/ToC/variations/DefaultTocRenderer.d.ts
  packages/volto/types/components/manage/Blocks/ToC/variations/HorizontalMenu.d.ts
  packages/volto/types/components/manage/Blocks/ToC/variations/index.d.ts
  packages/volto/types/components/theme/RouteAnnouncer/RouteAnnouncer.d.ts
  packages/volto/types/helpers/Blocks/Blocks.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Update index.js
  packages/coresandbox/src/index.js
Due: none

Create login.js
  cypress/tests/coresandbox/login.js
Due: none

Update Login.jsx
  src/components/theme/Login/Login.jsx
Due: none

Create 6452.bugfix
  news/6452.bugfix
Due: none

Backport #6419 (#6452)
  cypress/tests/coresandbox/login.js
  news/6452.bugfix
  packages/coresandbox/src/index.js
  src/components/theme/Login/Login.jsx
Due: none

Release 17.20.1
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/3839.bugfix
  news/6452.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

Remove reference to deleted file and clean up grammar.
  docs/source/contributing/language-features.md
Due: none

Fix heading level
  docs/source/addons/what-is-an-add-on.md
Due: none

Rename files to use numeric version since stable will be v18 in a couple of days and there will be no more prerelease. Purge mention of pre-release, development, or stable releases.
  docs/source/development/add-ons/create-an-add-on-17.md
  docs/source/development/add-ons/create-an-add-on-18.md
  docs/source/development/add-ons/index.md
  docs/source/development/add-ons/install-an-add-on-dev-17.md
  docs/source/development/add-ons/install-an-add-on-dev-18.md
  docs/source/development/add-ons/install-an-add-on.md
  docs/source/development/add-ons/test-add-ons-17.md
  docs/source/development/add-ons/test-add-ons-18.md
  docs/source/development/add-ons/test-add-ons-prerelease.md
Due: none

Fix broken reference
  docs/source/addons/how-an-add-on-works.md
Due: none

First pass on add-ons conceptual guide index.
  docs/source/addons/index.md
Due: none

Convert todo to visible todo
  docs/source/addons/index.md
Due: none

A couple of additions
  docs/source/contributing/developing-core.md
  docs/source/development/add-ons/test-add-ons-18.md
Due: none

Make test add-ons in Volto 18 a signpost to contributing/testing
  docs/source/development/add-ons/test-add-ons-17.md
Due: none
