Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

fix: removed unnecessary aria-label
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: snapshots
  packages/volto/src/components/manage/Toolbar/__snapshots__/Toolbar.test.jsx.snap
Due: none

Update pnpm to 10.18.3
  package.json
  pnpm-lock.yaml
Due: none

Add ignored built dependencies to package.json
  package.json
Due: none

Synchronizes versions of Volto dependencies with other packages in the monorepo
  packages/volto/news/7184.feature
  packages/volto/package.json
  packages/volto/src/actions/users/users.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Keeps the query-string version
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update query-string dependency version to 7.1.3 in Volto and @plone/client
  packages/client/package.json
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Clean up `react-19.md` with proper casing, minor grammar, and some MyST for inline literals
  docs/reference/react-19.md
Due: none

Makes the Cypress commands `getSlateEditorAndType` and `getSlateEditorSelectorAndType` more robust
  packages/volto/cypress/support/commands.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove invalid timeout parameter from should method
  packages/volto/cypress/support/commands.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changes
  packages/volto/news/7503.internal
Due: none

Makes the Cypress commands `getSlateEditorAndType` and `getSlateEditorSelectorAndType` more robust (#7503)
  packages/volto/cypress/support/commands.js
  packages/volto/news/7503.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Clean up `seven-vs-volto`
  docs/conceptual-guides/seven-vs-volto-differences.md
Due: none

fix: react-dates aria required
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: added rc-time-picker
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: removed unnecessary code
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

7463 docs cleanup (#7504)
  docs/conceptual-guides/seven-vs-volto-differences.md
  docs/reference/react-19.md
Due: none

allow Video block to add youtube shorts url and some peertube instances. Added allowedPeertubeInstances to the video block config to add others
  docs/source/blocks/settings.md
  packages/volto/cypress/tests/core/blocks/blocks-video.js
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/6870.feature
  packages/volto/src/components/manage/Blocks/Video/Body.jsx
  packages/volto/src/components/manage/Blocks/Video/Body.test.jsx
  packages/volto/src/components/manage/Blocks/Video/Edit.jsx
  packages/volto/src/components/manage/Blocks/Video/Edit.test.jsx
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/Body.test.jsx.snap
  packages/volto/src/components/manage/ConditionalLink/__snapshots__/ConditionalLink.test.jsx.snap
  packages/volto/src/config/Blocks.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

check if there is any peertube instance configured to check the peertube regex correctly
  packages/volto/src/components/manage/Blocks/Video/Body.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

test: use Slate helpers in delete tests; chore: update news fragment
  packages/volto-slate/news/7263.bugfix
  packages/volto/cypress/tests/core/blocks/blocks-slate-delete.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Enhance Cypress commands to trigger focus before typing in Slate editor
  packages/volto/cypress/support/commands.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changes
  packages/volto/news/7506.internal
Due: none

Enhance Cypress commands to trigger focus before typing in Slate editor (#7506)
  packages/volto/cypress/support/commands.js
  packages/volto/news/7506.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add docs
  Makefile
  docs/source/deploying/index.md
  docs/source/deploying/prefix-path.md
  package.json
  packages/volto/Makefile
  packages/volto/news/+subpath.feature
Due: none

fix: invalid URL required
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
  packages/volto/src/components/manage/Widgets/UrlWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: unit tests
  packages/volto/src/components/manage/Widgets/__snapshots__/IdWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ObjectListWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/UrlWidget.test.jsx.snap
Due: none

test: update guillotina tests
  packages/volto/Makefile
  packages/volto/cypress/support/guillotina.js
  packages/volto/cypress/tests/guillotina/blocks-text.js
  packages/volto/cypress/tests/guillotina/content.js
  packages/volto/cypress/tests/guillotina/history.js
  packages/volto/cypress/tests/guillotina/sharing.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added RSC support to plone components (#7499)
  packages/components/news/+rsc.feature
  packages/components/tsup.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Missed update slate libraries in volto package itself (#7482)
  packages/volto/news/7482.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Fix error and rename test to "should save typed content in the Slate editor"
  packages/volto/cypress/tests/core/volto-slate/02-block-slate.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changes
  packages/volto/news/7507.internal
Due: none

Drop support to Node 20
  .github/workflows/acceptance.yml
  .github/workflows/unit.yml
  docs/source/upgrade-guide/index.md
  packages/volto/package.json
Due: none

Changes
  packages/volto/news/7509.breaking
Due: none

Added more improvements about i18n support to the `volto-slate` package #7510. @macagua
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/locales/es/LC_MESSAGES/volto.po
  packages/volto-slate/package.json
  packages/volto-slate/src/blocks/Text/MarkdownIntroduction.jsx
  packages/volto-slate/src/blocks/Text/ShortcutListing.jsx
  packages/volto-slate/src/blocks/Text/TextBlockSchema.js
  packages/volto-slate/src/blocks/Text/schema.js
  packages/volto-slate/src/editor/config.jsx
  packages/volto-slate/src/editor/plugins/AdvancedLink/schema.js
  packages/volto-slate/src/editor/plugins/Blockquote/index.jsx
  packages/volto-slate/src/editor/plugins/Callout/index.jsx
  packages/volto-slate/src/editor/plugins/Link/index.jsx
  packages/volto-slate/src/editor/plugins/StyleMenu/index.jsx
  packages/volto-slate/src/editor/plugins/Table/index.jsx
  packages/volto-slate/src/editor/ui/SlateToolbar.jsx
  packages/volto/news/7510.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Makes the Cypress commands `getSlateEditorAndType` and `getSlateEditorSelectorAndType` more robust (#7505)
  packages/volto/cypress/support/commands.js
  packages/volto/news/7503.internal
  packages/volto/news/7506.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Translated using Weblate (Spanish)
  packages/volto/locales/es/LC_MESSAGES/volto.po
Due: none
