Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Fix order component (#6284)
  packages/volto/news/6284.bugfix
  packages/volto/src/components/manage/Blocks/Block/Order/Item.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update to Volto 6.0.13 (#6285)
  packages/volto/news/6285.internal
  variables.mk
Due: none

Added a notice in the upgrade guide for CookiePlone as the recommended way for generating projects and add-on boilerplate
  docs/source/upgrade-guide/index.md
Due: none

Fix typo in Changelog for #6285
  packages/volto/news/6285.internal
Due: none

Changelog
  packages/volto/news/6286.documentation
Due: none

Fix typo in Changelog for #6285 (#6287)
  packages/volto/news/6285.internal
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
Due: none

Added a notice in the upgrade guide for CookiePlone as the recommended way for generating projects and add-on boilerplate (#6286)
  docs/source/upgrade-guide/index.md
  packages/volto/news/6286.documentation
Due: none

Release @plone/client 1.0.0-alpha.17
  packages/client/CHANGELOG.md
  packages/client/news/6076.documentation
  packages/client/package.json
Due: none

Release @plone/slate 18.0.0-alpha.18
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/6264.feature
  packages/volto-slate/package.json
Due: none

Disambiguate Plone vs. Volto version admonitions
  docs/source/upgrade-guide/index.md
Due: none

Revise upgrade guide entry for Cookieplone
  docs/source/upgrade-guide/index.md
Due: none

news
  packages/volto/news/6290.documentation
Due: none

changes
  packages/client/src/API.ts
Due: none

Upgrade Guide Cookieplone review (#6290)
  docs/source/upgrade-guide/index.md
  packages/volto/news/6290.documentation
Due: none

Update Brazilian Portuguese translations
  packages/volto-slate/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto-slate/news/+update_pt_br.feature
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/news/+update_pt_br.feature
Due: none

Fix store in SSR
  packages/volto/package.json
  packages/volto/src/store.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix: state and styles for toolbar handler for hp for volto17
  src/components/manage/Toolbar/Toolbar.jsx
  src/components/manage/Toolbar/__snapshots__/Toolbar.test.jsx.snap
  theme/themes/pastanaga/extras/toolbar.less
Due: none

chore: news item
  news/6294.bugfix
Due: none

fix: Join validation errors in one single toast and update api error responses.
  packages/volto/src/components/manage/Form/Form.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

First SSR render
  packages/volto/src/entry-server.tsx
  packages/volto/tsconfig.json
  packages/volto/vite.config.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Add language independent field icon
  packages/volto-slate/news/6297.feature
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
  packages/volto/theme/themes/pastanaga/extras/widgets.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Last improvements, fix hydration issue
  packages/volto/package.json
  packages/volto/src/components/theme/App/App.jsx
  packages/volto/src/entry-server.tsx
  packages/volto/src/helpers/Html/Html.jsx
  packages/volto/src/hydration-overlay.js
  packages/volto/src/start-client.jsx
  packages/volto/vite-plugins/svg.js
  packages/volto/vite.config.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

rename client artifacts
  packages/volto/src/client.js
  packages/volto/src/entry-client.tsx
  packages/volto/src/start-client.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Replace all __SERVER__ with `import.meta.env.SSR`
  packages/volto/src/components/manage/Blocks/Description/Edit.jsx
  packages/volto/src/components/manage/Blocks/Title/Edit.jsx
  packages/volto/src/components/manage/TextLineEdit/TextLineEdit.jsx
  packages/volto/src/components/theme/Sitemap/Sitemap.jsx
  packages/volto/src/components/theme/View/LinkView.jsx
  packages/volto/src/config/index.js
  packages/volto/src/error.jsx
  packages/volto/src/helpers/Api/APIResourceWithAuth.js
  packages/volto/src/helpers/Api/Api.js
  packages/volto/src/helpers/Html/Html.jsx
  packages/volto/src/helpers/Site/index.js
  packages/volto/src/helpers/Url/Url.js
  packages/volto/src/init-store.js
  packages/volto/src/middleware/api.js
  packages/volto/src/middleware/userSessionReset.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add static text field.
  packages/volto/src/components/index.js
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
  packages/volto/src/components/manage/Widgets/StaticTextWidget.jsx
  packages/volto/src/components/manage/Widgets/StaticTextWidget.stories.jsx
  packages/volto/src/components/manage/Widgets/StaticTextWidget.test.jsx
  packages/volto/src/components/manage/Widgets/index.tsx
  packages/volto/src/components/theme/Widgets/StaticTextWidget.jsx
  packages/volto/src/components/theme/Widgets/StaticTextWidget.stories.jsx
  packages/volto/src/components/theme/Widgets/StaticTextWidget.test.js
  packages/volto/src/config/Widgets.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix file name and update i18n
  packages/volto-slate/news/6297.feature
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/6297.feature
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update test snapshots
  packages/volto/src/components/manage/Widgets/__snapshots__/AlignWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ButtonsWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/DatetimeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/EmailWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/IdWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ImageSizeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/NumberWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ObjectBrowserWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ObjectListWidget.test.js.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/PasswordWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ReferenceWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RegistryImageWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TextWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TextareaWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/UrlWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/VocabularyTermsWidget.test.jsx.snap
Due: none

Middlewares working, addded a custom middleware for support seamless mode
  packages/registry/package.json
  packages/volto/src/config/networking.js
  packages/volto/src/config/server.js
  packages/volto/src/entry-server.tsx
  packages/volto/src/express-middleware/devproxy.js
  packages/volto/src/express-middleware/files.js
  packages/volto/src/express-middleware/images.js
  packages/volto/src/express-middleware/server.js
  packages/volto/src/vite-server.js
  packages/volto/vite.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Replace hot module with Vite counterparts
  packages/volto/src/helpers/AuthToken/AuthToken.js
  packages/volto/src/index.js
  packages/volto/src/razzle-start-server.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix: find blocks if fieldname is similiar to 'blocks'
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Create 6299.fix
  packages/volto/news/6299.fix
Due: none

chore: changed var name
  packages/volto/news/6173.feature
  packages/volto/src/config/NonContentRoutes.jsx
  packages/volto/src/config/NonContentRoutesPublic.jsx
  packages/volto/src/config/index.js
  packages/volto/src/helpers/Url/Url.js
  packages/volto/src/helpers/Url/Url.test.js
  packages/volto/test-setup-config.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: name
  docs/source/configuration/how-to.md
Due: none

fix: tests
  packages/volto/src/helpers/Url/Url.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Update Blocks.js
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Update packages/volto/src/config/NonContentRoutesPublic.jsx
  packages/volto/src/config/NonContentRoutesPublic.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Path conditions:
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm --filter @plone/volto stylelint --fix: (any of: packages/volto/**/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
