Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Use image component for listing block, fixes missing scale (#8008)
  packages/blocks/Image/ImageBlockView.tsx
  packages/blocks/news/8008.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Cleanup
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/routes/edit.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

PR Cleanup
  packages/blocks/Text/Edit.tsx
  packages/cmsui/components/BlockEditor/DefaultEditBlock.tsx
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/plate/components/editor/index.tsx
  packages/plate/components/editor/plugins/plone.tsx
  packages/types/src/blocks/index.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Tests and news items
  packages/cmsui/acceptance/tests/title-block-sync.test.ts
  packages/cmsui/news/7355.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Blocks editor (#7355)
  packages/cmsui/acceptance/tests/title-block-sync.test.ts
  packages/cmsui/components/Layout/TopNavBar.tsx
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/cmsui/index.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/news/7355.feature
  packages/cmsui/routes/auth/login.tsx
  packages/cmsui/routes/controlpanel.tsx
  packages/cmsui/routes/controlpanels.tsx
  packages/cmsui/routes/edit.tsx
  packages/cmsui/routes/layout.tsx
  packages/cmsui/styles/cmsui.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

feat(QuerystringWidget): add Querystring Widget for seven
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.stories.tsx
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.tsx
  packages/cmsui/components/QuerystringWidget/QuerystringWidgetContext.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

refactor: remove listing block edits
  packages/blocks/Listing/ListingEdit.tsx
  packages/blocks/Listing/index.tsx
  packages/blocks/Listing/schema.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: eslint
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix css
  packages/volto-slate/src/editor/less/editor.less
  packages/volto-slate/src/editor/ui/PositionedToolbar.jsx
  packages/volto/cypress/tests/coresandbox/widgets.js
  packages/volto/src/components/manage/AnchorPlugin/components/LinkButton/AddLinkForm.jsx
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Update RAC to 1.16.0 + fix hydration error in title block
  catalog.json
  packages/cmsui/acceptance/tests/title-block-sync.test.ts
  packages/cmsui/components/BlockEditor/BlocksEditor.tsx
  packages/cmsui/routes/atoms.ts
  packages/cmsui/routes/edit.tsx
  packages/components/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/cmsui/news/8018.bugfix
  packages/components/news/8018.bugfix
Due: none

fix: corrected the one way path through the personal tools container using assistive tech
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/src/components/manage/Toolbar/__snapshots__/Toolbar.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove edit link from header tools
  packages/layout/slots/Tools.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix css
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm stylelint --fix

chore: news and i18n
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/8010.bugfix
Due: none

Remove edit link from header tools, changelog
  packages/layout/news/8018.bugfix
Due: none

chore: news file corrected
  packages/volto/news/8019.bugfix
Due: none

Update RAC to 1.16.0 + fix hydration error in title block (#8018)
  catalog.json
  packages/cmsui/acceptance/tests/title-block-sync.test.ts
  packages/cmsui/components/BlockEditor/BlocksEditor.tsx
  packages/cmsui/news/8018.bugfix
  packages/cmsui/routes/atoms.ts
  packages/cmsui/routes/edit.tsx
  packages/components/news/8018.bugfix
  packages/components/package.json
  packages/layout/news/8018.bugfix
  packages/layout/slots/Tools.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Use config-based teaser image sizes
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Blocks/Teaser/utils.js
  packages/volto/src/components/manage/Blocks/Teaser/utils.test.js
  packages/volto/src/config/Blocks.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add news items
  packages/blocks/news/6718.feature
  packages/cmsui/news/6718.internal
Due: none

[Seven] Add Maps block
  packages/blocks/Maps/MapsBlockEdit.test.tsx
  packages/blocks/Maps/MapsBlockEdit.tsx
  packages/blocks/Maps/MapsBlockView.test.tsx
  packages/blocks/Maps/MapsBlockView.tsx
  packages/blocks/Maps/block-maps.svg
  packages/blocks/Maps/index.ts
  packages/blocks/Maps/schema.tsx
  packages/blocks/index.ts
  packages/blocks/locales/en/common.json
  packages/cmsui/acceptance/tests/maps-block.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Refactored runtime migrations to match the somersault editor, reorganize server config files. Fixed tests.
  apps/seven/app/config/index.test.ts
  apps/seven/app/config/index.ts
  apps/seven/app/config/server.server.test.ts
  apps/seven/app/config/server.server.ts
  apps/seven/app/config/server/content-migrations.server.ts
  apps/seven/app/config/server/migrations.server.ts
  apps/seven/app/config/types.ts
  apps/seven/app/middleware.server.ts
  apps/seven/app/root.test.tsx
  apps/seven/app/root.tsx
  packages/cmsui/acceptance/tests/title-block-sync.test.ts
  packages/cmsui/routes/edit.tsx
  packages/plate/components/editor/index.tsx
  packages/plate/components/editor/plugins/legacy-migrations.test.ts
  packages/plate/legacy/migrations.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

leftover
  apps/seven/app/root.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

refactor: get Querystring options for criteria from backend
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.stories.tsx
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.tsx
  packages/cmsui/components/QuerystringWidget/QuerystringWidgetContext.tsx
  packages/cmsui/index.ts
  packages/cmsui/routes/queryStringOptions.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  apps/seven/news/8021.feature
  packages/cmsui/news/8021.feature
  packages/plate/news/8021.feature
Due: none

Remove initial conversions file
  packages/plate/helpers/conversions.test.ts
  packages/plate/helpers/conversions.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

remove publicURL and internalApiPath
  packages/helpers/src/isInternalURL.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Moved basic data fetching to a middleware to allow all loaders and actions to use it
  apps/seven/app/entry.server.tsx
  apps/seven/app/middleware.server.test.ts
  apps/seven/app/middleware.server.ts
  apps/seven/app/root.test.tsx
  apps/seven/app/root.tsx
  apps/seven/news/+context.feature
  packages/cmsui/news/+context.feature
  packages/cmsui/routes/edit.tsx
  packages/cmsui/routes/layout.tsx
  packages/layout/components/Toolbar/Toolbar-inner.css
  packages/layout/components/Toolbar/Toolbar.module.css
  packages/layout/components/Toolbar/Toolbar.tsx
  packages/layout/news/+context.feature
  packages/publicui/news/+context.feature
  packages/publicui/routes/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

search block
  apps/seven/app/config.server.ts
  packages/blocks/Search/SearchBlockView.tsx
  packages/blocks/Search/index.tsx
  packages/blocks/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix isInternalURL to compare origins instead of string prefixes
  packages/helpers/src/isInternalURL.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

PoC of /@blocks-schema
  packages/volto/src/config/server.js
  packages/volto/src/express-middleware/blocks-schema.js
  packages/volto/src/express-middleware/blocks-schema.test.js
  packages/volto/src/helpers/Api/APIResourceWithAuth.js
  packages/volto/src/helpers/Api/Api.js
  packages/volto/src/helpers/AuthToken/AuthToken.js
  packages/volto/types/express-middleware/blocks-schema.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Refactor styles for link form select components
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm stylelint --fix

Refactor LinkButton to simplify menu handling
  packages/volto/src/components/manage/AnchorPlugin/components/LinkButton/AddLinkForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Ensure unlock wait after saving working copy changes in Cypress tests
  packages/volto/cypress/tests/workingCopy/applying.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add changes
  packages/volto/news/8024.internal
Due: none

Ensure unlock wait after saving working copy changes in Cypress tests (#8024)
  packages/volto/cypress/tests/workingCopy/applying.js
  packages/volto/news/8024.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update test snapshots (change from #7916)
  packages/volto-slate/src/blocks/Table/__snapshots__/TableBlockEdit.test.jsx.snap
  packages/volto-slate/src/blocks/Table/__snapshots__/TableBlockView.test.jsx.snap
Due: none

Add video block view in seven (#8004)
  apps/seven/news/8004.feature
  packages/blocks/.stylelintrc
  packages/blocks/Video/VideoBlockBody.test.tsx
  packages/blocks/Video/VideoBlockBody.tsx
  packages/blocks/Video/VideoBlockView.css
  packages/blocks/Video/VideoBlockView.test.tsx
  packages/blocks/Video/VideoBlockView.tsx
  packages/blocks/Video/__snapshots__/VideoBlockView.test.tsx.snap
  packages/blocks/Video/index.ts
  packages/blocks/index.ts
  packages/blocks/news/8004.feature
  packages/helpers/news/8004.feature
  packages/helpers/src/index.ts
  packages/helpers/src/isInternalURL.test.ts
  packages/helpers/src/isInternalURL.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
