Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Improve @plone/registry release-it config
  packages/registry/.release-it.json
Due: none

Release @plone/registry 2.0.0-alpha.0
  packages/registry/CHANGELOG.md
  packages/registry/news/6371.internal
  packages/registry/news/6373.internal
  packages/registry/news/6399.breaking
  packages/registry/news/6399.feature
  packages/registry/news/6407.internal
  packages/registry/news/6422.bugfix
  packages/registry/package.json
Due: none

Release @plone/scripts 3.7.0
  packages/scripts/CHANGELOG.md
  packages/scripts/news/6354.documentation
  packages/scripts/news/6399.feature
  packages/scripts/package.json
Due: none

Release generate-volto 9.0.0-alpha.20
  packages/generator-volto/CHANGELOG.md
  packages/generator-volto/news/6371.breaking
  packages/generator-volto/news/6399.breaking
  packages/generator-volto/package.json
Due: none

Release 18.0.0-alpha.47
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/6308.internal
  packages/volto/news/6355.bugfix
  packages/volto/news/6371.breaking
  packages/volto/news/6371.internal
  packages/volto/news/6399.internal
  packages/volto/news/6403.internal
  packages/volto/news/6407.internal
  packages/volto/news/6408.internal
  packages/volto/news/6414.feature
  packages/volto/news/6418.internal
  packages/volto/news/6419.bugfix
  packages/volto/news/6421.bugfix
  packages/volto/news/6421.feature.1
  packages/volto/news/6421.feature.2
  packages/volto/news/6422.feature
  packages/volto/news/6424.internal
  packages/volto/news/6425.feature
  packages/volto/news/6426.documentation
  packages/volto/news/6433.documentation
  packages/volto/news/6436.bugfix
  packages/volto/news/6438.documentation
  packages/volto/package.json
  packages/volto/types/actions/aliases/aliases.d.ts
  packages/volto/types/components/manage/Contents/__mocks__/index.d.ts
  packages/volto/types/components/manage/Controlpanels/Relations/RelationsMatrix.d.ts
  packages/volto/types/components/manage/Controlpanels/index.d.ts
  packages/volto/types/components/manage/Form/__mocks__/index.d.ts
  packages/volto/types/components/manage/Form/index.d.ts
  packages/volto/types/components/manage/Multilingual/ManageTranslations.d.ts
  packages/volto/types/components/manage/Sidebar/ObjectBrowser.d.ts
  packages/volto/types/components/manage/Widgets/InternalUrlWidget.d.ts
  packages/volto/types/components/manage/Widgets/UrlWidget.d.ts
  packages/volto/types/components/manage/Widgets/__mocks__/index.d.ts
  packages/volto/types/components/manage/Widgets/index.d.ts
  packages/volto/types/config/slots.d.ts
  packages/volto/types/constants/ActionTypes.d.ts
  packages/volto/types/helpers/Helmet/Helmet.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

lock
  pnpm-lock.yaml
Due: none

Add fundamental reorganization comments for @sneridagh to consider.
  docs/source/addons/index.md
Due: none

Add more reorganization comments. Clean up some grammar. Let's avoid "frontend", and instead use "user interface", as this has come to bite us in the backend.
  docs/source/addons/index.md
Due: none

More comments about reorganization
  docs/source/addons/index.md
Due: none

WIP Navigation and Main slot
  .stylelintignore
  packages/blocks/src/index.ts
  packages/slots/.storybook/preview.ts
  packages/slots/.storybook/storybook-base.css
  packages/slots/.stylelintrc
  packages/slots/components/App.stories.tsx
  packages/slots/components/ContentArea.tsx
  packages/slots/components/Header.tsx
  packages/slots/components/Logo.tsx
  packages/slots/components/Navigation.stories.tsx
  packages/slots/components/Navigation.tsx
  packages/slots/config.tsx
  packages/slots/main.css
  packages/slots/package.json
  packages/slots/stories.ts
  pnpm-lock.yaml
Due: none

Fix CSS lint in Volto Slate
  packages/volto-slate/src/editor/less/editor.less
Due: none

Changelog
  packages/volto-slate/news/6444.bugfix
Due: none

update Register test snapshot
  packages/volto/src/components/theme/Register/__snapshots__/Register.test.jsx.snap
Due: none

fix: Register.jsx file test and snapshot
  packages/volto/src/components/theme/Register/Register.test.jsx
  packages/volto/src/components/theme/Register/__snapshots__/Register.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Remove `how-to-` from the filename, as everything in this directory is a How-to guide. Add to Development index so it shows up in the main navigation.
  docs/source/development/add-ons/best-practices.md
  docs/source/development/add-ons/create-an-add-on-prerelease.md
  docs/source/development/add-ons/create-an-add-on-stable.md
  docs/source/development/add-ons/extend-eslint-add-on.md
  docs/source/development/add-ons/extend-webpack-add-on.md
  docs/source/development/add-ons/i18n.md
  docs/source/development/add-ons/index.md
  docs/source/development/add-ons/install-an-add-on-dev-prerelease.md
  docs/source/development/add-ons/install-an-add-on-dev-stable.md
  docs/source/development/add-ons/install-an-add-on-prerelease.md
  docs/source/development/add-ons/install-an-add-on-stable.md
  docs/source/development/add-ons/load-add-on-configuration.md
  docs/source/development/add-ons/public-folder.md
  docs/source/development/add-ons/test-add-ons-prerelease.md
  docs/source/development/add-ons/test-add-ons.md
  docs/source/development/add-ons/theme.md
  docs/source/development/add-ons/troubleshoot-transpilation.md
  docs/source/development/addons/index.md
  docs/source/development/index.md
Due: none

Add html_meta info to index
  docs/source/development/add-ons/index.md
Due: none

Move explanation into correct file. Specify Volto 17 as stable release. Include mention of npm Registry with link. Fix grammar and syntax. Apply style guide.
  docs/source/addons/add-on-configuration-pipeline.md
  docs/source/development/add-ons/install-an-add-on-stable.md
Due: none

BlockStyleWrapper aware of block themes
  packages/types/src/config/Blocks.d.ts
  packages/types/src/index.d.ts
  packages/types/src/widgets/colors.d.ts
  packages/types/src/widgets/index.d.ts
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
  packages/volto/src/components/manage/Blocks/Block/StyleWrapper.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
  packages/volto/src/helpers/Blocks/Blocks.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Merge stable and pre-release install an add-on into a single file, and use Sphinx Design with synched tabs to show relevant commands for each version of Volto
  docs/source/development/add-ons/index.md
  docs/source/development/add-ons/install-an-add-on-prerelease.md
  docs/source/development/add-ons/install-an-add-on-stable.md
  docs/source/development/add-ons/install-an-add-on.md
Due: none

Tidy
  docs/source/development/add-ons/install-an-add-on.md
Due: none

Make it pluggable
  packages/volto/src/helpers/Blocks/Blocks.js
  packages/volto/src/helpers/Blocks/Blocks.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Some renaming
  packages/types/src/blocks/index.d.ts
  packages/types/src/config/Blocks.d.ts
  packages/types/src/index.d.ts
  packages/types/src/widgets/colors.d.ts
  packages/types/src/widgets/index.d.ts
  packages/volto/src/helpers/Blocks/Blocks.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Move credit for mrs-developer to explanation. Grammar. MyST markup enhancements.
  docs/source/addons/what-is-an-add-on.md
  docs/source/development/add-ons/install-an-add-on-dev-prerelease.md
  docs/source/development/add-ons/install-an-add-on-dev-stable.md
Due: none

Shorten sentence with a seealso
  docs/source/development/add-ons/install-an-add-on-dev-prerelease.md
  docs/source/development/add-ons/install-an-add-on-dev-stable.md
Due: none

Add MyST syntax, fix grammar
  docs/source/development/add-ons/load-add-on-configuration.md
Due: none

Added upgrade guide fix for HMR
  docs/source/upgrade-guide/index.md
Due: none

Changelog
  packages/volto/news/6446.documentation
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
Due: none

Fix CSS lint in Volto Slate (#6444)
  packages/volto-slate/news/6444.bugfix
  packages/volto-slate/src/editor/less/editor.less
Due: none

Anonymize username. Standardize titles
  docs/source/development/add-ons/create-an-add-on-prerelease.md
  docs/source/development/add-ons/create-an-add-on-stable.md
Due: none

Added upgrade guide fix for HMR (#6446)
  docs/source/upgrade-guide/index.md
  packages/volto/news/6446.documentation
Due: none

David's suggestions
  packages/types/src/config/Blocks.d.ts
Due: none

Changelog and upgrade guide
  docs/source/upgrade-guide/index.md
  packages/volto/news/6445.breaking
Due: none

Fix backend error when there is no query supplied (#6423)
  packages/volto/news/3839.bugfix
  packages/volto/src/components/manage/Blocks/Listing/getAsyncData.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Refs #3839 - Fix error where there is no query supplied (#6392)
  news/3839.bugfix
  src/components/manage/Blocks/Listing/getAsyncData.js
Due: none

Add a note about creating add-ons for both frontend and backend that work together.
  docs/source/development/add-ons/create-an-add-on-prerelease.md
Due: none

Progress in contentarea and footer
  packages/slots/components/Footer.tsx
  packages/slots/components/Main.tsx
  packages/slots/components/MainFooter.tsx
  packages/slots/config.tsx
  packages/slots/main.css
  packages/slots/stories.ts
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
  packages/volto/news/6445.breaking
Due: none

Fix tests
  packages/volto/src/helpers/Blocks/Blocks.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Remove the breaking as per suggestion
  docs/source/upgrade-guide/index.md
  packages/volto/news/6445.breaking
  packages/volto/news/6445.feature
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Path conditions:
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm --filter @plone/volto stylelint --fix: (any of: packages/volto/**/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
