Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

add function isInternalURL to helpers
  packages/helpers/news/7518.feature
Due: none

revert readme
  packages/volto/README.md
Due: none

Update packages/volto/package.json
  packages/volto/package.json
Due: none

Fix error and rename test to "should save typed content in the Slate editor" (#7515)
  packages/volto/cypress/tests/core/volto-slate/02-block-slate.js
  packages/volto/news/7507.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add support to Node.js 24 (#7517)
  .github/workflows/acceptance.yml
  .github/workflows/api-first.yml
  .github/workflows/changelog.yml
  .github/workflows/code-analysis.yml
  .github/workflows/unit.yml
  docs/source/contributing/version-policy.md
  docs/source/upgrade-guide/index.md
  packages/volto/news/7508.feature
  packages/volto/package.json
Due: none

added interfaces to DefaultToCRenderer.tsx and ToCBlockView.tsx
  packages/blocks/ToC/ToCBlockView.tsx
  packages/blocks/ToC/variations/DefaultToCRenderer.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Pass item to image component
  packages/layout/views/ImageView.tsx
  packages/types/news/7513.feature
  packages/types/src/content/common.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

added event view (#6708)
  packages/layout/components/EventDate/EventDate.tsx
  packages/layout/components/EventDetails/EventDetails.tsx
  packages/layout/helpers/index.ts
  packages/layout/index.ts
  packages/layout/locales/de/common.json
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/package.json
  packages/layout/slots/ContentArea.tsx
  packages/layout/styles/views/event.css
  packages/layout/views/EventView.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

added event type and generic RootData type (#6708)
  packages/types/src/content/index.d.ts
  packages/types/src/content/types/event.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Use a single folder for autogenerated files
  .gitignore
  apps/seven/.gitignore
  apps/seven/app/config.server.ts
  apps/seven/app/config.ts
  apps/seven/app/routes.ts
  apps/seven/news/+tmpfolder.internal
  packages/cmsui/news/+tmpfolder.internal
  packages/cmsui/routes/layout.tsx
  packages/publicui/news/+tmpfolder.internal
  packages/publicui/routes/index.tsx
  packages/registry/news/+tmpfolder.internal
  packages/registry/src/addon-registry/create-addons-loader-server.ts
  packages/registry/src/addon-registry/create-addons-loader.ts
  packages/registry/src/addon-registry/create-addons-styles-loader.ts
  packages/registry/vite-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed imports documentation
  docs/how-to-guides/icons.md
Due: none

Changelog
  apps/seven/news/+fixedIconDocs.documentation
Due: none

Replace <a> with <Link>. refs #6707
  packages/layout/views/FileView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Updated docs
  packages/registry/docs/conceptual-guides/add-on-loader.md
  packages/registry/docs/conceptual-guides/add-on-styles-loader.md
Due: none

Fixed init-loaders script
  packages/registry/bin/init-loaders.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed eslint, vscodesettings in the scripts package and more docs
  docs/conceptual-guides/add-on-styles-loader.md
  eslint.config.mjs
  packages/registry/docs/conceptual-guides/add-on-loader.md
  packages/registry/docs/conceptual-guides/add-on-styles-loader.md
  packages/scripts/vscodesettings.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

news item
  packages/scripts/news/+tmpfolder.internal
Due: none

Improved docs
  docs/conceptual-guides/add-on-styles-loader.md
  packages/registry/docs/conceptual-guides/add-on-loader.md
  packages/registry/docs/conceptual-guides/add-on-styles-loader.md
Due: none

Cleanup docs changes
  docs/conceptual-guides/add-on-styles-loader.md
  packages/registry/docs/conceptual-guides/add-on-loader.md
  packages/registry/docs/conceptual-guides/add-on-styles-loader.md
Due: none

test commit
  packages/blocks/.stylelintrc
  packages/blocks/ToC/ToCBlockView.tsx
  packages/blocks/ToC/styles/ToC.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Included a File content view. refs #6707 (#7516)
  packages/layout/index.ts
  packages/layout/locales/en/common.json
  packages/layout/news/6707.feature
  packages/layout/views/FileView.test.tsx
  packages/layout/views/FileView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Use a single folder for autogenerated files (#7520)
  .gitignore
  apps/seven/.gitignore
  apps/seven/app/config.server.ts
  apps/seven/app/config.ts
  apps/seven/app/routes.ts
  apps/seven/news/+tmpfolder.internal
  docs/conceptual-guides/add-on-styles-loader.md
  eslint.config.mjs
  packages/cmsui/news/+tmpfolder.internal
  packages/cmsui/routes/layout.tsx
  packages/publicui/news/+tmpfolder.internal
  packages/publicui/routes/index.tsx
  packages/registry/bin/init-loaders.js
  packages/registry/docs/conceptual-guides/add-on-loader.md
  packages/registry/docs/conceptual-guides/add-on-styles-loader.md
  packages/registry/news/+tmpfolder.internal
  packages/registry/src/addon-registry/create-addons-loader-server.ts
  packages/registry/src/addon-registry/create-addons-loader.ts
  packages/registry/src/addon-registry/create-addons-styles-loader.ts
  packages/registry/vite-plugin.js
  packages/scripts/news/+tmpfolder.internal
  packages/scripts/vscodesettings.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Reset fieldset.invisible class definition in order to prevent clashes with other CSS frameworks that might have `invisible` as utility.
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm stylelint --fix

Changelog
  packages/volto/news/+reset.fieldset.invisible.bugfix
Due: none

Reset `fieldset.invisible` class definition in order to prevent clashes with other CSS frameworks that might have `invisible` as utility. (#7523)
  packages/volto/news/+reset.fieldset.invisible.bugfix
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm stylelint --fix

Update how-to.md fix-typo in confriguration
  docs/source/configuration/how-to.md
Due: none

Fixed image usage
  packages/layout/views/ImageView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update how-to.md fix-typo in confriguration (#7524)
  docs/source/configuration/how-to.md
Due: none

Added Image content type view (#7513)
  packages/layout/index.ts
  packages/layout/locales/en/common.json
  packages/layout/news/7513.feature
  packages/layout/package.json
  packages/layout/views/ImageView.test.tsx
  packages/layout/views/ImageView.tsx
  packages/types/news/7513.feature
  packages/types/src/content/common.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(slate): prevent delete/join operations on non-text blocks; update tests
  packages/volto-slate/news/7263.bugfix
  packages/volto-slate/src/blocks/Text/keyboard/joinBlocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Updated change log
  packages/volto/news/7263.internal
Due: none

Fixed styles when the main theme is tailwind-based
  .github/workflows/unit.yml
  apps/seven/news/+fixnotwstyles.bugfix
  packages/layout/blocks/BlockWrapper.tsx
  packages/layout/components/Sitemap/Sitemap.tsx
  packages/layout/news/+fixnotwstyles.bugfix
  packages/layout/styles/content-area.css
  packages/layout/styles/footer.css
  packages/layout/styles/header.css
  packages/layout/styles/publicui.css
  packages/layout/views/FileView.tsx
  packages/layout/views/ImageView.test.tsx
  packages/theming/news/+fixnotwstyles.bugfix
  packages/theming/styles/simple/components.css
  packages/theming/styles/simple/layout.css
  packages/theming/styles/simple/main.css
  packages/theming/styles/theme.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

feat: added aria-controls for the toolbar
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: unit tests
  packages/volto/src/components/manage/Toolbar/__snapshots__/Toolbar.test.jsx.snap
Due: none

Unified Image and File views
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/news/+unifyviews.feature
  packages/layout/views/FileView.tsx
  packages/layout/views/ImageView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Apply suggestions from code review
  apps/seven/news/+fixedIconDocs.documentation
  docs/how-to-guides/icons.md
Due: none

[Seven] fixed layout package styles (#7526)
  .github/workflows/unit.yml
  apps/seven/news/+fixnotwstyles.bugfix
  packages/layout/blocks/BlockWrapper.tsx
  packages/layout/components/Sitemap/Sitemap.tsx
  packages/layout/news/+fixnotwstyles.bugfix
  packages/layout/styles/content-area.css
  packages/layout/styles/footer.css
  packages/layout/styles/header.css
  packages/layout/styles/publicui.css
  packages/layout/views/FileView.tsx
  packages/layout/views/ImageView.test.tsx
  packages/theming/news/+fixnotwstyles.bugfix
  packages/theming/styles/simple/components.css
  packages/theming/styles/simple/layout.css
  packages/theming/styles/simple/main.css
  packages/theming/styles/theme.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

[Seven] unify image and file views (#7525)
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/news/+unifyviews.feature
  packages/layout/views/FileView.tsx
  packages/layout/views/ImageView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed @plone/layout tests
  packages/layout/views/FileView.test.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add a view for the news item content type.
  packages/layout/index.ts
  packages/layout/news/6709.feature
  packages/layout/views/NewsItemView.test.tsx
  packages/layout/views/NewsItemView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write
