Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Fix code button (#5668) (#5669)
  packages/volto-slate/news/5668.bugfix
  packages/volto-slate/src/editor/config.jsx
Due: none

Fix `/links-to-item` should be a protected route (#5667)
  packages/volto/news/5666.bugfix
  src/components/manage/LinksToItem/LinksToItem.jsx
  src/components/manage/LinksToItem/LinksToItem.test.jsx
Due: none

Removed git merge conflicts from french volto.po locale file (#5682)
  packages/volto/news/5681.bugfix
Due: none

Fix blocks chooser index and add a bit of breath to the left in the s… (#5647)
  packages/volto/news/5647.bugfix
  theme/themes/pastanaga/extras/blocks.less
Due: pnpm stylelint --fix

Move news items to place
  packages/volto/news/5359.bugfix
  packages/volto/news/5427.internal
  packages/volto/news/5628.bugfix
  packages/volto/news/5647.bugfix
  packages/volto/news/5666.bugfix
  packages/volto/news/5681.bugfix
Due: none

news items
  news/5359.bugfix
  news/5427.internal
  news/5628.bugfix
  news/5647.bugfix
  news/5666.bugfix
  news/5681.bugfix
Due: none

Backports for 17.11.4 (#5698)
  cypress/tests/core/basic/linkIntegrityView.js
  news/5359.bugfix
  news/5427.internal
  news/5628.bugfix
  news/5647.bugfix
  news/5666.bugfix
  news/5681.bugfix
  packages/volto-slate/news/5668.bugfix
  packages/volto-slate/src/editor/config.jsx
  src/components/manage/LinksToItem/LinksToItem.jsx
  src/components/manage/LinksToItem/LinksToItem.test.jsx
  src/components/manage/Widgets/RecurrenceWidget/RecurrenceWidget.jsx
  src/components/manage/Widgets/RecurrenceWidget/RecurrenceWidget.test.jsx
  src/components/manage/Widgets/RecurrenceWidget/__snapshots__/RecurrenceWidget.test.jsx.snap
  src/server.jsx
  theme/themes/pastanaga/extras/blocks.less
Due: pnpm stylelint --fix

Release 17.11.4
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/5359.bugfix
  news/5427.internal
  news/5628.bugfix
  news/5647.bugfix
  news/5666.bugfix
  news/5681.bugfix
  package.json
  packages/volto-slate/package.json
  types/components/manage/LinksToItem/LinksToItem.d.ts
Due: none

Fixed wrong usage
  packages/volto/news/5678.documentation
  pnpm-lock.yaml
Due: none

Fixed redirect of https://tanstack.com/query/v4/docs/react/guides/ssr to https://tanstack.com/query/v4/docs/framework/react/guides/ssr
  docs/source/client/future-improvements.md
Due: none

Add change log entry
  packages/volto/news/5700.documentation
Due: none

Avoid hyperlinking for linkcheck by using inline literals
  packages/volto/news/5700.documentation
Due: none

Fixed redirect of https://tanstack.com/query/v4/docs/react/guides/ssr… (#5700)
  docs/source/client/future-improvements.md
  packages/volto/news/5700.documentation
Due: none

3716 - improve validation of id widget (#4686)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/3716.feature
  packages/volto/src/components/manage/Widgets/IdWidget.jsx
  packages/volto/src/components/manage/Widgets/IdWidget.stories.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/IdWidget.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Removed unmaintained and unused razzle-plugin-bundle-analyze (#5671)
  docs/source/addons/index.md
  packages/volto/news/5671.bugfix
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update Semantic UI React to version 2.1.5 (#5632)
  packages/volto/news/5632.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Fixed creation of both a slate block and a (proper) image block on pasting an image directly from the clipboard in a slate block
  packages/volto-slate/src/editor/plugins/Image/render.jsx
  packages/volto/news/5697.bugfix
  pnpm-lock.yaml
Due: none

Fixed typo and version mismatch in upgrade guide Volto 17
  docs/source/contributing/typescript.md
  docs/source/upgrade-guide/index.md
  packages/volto/news/5702.documentation
Due: none

fix: handle addons that have not been migrated to the new structure of po files
  packages/scripts/i18n.cjs
  pnpm-lock.yaml
Due: none

Create 5697.bugfix
  packages/volto-slate/news/5697.bugfix
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Delete packages/volto/news/5697.bugfix
  packages/volto/news/5697.bugfix
Due: none

changelog
  packages/scripts/news/5704.bugfix
Due: none

Remove lock file
  pnpm-lock.yaml
Due: none

fix: handle addons that have not been migrated to the new structure o… (#5704)
  packages/scripts/i18n.cjs
  packages/scripts/news/5704.bugfix
  pnpm-lock.yaml
Due: none

Release @plone/scripts 3.3.2
  packages/scripts/CHANGELOG.md
  packages/scripts/news/5704.bugfix
  packages/scripts/package.json
Due: none

Release 18.0.0-alpha.9
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/3716.feature
  packages/volto/news/5632.internal
  packages/volto/news/5671.bugfix
  packages/volto/news/5700.documentation
  packages/volto/package.json
  packages/volto/types/components/manage/Widgets/IdWidget.stories.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix: handle addons that have not been migrated to the new structure o… (#5704)
  news/5704.bugfix
  packages/scripts/i18n.cjs
Due: none

fix: handle addons that have not been migrated to the new structure (#5704) (#5705)
  news/5704.bugfix
  packages/scripts/i18n.cjs
Due: none

Upgrade to latest @plone/scripts ^3.3.2
  package.json
  packages/generator-volto/generators/addon/templates/package.json
  packages/generator-volto/generators/app/templates/package.json.tpl
  yarn.lock
Due: none

Translated using Weblate (Spanish)
  packages/volto/locales/es/LC_MESSAGES/volto.po
Due: none

Upgrade to latest @plone/scripts ^3.3.2 (#5706)
  package.json
  packages/generator-volto/generators/addon/templates/package.json
  packages/generator-volto/generators/app/templates/package.json.tpl
  yarn.lock
Due: none

Changelog
  news/5706.internal
Due: none

Update packages/volto/src/components/theme/AppExtras/AppExtras.test.jsx
  packages/volto/src/components/theme/AppExtras/AppExtras.test.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Release 17.11.5
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/5704.bugfix
  news/5706.internal
  package.json
  packages/volto-slate/package.json
Due: none

update tests
  packages/volto/src/components/theme/AppExtras/AppExtras.jsx
  packages/volto/src/components/theme/AppExtras/AppExtras.test.jsx
  packages/volto/src/components/theme/AppExtras/__snapshots__/AppExtras.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: using utility function
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: using utility functions
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Added functionality of openExternalLinkInNewTab
  packages/volto/src/components/manage/Blocks/Image/__snapshots__/ImageSidebar.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Image/schema.js
  packages/volto/src/components/manage/Controlpanels/AddonsControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/Relations/RelationsListing.jsx
  packages/volto/src/components/manage/Controlpanels/Relations/RelationsMatrix.jsx
  packages/volto/src/components/manage/Controlpanels/__snapshots__/AddonsControlpanel.test.jsx.snap
  packages/volto/src/components/manage/UniversalLink/UniversalLink.jsx
  packages/volto/src/components/manage/UniversalLink/__snapshots__/UniversalLink.test.jsx.snap
  packages/volto/src/components/theme/EventDetails/EventDetails.jsx
  packages/volto/src/components/theme/EventDetails/__snapshots__/EventDetails.test.jsx.snap
  packages/volto/src/components/theme/View/__snapshots__/EventView.test.jsx.snap
  packages/volto/src/components/theme/Widgets/__snapshots__/UrlWidget.test.js.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
