Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Refactor Personal Information (#5046)
  packages/volto/news/5046.feature
  packages/volto/src/components/manage/Preferences/PersonalInformation.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactor Personal Preferences (#5045)
  packages/volto/news/5045.feature
  packages/volto/src/components/manage/Preferences/PersonalPreferences.jsx
  packages/volto/src/components/manage/Preferences/PersonalPreferences.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: disable save button upon submitting - Volto 18 (#6252)
  packages/volto/news/6252.bugfix
  packages/volto/src/components/manage/Add/Add.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Actions storybook test (#5049)
  packages/volto/news/5049.feature
  src/components/manage/Actions/Actions.stories.jsx
Due: none

docker-compose -> docker compose
  Makefile
  g-api/README.md
  packages/generator-volto/Makefile
Due: none

Update news/6253.internal
  news/6253.internal
Due: none

Copy another test fix from the other branches (no idea why this one broke)
  cypress/tests/core/blocks/listing/blocks-listing-templates.js
Due: none

Bump actions/upload-artifact to v4 (#6253)
  .github/workflows/acceptance.yml
  Makefile
  cypress/tests/core/blocks/listing/blocks-listing-templates.js
  g-api/README.md
  news/6253.internal
  packages/generator-volto/Makefile
Due: none

fix: disable save button upon submitting (#6250)
  news/6250.bugfix
  src/components/manage/Add/Add.jsx
Due: none

Toast visible after password is updated
  packages/volto/src/components/manage/Preferences/ChangePassword.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update packages/volto/news/5093.feature
  packages/volto/news/5093.feature
Due: none

Update Url.js
  packages/volto/src/helpers/Url/Url.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix tests
  packages/volto/src/actions/vocabularies/vocabularies.js
  packages/volto/src/actions/vocabularies/vocabularies.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Adjust git diff command in i18n:ci check
  packages/volto/package.json
Due: none

don't show floor/ceiling dates
  packages/volto/src/components/manage/Contents/ContentsPropertiesModal.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactor search component
  packages/volto/src/components/theme/Search/Search.jsx
  packages/volto/src/components/theme/Search/__snapshots__/Search.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactor search component
  packages/volto/src/components/theme/Search/Search.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Allow enhancing the ContentsPropertiesModal schema (#6248)
  packages/volto/news/6248.feature
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/manage/Contents/ContentsPropertiesModal.jsx
  packages/volto/src/config/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Allow enhancing the ContentsPropertiesModal schema (#6248)
  news/6248.feature
  src/components/manage/Contents/Contents.jsx
  src/components/manage/Contents/ContentsPropertiesModal.jsx
  src/config/index.js
Due: none

16.x backport: Allow enhancing the ContentsPropertiesModal schema (#6248) (#6256)
  news/6248.feature
  src/components/manage/Contents/Contents.jsx
  src/components/manage/Contents/ContentsPropertiesModal.jsx
  src/config/index.js
Due: none

17.x backport: Allow enhancing the ContentsPropertiesModal schema (#6248)
  news/6248.feature
  src/components/manage/Contents/Contents.jsx
  src/components/manage/Contents/ContentsPropertiesModal.jsx
  src/config/index.js
Due: none

17.x backport: Allow enhancing the ContentsPropertiesModal schema (#6248) (#6257)
  news/6248.feature
  src/components/manage/Contents/Contents.jsx
  src/components/manage/Contents/ContentsPropertiesModal.jsx
  src/config/index.js
Due: none

Release 16.32.0
  CHANGELOG.md
  news/6248.feature
  package.json
  packages/volto-slate/package.json
Due: none

Fix edge case in ContentsPropertiesModal
  packages/volto/src/components/manage/Contents/Contents.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

changelog
  packages/volto/news/6258.bugfix
Due: none

Fix edge case in ContentsPropertiesModal (#6258)
  packages/volto/news/6258.bugfix
  packages/volto/src/components/manage/Contents/Contents.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix edge case in ContentsPropertiesModal (#6258)
  packages/volto/news/6258.bugfix
  src/components/manage/Contents/Contents.jsx
Due: none

Backport #6258
  src/components/manage/Contents/Contents.jsx
Due: none

fix tests
  packages/volto/src/config/NonContentRoutes.jsx
  packages/volto/src/config/PublicNonContentRoutes.jsx
  packages/volto/src/config/index.js
  packages/volto/src/helpers/Url/Url.js
  packages/volto/src/helpers/Url/Url.test.js
  packages/volto/test-setup-config.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update how-to.md
  docs/source/configuration/how-to.md
Due: none

fix: build_classnames in edit mode
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Create 625b.bugfix
  packages/volto/news/625b.bugfix
Due: none

Rename 625b.bugfix to 6259.bugfix
  packages/volto/news/6259.bugfix
Due: none

Update EditBlockWrapper.jsx
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Replaces filterControlPanelsSchema setting by unwantedControlPanelsFields
  docs/source/configuration/settings-reference.md
  packages/volto/news/4819.feature
  packages/volto/src/components/manage/Controlpanels/Controlpanel.jsx
  packages/volto/src/config/ControlPanels.js
  packages/volto/src/config/index.js
  packages/volto/test-setup-config.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Code review
  docs/source/configuration/settings-reference.md
Due: none

Keep configuration filterControlPanelsSchema
  docs/source/configuration/settings-reference.md
  packages/volto/news/4819.feature
  packages/volto/src/components/manage/Controlpanels/Controlpanel.jsx
  packages/volto/src/config/ControlPanels.js
  packages/volto/src/config/index.js
  packages/volto/test-setup-config.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix documentation according to code review
  docs/source/configuration/settings-reference.md
  packages/volto/news/4819.feature
Due: none

Cypress test for register component
  packages/volto/cypress/tests/core/basic/register.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

/news
  packages/volto/news/6261.internal
Due: none

Path conditions:
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm --filter @plone/volto stylelint --fix: (any of: packages/volto/**/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
