Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Changed Class based ModalForm to functional component
  packages/volto/src/components/manage/Form/ModalForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added Changelog
  packages/volto/news/news.internal
Due: none

Changed Class based ModalForm component to functional component-latest
  packages/volto/src/components/manage/Form/ModalForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Refactored the `FormFieldWrapper` widget by converting it from a class-based component to a modern functional component (#7672)
  packages/volto/news/7672.internal
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Hide date/time fields when whole_day or open_end is checked in Event form (#7662)
  packages/volto/cypress/tests/core/content/content.js
  packages/volto/news/3243.bugfix
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changed ChangeLog file name
  packages/volto/news/7685.internal
Due: none

Update 7685.internal
  packages/volto/news/7685.internal
Due: none

Changed Class Based Search Component to functional Component
  packages/volto/news/news.internal
  packages/volto/src/components/theme/Search/Search.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix the maximum upload file size issue
  packages/volto/src/components/manage/Contents/DropZoneContent.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changed name of ChangeLog
  packages/volto/news/7686.internal
Due: none

add changelog
  packages/volto/news/7687.feature
Due: none

fix vitest
  packages/volto/src/components/manage/Contents/__snapshots__/Contents.test.jsx.snap
  packages/volto/src/config/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: prevent crashes and remove restrictions for unsupported languages in UI and routing
  packages/volto/src/components/manage/Toolbar/Types.jsx
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.tsx
  packages/volto/src/components/theme/MultilingualRedirector/MultilingualRedirector.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

refactor:fix related tests
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Render NotFound component in Controlpanel when no content is available
  packages/volto/src/components/manage/Controlpanels/Controlpanel.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add german translations for current path and parent path.
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/news/+translations.internal
Due: none

Fix null errors in form
  src/components/manage/Form/Form.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add changelog
  news/7691.bugfix
Due: none

Fix ObjectBrowser behavior to match Cypress tests for input interactions
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Set maxFileUploadSize to null
  packages/volto/src/config/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: show only error message in toast instead of stringified JSON
  packages/volto/src/components/manage/Controlpanels/ContentTypeSchema.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

adding changelog entry
  packages/volto/news/7692.bugfix
Due: none

fix:remove redundant conditions, console logs, and unnecessary root handling
  packages/volto/src/components/manage/Toolbar/Types.jsx
  packages/volto/src/components/theme/MultilingualRedirector/MultilingualRedirector.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Structure MultilingualRedirector useEffect with explicit if/else for initialization
  packages/volto/src/components/manage/Toolbar/Types.jsx
  packages/volto/src/components/theme/MultilingualRedirector/MultilingualRedirector.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove references to @plone/providers and @plone/helpers packages that don't exist in Volto 18 branch
  .github/workflows/unit.yml
  Makefile
  PACKAGES.md
  README.md
  package.json
  packages/volto/README.md
  packages/volto/razzle.config.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add changes
  packages/volto/news/7693.internal
Due: none

Fix for listing block fail
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.jsx
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

docs: Add Volto 19 documentation for add-on development
  docs/source/development/add-ons/index.md
  docs/source/development/add-ons/install-an-add-on.md
  docs/source/upgrade-guide/index.md
Due: none

adding-changelog-and-other-files
  docs/source/development/add-ons/create-an-add-on-19.md
  docs/source/development/add-ons/install-an-add-on-dev-19.md
  packages/volto/news/7694.documentation
Due: none

fixes
  docs/source/development/add-ons/create-an-add-on-19.md
  docs/source/development/add-ons/install-an-add-on-dev-19.md
Due: none

fix the maxfileSizeIssue in drag & drop
  packages/volto/src/components/manage/Contents/DropZoneContent.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

changelog
  packages/volto/news/7695.bugfix
Due: none

fix the maxfileSizeIssue in drag & drop (#7695)
  packages/volto/news/7695.bugfix
  packages/volto/src/components/manage/Contents/DropZoneContent.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

update-18-docs
  docs/source/development/add-ons/create-an-add-on-18.md
  docs/source/development/add-ons/create-an-add-on-19.md
  docs/source/development/add-ons/index.md
  docs/source/development/add-ons/install-an-add-on-dev-18.md
  docs/source/development/add-ons/install-an-add-on-dev-19.md
  docs/source/development/add-ons/install-an-add-on.md
  docs/source/upgrade-guide/index.md
Due: none

fix-coresanbox issue
  packages/volto/cypress/tests/coresandbox/formFieldTypeValidation.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

final-fix
  packages/volto/cypress/tests/coresandbox/formFieldTypeValidation.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed dependecies of dosearch function
  packages/volto/src/components/theme/Search/Search.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Refactor PasswordReset to functional component
  packages/volto/news/news.internal
  packages/volto/src/components/theme/PasswordReset/PasswordReset.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

changed changlog file name
  packages/volto/news/7697.internal
Due: none

Refactor Edit.jsx to functional component
  packages/volto/src/components/manage/Blocks/HTML/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n
