Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Fix random failure in test cypress blocks-table.js
  packages/volto/cypress/tests/core/blocks/blocks-table.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add changes
  packages/volto/news/8345.internal
Due: none

Added more resilience to the API and Robots helper methods (#8344)
  news/+APIandRobotsHelpersResilience.bugfix
  src/helpers/Api/Api.js
  src/helpers/Robots/Robots.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release 16.34.2
  CHANGELOG.md
  news/+APIandRobotsHelpersResilience.bugfix
  news/7421.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

Fix random failure in test cypress blocks-table.js (#8345)
  packages/volto/cypress/tests/core/blocks/blocks-table.js
  packages/volto/news/8345.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix random failure in test cypress blocks-table.js (#8346)
  packages/volto/cypress/tests/core/blocks/blocks-table.js
  packages/volto/news/8345.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

New-changes
  packages/volto/news/7699.internal
  packages/volto/src/components/manage/Blocks/HTML/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: news item
  packages/volto/news/8350.bugfix
Due: none

fix: removed redundant depth field from querystring search
  packages/volto/src/components/manage/Widgets/QuerystringWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove RTD PR preview build workflow
  .github/workflows/docs-rtd-pr-preview-volto.yml
Due: none

change log
  packages/volto/news/+remove-rtd-pr-preview.internal
Due: none

Remove RTD PR preview build workflow (#8352)
  .github/workflows/docs-rtd-pr-preview-volto.yml
  packages/volto/news/+remove-rtd-pr-preview.internal
Due: none

fix: check to preserve or overwrite previous depth value
  packages/volto/src/actions/querystringsearch/querystringsearch.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: Backspace behaving erratically near a styled or link text
  packages/volto-slate/news/8347.bugfix
  packages/volto-slate/src/utils/selection.js
  packages/volto-slate/src/utils/selection.test.js
  packages/volto/cypress/tests/core/blocks/blocks-slate-backspace.js
  packages/volto/news/8347.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: reorder test steps — convert to list before adding link
  packages/volto/cypress/tests/core/blocks/blocks-slate-backspace.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

removed not used code
  packages/volto/src/actions/users/users.js
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
  packages/volto/src/components/manage/Form/ModalForm.jsx
  packages/volto/src/constants/ActionTypes.js
  packages/volto/src/helpers/MessageLabels/MessageLabels.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: acceptance tests
  packages/volto/src/actions/querystringsearch/querystringsearch.test.js
  packages/volto/src/components/manage/Widgets/QuerystringWidget.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: refactoring adding type button and remove preventDefault and stopPropagation
  packages/volto-slate/src/blocks/Table/TableBlockEdit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: cursor position invalid after merging same-type blocks via Backspace
  packages/volto-slate/news/8347.cursor-fix.bugfix
  packages/volto-slate/src/utils/volto-blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Cosmetics
  packages/volto-slate/news/8347.bugfix
  packages/volto-slate/news/8347.cursor-fix.bugfix
  packages/volto-slate/src/utils/volto-blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: updated snapshot
  packages/volto/src/components/manage/Widgets/__snapshots__/QuerystringWidget.test.jsx.snap
Due: none

Update packages/volto/news/7850.bugfix
  packages/volto/news/7850.bugfix
Due: none

added change log entry
  packages/volto-slate/news/8330.bugfix
Due: none

correct change log entry name
  packages/volto-slate/news/8329.bugfix
Due: none

fixed change log entry
  packages/volto-slate/news/8330.bugfix
Due: none

fixed change log entry
  packages/volto-slate/news/8329.bugfix
Due: none

Prevent form submission when adding rows/columns in table block (#8330)
  packages/volto-slate/news/8330.bugfix
  packages/volto-slate/src/blocks/Table/TableBlockEdit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Prevent form submission when adding rows/columns in table block (#8329)
  packages/volto-slate/news/8329.bugfix
  packages/volto-slate/src/blocks/Table/TableBlockEdit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/types 1.6.3
  packages/types/CHANGELOG.md
  packages/types/news/+dep-release-it.internal
  packages/types/package.json
Due: none
