Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Provide superpowers to the `Container` component
  packages/components/src/components/Container/Container.tsx
  packages/components/src/components/helpers.tsx
Due: none

Changelog
  packages/components/news/5848.breaking
Due: none

Remove bad BBB
  packages/volto-slate/src/index.js
Due: none

remove count.count and count_criteria
  packages/volto/src/components/manage/Blocks/Search/components/CheckboxFacet.jsx
  packages/volto/src/components/manage/Blocks/Search/components/Facets.jsx
  packages/volto/src/components/manage/Blocks/Search/components/SelectFacet.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

[components] Provide superpowers to the `Container` component (#5848)
  packages/components/news/5848.breaking
  packages/components/src/components/Container/Container.tsx
  packages/components/src/components/helpers.tsx
Due: none

Release @plone/components 2.0.0-alpha.6
  packages/components/CHANGELOG.md
  packages/components/news/5848.breaking
  packages/components/package.json
Due: none

Fix multilingual redirector. (#5847)
  news/5628.bugfix
  src/server.jsx
Due: none

Release 16.31.3
  CHANGELOG.md
  news/5628.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

Prepare for release @plone/volto-testing
  packages/volto-testing/.release-it.json
  packages/volto-testing/CHANGELOG.md
  packages/volto-testing/package.json
  pnpm-lock.yaml
Due: none

Release @plone/volto-testing 5.0.0-alpha.0
  packages/volto-testing/CHANGELOG.md
  packages/volto-testing/news/5845.internal
  packages/volto-testing/package.json
Due: none

Add container CSS to the build, fixes.
  packages/components/src/styles/basic/Container.css
  packages/components/src/styles/basic/main.css
Due: pnpm stylelint --fix

Fix CSS around
  .stylelintignore
  package.json
  packages/volto-slate/.stylelintrc
  packages/volto-slate/src/editor/less/editor.less
  packages/volto-slate/src/editor/less/slate.less
Due: pnpm stylelint --fix

Changelog
  packages/components/news/5849.bugfix
  packages/volto-slate/news/5849.internal
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
Due: none

Add label
  docs/source/upgrade-guide/index.md
Due: none

show facet that have info from querystring-search
  packages/volto/src/components/manage/Blocks/Search/components/Facets.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix the introduction of a mutable (referenced) object when assigning the default inner `blocksConfig` object for the `grid` block, pass by value instead.
  packages/volto/src/config/Blocks.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/5850.bugfix
Due: none

Fix the introduction of a mutable (referenced) object when assigning … (#5850)
  packages/volto/news/5850.bugfix
  packages/volto/src/config/Blocks.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix the introduction of a mutable (referenced) object when assigning … (#5850)
  packages/volto/news/5850.bugfix
  src/config/Blocks.jsx
Due: none

Changelog
  news/5850.bugfix
Due: none

Fix the introduction of a mutable (referenced) object when assigning the default inner blocksConfig object for the grid block, pass by value instead (#5850) (#5851)
  news/5850.bugfix
  src/config/Blocks.jsx
Due: none

Release 17.15.4
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/5850.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

Update pnpm-lock.yaml
  packages/volto/news/5852.internal
  pnpm-lock.yaml
Due: none

Acceptance tests of prefixed site in Node 20.x
  .github/workflows/acceptance.yml
Due: none

Do not display options for Site Administrator to create, modify, or delete Manager users (#5244)
  packages/volto/cypress/tests/core/controlpanels/groups-controlpanel.js
  packages/volto/news/5244.feature
  packages/volto/src/components/manage/Controlpanels/Groups/GroupsControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/Groups/GroupsControlpanel.test.jsx
  packages/volto/src/components/manage/Controlpanels/Groups/RenderGroups.jsx
  packages/volto/src/components/manage/Controlpanels/Groups/RenderGroups.test.jsx
  packages/volto/src/components/manage/Controlpanels/Groups/__snapshots__/RenderGroups.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/Users/RenderUsers.jsx
  packages/volto/src/components/manage/Controlpanels/Users/RenderUsers.test.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UserGroupMembershipListing.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.test.jsx
  packages/volto/src/components/manage/Controlpanels/Users/__snapshots__/RenderUsers.test.jsx.snap
  packages/volto/src/helpers/User/User.js
  packages/volto/src/helpers/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update github actions versions
  .github/workflows/acceptance.yml
Due: none

[components] Container css (#5849)
  .stylelintignore
  package.json
  packages/components/news/5849.bugfix
  packages/components/src/styles/basic/Container.css
  packages/components/src/styles/basic/main.css
  packages/volto-slate/.stylelintrc
  packages/volto-slate/news/5849.internal
  packages/volto-slate/src/editor/less/editor.less
  packages/volto-slate/src/editor/less/slate.less
Due: pnpm stylelint --fix

Update link to cssnano docs
  docs/source/deploying/performance.md
Due: none

change log
  packages/volto/news/5853.documentation
Due: none

Force install Cypress
  .github/workflows/acceptance.yml
Due: none

Update link to cssnano docs (#5853)
  docs/source/deploying/performance.md
  packages/volto/news/5853.documentation
Due: none

Restore condition to install Cypress
  .github/workflows/acceptance.yml
Due: none

The proper name is Semantic UI
  docs/source/addons/theme.md
  docs/source/development/folder-structure.md
  docs/source/release-notes/index.md
  docs/source/upgrade-guide/index.md
  packages/volto/CHANGELOG.md
Due: none

change log
  packages/volto/news/5855.documentation
Due: none

The proper name is Semantic UI (#5855)
  docs/source/addons/theme.md
  docs/source/development/folder-structure.md
  docs/source/release-notes/index.md
  docs/source/upgrade-guide/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/5855.documentation
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

change criteria to mandatory
  packages/volto/src/components/manage/Blocks/Search/hocs/withSearch.jsx
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

change criteria to mandatory
  pnpm-lock.yaml
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
