Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

news item
  packages/cmsui/news/7143.feature
Due: none

lint
  packages/cmsui/config/widgets.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Allow access to the seven block id from an editor handler
  packages/cmsui/routes/edit.tsx
  packages/editor/components/editor/get-seven-block-id-from-handler.ts
  packages/editor/components/editor/plate-editor.tsx
  packages/editor/components/editor/use-create-editor.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feat: add new SVG icons for narrow and wide images
  packages/components/src/icons/image-narrow.svg
  packages/components/src/icons/image-wide.svg
Due: none

added poc scripts
  .gitignore
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

Update packages/volto/news/7146.bugfix
  packages/volto/news/7146.bugfix
Due: none

Corrected comments in a code block in
  docs/source/blocks/examples/custom-view-variations-and-schema-enhancer.md
Due: none

Correct and format code, format list item
  docs/source/deploying/sentry.md
Due: none

Git is capitalized
  docs/source/_inc/_install-git.md
Due: none

Git is capitalized (#7156)
  docs/source/_inc/_install-git.md
Due: none

Correct Markdown issue, correct wrong term in
  docs/source/user-manual/blocks.md
Due: none

revert config
  apps/seven/app/config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Corrected typo in blocks/editcomponent docs
  docs/source/blocks/editcomponent.md
  docs/source/deploying/sentry.md
Due: none

feat: delete action
  packages/contents/components/ContentsActions.tsx
  packages/contents/components/DeleteModal.tsx
  packages/contents/index.ts
  packages/contents/providers/contents.tsx
  packages/contents/routes/contents.tsx
  packages/contents/routes/delete.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Clarification in development/add-ons/test-add-ons-18 docs
  docs/source/development/add-ons/test-add-ons-18.md
Due: none

Added cmsui @search loader (#7143)
  packages/cmsui/index.ts
  packages/cmsui/news/7143.feature
  packages/cmsui/package.json
  packages/cmsui/routes/search.test.tsx
  packages/cmsui/routes/search.tsx
  packages/cmsui/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feat: add custom drag layer for enhanced drag-and-drop experience in editor
  packages/editor/components/editor/custom-drag-layer.tsx
  packages/editor/components/editor/plate-editor.tsx
  packages/editor/components/plate-ui/draggable.tsx
  packages/editor/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: changelog
  packages/editor/news/7158.feature
Due: none

wip
  packages/cmsui/components/RecurrenceWidget/Components/ByDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByMonthDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByMonthField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByWeekdayOfTheMonth.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByWeekdayOfTheMonthIndex.tsx
  packages/cmsui/components/RecurrenceWidget/Components/IntervalField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/MonthOfTheYearField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/RadioOptionsField.tsx
  packages/cmsui/components/RecurrenceWidget/RecurrenceWidget.tsx
  packages/cmsui/components/RecurrenceWidget/utils.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

create special routes
  apps/seven/app/root.tsx
  packages/cmsui/locales/en/common.json
  packages/cmsui/routes/connection-refused.tsx
  packages/cmsui/routes/forbidden.tsx
  packages/cmsui/routes/notfound.tsx
  packages/cmsui/routes/unauthorized.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update README.md per awesome-volto updats
  README.md
Due: none

Added some of the missing languagemap languages (#7146)
  packages/volto/news/7146.bugfix
  packages/volto/src/helpers/LanguageMap/LanguageMap.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feat: delete action and trying handle errors with toast
  packages/components/package.json
  packages/contents/components/AddContentPopover/AddContentPopover.css
  packages/contents/components/AddContentPopover/AddContentPopover.tsx
  packages/contents/components/ContentsActions/ContentsActions.css
  packages/contents/components/ContentsActions/ContentsActions.tsx
  packages/contents/components/ContentsCell/ContentsCell.tsx
  packages/contents/components/ContentsTable/ContentsTable.css
  packages/contents/components/ContentsTable/ContentsTable.tsx
  packages/contents/components/DeleteModal/DeleteModal.tsx
  packages/contents/components/ErrorToast/ErrorToast.tsx
  packages/contents/components/ItemActionsPopover/ItemActionsPopover.css
  packages/contents/components/ItemActionsPopover/ItemActionsPopover.tsx
  packages/contents/components/RearrangePopover/RearrangePopover.css
  packages/contents/components/RearrangePopover/RearrangePopover.tsx
  packages/contents/components/TableIndexesPopover/TableIndexesPopover.tsx
  packages/contents/providers/contents.tsx
  packages/contents/routes/contents.tsx
  packages/contents/routes/delete.tsx
  packages/contents/routes/layout.tsx
  packages/contents/styles/main.css
  packages/contents/types.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Update docs/source/configuration/internalproxy.md
  docs/source/configuration/internalproxy.md
Due: none

Fix SitemapProps
  packages/components/src/components/Sitemap/Sitemap.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

sitemap interfaces
  packages/components/src/components/Sitemap/Sitemap.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Move slot renderer header and footer to publicui layout
  packages/layout/components/App.tsx
  packages/publicui/index.ts
  packages/publicui/routes/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

seven sitemap route
  apps/seven/app/root.tsx
  packages/components/src/components/Sitemap/Sitemap.tsx
  packages/components/src/index.ts
  packages/layout/styles/main.css
  packages/publicui/index.ts
  packages/publicui/locales/en/common.json
  packages/publicui/locales/it/common.json
  packages/publicui/package.json
  packages/publicui/routes/sitemap.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Create 6695.feature
  apps/seven/news/6695.feature
Due: none

Update Sitemap.tsx
  packages/components/src/components/Sitemap/Sitemap.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update docs/source/configuration/settings-reference.md
  docs/source/configuration/settings-reference.md
Due: none

changelog
  packages/components/news/6695.feature
  packages/layout/news/6695.feature
  packages/publicui/news/6695.feature
Due: none

Update docs/source/development/overview.md
  docs/source/development/overview.md
Due: none

wip
  packages/cmsui/components/RecurrenceWidget/Components/ByDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByMonthDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/CountEndField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/IntervalField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/RadioOptionsField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/UntilEndField.tsx
  packages/cmsui/components/RecurrenceWidget/RecurrenceWidget.tsx
  packages/cmsui/components/RecurrenceWidget/utils.ts
  packages/cmsui/config/widgets.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

wip: styling and navigation feature
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidget.stories.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidget.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidgetBody.tsx
  packages/cmsui/components/ObjectBrowserWidget/utils.ts
  packages/cmsui/index.ts
  packages/cmsui/routes/edit.tsx
  packages/cmsui/routes/search.tsx
  packages/components/src/tailwind/Breadcrumbs/Breadcrumbs.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

wip: styling and navigation feature
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserNavigationContext.tsx
  packages/cmsui/routes/breadcrumbs.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

wip
  packages/blocks/Teaser/Edit.tsx
  packages/editor/components/EditBlock/EditBlockWrapper.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
