Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Release @plone/types 1.0.0-alpha.6
  packages/types/CHANGELOG.md
  packages/types/news/5846.internal
  packages/types/package.json
Due: none

Release generate-volto 9.0.0-alpha.11
  packages/generator-volto/CHANGELOG.md
  packages/generator-volto/news/5844.bugfix
  packages/generator-volto/news/5870.bugfix
  packages/generator-volto/package.json
Due: none

Release @plone/slate 18.0.0-alpha.10
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/5846.breaking
  packages/volto-slate/news/5849.internal
  packages/volto-slate/news/5859.bugfix
  packages/volto-slate/package.json
Due: none

Release @plone/components 2.0.0-alpha.7
  packages/components/CHANGELOG.md
  packages/components/news/5846.internal
  packages/components/news/5849.bugfix
  packages/components/package.json
Due: none

Release 18.0.0-alpha.19
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/5244.feature
  packages/volto/news/5262.bugfix
  packages/volto/news/5844.bugfix
  packages/volto/news/5845.internal
  packages/volto/news/5846.breaking
  packages/volto/news/5850.bugfix
  packages/volto/news/5853.documentation
  packages/volto/news/5854.documentation
  packages/volto/news/5855.documentation
  packages/volto/news/5857.documentation
  packages/volto/news/5859.bugfix
  packages/volto/news/5861.documentation
  packages/volto/news/5871.documentation
  packages/volto/package.json
  packages/volto/types/components/index.d.ts
  packages/volto/types/config/Blocks.d.ts
  packages/volto/types/config/Loadables.d.ts
  packages/volto/types/config/Widgets.d.ts
  packages/volto/types/helpers/User/User.d.ts
  packages/volto/types/helpers/index.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

(Fix): Sorting Order and Sorting On are not working in Search Block edit mode (#5262)
  cypress/tests/core/blocks/blocks-search.js
  packages/volto/news/5262.bugfix
  src/components/manage/Blocks/Search/SearchBlockEdit.jsx
  src/components/manage/Blocks/Search/hocs/withSearch.jsx
Due: none

Add BBB code for removed WysiwygWidget
  packages/volto/src/components/manage/Widgets/WysiwygWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/5874.bugfix
Due: none

Add BBB code for removed WysiwygWidget (#5874)
  packages/volto/news/5874.bugfix
  packages/volto/src/components/manage/Widgets/WysiwygWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Todo
  packages/types/src/blocks/index.d.ts
Due: none

Release 18.0.0-alpha.20
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/5874.bugfix
  packages/volto/package.json
  packages/volto/types/components/manage/Widgets/WysiwygWidget.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Widgets definitions
  packages/types/src/config/Blocks.d.ts
  packages/types/src/config/Widgets.d.ts
Due: none

Fix Link to Item and Aliases view not updating content in multilingua… (#5821)
  packages/volto/news/5820.bugfix
  src/components/manage/Aliases/Aliases.jsx
  src/components/manage/LinksToItem/LinksToItem.jsx
Due: none

fix cy tests
  cypress/tests/core/blocks/blocks-search.js
Due: none

Add dependencies syncronizer utility
  apps/plone/package.json
  packages/scripts/depsSync.js
  packages/scripts/deps_sync.js
  packages/scripts/package.json
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

feat: added download link to filename in file widget
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

allow passing options to the ContentsUploadModal, in order to use it elsewhere
  packages/volto/src/components/manage/Contents/ContentsUploadModal.jsx
  packages/volto/src/components/manage/Contents/ContentsUploadModal.test.jsx
  packages/volto/src/components/manage/Contents/__snapshots__/ContentsUploadModal.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

changelog
  packages/volto/news/5881.feature
Due: none

Remove use asyncPropExtenders for /controlpanel route when prefixed
  packages/volto/src/config/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

remove custom onDrop, it requires further testing
  packages/volto/src/components/manage/Contents/ContentsUploadModal.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add deps and devdeps to generator
  packages/generator-volto/generators/app/index.js
  packages/generator-volto/generators/app/templates/package.json.tpl
  packages/generator-volto/generators/app/utils.js
  packages/scripts/deps_sync.js
Due: none

chore: added changelog entry
  packages/volto/news/5880.feature
Due: none

chore: added updated snapshot for testing
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
Due: none

Fix tests
  packages/generator-volto/__tests__/test_app.js
Due: none

Remove infamous package.json.tpl
  packages/generator-volto/generators/app/index.js
Due: none

Add routes with prefix path
  packages/volto/src/routes.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Test core basic with prefixed site
  .github/workflows/acceptance.yml
  packages/volto/cypress/tests/core/basic/actions.js
  packages/volto/cypress/tests/core/basic/deleteItemModal.js
  packages/volto/cypress/tests/core/basic/folder-contents.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

update SelectWidget.test.jsx.snap to fix tests
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
Due: none

Fix the size of Select Menu in SelectWidget to prevent users from having to scroll both the main modal and dropdown menu to view the field choices (#4058).
  packages/volto/news/4058.bugfix
  packages/volto/src/components/manage/Widgets/SelectStyling.jsx
  packages/volto/src/components/manage/Widgets/SelectWidget.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

removed menuPortalTarget and Added maxMenuHeight prop
  packages/volto/src/components/manage/Widgets/SelectWidget.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Updated linting docs with info on how to test linting on Volto core
  docs/source/contributing/linting.md
  packages/volto/news/5341.documentation
Due: none

Fix use case with . in volto options
  packages/generator-volto/generators/app/index.js
Due: none

Changelog
  packages/generator-volto/news/5879.feature
Due: none

Docs
  packages/scripts/README.md
  packages/scripts/deps_sync.js
Due: none

Update script, add missing clog, cleanup
  apps/plone/package.json
  packages/generator-volto/news/5879.feature
  packages/scripts/deps_sync.js
  packages/scripts/news/5879.feature
Due: none

Changelog
  packages/volto/news/5879.breaking
Due: none

Renamed fixtures to specs or tests and provided more info on steps needed to run the cypress tests
  docs/source/contributing/acceptance-tests.md
Due: none

Test core content with prefixed site
  .github/workflows/acceptance.yml
  packages/volto/cypress/tests/core/content/content.js
  packages/volto/cypress/tests/core/content/createContent.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Updated testing docs with info on how to run locally the test commands
  docs/source/contributing/testing.md
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
