Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

switch to description list for event details (#6708)
  packages/layout/components/EventDate/EventDate.tsx
  packages/layout/components/EventDetails/EventDetails.tsx
  packages/layout/styles/views/event.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

added missing German translations (#6708)
  packages/layout/locales/de/common.json
Due: none

handle missing blocks in event view (#6708)
  packages/layout/styles/views/event.css
  packages/layout/views/EventView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

[Seven] Fixed icon docs (#7521)
  apps/seven/news/+fixedIconDocs.documentation
  docs/how-to-guides/icons.md
Due: none

potentially fix rrule import (#6708)
  packages/layout/components/EventDetails/EventDetails.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

added missing news (#6708)
  packages/layout/news/6708.feature
  packages/types/news/6708.feature
Due: none

Missed update slate libraries in volto package itself (#7482)
  packages/volto/news/7482.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update slate to latest (#7477)
  packages/volto-slate/news/7477.internal
  packages/volto-slate/package.json
  packages/volto-slate/src/editor/SlateEditor.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Keeps the query-string version
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Synchronizes versions of Volto dependencies with other packages in the monorepo
  packages/volto/news/7184.feature
  packages/volto/package.json
  packages/volto/src/actions/users/users.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update query-string dependency version to 7.1.3 in Volto and @plone/client
  packages/client/package.json
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Convert UsersControlpanel component from class to functional with hooks
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Uses hooks instead of compose
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changes
  packages/volto/news/7450.feature
Due: none

Implement props destructuring in UsersControlpanel for cleaner code
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Use immer 10.1.3 (#7359)
  package.json
  packages/volto/news/7359.internal
  pnpm-lock.yaml
Due: none

Don't add CORS policy to dev server
  packages/volto/Makefile
Due: none

Match other image paths when they have a prefix
  packages/volto/src/express-middleware/images.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Apply suggestions from code review
  docs/source/deploying/prefix-path.md
  packages/volto/news/+subpath.feature
  packages/volto/news/6976.feature
  packages/volto/news/7326.feature
  packages/volto/razzle.config.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

rename prefixPath to subpath
  docs/source/deploying/index.md
  docs/source/deploying/subpath.md
  packages/volto/razzle.config.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: added the class .visually-hidden as breaking change
  docs/source/upgrade-guide/index.md
Due: none

fix(search): only convert sort_order for date fields to prevent breaking contents and other search functionality
  packages/volto/src/actions/search/search.js
  packages/volto/src/components/theme/Search/Search.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

added i18n for event date (#6708)
  packages/layout/components/EventDate/EventDate.tsx
  packages/layout/locales/de/common.json
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(search): only convert sort_order for exact date fields (effective/created/modified) to preserve folder contents functionality
  packages/volto/src/actions/search/search.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

switch to camel case for i18n (#6708)
  packages/layout/components/EventDate/EventDate.tsx
  packages/layout/components/EventDetails/EventDetails.tsx
  packages/layout/locales/de/common.json
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(search): only convert sort_order for 'effective' field to prevent breaking folder contents date sorting
  packages/volto/src/actions/search/search.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/types 2.0.0-alpha.6
  packages/types/CHANGELOG.md
  packages/types/news/7429.bugfix
  packages/types/package.json
Due: none

Release @plone/registry 3.0.0-alpha.6
  packages/registry/CHANGELOG.md
  packages/registry/news/7426.breaking
  packages/registry/package.json
Due: none

Release @plone/scripts 4.0.0-alpha.3
  packages/scripts/CHANGELOG.md
  packages/scripts/news/7435.internal
  packages/scripts/news/7476.bugfix
  packages/scripts/package.json
Due: none

Release @plone/slate 19.0.0-alpha.6
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/7373.bugfix
  packages/volto-slate/news/7477.internal
  packages/volto-slate/package.json
Due: none

Release 19.0.0-alpha.7
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+button.bugfix
  packages/volto/news/+linkcheck.internal
  packages/volto/news/+reset.fieldset.invisible.bugfix
  packages/volto/news/+usePlone6.1.3.internal
  packages/volto/news/7239.breaking
  packages/volto/news/7317.bugfix
  packages/volto/news/7373.internal
  packages/volto/news/7414.bugfix
  packages/volto/news/7424.bugfix
  packages/volto/news/7430.documentation
  packages/volto/news/7433.bugfix
  packages/volto/news/7446.documentation
  packages/volto/news/7476.bugfix
  packages/volto/news/7478.bugfix
  packages/volto/news/7481.feature
  packages/volto/news/7482.internal
  packages/volto/news/7503.internal
  packages/volto/news/7506.internal
  packages/volto/news/7507.internal
  packages/volto/news/7508.feature
  packages/volto/news/7509.breaking
  packages/volto/package.json
  packages/volto/types/helpers/Content/withClientSideContent.d.ts
  packages/volto/types/helpers/MessageLabels/MessageLabels.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

added authentication check for conditional HeaderTool links (#6710)
  apps/seven/app/root.tsx
  packages/layout/slots/Tools.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Refactor LanguageSelector into TypeScript
  packages/types/src/content/common.d.ts
  packages/volto/package.json
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.jsx
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.test.tsx
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.tsx
  packages/volto/src/components/theme/LanguageSelector/__snapshots__/LanguageSelector.test.tsx.snap
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Updated @plone/volto tsconfig
  packages/volto/tsconfig.json
  packages/volto/types/components/theme/LanguageSelector/LanguageSelector.d.ts
  packages/volto/types/reducers/index.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/types/news/7531.feature
  packages/volto/news/7531.feature
  packages/volto/news/7531.internal
Due: none

Re-enable scripts pnpm build
  package.json
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Changelog
  packages/volto/news/7532.internal
Due: none

removed side file of why
  packages/volto/package-why.json
Due: none

refactor: rename prefixPath to subpathPrefix
  packages/volto/src/components/theme/Image/Image.jsx
  packages/volto/src/config/index.js
  packages/volto/src/helpers/Api/APIResourceWithAuth.js
  packages/volto/src/helpers/Api/Api.js
  packages/volto/src/helpers/Html/Html.jsx
  packages/volto/src/helpers/Url/Url.js
  packages/volto/src/helpers/Url/Url.test.js
  packages/volto/src/server.jsx
  packages/volto/src/start-client.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

rename remaining prefixpath vars
  .github/workflows/acceptance.yml
  docs/source/deploying/subpath.md
  packages/volto/Makefile
  packages/volto/cypress/tests/core/basic/actions.js
  packages/volto/cypress/tests/core/basic/deleteItemModal.js
  packages/volto/cypress/tests/core/basic/folder-contents.js
  packages/volto/cypress/tests/core/blocks/block-anchors.js
  packages/volto/cypress/tests/core/blocks/blocks-search.js
  packages/volto/cypress/tests/core/blocks/listing/blocks-listing.js
  packages/volto/cypress/tests/core/content/content.js
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-layout.js
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-schema.js
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel.js
  packages/volto/news/+subpath.feature
  packages/volto/razzle.config.js
  packages/volto/src/components/manage/Blocks/Listing/ImageGallery.jsx
  packages/volto/src/config/index.js
  packages/volto/src/express-middleware/devproxy.js
  packages/volto/src/helpers/AsyncConnect/ssr.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n
