Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Release @plone/registry 2.7.3
  packages/registry/CHANGELOG.md
  packages/registry/news/+dep-release-it.internal
  packages/registry/package.json
Due: none

Release @plone/scripts 3.10.7
  packages/scripts/CHANGELOG.md
  packages/scripts/news/+dep-release-it.internal
  packages/scripts/package.json
Due: none

Release generate-volto 9.0.5
  packages/generator-volto/CHANGELOG.md
  packages/generator-volto/news/+dep-release-it.internal
  packages/generator-volto/package.json
Due: none

Release @plone/slate 18.10.1
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/+dep-release-it.internal
  packages/volto-slate/news/+dep-uuid.internal
  packages/volto-slate/news/+fixedreduxmockstore.bugfix
  packages/volto-slate/news/8294.internal
  packages/volto-slate/news/8329.bugfix
  packages/volto-slate/package.json
Due: none

Fixed popover placement in modals for @plone/components Select
  packages/components/src/components/Select/Select.stories.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/components/quanta/Select/Select.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/components/news/8359.bugfix
Due: none

Prevent browser default behavior on file drop in dropzone (#8229)
  packages/volto/news/8228.bugfix
  packages/volto/src/components/manage/Contents/DropZoneContent.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fixed popover placement in modals for `@plone/components` `Select` (#8359)
  packages/components/news/8359.bugfix
  packages/components/src/components/Select/Select.stories.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/components/quanta/Select/Select.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/components 4.2.1
  packages/components/CHANGELOG.md
  packages/components/news/8359.bugfix
  packages/components/package.json
Due: none

Release @plone/volto-slate 19.0.3
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/8330.bugfix
  packages/volto-slate/package.json
Due: none

Release 19.1.5
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+remove-rtd-pr-preview.internal
  packages/volto/news/8045.documentation
  packages/volto/news/8314.bugfix
  packages/volto/news/8315.bugfix
  packages/volto/news/8339.internal
  packages/volto/news/8345.internal
  packages/volto/news/8350.bugfix
  packages/volto/package.json
  packages/volto/types/components/manage/Widgets/QuerystringWidget.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: simplify firstLeafPath and use Path.equals
  packages/volto-slate/src/utils/selection.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add changes
  packages/volto/news/8362.feature
Due: none

Use navroot to render the sitemap (#5503)
  docs/source/configuration/settings-reference.md
  packages/volto/news/5503.feature
  packages/volto/src/components/theme/Sitemap/Sitemap.jsx
  packages/volto/src/components/theme/Sitemap/Sitemap.test.jsx
  packages/volto/src/config/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Use Plone 6.2.1
  variables.mk
Due: none

Add changes
  packages/volto/news/8364.internal
Due: none

Use navroot to render the sitemap (#8363)
  docs/source/configuration/settings-reference.md
  packages/volto/news/5503.feature
  packages/volto/src/components/theme/Sitemap/Sitemap.jsx
  packages/volto/src/components/theme/Sitemap/Sitemap.test.jsx
  packages/volto/src/config/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Debounce search input in ObjectBrowserBody
  packages/volto/src/components/manage/Sidebar/ObjectBrowserBody.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add changes
  packages/volto/news/8365.bugfix
Due: none

Lack of visible focus for interactive components (#7850)
  packages/volto/news/7850.bugfix
  packages/volto/theme/themes/pastanaga/extras/focus.less
  packages/volto/theme/themes/pastanaga/extras/main.less
  packages/volto/theme/themes/pastanaga/extras/skiplinks.less
  packages/volto/theme/themes/pastanaga/globals/site.variables
Due: pnpm stylelint --fix

fix: Backspace behaving erratically near a styled or link text (#8355)
  packages/volto-slate/news/8347.bugfix
  packages/volto-slate/src/utils/selection.js
  packages/volto-slate/src/utils/selection.test.js
  packages/volto-slate/src/utils/volto-blocks.js
  packages/volto/cypress/tests/core/blocks/blocks-slate-backspace.js
  packages/volto/news/8347.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove unused dependency linkify-it
  packages/volto/news/+dep-linkify.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Prevent browser default behavior on file drop in dropzone (#8361)
  packages/volto/news/8228.bugfix
  packages/volto/src/components/manage/Contents/DropZoneContent.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Use Plone 6.2.1 (#8364)
  packages/volto/news/8364.internal
  variables.mk
Due: none

Debounce search input in ObjectBrowserBody (#8365)
  packages/volto/news/8365.bugfix
  packages/volto/src/components/manage/Sidebar/ObjectBrowserBody.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove unused dependency linkify-it (#8368)
  packages/volto/news/+dep-linkify.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Resolve drag-and-drop position desync when reordering contents items fast
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/manage/Contents/ContentsItem.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add changes
  packages/volto/news/8372.bugfix
Due: none

changelog
  packages/volto/news/+removeUnusedPackageDep.internal
  packages/volto/package.json
Due: none

Use Plone 6.1.5
  variables.mk
Due: none

Add changes
  packages/volto/news/8374.internal
Due: none

Fix search order test (sort_order is now applied correctly)
  packages/volto/cypress/tests/core/basic/search.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update to babel 7.29.7
  catalog.json
  packages/scripts/news/+dep-babel.internal
  packages/scripts/package.json
  packages/volto-babel-preset-razzle/news/+dep-babel.internal
  packages/volto-babel-preset-razzle/package.json
  packages/volto/news/+dep-babel.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Remove deprecated and redundant Read the Docs pull request preview workflow
  .github/workflows/docs-rtd-pr-preview-registry.yml
  packages/volto/news/+remove-rtd-pr-preview-workflow.internal
Due: none
