Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Release 16.33.0
  CHANGELOG.md
  news/6414.feature
  news/6421.bugfix
  news/6421.feature.1
  news/6421.feature.2
  news/6425.feature
  news/6432.internal
  package.json
  packages/volto-slate/package.json
Due: none

Add docs
  docs/source/backend/index.md
Due: none

remove only
  packages/registry/__tests__/addon-registry-app.test.js
  packages/registry/__tests__/addon-registry.test.js
Due: none

Replace all `yarn` appearences with `pnpm`
  docs/source/addons/i18n.md
  docs/source/addons/theme.md
  docs/source/client/quick-start.md
  docs/source/configuration/environmentvariables.md
  docs/source/configuration/internalproxy.md
  docs/source/configuration/volto-config-js.md
  docs/source/configuration/zero-config-builds.md
  docs/source/contributing/linting.md
  docs/source/contributing/testing.md
  docs/source/deploying/seamless-mode.md
  docs/source/deploying/sentry.md
  docs/source/deploying/simple.md
  docs/source/development/creating-project.md
  docs/source/development/environment-variables.md
  docs/source/development/i18n.md
  docs/source/development/ie11compat.md
  docs/source/development/index.md
  docs/source/development/lazyload.md
Due: none

build the registration from using the userschema provided by backend
  packages/volto/news/6434.feature
  packages/volto/src/components/theme/Register/Register.jsx
  packages/volto/src/components/theme/Register/Register.stories.jsx
  packages/volto/src/components/theme/Register/Register.test.jsx
  packages/volto/src/components/theme/Register/__snapshots__/Register.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

prettier
  packages/volto/src/components/theme/Register/Register.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

URL-Management control panel: Add missing translations
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Controlpanels/Aliases.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

changelog
  packages/volto/news/6436.bugfix
Due: none

update changelog
  packages/volto/news/6419.bugfix
  packages/volto/news/6419.feature
Due: none

(fix): Enable Volto Login to Redirect Back to Original Route After Authentication (#6419)
  packages/coresandbox/src/index.ts
  packages/volto/cypress/tests/coresandbox/login.js
  packages/volto/news/6419.bugfix
  packages/volto/src/components/theme/Login/Login.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update packages/volto/news/6434.feature
  packages/volto/news/6434.feature
Due: none

Update packages/volto/src/components/theme/Register/Register.stories.jsx
  packages/volto/src/components/theme/Register/Register.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Apply suggestions from code review
  docs/source/contributing/linting.md
  docs/source/development/creating-project.md
  docs/source/development/lazyload.md
Due: none

Client transforms for reducer data (#6422)
  docs/source/backend/index.md
  packages/registry/news/6422.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/volto/news/6422.feature
  packages/volto/src/reducers/content/content.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
Due: none

Apply suggestions from code review
  packages/registry/docs/howto/how-to-instantiate-registry.md
  packages/registry/docs/howto/how-to-shadow-a-component.md
  packages/registry/docs/index.md
  packages/volto/news/6399.internal
Due: none

David Suggestions
  packages/registry/README.md
  packages/registry/docs/index.md
Due: none

Changelog
  packages/registry/news/6399.feature
Due: none

Rename page title from Frontend to Volto UI
  docs/source/index.md
Due: none

News
  packages/volto/news/6438.documentation
Due: none

Used resource title instead of resource type in page title. (#6402)
  packages/volto/news/6308.internal
  packages/volto/src/components/manage/Edit/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix broken links
  docs/source/contributing/acceptance-tests.md
  docs/source/development/i18n.md
  docs/source/upgrade-guide/index.md
Due: none

Fix broken links (#6439)
  docs/source/contributing/acceptance-tests.md
  docs/source/development/i18n.md
  docs/source/upgrade-guide/index.md
Due: none

Fix broken links
  docs/source/upgrade-guide/index.md
Due: none

Fix broken links (#6440)
  docs/source/upgrade-guide/index.md
Due: none

URL-Management control panel: Add missing translations (#6436)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/6436.bugfix
  packages/volto/src/components/manage/Controlpanels/Aliases.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Rename page title from Frontend to Volto UI (#6438)
  docs/source/index.md
  packages/volto/news/6438.documentation
Due: none

s/fullname/full name
  packages/volto/src/components/theme/Register/Register.test.jsx
  packages/volto/src/components/theme/Register/__snapshots__/Register.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

remove unneeded strings
  packages/volto/src/components/theme/Register/Register.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

update po files
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Better Vercel deployment options
  apps/nextjs/next.config.mjs
  apps/nextjs/src/app/config.ts
Due: none

Update docs
  apps/nextjs/README.md
Due: none

Improve typing
  apps/nextjs/src/app/config.ts
Due: none

Apply suggestions from code review
  apps/nextjs/README.md
Due: none

Add storybook a bit of move around things
  packages/slots/.storybook/Logo.svg
  packages/slots/.storybook/main.ts
  packages/slots/.storybook/manager.js
  packages/slots/.storybook/preview-head.html
  packages/slots/.storybook/preview.ts
  packages/slots/.storybook/storybook-base.css
  packages/slots/.storybook/theme.ts
  packages/slots/SlotRenderer.tsx
  packages/slots/components/App.tsx
  packages/slots/components/Footer.tsx
  packages/slots/components/Header.tsx
  packages/slots/components/Logo.stories.tsx
  packages/slots/components/Logo.tsx
  packages/slots/components/Main.tsx
  packages/slots/components/Sections.tsx
  packages/slots/components/Tools.tsx
  packages/slots/config.tsx
  packages/slots/main.css
  packages/slots/package.json
  packages/slots/setupTesting.ts
  packages/slots/vitest.config.ts
  pnpm-lock.yaml
Due: none

Change "we" to "you" for consistency
  apps/nextjs/README.md
Due: none

More we to you or similar
  apps/nextjs/src/app/config.ts
Due: none

Apply suggestions from code review
  packages/generator-volto/news/6399.breaking
  packages/registry/news/6399.breaking
  packages/registry/news/6399.feature
  packages/volto/news/6399.internal
Due: none

Explain better why do we want to use a configuration file
  packages/registry/docs/howto/how-to-register-an-addon.md
Due: none

Path conditions:
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm --filter @plone/volto stylelint --fix: (any of: packages/volto/**/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
