Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "packages/!volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Add more down to earth examples
  docs/source/configuration/validation.md
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
  packages/volto/src/helpers/MessageLabels/MessageLabels.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Update Image.jsx to render svg properly
  packages/volto/src/components/theme/Image/Image.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update Image.jsx
  packages/volto/src/components/theme/Image/Image.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

able to link images from within the site
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Form block schema PoC.
  packages/volto/src/components/manage/Blocks/Form/Edit.jsx
  packages/volto/src/components/manage/Blocks/Form/View.jsx
  packages/volto/src/components/manage/Blocks/Form/schema.js
  packages/volto/src/config/Blocks.jsx
  packages/volto/theme/themes/pastanaga/collections/form.overrides
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

feat: publicui routes
  packages/volto/src/config/PublicUiRoutes.jsx
  packages/volto/src/config/index.js
  packages/volto/src/helpers/Url/Url.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

chore: news file
  packages/volto/news/6173.feature
Due: none

fix: name
  packages/volto/src/config/PublicNonContentRoutes.jsx
  packages/volto/src/config/index.js
  packages/volto/src/helpers/Url/Url.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: news and import
  packages/volto/news/6173.feature
  packages/volto/src/config/PublicNonContentRoutes.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update packages/volto/news/6173.feature
  packages/volto/news/6173.feature
Due: none

Use relative links to ensure static files get copied during documentation build
  docs/source/user-manual/blocks.md
  docs/source/user-manual/copy-paste-blocks.md
Due: none

Add news
  packages/volto/news/6174.documentation
Due: none

Use relative links to ensure static files get copied during documenta… (#6174)
  docs/source/user-manual/blocks.md
  docs/source/user-manual/copy-paste-blocks.md
  packages/volto/news/6174.documentation
Due: none

Changed news text according to the suggestion
  packages/volto/news/5936.bugfix
Due: none

Clean up upgrade guide for `react-share` library and `SocialSharing` component
  docs/source/upgrade-guide/index.md
Due: none

News
  packages/volto/news/6175.documentation
Due: none

Clean up upgrade guide for `react-share` library and `SocialSharing` … (#6175)
  docs/source/upgrade-guide/index.md
  packages/volto/news/6175.documentation
Due: none

Update the link to the new PLIP page
  .github/ISSUE_TEMPLATE/PLIP.md
Due: none

news
  packages/volto/news/6175.internal
Due: none

Update the link to the new PLIP page (#6176)
  .github/ISSUE_TEMPLATE/PLIP.md
  packages/volto/news/6175.internal
Due: none

Refactored cell.jst to functional component
  packages/volto-slate/src/blocks/Table/Cell.jsx
Due: none

Apply suggestions from code review
  docs/source/contributing/developing-core.md
  packages/volto/news/6157.bugfix
Due: none

Added info on how to remove the data volume
  docs/source/contributing/developing-core.md
Due: none

Refactored PersonalInfor ation from class based to functional based
  packages/volto/src/components/manage/Preferences/PersonalInformation.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

added changelog
  packages/volto/news/6177.feature
Due: none

added comments
  packages/volto/src/components/manage/Preferences/PersonalInformation.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Use nested MyST blocks
  docs/source/contributing/developing-core.md
Due: none

Add admonition not to use persistence in production, refer to Deploying docs
  docs/source/contributing/developing-core.md
Due: none

updated changelog
  packages/volto/news/6177.feature
Due: none

added comments
  packages/volto/news/6163.feature
Due: none

Refactor ContentsUploadModal from class based to functional component
  packages/volto/news/6178.feature
  packages/volto/src/components/manage/Contents/ContentsUploadModal.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Delete packages/volto/news/6163.feature
  packages/volto/news/6163.feature
Due: none

Refactor from class based to functional component
  packages/volto/src/components/manage/Preferences/PersonalPreferences.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Rename 6163.feature to 6179.feature
  packages/volto/news/6163.feature
  packages/volto/news/6179.feature
Due: none

Delete packages/volto/news/6178.feature
  packages/volto/news/6178.feature
Due: none

Refactor PersonalPreferences.jsx from class based to functional components
  packages/volto/src/components/manage/Preferences/PersonalPreferences.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactor and re-document for clarity and simplicity
  docs/source/configuration/validation.md
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/src/config/Utilities.d.ts
  packages/types/src/config/index.d.ts
  packages/volto/src/config/index.js
  packages/volto/src/config/validation.ts
  packages/volto/src/helpers/FormValidation/FormValidation.jsx
  packages/volto/src/helpers/FormValidation/FormValidation.test.js
  packages/volto/test-setup-config.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

locales
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none
