Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

fix: local reference and aria-invalid added
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

jmevissen: use image component for listing block, fixes missing scale issue
  packages/blocks/Image/ImageBlockView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Initial cleanup, remove editorMode config and conditional code.
  packages/cmsui/index.ts
  packages/cmsui/routes/edit.tsx
  packages/layout/blocks/RenderBlocks.tsx
  packages/plate/components/ui/slash-node.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added auth token to the requests in the root loader
  apps/seven/app/root.test.tsx
  apps/seven/app/root.tsx
  apps/seven/news/+rootauth.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

refine documentation
  docs/reference/volto-blocks-migration.md
  styles/config/vocabularies/Plone/accept.txt
  styles/config/vocabularies/Plone/reject.txt
Due: none

Cleanup of dead code and rename BlockEditor -> BlocksEditor
  packages/cmsui/components/BlockEditor/BlockEditor.tsx
  packages/cmsui/components/BlockEditor/BlockEditorContext.ts
  packages/cmsui/components/BlockEditor/BlockSettingsAtomForm.tsx
  packages/cmsui/components/BlockEditor/BlocksEditor.tsx
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/cmsui/components/BlockEditor/blockLayoutActions.ts
  packages/cmsui/components/BlockEditor/useBlockEditorContextValue.test.ts
  packages/cmsui/components/BlockEditor/useBlockEditorContextValue.ts
  packages/cmsui/routes/edit.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add changelog node
  apps/seven/news/8008.bugfix
Due: none

mv changelog node
  packages/blocks/news/8008.bugfix
Due: none

adjust docs to match styleguide
  docs/reference/volto-blocks-migration.md
  docs/upgrade-guide/index.md
  docs/upgrade-guide/volto-blocks-migration.md
Due: none

[Seven] Cleanup somersault editor (#8009)
  packages/cmsui/components/BlockEditor/BlockEditor.tsx
  packages/cmsui/components/BlockEditor/BlockEditorContext.ts
  packages/cmsui/components/BlockEditor/BlockSettingsAtomForm.tsx
  packages/cmsui/components/BlockEditor/BlocksEditor.tsx
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/cmsui/components/BlockEditor/blockLayoutActions.ts
  packages/cmsui/components/BlockEditor/useBlockEditorContextValue.test.ts
  packages/cmsui/components/BlockEditor/useBlockEditorContextValue.ts
  packages/cmsui/index.ts
  packages/cmsui/routes/edit.tsx
  packages/layout/blocks/RenderBlocks.tsx
  packages/plate/components/ui/slash-node.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

news in blocks
  packages/blocks/news/8004.feature
Due: none

news update
  packages/helpers/news/8004.feature
Due: none

Add video block view in seven
  packages/blocks/.stylelintrc
  packages/blocks/Video/VideoBlockBody.test.tsx
  packages/blocks/Video/VideoBlockBody.tsx
  packages/blocks/Video/VideoBlockView.css
  packages/blocks/Video/VideoBlockView.test.tsx
  packages/blocks/Video/VideoBlockView.tsx
  packages/blocks/Video/__snapshots__/VideoBlockView.test.tsx.snap
  packages/blocks/Video/index.ts
  packages/blocks/index.ts
  packages/helpers/src/index.ts
  packages/helpers/src/isInternalURL.test.ts
  packages/helpers/src/isInternalURL.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

add news file
  apps/seven/news/8004.feature
Due: none

Polish existing Plate table of contents (#8005)
  docs/upgrade-guide/index.md
  docs/upgrade-guide/volto-blocks-migration.md
  packages/plate/components/editor/plugins/toc-base-kit.tsx
  packages/plate/components/editor/plugins/toc-kit.tsx
  packages/plate/components/editor/plugins/toc-query-heading.ts
  packages/plate/components/ui/toc-node-static.tsx
  packages/plate/news/6722.feature
  styles/config/vocabularies/Plone/accept.txt
  styles/config/vocabularies/Plone/reject.txt
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

merge seven into 6673-seven-header-slots
  apps/seven/app/root.test.tsx
  apps/seven/app/root.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: unit tests
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/src/components/manage/Toolbar/__snapshots__/Toolbar.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

added missing news
  apps/seven/news/6673.feature
Due: none

chore: i18n
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

chore: news
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/news/8010.bugfix
Due: none

fix: cypress errors
  cypress.config.ts
  cypress/e2e/1-getting-started/todo.cy.js
  cypress/e2e/2-advanced-examples/actions.cy.js
  cypress/e2e/2-advanced-examples/aliasing.cy.js
  cypress/e2e/2-advanced-examples/assertions.cy.js
  cypress/e2e/2-advanced-examples/connectors.cy.js
  cypress/e2e/2-advanced-examples/cookies.cy.js
  cypress/e2e/2-advanced-examples/cypress_api.cy.js
  cypress/e2e/2-advanced-examples/files.cy.js
  cypress/e2e/2-advanced-examples/location.cy.js
  cypress/e2e/2-advanced-examples/misc.cy.js
  cypress/e2e/2-advanced-examples/navigation.cy.js
  cypress/e2e/2-advanced-examples/network_requests.cy.js
  cypress/e2e/2-advanced-examples/querying.cy.js
  cypress/e2e/2-advanced-examples/spies_stubs_clocks.cy.js
  cypress/e2e/2-advanced-examples/storage.cy.js
  cypress/e2e/2-advanced-examples/traversal.cy.js
  cypress/e2e/2-advanced-examples/utilities.cy.js
  cypress/e2e/2-advanced-examples/viewport.cy.js
  cypress/e2e/2-advanced-examples/waiting.cy.js
  cypress/e2e/2-advanced-examples/window.cy.js
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: handle inside the toolbar
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added the left toolbar
  packages/cmsui/components/Toolbar/Toolbar.tsx
  packages/cmsui/news/6649.feature
  packages/cmsui/routes/edit.tsx
  packages/cmsui/routes/layout.tsx
  packages/cmsui/styles/cmsui.css
  packages/layout/components/Toolbar/Toolbar.css
  packages/layout/components/Toolbar/Toolbar.tsx
  packages/layout/helpers/index.ts
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/news/6649.feature
  packages/publicui/news/6649.feature
  packages/publicui/routes/index.tsx
  packages/publicui/styles/publicui.css
  packages/theming/news/6649.feature
  packages/theming/styles/tailwind.css
  packages/theming/styles/theme.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

separate public ui and cms ui styles
  packages/cmsui/routes/layout.tsx
  packages/cmsui/styles/cmsui.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

added news
  packages/cmsui/news/8012.bugfix
Due: none

Prevent image widget link clicks from bubbling
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

clean up old styles on ui switch
  packages/cmsui/routes/layout.tsx
  packages/publicui/routes/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

added news
  packages/publicui/news/8012.bugfix
Due: none

Fix input selector for image URL field in tests
  packages/volto/cypress/tests/coresandbox/widgets.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove Text block from @plone/blocks, remove dependency on @plone/plate
  packages/blocks/Text/TextBlockEdit.tsx
  packages/blocks/Text/TextBlockView.tsx
  packages/blocks/Text/index.ts
  packages/blocks/hooks/use-stable-plate-value.ts
  packages/blocks/index.ts
  packages/blocks/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove resident TextField in CMSUI (former quanta one), use @plone/components one instead.
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidget.tsx
  packages/cmsui/components/TextField/TextField.stories.tsx
  packages/cmsui/components/TextField/TextField.tsx
  packages/cmsui/config/widgets.ts
  packages/cmsui/routes/auth/login.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove image Plate block for now
  packages/plate/components/editor/plugins/media-base-kit.tsx
  packages/plate/components/editor/plugins/media-kit.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove output.css from @plone/plate and generation command
  packages/plate/input.css
  packages/plate/output.css
  packages/plate/package.json
Due: pnpm stylelint --fix

Changelog
  packages/blocks/news/8015.breaking
  packages/cmsui/news/8015.breaking
  packages/plate/news/8015.breaking
Due: none

Fixed acceptance tests
  packages/cmsui/acceptance/tests/image-block.test.ts
  packages/cmsui/acceptance/tests/teaser-block.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove Title and Text block
  packages/blocks/Title/TitleBlockEdit.tsx
  packages/blocks/Title/TitleBlockView.tsx
  packages/blocks/Title/index.ts
  packages/blocks/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Commented out the title on render acceptance test
  packages/cmsui/acceptance/tests/edit.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Added the left toolbar (#8014)
  packages/cmsui/acceptance/tests/image-block.test.ts
  packages/cmsui/acceptance/tests/teaser-block.test.ts
  packages/cmsui/components/Toolbar/Toolbar.tsx
  packages/cmsui/news/6649.feature
  packages/cmsui/routes/edit.tsx
  packages/cmsui/routes/layout.tsx
  packages/cmsui/styles/cmsui.css
  packages/layout/components/Toolbar/Toolbar.css
  packages/layout/components/Toolbar/Toolbar.tsx
  packages/layout/helpers/index.ts
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/news/6649.feature
  packages/publicui/news/6649.feature
  packages/publicui/routes/index.tsx
  packages/publicui/styles/publicui.css
  packages/theming/news/6649.feature
  packages/theming/styles/tailwind.css
  packages/theming/styles/theme.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

[Seven] Remove cruft (#8015)
  packages/blocks/Text/TextBlockEdit.tsx
  packages/blocks/Text/TextBlockView.tsx
  packages/blocks/Text/index.ts
  packages/blocks/Title/TitleBlockEdit.tsx
  packages/blocks/Title/TitleBlockView.tsx
  packages/blocks/Title/index.ts
  packages/blocks/hooks/use-stable-plate-value.ts
  packages/blocks/index.ts
  packages/blocks/news/8015.breaking
  packages/blocks/package.json
  packages/cmsui/acceptance/tests/edit.test.ts
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidget.tsx
  packages/cmsui/components/TextField/TextField.stories.tsx
  packages/cmsui/components/TextField/TextField.tsx
  packages/cmsui/config/widgets.ts
  packages/cmsui/news/8015.breaking
  packages/cmsui/routes/auth/login.tsx
  packages/plate/components/editor/plugins/media-base-kit.tsx
  packages/plate/components/editor/plugins/media-kit.tsx
  packages/plate/input.css
  packages/plate/news/8015.breaking
  packages/plate/output.css
  packages/plate/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
