Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Update browserlist May2026
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Enhanced prereleaser script
  packages/scripts/preleaser.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/components 4.0.0-alpha.8
  packages/components/CHANGELOG.md
  packages/components/news/+agents-guidance.documentation
  packages/components/package.json
Due: none

Release @plone/registry 3.0.0-alpha.12
  packages/registry/CHANGELOG.md
  packages/registry/news/+check-ts.internal
  packages/registry/package.json
Due: none

Release @plone/scripts 4.0.0-alpha.7
  packages/scripts/CHANGELOG.md
  packages/scripts/news/+agents-guidance.documentation
  packages/scripts/package.json
Due: none

Fix release-it config in volto-babel-preset-razzle
  packages/volto-babel-preset-razzle/.release-it.json
Due: none

Release @plone/babel-preset-razzle 1.0.0-alpha.1
  packages/volto-babel-preset-razzle/CHANGELOG.md
  packages/volto-babel-preset-razzle/news/+agents-guidance.documentation
  packages/volto-babel-preset-razzle/package.json
Due: none

Release @plone/razzle-dev-utils 1.0.0-alpha.3
  packages/volto-razzle-dev-utils/CHANGELOG.md
  packages/volto-razzle-dev-utils/news/+agents-guidance.documentation
  packages/volto-razzle-dev-utils/package.json
Due: none

Better prereleaser script
  packages/scripts/preleaser.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/slate 19.0.0-alpha.16
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/+agents-guidance.documentation
  packages/volto-slate/package.json
Due: none

Release 19.0.0-alpha.34
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/8044.bugfix
  packages/volto/package.json
Due: none

fix: close toolbar menu on blur and announce state to screen readers
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: news and i18n
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/8010.bugfix
Due: none

fix: corrected the one way path through the personal tools container using assistive tech
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/src/components/manage/Toolbar/__snapshots__/Toolbar.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: news file corrected
  packages/volto/news/8019.bugfix
Due: none

Update docs/how-to-guides/configure-style-fields.md
  docs/how-to-guides/configure-style-fields.md
Due: none

[Seven] Style fields (#8175)
  docs/how-to-guides/configure-style-fields.md
  docs/how-to-guides/index.md
  packages/blocks/index.ts
  packages/blocks/news/+style-field-utility.internal
  packages/helpers/news/+style-fields.feature
  packages/helpers/src/index.ts
  packages/helpers/src/styleFields.test.ts
  packages/helpers/src/styleFields.ts
  packages/layout/blocks/BlockWrapper.test.tsx
  packages/layout/blocks/BlockWrapper.tsx
  packages/layout/helpers/index.ts
  packages/layout/news/+style-fields.feature
  packages/plate/components/editor/plugins/block-width-plugin.test.ts
  packages/plate/components/editor/plugins/block-width-plugin.ts
  packages/plate/components/editor/plugins/style-fields-plugin.ts
  packages/plate/components/ui/block-width-toolbar-button.tsx
  packages/plate/news/+style-fields.feature
  packages/types/news/+style-field-utility.feature
  packages/types/src/config/Utilities.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Backport fixes for blockSchema args
  packages/types/news/+blockSchemaargs.bugfix
  packages/types/src/config/Blocks.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Backport fixes for blockSchema args (#8185)
  packages/types/news/+blockSchemaargs.bugfix
  packages/types/src/config/Blocks.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/types 2.0.0-alpha.19
  packages/types/CHANGELOG.md
  packages/types/news/+blockSchemaargs.bugfix
  packages/types/package.json
Due: none

fix: apply PR review suggestions to ModalForm a11y improvements
  packages/volto/src/components/manage/Form/ModalForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fixed toolbar button if a single option is shown
  packages/plate/components/ui/block-width-toolbar-button.test.tsx
  packages/plate/components/ui/block-width-toolbar-button.tsx
  packages/plate/news/+fix-width-toolbar-button.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feat: implement focus trap loop in ModalForm
  packages/volto/src/components/manage/Form/ModalForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/news/8058.bugfix
  packages/volto/news/8058.bugfix
Due: none

added-fix
  packages/volto/src/components/manage/Widgets/TokenWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: update news fragment and fix corrupted Samoan translation in FileWidget
  packages/volto/locales/sm/LC_MESSAGES/volto.po
  packages/volto/news/7982.bugfix
Due: none

Release 19.0.0-alpha.35
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/package.json
Due: none

fix: correct corrupted Samoan translation in FileWidget
  packages/volto/locales/sm/LC_MESSAGES/volto.po
Due: none

Added-Changelog-file
  packages/volto/news/7683.internal
Due: none

fix: associate dropzone aria-labelledby with field label, remove empty field-file-name div, add dropzone padding-bottom
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

chore: unit tests
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/QuerystringWidget.test.jsx.snap
Due: none

fix: make slate delete empty block test robust
  packages/volto/cypress/tests/core/blocks/blocks-slate-delete.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: unit
  packages/volto/src/components/manage/Widgets/__snapshots__/QuerystringWidget.test.jsx.snap
Due: none

chore: unit again
  packages/volto/src/components/manage/Widgets/__snapshots__/QuerystringWidget.test.jsx.snap
Due: none

Release @plone/types 3.0.0-alpha.1
  packages/types/CHANGELOG.md
  packages/types/news/+style-field-utility.feature
  packages/types/package.json
Due: none

Release @plone/helpers 2.0.0-alpha.5
  packages/helpers/CHANGELOG.md
  packages/helpers/news/+style-fields.feature
  packages/helpers/package.json
Due: none

Release @plone/plate 1.0.0-alpha.6
  packages/plate/CHANGELOG.md
  packages/plate/news/+style-fields.feature
  packages/plate/package.json
Due: none

Release @plone/blocks 1.0.0-alpha.9
  packages/blocks/CHANGELOG.md
  packages/blocks/news/+style-field-utility.internal
  packages/blocks/package.json
Due: none
