Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

.lintstagedrc:

{
  "packages/!(volto)/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "packages/!(volto)/**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.{css,less,scss}": [
    "pnpm --filter @plone/volto stylelint --fix"
  ],
  "packages/volto/**/*.overrides": [
    "pnpm --filter @plone/volto stylelint --fix"
  ]
}

Create pos on build
  packages/volto/vite.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix Cypress
  packages/volto/cypress.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/volto-slate/news/6358.feature
Due: none

add title field to video block for a11y
  packages/volto/src/components/manage/Blocks/Video/Body.jsx
  packages/volto/src/components/manage/Blocks/Video/VideoEmbed.jsx
  packages/volto/src/components/manage/Blocks/Video/schema.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix the syntax for the label `upgrade-18-cookieplone-label`
  docs/source/upgrade-guide/index.md
Due: none

News
  packages/volto/news/6360.documentation
Due: none

Fix the syntax for the label `upgrade-18-cookieplone-label` (#6360)
  docs/source/upgrade-guide/index.md
  packages/volto/news/6360.documentation
Due: none

Update a11y guidelines
  docs/source/contributing/accessibility-guidelines.md
Due: none

news
  packages/volto/news/6361.documentation
Due: none

update snapshots
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Search/components/__snapshots__/SelectFacet.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Video/Body.jsx
  packages/volto/src/components/manage/Blocks/Video/View.jsx
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/Body.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/Edit.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/VideoSidebar.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/View.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

update snapshots
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/Edit.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/View.test.jsx.snap
Due: none

update snapshots
  packages/volto/src/components/manage/Blocks/Search/components/__snapshots__/SelectFacet.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
  pnpm-lock.yaml
Due: none

add css class to video placeholder image
  packages/volto/src/components/manage/Blocks/Video/VideoEmbed.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Env vars first pass, some Cypress fixes
  packages/volto/Makefile
  packages/volto/src/components/manage/Toolbar/More.jsx
  packages/volto/src/components/manage/Workflow/Workflow.jsx
  packages/volto/src/components/theme/ConnectionRefused/ConnectionRefused.jsx
  packages/volto/src/config/index.js
  packages/volto/src/config/networking.js
  packages/volto/src/entry-client.tsx
  packages/volto/src/entry-server.tsx
  packages/volto/src/express-middleware/devproxy.js
  packages/volto/src/express-middleware/hostDetect.js
  packages/volto/src/express-middleware/robotstxt.js
  packages/volto/vite.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Backport: Pass `errors` property to BlocksForm and Form components (#6331)
  news/6331.feature
  src/components/manage/Blocks/Block/BlocksForm.jsx
  src/components/manage/Form/Form.jsx
Due: none

further changes regarding the review
  package.json
  packages/volto/locales/volto.pot
Due: none

review changes made
  pnpm-lock.yaml
Due: none

Fix spelling of prerequisites
  docs/source/contributing/developing-core.md
Due: none

Reject hyphenated `pre-requisite`
  styles/Vocab/Plone/reject.txt
Due: none

Fix spelling of prerequisites
  packages/volto/news/6362.documentation
Due: none

fix video uploads and too many re-renders issue during upload progress in tus
  packages/volto/src/components/manage/Contents/ContentsUploadPage.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: build_classnames in edit mode (#6259)
  packages/volto/news/6259.bugfix
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update packages/volto/news/6354.documentation
  packages/volto/news/6354.documentation
Due: none

review changes made
  packages/scripts/news/6354.documentation
Due: none

6140-changes
  packages/volto/news/6140.internal
  packages/volto/test-setup-globals.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix spelling of prerequisites (#6362)
  docs/source/contributing/developing-core.md
  packages/volto/news/6362.documentation
  styles/Vocab/Plone/reject.txt
Due: none

vscode/settings.json markdown added (#6357)
  packages/scripts/news/6354.documentation
  packages/scripts/vscodesettings.js
  pnpm-lock.yaml
Due: none

Update to RAC 1.4.0, add new components in there + update storybook
  packages/components/package.json
  packages/components/src/components/ColorArea/ColorArea.stories.tsx
  packages/components/src/components/ColorArea/ColorArea.tsx
  packages/components/src/components/ColorField/ColorField.stories.tsx
  packages/components/src/components/ColorField/ColorField.tsx
  packages/components/src/components/ColorPicker/ColorPicker.stories.tsx
  packages/components/src/components/ColorPicker/ColorPicker.tsx
  packages/components/src/components/ColorSlider/ColorSlider.stories.tsx
  packages/components/src/components/ColorSlider/ColorSlider.tsx
  packages/components/src/components/ColorSwatch/ColorSwatch.stories.tsx
  packages/components/src/components/ColorSwatch/ColorSwatch.tsx
  packages/components/src/components/ColorSwatchPicker/ColorSwatchPicker.stories.tsx
  packages/components/src/components/ColorSwatchPicker/ColorSwatchPicker.tsx
  packages/components/src/components/ColorWheel/ColorWheel.stories.tsx
  packages/components/src/components/ColorWheel/ColorWheel.tsx
  packages/components/src/components/Disclosure/Disclosure.stories.tsx
  packages/components/src/components/Disclosure/Disclosure.tsx
  packages/components/src/components/DisclosureGroup/DisclosureGroup.stories.tsx
  packages/components/src/components/DisclosureGroup/DisclosureGroup.tsx
  packages/components/src/styles/basic/ColorArea.css
  packages/components/src/styles/basic/ColorField.css
  packages/components/src/styles/basic/ColorPicker.css
  packages/components/src/styles/basic/ColorSlider.css
  packages/components/src/styles/basic/ColorSwatch.css
  packages/components/src/styles/basic/ColorSwatchPicker.css
  packages/components/src/styles/basic/ColorWheel.css
  packages/components/src/styles/basic/Disclosure.css
  packages/components/src/styles/basic/DisclosureGroup.css
  packages/components/src/styles/basic/main.css
  pnpm-lock.yaml
Due: none

Changelog
  packages/components/news/6364.feature
Due: none

Place the new color widgets in widgets
  packages/components/src/components/ColorArea/ColorArea.stories.tsx
  packages/components/src/components/ColorField/ColorField.stories.tsx
  packages/components/src/components/ColorPicker/ColorPicker.stories.tsx
  packages/components/src/components/ColorSlider/ColorSlider.stories.tsx
  packages/components/src/components/ColorSwatch/ColorSwatch.stories.tsx
  packages/components/src/components/ColorSwatchPicker/ColorSwatchPicker.stories.tsx
  packages/components/src/components/ColorWheel/ColorWheel.stories.tsx
Due: none

Add outline to toolbar buttons (#6313)
  packages/volto/news/6313.bugfix
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm --filter @plone/volto stylelint --fix

Fixed client copy mutation, cleanup up move mutation for consistency (#6349)
  packages/client/news/6349.bugfix
  packages/client/src/restapi/copymove/copy.test.tsx
  packages/client/src/restapi/copymove/copy.ts
  packages/client/src/restapi/copymove/move.ts
  packages/client/src/validation/copymove.ts
Due: none

Add a pull request template as a checklist before submitting a PR
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add note to include issue number for automatic closure
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

news
  packages/volto/news/6365.internal
Due: none

Fix links to Vite website
  apps/vite-ssr/README.md
  apps/vite/README.md
Due: none

news
  packages/volto/news/6366.documentation
Due: none

Fetch user before pass it to the restricted function (#6293)
  packages/volto-slate/news/6293.bugfix
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
  packages/volto/news/6293.bugfix
  packages/volto/src/components/manage/BlockChooser/BlockChooser.jsx
  packages/volto/src/components/manage/BlockChooser/BlockChooser.test.jsx
  packages/volto/src/hooks/index.js
  packages/volto/src/hooks/user/useUser.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix lexer language in upgrade guide for Field validation in blocks example.
  docs/source/upgrade-guide/index.md
Due: none
