Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

chore: create changelog
  packages/generator-volto/news/6133.bugfix
  packages/volto/news/6133.bugfix
Due: none

Cleanup Image widget and pass down `onSelectItem` prop if any (#6132)
  packages/volto/news/6132.bugfix
  packages/volto/src/components/manage/Blocks/Image/Edit.jsx
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

rename test-setup-config.js to test-setup-config.jsx (#6133)
  apps/plone/package.json
  packages/generator-volto/generators/app/templates/package.json.tpl
  packages/generator-volto/news/6133.bugfix
  packages/volto/news/6133.bugfix
  packages/volto/src/components/manage/Add/Add.jsx
  packages/volto/src/components/manage/Multilingual/CreateTranslation.jsx
  packages/volto/src/components/manage/Multilingual/TranslationObject.jsx
  packages/volto/src/components/manage/Preferences/PersonalPreferences.jsx
  packages/volto/src/components/theme/MultilingualRedirector/MultilingualRedirector.jsx
  packages/volto/src/middleware/api.js
  packages/volto/src/server.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Release generate-volto 9.0.0-alpha.17
  packages/generator-volto/CHANGELOG.md
  packages/generator-volto/news/6133.bugfix
  packages/generator-volto/package.json
Due: none

Release 18.0.0-alpha.39
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/6132.bugfix
  packages/volto/news/6133.bugfix
  packages/volto/package.json
  packages/volto/types/components/manage/Blocks/Image/Edit.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Automatically add the PLIP to the PLIP project board
  .github/ISSUE_TEMPLATE/PLIP.md
Due: none

change log
  packages/volto/news/6134.internal
Due: none

Fix link to renamed `src/constants/Languages.cjs`
  docs/source/development/i18n.md
Due: none

Change log
  packages/volto/news/6135.documentation
Due: none

Fix link to renamed `src/constants/Languages.cjs` (#6135)
  docs/source/development/i18n.md
  packages/volto/news/6135.documentation
Due: none

Automatically add the PLIP to the PLIP project board (#6134)
  .github/ISSUE_TEMPLATE/PLIP.md
  packages/volto/news/6134.internal
Due: none

Create ImageWidget.jsx
  src/components/manage/Widgets/ImageWidget.jsx
Due: none

Update Widgets.jsx
  src/config/Widgets.jsx
Due: none

image wdiget
  src/components/manage/AnchorPlugin/useLinkEditor.jsx
Due: none

Create 6136.feature
  news/6136.feature
Due: none

i18n
  locales/ca/LC_MESSAGES/volto.po
  locales/de/LC_MESSAGES/volto.po
  locales/en/LC_MESSAGES/volto.po
  locales/es/LC_MESSAGES/volto.po
  locales/eu/LC_MESSAGES/volto.po
  locales/fi/LC_MESSAGES/volto.po
  locales/fr/LC_MESSAGES/volto.po
  locales/it/LC_MESSAGES/volto.po
  locales/ja/LC_MESSAGES/volto.po
  locales/nl/LC_MESSAGES/volto.po
  locales/pt/LC_MESSAGES/volto.po
  locales/pt_BR/LC_MESSAGES/volto.po
  locales/ro/LC_MESSAGES/volto.po
  locales/volto.pot
  locales/zh_CN/LC_MESSAGES/volto.po
Due: none

add styles
  theme/themes/pastanaga/extras/blocks.less
  theme/themes/pastanaga/extras/widgets.less
Due: pnpm stylelint --fix

Backport image widget to Volto 17 (#6136)
  locales/ca/LC_MESSAGES/volto.po
  locales/de/LC_MESSAGES/volto.po
  locales/en/LC_MESSAGES/volto.po
  locales/es/LC_MESSAGES/volto.po
  locales/eu/LC_MESSAGES/volto.po
  locales/fi/LC_MESSAGES/volto.po
  locales/fr/LC_MESSAGES/volto.po
  locales/it/LC_MESSAGES/volto.po
  locales/ja/LC_MESSAGES/volto.po
  locales/nl/LC_MESSAGES/volto.po
  locales/pt/LC_MESSAGES/volto.po
  locales/pt_BR/LC_MESSAGES/volto.po
  locales/ro/LC_MESSAGES/volto.po
  locales/volto.pot
  locales/zh_CN/LC_MESSAGES/volto.po
  news/6136.feature
  src/components/manage/AnchorPlugin/useLinkEditor.jsx
  src/components/manage/Widgets/ImageWidget.jsx
  src/config/Widgets.jsx
  theme/themes/pastanaga/extras/blocks.less
  theme/themes/pastanaga/extras/widgets.less
Due: pnpm stylelint --fix

Release 17.18.0
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/6136.feature
  package.json
  packages/volto-slate/package.json
  types/config/Widgets.d.ts
Due: none

issue-5452 markdown shortcut (#5495)
  packages/volto-slate/news/5452.bugfix
  packages/volto-slate/src/constants.js
  packages/volto-slate/src/editor/plugins/Markdown/constants.js
  packages/volto-slate/src/editor/plugins/Markdown/extensions.js
Due: none

Moved news entry from packages/volto-slate to news on 17.x.x branch
  news/5452.bugfix
Due: none

Backport #5452 to Volto 17.x.x branch (#6138)
  news/5452.bugfix
  packages/volto-slate/src/constants.js
  packages/volto-slate/src/editor/plugins/Markdown/constants.js
  packages/volto-slate/src/editor/plugins/Markdown/extensions.js
Due: none

Release 17.18.1
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/5452.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

Fix object browser image wrapper dimensions on Firefox
  packages/volto/theme/themes/pastanaga/extras/objectbrowser-widget.less
Due: pnpm stylelint --fix

Apply suggestions from code review
  packages/volto/news/5002.bugfix
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/RecurrenceWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

chore: remove console statements
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Improve release process
  package.json
  types/components/manage/AnchorPlugin/useLinkEditor.d.ts
  types/components/manage/Widgets/ImageWidget.d.ts
Due: none

remove url_link attribute from object_browser
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

change json object path
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: used contenttype-plone-site class to change toolbar handler color
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Move to packages location
  packages/volto/src/components/theme/RouteAnnouncer/RouteAnnouncer.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: Teaser Block
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: eslint == error
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add link to pull request preview builds in the pull request description only when documentation-related files change
  .github/workflows/docs-rtd-pr-preview.yml
Due: none

Test Ignore
  .vale.ini
Due: none

Another test
  docs/source/index.md
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
