Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

docs: document slate heading as anchor links in user-manual (#6750)
  docs/source/_static/link.svg
  docs/source/user-manual/blocks.md
  packages/volto/news/5755.documentation
Due: none

Use Image from @plone/volto/components/theme/Image/Image instead of semantic-ui-react
  packages/volto/news/6754.internal
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
  packages/volto/src/components/manage/Widgets/RegistryImageWidget.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RegistryImageWidget.test.jsx.snap
  packages/volto/src/components/theme/Logo/Logo.jsx
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.Multilingual.test.jsx.snap
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.test.jsx.snap
  packages/volto/src/components/theme/Navigation/ContextNavigation.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fixes intermittent error in cypress "Index Text Block" test
  packages/volto/cypress/support/commands.js
  packages/volto/news/6755.internal
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Initial CMSUI baseline, for PoCs and testing
  .gitignore
  packages/cmsui/.eslintrc.cjs
  packages/cmsui/.gitignore
  packages/cmsui/.prettierrc
  packages/cmsui/.stylelintrc
  packages/cmsui/README.md
  packages/cmsui/app/app.css
  packages/cmsui/app/auth/auth.ts
  packages/cmsui/app/auth/login.tsx
  packages/cmsui/app/config.server.ts
  packages/cmsui/app/config.ts
  packages/cmsui/app/loaders/content.ts
  packages/cmsui/app/root.tsx
  packages/cmsui/app/routes.ts
  packages/cmsui/app/routes/edit.tsx
  packages/cmsui/app/routes/index.tsx
  packages/cmsui/app/routes/okroute.tsx
  packages/cmsui/app/utils.ts
  packages/cmsui/index.ts
  packages/cmsui/package.json
  packages/cmsui/public/favicon.ico
  packages/cmsui/public/icon.svg
  packages/cmsui/react-router.config.ts
  packages/cmsui/registry.config.ts
  packages/cmsui/tsconfig.json
  packages/cmsui/vite.config.ts
  pnpm-lock.yaml
Due: none

Fixes intermittent error in cypress "Index Text Block" test (#6755)
  packages/volto/cypress/support/commands.js
  packages/volto/news/6755.internal
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Convert it into an add-on.
  packages/contents/.eslintrc.cjs
  packages/contents/.parcelrc
  packages/contents/.release-it.json
  packages/contents/README.md
  packages/contents/components/AddContentPopover.tsx
  packages/contents/components/Contents.css
  packages/contents/components/ContentsActions.tsx
  packages/contents/components/ContentsCell.tsx
  packages/contents/components/ContentsTable.tsx
  packages/contents/components/ItemActionsPopover.tsx
  packages/contents/components/RearrangePopover.tsx
  packages/contents/components/TableIndexesPopover.tsx
  packages/contents/index.ts
  packages/contents/package.json
  packages/contents/providers/contents.tsx
  packages/contents/setupTesting.ts
  packages/contents/src/index.ts
  packages/contents/tsconfig.json
  packages/contents/types.d.ts
  packages/contents/vitest.config.ts
  pnpm-lock.yaml
Due: none

migrated all tests to use vitest
  packages/volto/__tests__/create-addons-loader.test.js
  packages/volto/__tests__/volto-slate/deserialize.test.js
  packages/volto/package.json
  packages/volto/src/actions/types/types.test.js
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.test.jsx
  packages/volto/src/components/manage/Blocks/Search/components/__snapshots__/SelectFacet.test.jsx.snap
  packages/volto/src/components/manage/Widgets/FileWidget.test.jsx
  packages/volto/src/components/manage/Widgets/RegistryImageWidget.test.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RegistryImageWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
  packages/volto/tsconfig.json
  packages/volto/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix redirect for MDN's Using CSS custom properties (variables)
  docs/source/blocks/block-style-wrapper.md
Due: none

Fix redirect for MDN's Using CSS custom properties (variables) (#6758)
  docs/source/blocks/block-style-wrapper.md
Due: none

Fix tsconfig
  packages/contents/tsconfig.json
Due: none

WIP contents route
  packages/contents/routes/content.tsx
Due: none

More add-on, add route
  packages/contents/index.ts
  packages/contents/package.json
  packages/contents/routes/content.tsx
  packages/contents/routes/contents.tsx
  pnpm-lock.yaml
Due: none

Changelog infrastructure, fix ESlint
  .github/workflows/changelog.yml
  packages/cmsui/.release-it.json
  packages/cmsui/CHANGELOG.md
  packages/cmsui/app/auth/login.tsx
  packages/cmsui/app/config.server.ts
  packages/cmsui/app/config.ts
  packages/cmsui/app/routes/edit.tsx
  packages/cmsui/news/.gitkeep
  packages/cmsui/news/6756.feature
  packages/cmsui/towncrier.toml
Due: none

fix: block chooser position in experimental.addBlockButton (#6751)
  packages/volto/news/6751.bugfix
  packages/volto/src/components/manage/BlockChooser/BlockChooserButton.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Release 18.9.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/README.md
  packages/volto/news/5755.documentation
  packages/volto/news/6561.bugfix
  packages/volto/news/6602.feature
  packages/volto/news/6731.internal
  packages/volto/news/6741.internal
  packages/volto/news/6745.internal
  packages/volto/news/6751.bugfix
  packages/volto/news/6755.internal
  packages/volto/package.json
  packages/volto/types/express-middleware/sitemap.d.ts
  packages/volto/types/helpers/Sitemap/Sitemap.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/seven/news/6756.internal
  packages/seven/package.json
Due: none

Make supportedLanguages to check also config.settings.supportedLanguages
  packages/volto/src/server.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update server.jsx
  packages/volto/src/server.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

WIP
  .eslintignore
  apps/nextjs/package.json
  eslint.config.converted.js
  eslint.config.mjs
  packages/volto-slate/.eslintrcold
  packages/volto-slate/eslint.config.mjs
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Fix load more comments link
  packages/volto/src/components/theme/Comments/Comments.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/6759.bugfix
Due: none

Fix load more comments link (#6759)
  packages/volto/news/6759.bugfix
  packages/volto/src/components/theme/Comments/Comments.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix broken references - `link.svg` - `_inc/_install-browser-reqs-volto.md`
  docs/source/_inc/_install-browser-reqs-volto.md
  docs/source/contributing/version-policy.md
  docs/source/user-manual/blocks.md
Due: none

Change log
  packages/volto/news/6760.documentation
Due: none

Remove mention of Slate, it's just a heading
  docs/source/user-manual/blocks.md
Due: none

Create 6761.bugfix
  packages/volto/news/6761.bugfix
Due: none

Fix broken references (#6760)
  docs/source/_inc/_install-browser-reqs-volto.md
  docs/source/contributing/version-policy.md
  docs/source/user-manual/blocks.md
  packages/volto/news/6760.documentation
Due: none

REmove the corepack fix from prettier
  .github/workflows/code-analysis.yml
Due: none

Fix QueryWidget focus issue by checking this.node before calling focus
  packages/volto/src/components/manage/Widgets/QueryWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Updated latest config
  eslint.config.mjs
Due: none

style: add css class
  packages/volto/src/components/theme/View/EventDatesInfo.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fiddle with syntax of boring-cyborg admonition
  .github/boring-cyborg.yml
Due: none

Remove unnecessary comment
  packages/volto/src/helpers/Url/Url.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

improve the wording of theming docs
  docs/source/development/add-ons/theme.md
  docs/source/theming/using-third-party-themes.md
Due: none

changelog
  packages/volto/news/6767.documentation
Due: none

Path conditions:
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm --filter @plone/volto stylelint --fix: (any of: packages/volto/**/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
