Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "packages/!volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Changelog
  docs/source/upgrade-guide/index.md
  packages/volto/news/5892.documentation
Due: none

New `volto-update-deps` documentation (#5892)
  docs/source/upgrade-guide/index.md
  packages/volto/news/5892.documentation
Due: none

Cross-package manager Volto path resolver in webpack-relative-resolver (#5893)
  packages/registry/news/5893.bugfix
  packages/registry/src/addon-registry.js
  packages/volto/__tests__/webpack-relative-resolver.test.js
  packages/volto/news/5893.bugfix
  packages/volto/package.json
  packages/volto/webpack-plugins/webpack-relative-resolver.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Release @plone/registry 1.5.3
  packages/registry/CHANGELOG.md
  packages/registry/news/5893.bugfix
  packages/registry/package.json
Due: none

Release 18.0.0-alpha.22
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/5864.bugfix
  packages/volto/news/5892.documentation
  packages/volto/news/5893.bugfix
  packages/volto/package.json
  packages/volto/types/components/manage/Blocks/Search/components/Facets.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Add new types generator, don't know why they don't get included when releasing
  packages/volto/types/components/manage/Blocks/Search/components/Facets.test.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

#5341 code analysis documentation (#5882)
  docs/source/contributing/acceptance-tests.md
  docs/source/contributing/developing-core.md
  docs/source/contributing/linting.md
  docs/source/contributing/testing.md
  docs/source/development/overview.md
  packages/volto/news/5341.documentation
Due: none

Show validation error message as string instead of list (#5842)
  locales/ca/LC_MESSAGES/volto.po
  locales/de/LC_MESSAGES/volto.po
  locales/en/LC_MESSAGES/volto.po
  locales/es/LC_MESSAGES/volto.po
  locales/eu/LC_MESSAGES/volto.po
  locales/fi/LC_MESSAGES/volto.po
  locales/fr/LC_MESSAGES/volto.po
  locales/it/LC_MESSAGES/volto.po
  locales/ja/LC_MESSAGES/volto.po
  locales/nl/LC_MESSAGES/volto.po
  locales/pt/LC_MESSAGES/volto.po
  locales/pt_BR/LC_MESSAGES/volto.po
  locales/ro/LC_MESSAGES/volto.po
  locales/volto.pot
  locales/zh_CN/LC_MESSAGES/volto.po
  news/1868.bugfix
  src/components/manage/Add/Add.jsx
  src/components/manage/Edit/Edit.jsx
  src/helpers/FormValidation/FormValidation.js
  src/helpers/index.js
Due: none

fix reordering of slots function (#5840)
  packages/registry/news/5840.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
Due: none

Update middleware.ts
  apps/nextjs/src/middleware.ts
Due: none

lock
  pnpm-lock.yaml
Due: none

Improve the usage of RAZZLE_JEST_CONFIG
  packages/volto/jest-extender-plugin.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/volto/news/5901.feature
Due: none

Update packages/volto/news/5901.feature
  packages/volto/news/5901.feature
Due: none

Improve the usage of RAZZLE_JEST_CONFIG (#5901)
  packages/volto/jest-extender-plugin.js
  packages/volto/news/5901.feature
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Release @plone/registry 1.5.4
  packages/registry/CHANGELOG.md
  packages/registry/news/5840.bugfix
  packages/registry/package.json
Due: none

Release 18.0.0-alpha.23
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/5341.documentation
  packages/volto/news/5901.feature
  packages/volto/package.json
Due: none

Update Docs: Pastanaga UI and Quanta
  docs/source/contributing/style-guide.md
  packages/volto/news/5903.documentation
Due: none

Add anchor links to discussions container and individual comments
  packages/volto/news/5904.feature
  packages/volto/src/components/theme/Comments/Comments.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

move changelog
  packages/volto/news/4834.feature
Due: none

Update snapshot
  packages/volto/src/components/theme/Comments/__snapshots__/Comments.test.jsx.snap
Due: none

Move testing-library cypress commands import to inner commands so it can be imported
  packages/volto/cypress/support/commands.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/volto/news/5906.internal
Due: none

Adequate import in cypress commands, move to new helpers module
  packages/volto/cypress/support/commands.js
  packages/volto/cypress/support/helpers.js
  packages/volto/cypress/tests/core/volto-slate/01-block-slate-title-description.js
  packages/volto/cypress/tests/core/volto-slate/02-block-slate.js
  packages/volto/cypress/tests/core/volto-slate/03-block-slate.js
  packages/volto/cypress/tests/core/volto-slate/04-block-focus.js
  packages/volto/cypress/tests/core/volto-slate/05-block-slate-format-basics.js
  packages/volto/cypress/tests/core/volto-slate/06-block-slate-format-link.js
  packages/volto/cypress/tests/core/volto-slate/07-block-slate-format-ulist.js
  packages/volto/cypress/tests/core/volto-slate/08-block-slate-format-olist.js
  packages/volto/cypress/tests/core/volto-slate/09-block-slate-slashmenu.js
  packages/volto/cypress/tests/core/volto-slate/24-block-slate-format-boldlists.js
  packages/volto/cypress/tests/core/volto-slate/25-block-slate-paste-images.js
  packages/volto/cypress/tests/core/volto-slate/27-block-slate-paste-html.js
  packages/volto/cypress/tests/core/volto-slate/28-table-block-slate-paste.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Update changelog
  packages/volto/news/5904.feature
Due: none

Does not show borders in addon block inputs
  packages/volto/cypress/tests/core/blocks/blocks-image.js
  packages/volto/cypress/tests/core/blocks/blocks-slate.js
  packages/volto/cypress/tests/core/blocks/blocks-table.js
  packages/volto/cypress/tests/core/blocks/blocks-title.js
  packages/volto/news/5894.bugfix
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm stylelint --fix

Upgrade notes
  docs/source/upgrade-guide/index.md
Due: none

feat!: lazy-loading controlpanels, contents, and othre manage components
  packages/volto/src/components/index.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
Due: none

Update packages/volto/news/5906.internal
  packages/volto/news/5906.internal
Due: none

Move testing-library cypress commands import to inner commands so it can be imported (#5906)
  docs/source/upgrade-guide/index.md
  packages/volto/cypress/support/commands.js
  packages/volto/cypress/support/helpers.js
  packages/volto/cypress/tests/core/volto-slate/01-block-slate-title-description.js
  packages/volto/cypress/tests/core/volto-slate/02-block-slate.js
  packages/volto/cypress/tests/core/volto-slate/03-block-slate.js
  packages/volto/cypress/tests/core/volto-slate/04-block-focus.js
  packages/volto/cypress/tests/core/volto-slate/05-block-slate-format-basics.js
  packages/volto/cypress/tests/core/volto-slate/06-block-slate-format-link.js
  packages/volto/cypress/tests/core/volto-slate/07-block-slate-format-ulist.js
  packages/volto/cypress/tests/core/volto-slate/08-block-slate-format-olist.js
  packages/volto/cypress/tests/core/volto-slate/09-block-slate-slashmenu.js
  packages/volto/cypress/tests/core/volto-slate/24-block-slate-format-boldlists.js
  packages/volto/cypress/tests/core/volto-slate/25-block-slate-paste-images.js
  packages/volto/cypress/tests/core/volto-slate/27-block-slate-paste-html.js
  packages/volto/cypress/tests/core/volto-slate/28-table-block-slate-paste.js
  packages/volto/news/5906.internal
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Add id attributes to discussions container and individual comments (#5905)
  packages/volto/news/5904.feature
  packages/volto/src/components/theme/Comments/Comments.jsx
  packages/volto/src/components/theme/Comments/__snapshots__/Comments.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add new cypress helper for slate `getSlateEditorAndType`
  packages/volto/cypress/support/volto-slate.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/volto/news/5909.internal
Due: none

Add new cypress helper for slate `getSlateEditorAndType` (#5909)
  packages/volto/cypress/support/volto-slate.js
  packages/volto/news/5909.internal
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Upgrade @typescript-eslint
  packages/volto/package.json
Due: none

Changelog
  packages/volto/news/5910.internal
Due: none

Upgrade `@typescript-eslint` (#5910)
  packages/volto/news/5910.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none
