Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Update pt_BR translation (#7386)
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/news/7271.bugfix
  packages/volto/news/7362.feature
Due: none

Fix(editor): prevent new line when merging slate blocks
  packages/volto-slate/src/blocks/Text/keyboard/joinBlocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Replace img tags with Image component to enable future src prefixing (#7363)
  packages/volto-slate/news/7363.feature
  packages/volto-slate/src/blocks/Text/DefaultTextBlockEditor.jsx
  packages/volto-slate/src/editor/plugins/Image/render.jsx
  packages/volto/.eslintrc
  packages/volto/news/7363.feature
  packages/volto/src/components/manage/Blocks/LeadImage/Edit.jsx
  packages/volto/src/components/manage/Blocks/LeadImage/LeadImageSidebar.jsx
  packages/volto/src/components/manage/Blocks/Maps/Edit.jsx
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Blocks/Video/Edit.jsx
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.jsx
  packages/volto/src/components/manage/TemplateChooser/TemplateChooser.jsx
  packages/volto/src/components/manage/TemplateChooser/__snapshots__/TemplateChooser.test.jsx.snap
  packages/volto/src/components/manage/Toolbar/PersonalTools.jsx
  packages/volto/src/components/manage/Toolbar/__snapshots__/PersonalTools.test.jsx.snap
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
  packages/volto/src/components/theme/Avatar/Avatar.jsx
  packages/volto/src/components/theme/PreviewImage/PreviewImage.jsx
  packages/volto/src/components/theme/Widgets/ImageWidget.jsx
  packages/volto/src/components/theme/Widgets/__snapshots__/ImageWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Adjust peer dependencies and engine
  apps/seven/package.json
  packages/agave/package.json
  packages/blocks/package.json
  packages/cmsui/package.json
  packages/layout/package.json
  packages/publicui/package.json
  packages/theming/package.json
Due: none

Changelog
  apps/seven/news/+adjustdeps.internal
  packages/agave/news/+adjustdeps.internal
  packages/blocks/news/+adjustdeps.internal
  packages/cmsui/news/+adjustdeps.internal
  packages/layout/news/+adjustdeps.internal
  packages/publicui/news/+adjustdeps.internal
  packages/theming/news/+adjustdeps.internal
Due: none

[Seven] Adjust peer deps and engine (#7387)
  apps/seven/news/+adjustdeps.internal
  apps/seven/package.json
  packages/agave/news/+adjustdeps.internal
  packages/agave/package.json
  packages/blocks/news/+adjustdeps.internal
  packages/blocks/package.json
  packages/cmsui/news/+adjustdeps.internal
  packages/cmsui/package.json
  packages/layout/news/+adjustdeps.internal
  packages/layout/package.json
  packages/publicui/news/+adjustdeps.internal
  packages/publicui/package.json
  packages/theming/news/+adjustdeps.internal
  packages/theming/package.json
Due: none

Use immer 10.1.3 (#7359)
  package.json
  packages/volto/news/7359.internal
  pnpm-lock.yaml
Due: none

DONE!
  packages/blocks/Text/TextBlockView.tsx
  packages/blocks/Text/slate.tsx
  packages/blocks/config/plate.ts
  packages/blocks/config/slate.tsx
  packages/blocks/index.ts
  packages/plate/components/editor/index.tsx
  packages/plate/components/ui/editor.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Prettier
  packages/plate/components/editor/editor-kit.tsx
  packages/plate/components/editor/plugins/autoformat-kit.tsx
  packages/plate/components/editor/plugins/legacy-link-plugin.ts
  packages/plate/components/editor/plugins/markdown-kit.tsx
  packages/plate/components/ui/ai-toolbar-button.tsx
  packages/plate/components/ui/block-selection.tsx
  packages/plate/components/ui/code-block-node-static.tsx
  packages/plate/components/ui/code-node-static.tsx
  packages/plate/components/ui/code-node.tsx
  packages/plate/components/ui/comment-node-static.tsx
  packages/plate/components/ui/fixed-toolbar-buttons.tsx
  packages/plate/components/ui/floating-toolbar-buttons.tsx
  packages/plate/components/ui/heading-node-static.tsx
  packages/plate/components/ui/history-toolbar-button.tsx
  packages/plate/components/ui/indent-toolbar-button.tsx
  packages/plate/components/ui/kbd-node-static.tsx
  packages/plate/components/ui/kbd-node.tsx
  packages/plate/components/ui/link-node-static.tsx
  packages/plate/components/ui/link-toolbar-button.tsx
  packages/plate/components/ui/media-audio-node.tsx
  packages/plate/components/ui/media-file-node-static.tsx
  packages/plate/components/ui/media-file-node.tsx
  packages/plate/components/ui/media-upload-toast.tsx
  packages/plate/components/ui/media-video-node-static.tsx
  packages/plate/components/ui/toggle-node-static.tsx
  packages/plate/components/ui/toggle-toolbar-button.tsx
  packages/plate/lib/utils.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(editor): placed cursor correctly when merging inline
  packages/volto-slate/src/blocks/Text/keyboard/joinBlocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Backport for image rerender on page edit
  src/components/manage/Widgets/FileWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

changelog update
  news/7390.bugfix
  src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
Due: none

lint
  packages/plate/components/ui/block-discussion.tsx
  packages/plate/components/ui/block-draggable.tsx
  packages/plate/components/ui/block-list-static.tsx
  packages/plate/components/ui/block-list.tsx
  packages/plate/components/ui/comment.tsx
  packages/plate/components/ui/inline-combobox.tsx
  packages/plate/components/ui/link-toolbar.tsx
  packages/plate/components/ui/media-audio-node-static.tsx
  packages/plate/components/ui/media-audio-node.tsx
  packages/plate/components/ui/media-placeholder-node.tsx
  packages/plate/components/ui/media-preview-dialog.tsx
  packages/plate/components/ui/media-video-node-static.tsx
  packages/plate/components/ui/suggestion-node.tsx
  packages/plate/components/ui/table-toolbar-button.tsx
  packages/plate/components/ui/toolbar.tsx
  packages/plate/helpers/conversions.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Backport for image rerender on page edit
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

changelog update
  packages/volto/news/7391.bugfix
Due: none

moved changelog
  packages/registry/news/7390.bugfix
Due: none

moved back changelog
  news/7390.bugfix
Due: none

Ensure the Refresh Content button correctly loads the preview image when using preview_image_link for Teaser block.
  packages/volto/news/+preview_image_link.bugfix
  packages/volto/src/components/manage/Blocks/Teaser/Data.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Nicer placement
  apps/seven/registry.config.ts
  packages/blocks/Text/TextBlockEdit.tsx
  packages/blocks/Text/TextBlockView.tsx
  packages/blocks/config/plate.ts
  packages/blocks/package.json
  packages/plate/config/blocks.ts
  packages/plate/index.ts
  packages/types/src/config/Settings.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Start downsizing for blocks
  packages/plate/components/editor/block-editor-base-kit.tsx
  packages/plate/components/editor/block-editor-kit.tsx
  packages/plate/config/blocks.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Replace img tags with Image component to enable future src prefixing (#7389)
  packages/volto-slate/news/7363.feature
  packages/volto-slate/src/blocks/Text/DefaultTextBlockEditor.jsx
  packages/volto-slate/src/editor/plugins/Image/render.jsx
  packages/volto/.eslintrc
  packages/volto/news/7363.feature
  packages/volto/src/components/manage/Blocks/LeadImage/Edit.jsx
  packages/volto/src/components/manage/Blocks/LeadImage/LeadImageSidebar.jsx
  packages/volto/src/components/manage/Blocks/Maps/Edit.jsx
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Blocks/Video/Edit.jsx
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.jsx
  packages/volto/src/components/manage/TemplateChooser/TemplateChooser.jsx
  packages/volto/src/components/manage/TemplateChooser/__snapshots__/TemplateChooser.test.jsx.snap
  packages/volto/src/components/manage/Toolbar/PersonalTools.jsx
  packages/volto/src/components/manage/Toolbar/__snapshots__/PersonalTools.test.jsx.snap
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
  packages/volto/src/components/theme/Avatar/Avatar.jsx
  packages/volto/src/components/theme/PreviewImage/PreviewImage.jsx
  packages/volto/src/components/theme/Widgets/ImageWidget.jsx
  packages/volto/src/components/theme/Widgets/__snapshots__/ImageWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Blocks preset toolbar
  packages/plate/components/editor/plugins/floating-toolbar-kit.tsx
  packages/plate/components/ui/editor.tsx
  packages/plate/components/ui/preset-block-floating-toolbar-buttons.tsx
  packages/plate/config/blocks.ts
  packages/types/src/config/Settings.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Synchronizes versions of Volto dependencies with other packages in the monorepo
  packages/volto/news/7184.feature
  packages/volto/package.json
  packages/volto/src/actions/users/users.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Keeps the query-string version
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update dep
  packages/blocks/package.json
  pnpm-lock.yaml
Due: none

Casing of lodash.clonedeep
  packages/blocks/config/plate.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Revert change in GridList.quanta
  packages/components/src/components/GridList/GridList.quanta.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/blocks/news/7393.feature
  packages/plate/news/7393.feature
Due: none

Changelog
  packages/types/news/7393.feature
Due: none

Updated: pressing Enter at the merge point now restores the split into a new block. Added changelog entry and fixed lint issues
  packages/volto-slate/news/7263.bugfix
  packages/volto-slate/src/blocks/Text/index.jsx
  packages/volto-slate/src/blocks/Text/keyboard/index.js
  packages/volto-slate/src/blocks/Text/keyboard/joinBlocks.js
  packages/volto-slate/src/blocks/Text/keyboard/splitAtSeam.js
  packages/volto/cypress/tests/core/blocks/blocks-slate-backspace.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove all unused imports, due to missing rule
  eslint.config.mjs
  packages/client/src/restapi/navroot/get.test.ts
  packages/client/src/restapi/rules/update.test.ts
  packages/client/src/restapi/users/update_password.test.ts
  packages/cmsui/components/ControlPanel/ControlPanelsList.test.tsx
  packages/cmsui/components/ControlPanel/ControlPanelsList.tsx
  packages/cmsui/components/Field/Field.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserContent.test.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserContext.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserItem.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserModal.test.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserModal.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserNavigationContext.test.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserTrigger.tsx
  packages/cmsui/components/ObjectBrowserWidget/utils.test.ts
  packages/cmsui/components/TextField/TextField.stories.tsx
  packages/cmsui/components/TextField/TextField.tsx
  packages/cmsui/config/controlpanels.ts
  packages/cmsui/routes/search.test.tsx
  packages/components/src/components/BlockToolbar/BlockToolbar.stories.tsx
  packages/components/src/components/Breadcrumbs/Breadcrumbs.quanta.stories.tsx
  packages/components/src/components/Breadcrumbs/Breadcrumbs.quanta.tsx
  packages/components/src/components/DateTimePicker/DateTimePicker.quanta.tsx
  packages/components/src/components/GridList/GridList.quanta.tsx
  packages/components/src/components/MultiSelect/MultiSelect.quanta.stories.tsx
  packages/layout/components/Image/Image.tsx
  packages/layout/components/SectionWrapper/SectionWrapper.stories.tsx
  packages/layout/components/Toast/Toast.stories.tsx
  packages/layout/config/slots.ts
  packages/layout/helpers/index.ts
  packages/react-router/src/index.test.ts
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/registry/src/vite-plugin.test.tsx
  packages/tooling/package.json
  packages/types/src/services/types.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/client/news/7395.internal
  packages/cmsui/news/7395.internal
  packages/components/news/7395.internal
  packages/layout/news/7395.internal
  packages/react-router/news/7395.internal
  packages/registry/news/7395.internal
  packages/types/news/7395.internal
Due: none

Do not use the extra import plugin
  eslint.config.mjs
  packages/tooling/package.json
  pnpm-lock.yaml
Due: none

Changelog
  apps/seven/news/7393.internal
Due: none

Updated file name with PR number
  packages/volto-slate/news/7373.bugfix
Due: none
