Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Release 18.15.1
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/package.json
Due: none

Renamed files to proper mjs, fix one snapshot, and improve FileWidget test
  packages/volto/src/components/manage/Widgets/FileWidget.test.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/__snapshots__/RecurrenceWidget.test.jsx.snap
  packages/volto/vite-plugins/svg.mjs
  packages/volto/vitest.config.mjs
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changelog
  packages/volto/news/7035.bugfix.1
  packages/volto/news/7035.bugfix.2
  packages/volto/news/7035.feature
Due: none

REmove flakey test
  packages/volto/src/components/manage/Widgets/FileWidget.test.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Release 18.16.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/7035.bugfix.1
  packages/volto/news/7035.bugfix.2
  packages/volto/news/7035.feature
  packages/volto/package.json
Due: none

WIP
  packages/cmsui/components/Layout/TopNavBar.tsx
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/cmsui/package.json
  packages/cmsui/routes/edit.tsx
  packages/plate/components/editor/plate-editor.tsx
  packages/plate/components/editor/plugins/editor-plugins.tsx
  packages/plate/components/editor/plugins/exit-break-plugin.ts
  packages/plate/components/editor/plugins/media-plugins.tsx
  packages/plate/components/editor/use-create-basic-editor.ts
  packages/plate/components/editor/use-create-editor.ts
  packages/plate/helpers/conversions.test.ts
  packages/plate/helpers/conversions.ts
  packages/plate/index.ts
  packages/plate/package.json
  packages/plate/routes/editor-simple.tsx
  packages/theming/styles/main.css
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Remove any Volto trace
  packages/volto/news/4756.feature
  packages/volto/src/helpers/FeatureFlags/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

WIP, first rendering version
  apps/seven/package.json
  apps/seven/registry.config.ts
  eslint.config.mjs
  packages/components/src/components/Table/Row.tsx
  packages/components/src/tailwind/Breadcrumbs/Breadcrumbs.tsx
  packages/contents/components/AddContentPopover.tsx
  packages/contents/components/ContentsActions.tsx
  packages/contents/components/ContentsCell.tsx
  packages/contents/components/ContentsTable.tsx
  packages/contents/components/Indexes.js
  packages/contents/components/ItemActionsPopover.tsx
  packages/contents/components/RearrangePopover.tsx
  packages/contents/components/TableIndexesPopover.tsx
  packages/contents/index.ts
  packages/contents/package.json
  packages/contents/routes/contents.tsx
  packages/contents/routes/layout.tsx
  packages/contents/styles/main.css
  packages/contents/tsconfig.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Forwardport of some changes in #6999 and #7039
  packages/cmsui/routes/auth/login.tsx
  packages/components/src/tailwind/Accordion/Accordion.tsx
  packages/slots/components/Tools.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/cmsui/news/7040.bugfix.1
  packages/cmsui/news/7040.bugfix.2
  packages/slots/news/7040.feature
  packages/types/news/6994.bugfix
Due: none

Changelog
  packages/cmsui/news/7040.bugfix
  packages/components/news/7040.bugfix
Due: none

Forwardport changesin forms pr (#7040)
  packages/cmsui/news/7040.bugfix
  packages/cmsui/routes/auth/login.tsx
  packages/components/news/7040.bugfix
  packages/components/src/tailwind/Accordion/Accordion.tsx
  packages/slots/components/Tools.tsx
  packages/slots/news/7040.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix boolean in blocks edit config `BlockEditProps` `selected` type (#6995)
  packages/types/news/6994.bugfix
Due: none

Link and Breadcrumbs components
  packages/components/package.json
  packages/components/src/tailwind/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/components/src/tailwind/Breadcrumbs/Breadcrumbs.tsx
  packages/components/src/tailwind/Link/Link.stories.tsx
  packages/components/src/tailwind/Link/Link.tsx
  packages/components/src/tailwind/utils.ts
  packages/theming/package.json
  packages/theming/styles/main.css
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Changelog
  packages/components/news/7042.feature
  packages/components/src/tailwind/index.ts
  packages/theming/news/7042.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Link and Breadcrumbs components (#7042)
  packages/components/news/7042.feature
  packages/components/package.json
  packages/components/src/tailwind/Breadcrumbs/Breadcrumbs.stories.tsx
  packages/components/src/tailwind/Breadcrumbs/Breadcrumbs.tsx
  packages/components/src/tailwind/Link/Link.stories.tsx
  packages/components/src/tailwind/Link/Link.tsx
  packages/components/src/tailwind/index.ts
  packages/components/src/tailwind/utils.ts
  packages/theming/news/7042.feature
  packages/theming/package.json
  packages/theming/styles/main.css
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Added `contained` class if `isContainer` prop is passed (from containers)
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/StyleWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changelog
  packages/volto/news/7043.feature
Due: none

Added `contained` class if `isContainer` prop is passed (from containers) (#7043)
  packages/volto/news/7043.feature
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/StyleWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added `contained` class if `isContainer` prop is passed (from containers) (#7043) (#7044)
  packages/volto/news/7043.feature
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/StyleWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Release 18.17.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/7043.feature
  packages/volto/package.json
Due: none

Toolbar fix classnames
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/src/components/manage/Toolbar/__snapshots__/Toolbar.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/news/5089.feature
  packages/volto/news/5089.feature
Due: none

Update packages/volto/src/components/manage/Workflow/Workflow.stories.jsx
  packages/volto/src/components/manage/Workflow/Workflow.stories.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/news/5086.feature
  packages/volto/news/5086.feature
Due: none

Update packages/volto/src/components/theme/View/NewsItemView.stories.jsx
  packages/volto/src/components/theme/View/NewsItemView.stories.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/src/components/theme/View/RenderBlocks.stories.jsx
  packages/volto/src/components/theme/View/RenderBlocks.stories.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/src/components/theme/View/SummaryView.stories.jsx
  packages/volto/src/components/theme/View/SummaryView.stories.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

WIP
  packages/components/src/components/Table/Row.tsx
  packages/components/src/tailwind/Breadcrumbs/Breadcrumbs.tsx
  packages/contents/components/ContentsCell.tsx
  packages/contents/components/ContentsTable.tsx
  packages/contents/package.json
  packages/contents/routes/contents.tsx
  packages/helpers/package.json
  packages/helpers/src/flattenToAppURL.ts
  packages/helpers/src/index.ts
  packages/slots/components/Breadcrumbs.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix ImageWidget state handling in upload and drag-and-drop functionality for better user experience.
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

add changelog entry for Image Upload Widget bugfix
  packages/volto/news/7045.bugfix
Due: none

Improve typings of brains
  packages/types/src/blocks/index.d.ts
  packages/types/src/blocks/objectBrowser.d.ts
  packages/types/src/services/common.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write
