Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Move to `dependencies` some bad categorized dependencies in `devDependencies` (#7539)
  packages/volto/news/+devDepsWrong.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Release 19.0.0-alpha.9
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+devDepsWrong.internal
  packages/volto/news/+node24.internal
  packages/volto/news/+subpath.feature
  packages/volto/news/6976.feature
  packages/volto/news/7326.feature
  packages/volto/news/7536.internal
  packages/volto/package.json
  packages/volto/types/helpers/Url/Url.d.ts
  packages/volto/types/start-client.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Reset `fieldset.invisible` class definition in order to prevent clashes with other CSS frameworks that might have `invisible` as utility. (#7523)
  packages/volto/news/+reset.fieldset.invisible.bugfix
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm stylelint --fix

Move to `dependencies` some bad categorized dependencies in `devDependencies` (#7541)
  packages/volto/news/+devDepsWrong.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Add package @volto/razzle
  packages/volto-razzle/CHANGELOG.md
  packages/volto-razzle/README.md
  packages/volto-razzle/babel.js
  packages/volto-razzle/bin/razzle.js
  packages/volto-razzle/config/babel-loader/razzle-babel-loader.js
  packages/volto-razzle/config/createConfigAsync.js
  packages/volto-razzle/config/createJestConfig.js
  packages/volto-razzle/config/createRazzleTestConfig.js
  packages/volto-razzle/config/defaultOptions.js
  packages/volto-razzle/config/env.js
  packages/volto-razzle/config/jest/babelTransform.js
  packages/volto-razzle/config/jest/cssTransform.js
  packages/volto-razzle/config/jest/fileTransform.js
  packages/volto-razzle/config/loadPlugins.js
  packages/volto-razzle/config/loadRazzleConfig.js
  packages/volto-razzle/config/modules.js
  packages/volto-razzle/config/paths.js
  packages/volto-razzle/config/razzleDevServer.js
  packages/volto-razzle/package.json
  packages/volto-razzle/scripts/build.js
  packages/volto-razzle/scripts/export.js
  packages/volto-razzle/scripts/start.js
  packages/volto-razzle/scripts/test.js
  packages/volto/.storybook/main.js
  packages/volto/babel.js
  packages/volto/package.json
  packages/volto/patches/patchit.sh
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update docs/source/contributing/accessibility-guidelines.md
  docs/source/contributing/accessibility-guidelines.md
Due: none

Update docs/source/upgrade-guide/index.md
  docs/source/upgrade-guide/index.md
Due: none

chore: added path to the new class
  docs/source/upgrade-guide/index.md
Due: none

Fix prettier and eslint
  packages/volto-razzle/bin/razzle.js
  packages/volto-razzle/config/babel-loader/razzle-babel-loader.js
  packages/volto-razzle/config/createConfigAsync.js
  packages/volto-razzle/config/createJestConfig.js
  packages/volto-razzle/config/createRazzleTestConfig.js
  packages/volto-razzle/config/defaultOptions.js
  packages/volto-razzle/config/env.js
  packages/volto-razzle/config/loadPlugins.js
  packages/volto-razzle/config/loadRazzleConfig.js
  packages/volto-razzle/config/modules.js
  packages/volto-razzle/config/paths.js
  packages/volto-razzle/scripts/build.js
  packages/volto-razzle/scripts/export.js
  packages/volto-razzle/scripts/start.js
  packages/volto-razzle/scripts/test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add release-it with towncrier
  packages/volto-razzle/.release-it.json
  packages/volto-razzle/CHANGELOG.md
  packages/volto-razzle/news/.gitkeep
  packages/volto-razzle/package.json
  packages/volto-razzle/towncrier.toml
  pnpm-lock.yaml
Due: none

Fix links in README.md
  packages/volto-razzle/README.md
Due: none

Remove links that don't work
  packages/volto-razzle/README.md
Due: none

Fix npm version badge in README.md
  packages/volto-razzle/README.md
Due: none

Add newline for better readability in README.md
  packages/volto-razzle/README.md
Due: none

Change
  packages/volto/news/7542.breaking
Due: none

Add upgrade note
  docs/source/upgrade-guide/index.md
Due: none

typo
  docs/source/upgrade-guide/index.md
Due: none

Refactor CreateTranslation component to use Redux for translationObject state management
  packages/volto/src/components/manage/Multilingual/CreateTranslation.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Code review
  docs/source/upgrade-guide/index.md
Due: none

chore: changelog
  packages/volto/news/7543.feature
Due: none

fix: CreateTranslation component to ensure translationObject is properly checked and passed as data
  packages/volto/src/components/manage/Multilingual/CreateTranslation.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix blocks listing
  packages/volto/cypress.config.js
  packages/volto/cypress/tests/core/blocks/listing/blocks-listing.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix
  pnpm-lock.yaml
Due: none

update pnpm-lock
  pnpm-lock.yaml
Due: none

changelog
  packages/blocks/news/7538.internal
  packages/layout/7538.internal
  packages/registry/news/7538.internal
  packages/volto/news/7538.internal
Due: none

Added more improvements about i18n support to the `volto-slate` package #7510. @macagua
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/locales/es/LC_MESSAGES/volto.po
  packages/volto-slate/package.json
  packages/volto-slate/src/blocks/Text/MarkdownIntroduction.jsx
  packages/volto-slate/src/blocks/Text/ShortcutListing.jsx
  packages/volto-slate/src/blocks/Text/TextBlockSchema.js
  packages/volto-slate/src/blocks/Text/schema.js
  packages/volto-slate/src/editor/config.jsx
  packages/volto-slate/src/editor/plugins/AdvancedLink/schema.js
  packages/volto-slate/src/editor/plugins/Blockquote/index.jsx
  packages/volto-slate/src/editor/plugins/Callout/index.jsx
  packages/volto-slate/src/editor/plugins/Link/index.jsx
  packages/volto-slate/src/editor/plugins/StyleMenu/index.jsx
  packages/volto-slate/src/editor/plugins/Table/index.jsx
  packages/volto-slate/src/editor/ui/SlateToolbar.jsx
  packages/volto/news/7510.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/types 2.0.0-alpha.6
  packages/types/CHANGELOG.md
Due: none

Release 19.0.0-alpha.7
  docs/source/release-notes/index.md
Due: none

Re-enable scripts pnpm build. Remove `why`. (#7532)
  packages/volto/news/7532.internal
Due: none

Config intl in the Html component
  packages/volto/src/helpers/Html/Html.jsx
  packages/volto/src/helpers/Html/Html.test.jsx
  packages/volto/src/server.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

add messages to volto-slate po files
  packages/volto-slate/locales/de/LC_MESSAGES/volto.po
  packages/volto-slate/locales/es/LC_MESSAGES/volto.po
  packages/volto-slate/locales/eu/LC_MESSAGES/volto.po
  packages/volto-slate/locales/it/LC_MESSAGES/volto.po
  packages/volto-slate/locales/nl/LC_MESSAGES/volto.po
  packages/volto-slate/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto-slate/locales/volto.pot
Due: none

feat: allow block schemas for layout editor to be functions or objects, to be able to translate them
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/Schema.jsx
  packages/volto/src/components/manage/Blocks/Image/LayoutSchema.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

update translation strings
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Block/Schema.jsx
  packages/volto/src/components/manage/Blocks/Listing/ImageGallery.jsx
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
  packages/volto/src/components/manage/Widgets/RegistryImageWidget.jsx
  packages/volto/src/helpers/MessageLabels/MessageLabels.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

update snapshot
  packages/volto/src/components/manage/Sidebar/__snapshots__/Sidebar.test.jsx.snap
Due: none

restore volto-slate CHANGELOG
  packages/volto-slate/CHANGELOG.md
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
