Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Added local AGENTS.md to @plone/components
  packages/components/AGENTS.md
Due: none

More rules
  packages/components/AGENTS.md
Due: none

Refactor Menu component to be more RAC-like, and do not reinvent the wheel.
  packages/components/AGENTS.md
  packages/components/news/+refactorComponents.breaking
  packages/components/src/components/Breadcrumbs/Breadcrumbs.quanta.stories.tsx
  packages/components/src/components/Menu/Menu.quanta.stories.tsx
  packages/components/src/components/Menu/Menu.quanta.tsx
  packages/components/src/components/Toolbar/Toolbar.quanta.stories.tsx
  packages/components/src/quanta/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add RAC MCP to the party
  .codex/config.toml
  .gitignore
Due: none

Refining
  packages/components/news/+refactorComponents.breaking
  packages/components/src/components/BlockToolbar/BlockToolbar.stories.tsx
  packages/components/src/components/Breadcrumbs/Breadcrumb.stories.tsx
  packages/components/src/components/Menu/Menu.quanta.stories.tsx
  packages/components/src/components/Menu/Menu.quanta.tsx
  packages/components/src/components/Menu/Menu.stories.tsx
  packages/components/src/components/Menu/Menu.tsx
  packages/components/src/components/Toolbar/Toolbar.stories.tsx
  packages/components/src/index.ts
  packages/components/src/styles/basic/Menu.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

changelog
  packages/volto/news/+dep-serialize.internal
Due: none

Select
  packages/components/AGENTS.md
  packages/components/src/components/Select/Select.quanta.stories.tsx
  packages/components/src/components/Select/Select.quanta.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/components/quanta/Select/Select.stories.tsx
  packages/components/src/components/quanta/Select/Select.tsx
  packages/components/src/index.ts
  packages/components/src/quanta/index.ts
  packages/components/src/styles/basic/Select.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Update dependencies to reduce duplicate packages (#7906)
  packages/client/news/+vitest.internal
  packages/client/package.json
  packages/components/package.json
  packages/registry/news/+vitest.internal
  packages/registry/package.json
  packages/volto/news/+deps.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update to Plone 6.2.0rc1
  packages/volto/news/+plone6.2.0rc1.internal
  variables.mk
Due: none

Fix controlpanel acceptance test (user sort now uses username if no fullname)
  packages/volto/cypress/tests/core/controlpanels/user-control-panel.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix search order test (sort_order is now applied correctly)
  packages/volto/cypress/tests/core/basic/search.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix backward compat in @plone/client
  packages/client/news/+plone6.2.bugfix
  packages/client/src/restapi/users/get_list.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update dependencies to reduce duplicate packages (#8062)
  packages/client/news/+vitest.internal
  packages/client/package.json
  packages/components/package.json
  packages/registry/news/+vitest.internal
  packages/registry/package.json
  packages/volto/news/+deps.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update +plone6.2.bugfix
  packages/client/news/+plone6.2.bugfix
Due: none

Refactored blockwidth (#8053)
  docs/development/configure-editor-block-widths.md
  docs/development/index.md
  docs/how-to-guides/configure-plate-block-widths.md
  docs/how-to-guides/index.md
  packages/blocks/Image/index.ts
  packages/blocks/index.ts
  packages/blocks/news/8053.breaking
  packages/cmsui/acceptance/tests/block-width.test.ts
  packages/cmsui/news/8053.breaking
  packages/plate/components/editor/plugins/basic-blocks-base-kit.tsx
  packages/plate/components/editor/plugins/basic-blocks-kit.tsx
  packages/plate/components/editor/plugins/block-placeholder-kit.tsx
  packages/plate/components/editor/plugins/block-width-plugin.test.ts
  packages/plate/components/editor/plugins/block-width-plugin.ts
  packages/plate/components/editor/plugins/plone-block-adapter-renderer.tsx
  packages/plate/components/editor/plugins/plone-block-adapter.tsx
  packages/plate/components/editor/plugins/title-renderer.tsx
  packages/plate/components/editor/plugins/title.tsx
  packages/plate/components/editor/plugins/toc-base-kit.tsx
  packages/plate/components/editor/plugins/toc-kit.tsx
  packages/plate/components/ui/block-inner-container.test.tsx
  packages/plate/components/ui/block-inner-container.tsx
  packages/plate/components/ui/block-width-toolbar-button.tsx
  packages/plate/components/ui/blockquote-node-static.tsx
  packages/plate/components/ui/blockquote-node.tsx
  packages/plate/components/ui/editor-static.tsx
  packages/plate/components/ui/editor.tsx
  packages/plate/components/ui/heading-node-static.tsx
  packages/plate/components/ui/heading-node.tsx
  packages/plate/components/ui/paragraph-node-static.tsx
  packages/plate/components/ui/paragraph-node.tsx
  packages/plate/news/8053.breaking
  packages/plate/styles/cmsui.css
  packages/plate/styles/publicui.css
  packages/types/news/8053.breaking
  packages/types/src/config/Blocks.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

chore: news
  packages/volto/news/8052.bugfix
Due: none

We do not release client nor components from here
  packages/client/news/+dep-jsdom.internal
  packages/client/news/+dep-wait-on.internal
  packages/client/news/+vitest.internal
  packages/components/news/+dep-jsdom.internal
Due: none

Release @plone/razzle-dev-utils 1.0.0-alpha.1
  packages/volto-razzle-dev-utils/.release-it.json
  packages/volto-razzle-dev-utils/CHANGELOG.md
  packages/volto-razzle-dev-utils/news/+dep-react-dev-utils.internal
  packages/volto-razzle-dev-utils/news/7973.internal
  packages/volto-razzle-dev-utils/package.json
Due: none

Release @plone/razzle 1.0.0-alpha.2
  packages/volto-razzle/CHANGELOG.md
  packages/volto-razzle/news/+dep-jsdom.internal
  packages/volto-razzle/news/+dep-react-dev-utils.internal
  packages/volto-razzle/news/+dep-webpack.internal
  packages/volto-razzle/news/7969.internal
  packages/volto-razzle/news/7973.breaking
  packages/volto-razzle/package.json
Due: none

Release @plone/registry 3.0.0-alpha.10
  packages/registry/CHANGELOG.md
  packages/registry/news/+vitest.internal
  packages/registry/package.json
Due: none

Release @plone/scripts 4.0.0-alpha.6
  packages/scripts/CHANGELOG.md
  packages/scripts/news/+dep-lodash.internal
  packages/scripts/news/+dep-wait-on.internal
  packages/scripts/package.json
Due: none

Release @plone/slate 19.0.0-alpha.13
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/+dep-babel.internal
  packages/volto-slate/news/+dep-jsdom.internal
  packages/volto-slate/news/+dep-lodash.internal
  packages/volto-slate/news/7892.internal
  packages/volto-slate/package.json
Due: none

Refactor Slash menu for making it extensible using a factory (#8054)
  docs/development/editor-slash-menu.md
  docs/development/index.md
  packages/plate/components/editor/plugins/slash-kit.tsx
  packages/plate/components/editor/plugins/slash-menu.tsx
  packages/plate/components/ui/slash-node.tsx
  packages/plate/news/8054.breaking
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed blocktypes typings error
  packages/types/news/+addblocktypesservice.feature
  packages/types/src/services/blocktypes.d.ts
  packages/volto/news/+addblocktypesservice.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed blocktypes typings error
  packages/types/src/services/index.d.ts
  packages/volto/src/components/manage/Controlpanels/BlockType.tsx
  packages/volto/src/components/manage/Controlpanels/BlockTypes.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed blocktypes typings error (#8064)
  packages/types/news/+addblocktypesservice.feature
  packages/types/src/services/blocktypes.d.ts
  packages/volto/news/+addblocktypesservice.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

use DateTimePicker.quanta.tsx in datetime widgets
  packages/volto/package.json
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
  packages/volto/src/components/theme/InjectPloneComponentsCSS/InjectPloneComponentsCSS.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

news file
  packages/volto/news/8065.feature
Due: none

update tests
  packages/volto/cypress/tests/core/basic/recurrence-widget.js
  packages/volto/cypress/tests/core/content/content.js
  packages/volto/cypress/tests/minimal/content.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix tests
  packages/volto/cypress/tests/core/basic/recurrence-widget.js
  packages/volto/cypress/tests/core/content/content.js
  packages/volto/cypress/tests/minimal/content.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update packages/volto/news/8065.feature
  packages/volto/news/8065.feature
Due: none

update metadata tests
  packages/volto/cypress/tests/core/basic/metadata.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

update metadata test
  packages/volto/cypress/tests/core/basic/metadata.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix cypress test for checkbox in event
  packages/volto/cypress/tests/core/content/content.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix DateTimePicker to handle full ISO datetime strings in date-only mode
  packages/components/src/components/DateTimePicker/DateTimePicker.quanta.tsx
  packages/volto/cypress/tests/core/content/content.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix granularity mismatch crash when toggling whole_day checkbox
  packages/components/src/components/DateTimePicker/DateTimePicker.quanta.tsx
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix long title in parent and current page, parent content navigation
  packages/components/src/styles/basic/Breadcrumbs.css
  packages/volto/src/components/manage/Contents/ContentsBreadcrumbs.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix
