Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

update nextjs
  apps/nextjs/package.json
Due: none

Update Remix to latest
  apps/remix/app/entry.server.tsx
  apps/remix/app/routes/_index.tsx
  apps/remix/package.json
  apps/remix/tsconfig.json
  apps/remix/vite.config.ts
  pnpm-lock.yaml
Due: none

Add Vite build (no SSR)
  apps/vite/.gitignore
  apps/vite/README.md
  apps/vite/index.html
  apps/vite/package.json
  apps/vite/src/config.ts
  apps/vite/src/main.tsx
  apps/vite/src/routeTree.gen.ts
  apps/vite/src/routes/$.tsx
  apps/vite/src/routes/__root.tsx
  apps/vite/src/routes/index.tsx
  apps/vite/src/utils.ts
  apps/vite/tsconfig.dev.json
  apps/vite/tsconfig.json
  apps/vite/vite.config.js
  pnpm-lock.yaml
Due: none

Improvements to the monorepo setup with utilities, especially ESLint.… (#5969)
  .eslintrc.cjs
  .npmrc
  .pnpmfilecjs
  apps/vite-ssr/.eslintrc.cjs
  apps/vite-ssr/tsconfig.json
  package.json
  packages/blocks/.eslintrc.cjs
  packages/client/news/5969.internal
  packages/client/package.json
  packages/components/news/5969.internal
  packages/components/package.json
  packages/providers/news/5969.internal
  packages/providers/package.json
  packages/registry/news/5969.internal
  packages/registry/package.json
  packages/slots/src/SlotRenderer.tsx
  packages/volto/news/5969.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Prettier ignore
  .prettierignore
  apps/vite/.prettierignore
Due: none

Fix Remix
  apps/remix/package.json
Due: none

Update docs
  docs/source/contributing/developing-core.md
Due: none

Release @plone/registry 1.5.6
  packages/registry/CHANGELOG.md
  packages/registry/news/5887.bugfix
  packages/registry/news/5969.internal
  packages/registry/package.json
Due: none

Release @plone/slate 18.0.0-alpha.12
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/5295.internal
  packages/volto-slate/news/5605.bugfix
  packages/volto-slate/package.json
Due: none

Release 18.0.0-alpha.28
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/2927.bugfix
  packages/volto/news/5295.internal
  packages/volto/news/5953.bugfix
  packages/volto/news/5963.bugfix
  packages/volto/news/5965.bugfix
  packages/volto/news/5968.documentation
  packages/volto/news/5969.internal
  packages/volto/package.json
  packages/volto/types/components/index.d.ts
  packages/volto/types/components/manage/Blocks/Search/widgets/SelectMetadataField.d.ts
  packages/volto/types/components/manage/ConditionalLink/ConditionalLink.d.ts
  packages/volto/types/components/manage/Controlpanels/Controlpanels.d.ts
  packages/volto/types/components/manage/Controlpanels/Relations/RelationsListing.d.ts
  packages/volto/types/components/manage/Widgets/RecurrenceWidget/SelectInput.d.ts
  packages/volto/types/config/ControlPanels.d.ts
  packages/volto/types/config/Loadables.d.ts
  packages/volto/types/config/Views.d.ts
  packages/volto/types/config/Widgets.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Add missing types ts fields
  packages/volto/types/components/manage/Contents/__mocks__/index.d.ts
  packages/volto/types/components/manage/Contents/index.d.ts
  packages/volto/types/components/manage/Controlpanels/index.d.ts
  packages/volto/types/components/manage/Form/__mocks__/index.d.ts
  packages/volto/types/components/manage/Form/index.d.ts
  packages/volto/types/components/manage/Rules/index.d.ts
  packages/volto/types/components/manage/Widgets/__mocks__/index.d.ts
  packages/volto/types/components/manage/Widgets/index.d.ts
  packages/volto/types/components/theme/Comments/__mocks__/index.d.ts
  packages/volto/types/components/theme/Comments/index.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Add headers to avoid Redirects being cached
  src/server.jsx
Due: none

Changelog
  news/5974.bugfix
Due: none

Fix image disappears after pressing the Enter key on title field in image content-type.
  packages/volto/news/5973.bugfix
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update snapshots
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
Due: none

fix: pass down locale to IntlProvider
  packages/volto/src/storybook.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: pass down messages and defaultLocale to IntlProvider
  packages/volto/src/storybook.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

chore: add changelog entry
  packages/volto/news/5976.bugfix
Due: none

Add some docs
  docs/source/contributing/developing-core.md
Due: none

Better BlocksData types
  packages/types/src/config/Blocks.d.ts
Due: none

Changelog
  packages/types/news/5979.bugfix
Due: none

Release 17.15.6
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/1868.bugfix
  news/5915.documentation
  news/5963.bugfix
  package.json
  packages/volto-slate/package.json
  types/components/manage/ConditionalLink/ConditionalLink.d.ts
  types/helpers/FormValidation/FormValidation.d.ts
  types/helpers/index.d.ts
Due: none

Amend changelog entry
  .github/workflows/changelog.yml
Due: none

Better BlocksData types (#5979)
  .github/workflows/changelog.yml
  packages/types/news/5979.bugfix
  packages/types/src/config/Blocks.d.ts
Due: none

Improve postinstall script, building all the deps
  Makefile
Due: none

Saner defaults for building deps
  .github/workflows/acceptance.yml
  .github/workflows/deployment_tests.yml
  Makefile
  package.json
  packages/client/package.json
  packages/components/package.json
  packages/providers/package.json
  packages/registry/package.json
Due: none

Changelog
  packages/client/news/5980.internal
  packages/components/news/5980.internal
  packages/providers/news/5980.internal
  packages/registry/news/5980.internal
  packages/types/news/5980.internal
Due: none

Remove last build:cached
  package.json
Due: none

Improve postinstall script, building all the deps (#5980)
  .github/workflows/acceptance.yml
  .github/workflows/deployment_tests.yml
  Makefile
  package.json
  packages/client/news/5980.internal
  packages/client/package.json
  packages/components/news/5980.internal
  packages/components/package.json
  packages/providers/news/5980.internal
  packages/providers/package.json
  packages/registry/news/5980.internal
  packages/registry/package.json
  packages/types/news/5980.internal
Due: none

Apply suggestions from code review
  docs/source/contributing/developing-core.md
Due: none

Fix no router link in logo
  packages/volto/src/components/theme/Logo/Logo.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/5981.bugfix
Due: none

Ensure that sidebar field will not steal focus when metadata is edited
  packages/volto/src/components/manage/Form/Form.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update tests
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.Multilingual.test.jsx.snap
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.test.jsx.snap
Due: none

Ensure that fields from sidebar when metadata is edited are not stealling focus
  src/components/manage/Form/Form.jsx
Due: none

Fix no router link in logo (#5981)
  packages/volto/news/5981.bugfix
  packages/volto/src/components/theme/Logo/Logo.jsx
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.Multilingual.test.jsx.snap
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Restructure frontends into Supported and Experimental
  docs/source/contributing/developing-core.md
Due: none

Pin myst-parser
  requirements-docs.txt
Due: none

Changelog
  packages/volto/news/5970.feature
Due: none

Fix syntax of netlify.toml headers.values
  netlify.toml
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
