Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "packages/!volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

News
  packages/volto/news/6232.internal
Due: none

Update packages/volto/news/4861.feature
  packages/volto/news/4861.feature
Due: none

Refactored RenderUsers.jsx
  packages/volto/src/components/manage/Controlpanels/Users/RenderUsers.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Return 302 response from SSR link view for logged out users
  packages/volto/src/components/theme/View/LinkView.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

changelog
  packages/volto/news/6235.bugfix
Due: none

fix test
  packages/volto/src/components/theme/View/LinkView.test.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Pass LANGUAGE to docker
  Makefile
  packages/volto/Makefile
Due: none

contextual vocabularies
  packages/volto/src/actions/vocabularies/vocabularies.js
  packages/volto/src/actions/vocabularies/vocabularies.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

changelog
  packages/volto/news/6236.bugfix
Due: none

changelog
  packages/volto/news/6186.feature
Due: none

Fix loading .cjs in webpack
  packages/volto/razzle.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

changelog
  packages/volto/news/6237.bugfix
Due: none

Apply suggestions from code review
  docs/source/configuration/multilingual.md
Due: none

Update packages/volto/news/6186.feature
  packages/volto/news/6186.feature
Due: none

improve url regex (#6186)
  packages/volto/news/6186.feature
  packages/volto/src/helpers/Url/Url.test.js
  packages/volto/src/helpers/Url/urlRegex.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

css import fix
  package.json
  packages/volto/volto.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Return 302 response from SSR link view for logged out users (#6235)
  packages/volto/news/6235.bugfix
  packages/volto/src/components/theme/View/LinkView.jsx
  packages/volto/src/components/theme/View/LinkView.test.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix loading .cjs in webpack (#6237)
  packages/volto/news/6237.bugfix
  packages/volto/razzle.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Move Docker backend configuration to developing-core.md, and improve its flow with sections and moving bits about
  docs/source/configuration/multilingual.md
  docs/source/contributing/developing-core.md
Due: none

udpate news
  packages/volto/news/6231.internal
Due: none

Fix redirect
  docs/source/contributing/acceptance-tests.md
Due: none

news
  packages/volto/news/6239.documentation
Due: none

Fix linkcheckbroken in docs (#6239)
  docs/source/contributing/acceptance-tests.md
  packages/volto/news/6239.documentation
Due: none

fix: handle form.ui.hovered
  api/var/blobstorage/.layout
  api/var/cache/056a809bcb6f890578026c6d75260d42.py
  api/var/cache/132a5219cd2cc40cc52ffb6883713f88.py
  api/var/cache/40b588889cfe24189f8a3d939a8321e9.py
  api/var/cache/43f6ae8a81b4425b5c7e500d6384e26c.py
  api/var/cache/5aaaf0a5abde5b98b09ba8198f129e84.py
  api/var/filestorage/Data.fs.index
  api/var/filestorage/Data.fs.lock
  api/var/filestorage/Data.fs.tmp
  api/var/instance/Z4.pid
  api/var/log/instance-access.log
  api/var/log/instance.log
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

chore: added news file
  packages/volto/news/6240.bugfix
Due: none

chore: removed wrong files
  api/var/blobstorage/.layout
  api/var/cache/056a809bcb6f890578026c6d75260d42.py
  api/var/cache/132a5219cd2cc40cc52ffb6883713f88.py
  api/var/cache/40b588889cfe24189f8a3d939a8321e9.py
  api/var/cache/43f6ae8a81b4425b5c7e500d6384e26c.py
  api/var/cache/5aaaf0a5abde5b98b09ba8198f129e84.py
  api/var/filestorage/Data.fs.index
  api/var/filestorage/Data.fs.lock
  api/var/filestorage/Data.fs.tmp
  api/var/instance/Z4.pid
  api/var/log/instance-access.log
  api/var/log/instance.log
Due: none

Show related items
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/3740.feature
  packages/volto/src/components/index.js
  packages/volto/src/components/theme/RelatedItems/RelatedItems.jsx
  packages/volto/src/components/theme/RelatedItems/RelatedItems.test.jsx
  packages/volto/src/components/theme/RelatedItems/__snapshots__/RelatedItems.test.jsx.snap
  packages/volto/src/components/theme/View/View.jsx
  packages/volto/src/config/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Use h2 instead of h4
  packages/volto/src/components/theme/RelatedItems/RelatedItems.jsx
  packages/volto/src/components/theme/RelatedItems/__snapshots__/RelatedItems.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changes default setting of showRelatedItems to false
  packages/volto/src/config/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Remove inline CSS
  packages/volto/src/components/theme/RelatedItems/RelatedItems.jsx
  packages/volto/src/components/theme/RelatedItems/__snapshots__/RelatedItems.test.jsx.snap
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

settings
  packages/volto/src/actions/vocabularies/vocabularies.js
  packages/volto/src/actions/vocabularies/vocabularies.test.js
  packages/volto/src/config/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix condition
  packages/volto/src/actions/vocabularies/vocabularies.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix: handle form.ui.hovered (#6240)
  packages/volto/news/6240.bugfix
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix per https://github.com/plone/volto/pull/6231#discussion_r1705807170
  docs/source/configuration/multilingual.md
Due: none

Fix https://github.com/plone/volto/pull/6231#discussion_r1705810464
  docs/source/contributing/developing-core.md
Due: none

Upgrade Cypress to 13.13.2
  packages/volto-testing/package.json
  packages/volto/news/6241.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Translated using Weblate (Spanish)
  packages/volto/locales/es/LC_MESSAGES/volto.po
Due: none

Refactor
  packages/volto/src/components/manage/Controlpanels/Aliases.jsx
  packages/volto/src/components/manage/Controlpanels/__snapshots__/Aliases.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

/news
  packages/volto/news/4985.feature
Due: none

remove news folder from old path
  news/4985.feature
Due: none
