Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Add upgrade note
  docs/source/upgrade-guide/index.md
Due: none

Add release-it with towncrier
  packages/volto-razzle/.release-it.json
  packages/volto-razzle/CHANGELOG.md
  packages/volto-razzle/news/.gitkeep
  packages/volto-razzle/package.json
  packages/volto-razzle/towncrier.toml
  pnpm-lock.yaml
Due: none

Fix links in README.md
  packages/volto-razzle/README.md
Due: none

typo
  docs/source/upgrade-guide/index.md
Due: none

Remove links that don't work
  packages/volto-razzle/README.md
Due: none

Fix npm version badge in README.md
  packages/volto-razzle/README.md
Due: none

Change
  packages/volto/news/7542.breaking
Due: none

Add newline for better readability in README.md
  packages/volto-razzle/README.md
Due: none

Update README.md to include context for Razzle fork
  packages/volto-razzle/README.md
Due: none

Remove note about changing `razzle` to `@volto/razzle` in package.json.
  docs/source/upgrade-guide/index.md
Due: none

fix
  packages/volto/cypress/tests/core/blocks/blocks-search.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix tests
  packages/volto/cypress/tests/core/blocks/blocks-teaser.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Refactor to TS
  packages/volto/src/components/manage/Sidebar/SidebarPortal.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update .github/workflows/cookieplone.yml
  .github/workflows/cookieplone.yml
Due: none

Enable detection of `theme` key in add-ons.
  packages/registry/__tests__/addon-registry.test.js
  packages/registry/__tests__/fixtures/test-volto-project/addons/test-addon/package.json
  packages/registry/__tests__/fixtures/test-volto-project/node_modules/test-released-addon/package.json
  packages/registry/__tests__/fixtures/test-volto-project/node_modules/test-released-source-addon/package.json
  packages/registry/src/addon-registry/addon-registry.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/registry/news/7563.feature
Due: none

Fixed bogus behavior in when running prettier with the blocks add-on
  packages/components/.prettierrc
  packages/components/package.json
  pnpm-lock.yaml
Due: none

Code review
  docs/source/upgrade-guide/index.md
  packages/volto-razzle/README.md
Due: none

Update CreateTranslation Component (#7543)
  packages/volto/news/7543.bugfix
  packages/volto/src/components/manage/Multilingual/CreateTranslation.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix links rendirects in README.md
  packages/volto-razzle/README.md
Due: none

Code review
  packages/volto-razzle/README.md
Due: none

Update RR7 docs link in README
  apps/rr7/README.md
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
Due: none

move seealso and replace plain text with a versionadded block (#7028)
  docs/source/upgrade-guide/index.md
Due: none

add wait to test
  packages/volto/cypress/tests/core/blocks/blocks-search.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix the issue of not responding to clicks
  packages/volto/cypress/tests/core/blocks/blocks-search.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix effective date
  packages/volto/cypress/tests/core/blocks/blocks-search.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix teaser
  packages/volto/cypress/tests/core/blocks/blocks-search.js
  packages/volto/cypress/tests/core/blocks/blocks-teaser.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed bogus behavior in when running prettier with the blocks add-on (#7564)
  packages/components/.prettierrc
  packages/components/package.json
  pnpm-lock.yaml
Due: none

Documentation
  docs/source/theming/create-theme-add-on.md
Due: none

Apply suggestions from code review
  docs/source/reference/index.md
  docs/source/reference/widgets.md
Due: none

Apply @pnicolli suggestions
  packages/volto/src/helpers/Extensions/withBlockSchemaEnhancer.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Apply @wesleybl suggestion
  docs/source/theming/create-theme-add-on.md
Due: none

Enable ESlint detection of '.only' in unit and cypress tests
  .eslintrc.cjs
  packages/volto/.eslintignore
  packages/volto/.eslintrc
  packages/volto/cypress/support/guillotina.js
  packages/volto/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/volto/news/7567.internal
Due: none

Improve typings, refactor `SidebarPortal` to TS (#7560)
  packages/types/news/7560.bugfix
  packages/types/src/blocks/index.d.ts
  packages/volto/.eslintrc
  packages/volto/news/7560.bugfix
  packages/volto/news/7560.internal
  packages/volto/src/components/manage/Sidebar/SidebarPortal.jsx
  packages/volto/src/components/manage/Sidebar/SidebarPortal.test.jsx
  packages/volto/src/components/manage/Sidebar/SidebarPortal.test.tsx
  packages/volto/src/components/manage/Sidebar/SidebarPortal.tsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/SidebarPortal.test.jsx.snap
  packages/volto/src/helpers/Extensions/withBlockSchemaEnhancer.jsx
  packages/volto/types/components/manage/Sidebar/SidebarPortal.d.ts
  packages/volto/types/helpers/Extensions/withBlockSchemaEnhancer.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
