Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Fix CSS for content-area
  packages/layout/styles/main.css
Due: pnpm stylelint --fix

Fix resource proxy to resources. Fix typings.
  apps/seven/app/middleware.server.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove not required next, fixed in 7.4.1
  apps/seven/app/middleware.server.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  apps/seven/news/7374.bugfix
Due: none

Fix tests
  apps/seven/app/middleware.server.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

better now
  apps/seven/app/middleware.server.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix resource proxy to resources. Fix typings. (#7374)
  apps/seven/app/middleware.server.test.ts
  apps/seven/app/middleware.server.ts
  apps/seven/news/7374.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Conventions docs
  docs/index.md
  docs/reference/conventions.md
  docs/reference/index.md
Due: none

refine
  docs/reference/conventions.md
Due: none

Changelog
  apps/seven/news/7375.documentation
Due: none

Remove circular dependency on layout<->blocks (#7372)
  catalog.json
  packages/blocks/news/7372.breaking
  packages/blocks/package.json
  packages/client/news/7372.internal
  packages/client/package.json
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/cmsui/news/7372.internal
  packages/cmsui/package.json
  packages/components/news/7372.internal
  packages/components/package.json
  packages/helpers/news/7372.feature
  packages/helpers/src/blocks.ts
  packages/helpers/src/index.ts
  packages/layout/.storybook/preview.ts
  packages/layout/.storybook/preview.tsx
  packages/layout/blocks/BlockWrapper.tsx
  packages/layout/blocks/DefaultBlockView.tsx
  packages/layout/blocks/RenderBlocks.tsx
  packages/layout/components/ContentArea.tsx
  packages/layout/components/Header/Header.stories.tsx
  packages/layout/components/Image/Image.stories.tsx
  packages/layout/news/7372.internal
  packages/layout/package.json
  packages/layout/styles/main.css
  packages/plate/news/7372.internal
  packages/plate/package.json
  packages/publicui/news/7372.internal
  packages/publicui/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Document the Plone's frontend modular architecture packages
  PACKAGES.md
  docs/conceptual-guides/index.md
  docs/reference/conventions.md
Due: none

Remove fetchpriority="auto" attribute
  packages/volto-slate/src/editor/plugins/Image/render.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add sphinx-reredirects to docs requirements-docs.txt to support moved files.
  requirements-docs.txt
Due: none

change log
  packages/volto/news/7376.internal
Due: none

Sort docs requirements
  requirements-docs.txt
Due: none

Make a guess to fix broken reference. @sneridagh please advise.
  docs/conceptual-guides/add-on-registry.md
Due: none

Use the Image component instead of `img` tags that use SVG
  packages/volto-slate/src/blocks/Text/DefaultTextBlockEditor.jsx
  packages/volto/.eslintrc
  packages/volto/src/components/manage/Blocks/LeadImage/Edit.jsx
  packages/volto/src/components/manage/Blocks/Maps/Edit.jsx
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Blocks/Video/Edit.jsx
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add sphinx-reredirects to docs requirements-docs.txt to support moved… (#7376)
  packages/volto/news/7376.internal
  requirements-docs.txt
Due: none

missing agave in publicui build
  apps/seven/registry-publicui.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added modular packages docs
  docs/conceptual-guides/modular-arch-packages.md
Due: none

Remove the proxy setting, since it's no longer used
  apps/seven/news/+removeproxyfromvite.internal
  apps/seven/vite.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove the proxy setting, since it's no longer used (#7377)
  apps/seven/news/+removeproxyfromvite.internal
  apps/seven/vite.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: added the number of results when using the content folder search for screen readers (#7364)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7364.bugfix
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/manage/Contents/__snapshots__/Contents.test.jsx.snap
  packages/volto/theme/themes/pastanaga/extras/contents.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Replace readme link checker of awesome_bot with Lychee
  .github/workflows/readme-link-check.yml
Due: none

change log
  packages/volto/news/7378.internal
Due: none

Fix path to logos
  packages/volto/README.md
Due: none

Fix link to RR docs
  apps/rr7/README.md
Due: none

Convert RenderUsers component from class to functional with hooks (#7313)
  packages/volto/news/7313.feature
  packages/volto/src/components/manage/Controlpanels/Users/RenderUsers.jsx
  packages/volto/src/components/manage/Controlpanels/Users/__snapshots__/RenderUsers.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Replace readme link checker of awesome_bot with Lychee (#7378)
  .github/workflows/readme-link-check.yml
  apps/rr7/README.md
  packages/volto/README.md
  packages/volto/news/7378.internal
Due: none

Added link and button cross variants
  packages/components/src/components/Button/Button.quanta.stories.tsx
  packages/components/src/components/Button/Button.quanta.test.tsx
  packages/components/src/components/Button/Button.quanta.tsx
  packages/components/src/components/Button/Button.quanta.variants.tsx
  packages/components/src/components/Button/Button.test.tsx
  packages/components/src/components/Link/Link.quanta.stories.tsx
  packages/components/src/components/Link/Link.quanta.test.tsx
  packages/components/src/components/Link/Link.quanta.tsx
  packages/components/src/components/Link/Link.quanta.variants.tsx
  packages/components/src/components/Link/Link.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix RR7 docs link
  apps/rr7/README.md
Due: none

Update link to Volto hands-on training
  packages/generator-volto/generators/app/templates/README.md
Due: none

Exclude root of npmjs.com due to Cloudflare blocking requests upstream. See https://github.com/lycheeverse/lychee/issues/1439
  .github/workflows/readme-link-check.yml
Due: none

Change log
  packages/volto/news/7380.internal
Due: none

Rename CI to be easier to spot
  .github/workflows/readme-link-check.yml
Due: none

All of npmjs.com is blocked for now, so these two aren't needed, given the root is used
  .github/workflows/readme-link-check.yml
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
