Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Apply suggestions from code review
  Makefile
Due: none

Fix latest run-all descriptions
  Makefile
Due: none

chfeat: handle breakList in detached TextBlockEditor
  packages/volto-slate/src/blocks/Text/DetachedTextBlockEditor.jsx
  packages/volto-slate/src/blocks/Text/extensions/breakList.js
  packages/volto-slate/src/blocks/Text/extensions/insertBreak.js
Due: none

chchore: added news file
  packages/volto-slate/news/6106.feature
  packages/volto/src/components/theme/Logo/Logo.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Allow Windows to work
  packages/volto/Makefile
Due: none

Synch comments and descriptions
  packages/volto/Makefile
Due: none

Renamemakefiletargets stevepiercy (#6107)
  packages/volto/Makefile
Due: none

ci: make use of github actions
  .github/actions/pre_test_setup.yml
  .github/workflows/acceptance.yml
Due: none

Changelog
  packages/volto/news/6110.internal
Due: none

Complete the AppRouter with all the needed props
  apps/nextjs/src/app/Providers.tsx
  apps/nextjs/src/app/config.ts
  apps/nextjs/src/app/content.tsx
  packages/components/src/components/Link/Link.tsx
  packages/providers/src/AppRouter.tsx
  packages/providers/src/PloneProvider.tsx
Due: none

Allow docs to build, refactor file name to align with make target
  .github/workflows/docs-rtd-pr-preview.yml
  .readthedocs.yaml
Due: none

Missing pnpm install in install command
  Makefile
Due: none

issue-5452 markdown shortcut (#5495)
  packages/volto-slate/news/5452.bugfix
  packages/volto-slate/src/constants.js
  packages/volto-slate/src/editor/plugins/Markdown/constants.js
  packages/volto-slate/src/editor/plugins/Markdown/extensions.js
Due: none

Release 17.16.2
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/6101.bugfix
  package.json
  packages/volto-slate/package.json
  types/helpers/index.d.ts
Due: none

Implement agreed literals
  packages/volto/src/components/manage/Blocks/Teaser/schema.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Apply suggestions from code review
  backend/Makefile
  backend/README.md
  backend/setup.py
Due: none

Apply suggestions from code review
  backend/Makefile
Due: none

Prevent duplicated UUUIDs in inner blocks when copying container blocks
  packages/volto/src/components/manage/Form/BlocksToolbar.jsx
  packages/volto/src/helpers/Blocks/cloneBlocks.test.js
  packages/volto/src/helpers/Blocks/cloneBlocks.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/6112.bugfix
Due: none

Immprove shadowing by including the support for js->jsx extensions in old shadows. This allow support for upcoming renaming of files that should be jsx and are js.
  packages/registry/src/addon-registry.js
  packages/volto/__tests__/addon-registry-project.test.js
  packages/volto/__tests__/fixtures/test-volto-project/node_modules/@plone/volto/src/LanguageSwitcher.jsx
  packages/volto/__tests__/fixtures/test-volto-project/src/customizations/LanguageSwitcher.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/registry/news/6113.feature
Due: none

Rename files with wrong extension `js->jsx` when they contain JSX.
  packages/volto-slate/src/blocks/Text/index.jsx
  packages/volto-slate/src/editor/plugins/Blockquote/index.jsx
  packages/volto-slate/src/editor/plugins/Callout/index.jsx
  packages/volto-slate/src/editor/plugins/Link/index.jsx
  packages/volto-slate/src/editor/plugins/StyleMenu/index.jsx
  packages/volto-slate/src/editor/plugins/Table/index.jsx
  packages/volto/src/components/manage/Blocks/Image/schema.jsx
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.jsx
  packages/volto/src/helpers/Extensions/withBlockExtensions.jsx
  packages/volto/src/helpers/Extensions/withBlockSchemaEnhancer.jsx
  packages/volto/src/helpers/FormValidation/FormValidation.jsx
  packages/volto/src/helpers/Helmet/Helmet.jsx
  packages/volto/src/helpers/Loadable/Loadable.jsx
  packages/volto/src/helpers/Utils/Utils.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto-slate/news/6114.internal
  packages/volto/news/6114.internal
Due: none

Fix tests
  packages/volto/src/helpers/Loadable/__mocks__/Loadable.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add missing file
  packages/volto/__tests__/fixtures/test-volto-project/node_modules/test-released-source-addon/src/customizations/LanguageSwitcher.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/volto/news/6113.feature
Due: none

Improve shadowing by including the support for `js->jsx` extensions in… (#6113)
  packages/registry/news/6113.feature
  packages/registry/src/addon-registry.js
  packages/volto/__tests__/addon-registry-project.test.js
  packages/volto/__tests__/fixtures/test-volto-project/node_modules/@plone/volto/src/LanguageSwitcher.jsx
  packages/volto/__tests__/fixtures/test-volto-project/node_modules/test-released-source-addon/src/customizations/LanguageSwitcher.js
  packages/volto/__tests__/fixtures/test-volto-project/src/customizations/LanguageSwitcher.js
  packages/volto/news/6113.feature
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Update Teaser block user manual documentation and screenshot
  docs/source/_static/user-manual/blocks/teaser-block-configuration.png
  docs/source/user-manual/blocks.md
Due: none

Add versionadded
  docs/source/user-manual/blocks.md
Due: none

Update translations with revised message strings
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Rename files with wrong extension `js->jsx` when they contain JSX. (#6114)
  packages/volto-slate/news/6114.internal
  packages/volto-slate/src/blocks/Text/index.jsx
  packages/volto-slate/src/editor/plugins/Blockquote/index.jsx
  packages/volto-slate/src/editor/plugins/Callout/index.jsx
  packages/volto-slate/src/editor/plugins/Link/index.jsx
  packages/volto-slate/src/editor/plugins/StyleMenu/index.jsx
  packages/volto-slate/src/editor/plugins/Table/index.jsx
  packages/volto/news/6114.internal
  packages/volto/src/components/manage/Blocks/Image/schema.jsx
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.jsx
  packages/volto/src/helpers/Extensions/withBlockExtensions.jsx
  packages/volto/src/helpers/Extensions/withBlockSchemaEnhancer.jsx
  packages/volto/src/helpers/FormValidation/FormValidation.jsx
  packages/volto/src/helpers/Helmet/Helmet.jsx
  packages/volto/src/helpers/Loadable/Loadable.jsx
  packages/volto/src/helpers/Loadable/__mocks__/Loadable.jsx
  packages/volto/src/helpers/Utils/Utils.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Remove `api` folder. Add `backend` folder using latest backend best practices (#6110)
  api/Makefile
  api/README.rst
  api/buildout.cfg
  api/requirements.txt
  api/version-constraints.cfg
  api/versions.cfg
  packages/volto/news/6110.internal
Due: none

Remove all traces of local api folder
  .gitignore
  Makefile
  apps/plone/.gitignore
  packages/volto/.gitignore
Due: none

Fix image in docs
  docs/source/_static/user-manual/blocks/teaser-block-configuration.png
Due: none

Fix issue of duplicated blocks upon pasting an image into the Slate E… (#5818)
  packages/volto-slate/news/5818.bugfix
  packages/volto-slate/src/blocks/Text/extensions/withDeserializers.js
  packages/volto-slate/src/utils/volto-blocks.js
Due: none

fix: logo
  packages/volto/src/components/theme/Logo/Logo.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Not in Volto core, but as part of VLT. oopsie!
  docs/source/user-manual/blocks.md
Due: none

Fix docs workflow
  .github/workflows/docs.yml
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
