Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "packages/!volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Fix BlocksForm.test - Bring back the code to remove dangling non-valid blocks
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.test.jsx
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix the remaining test
  packages/volto/src/helpers/Blocks/Blocks.js
  packages/volto/src/helpers/Blocks/Blocks.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/volto/news/6072.feature
Due: none

Fix dx layout tab
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-layout.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Apply doc suggestions from code review
  docs/source/addons/public-folder.md
  packages/scripts/i18n.cjs
  packages/volto/src/express-middleware/static.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

feat: add key for qsearchget query
  packages/client/src/restapi/querystring-search/get.ts
Due: none

Support for configurable `public` directory defined per add-on (#6072)
  docs/source/addons/index.md
  docs/source/addons/public-folder.md
  packages/scripts/i18n.cjs
  packages/scripts/news/6072.documentation
  packages/volto/news/6072.feature
  packages/volto/package.json
  packages/volto/razzle.config.js
  packages/volto/src/express-middleware/static.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Add userSessionReset middleware
  packages/volto/src/middleware/index.js
  packages/volto/src/middleware/userSessionReset.js
  packages/volto/src/store.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix js events association on error pages (#6057)
  docs/source/configuration/settings-reference.md
  docs/source/upgrade-guide/index.md
  packages/volto/news/6048.breaking
  packages/volto/src/config/server.js
  packages/volto/src/helpers/Html/Html.jsx
  packages/volto/src/server.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Byday and byyear-byday buttons padding in recurrence form (#6070)
  packages/volto/news/6070.bugfix
  packages/volto/theme/themes/pastanaga/extras/widgets.less
Due: pnpm stylelint --fix

Add tabindex to each of the skiplink elements to better handle focus (#5959)
  packages/volto/news/5959.bugfix
  packages/volto/src/components/theme/Footer/Footer.jsx
  packages/volto/src/components/theme/Navigation/Navigation.jsx
  packages/volto/src/components/theme/Navigation/__snapshots__/Navigation.Multilingual.test.jsx.snap
  packages/volto/src/components/theme/Navigation/__snapshots__/Navigation.test.jsx.snap
  packages/volto/src/components/theme/View/View.jsx
  packages/volto/src/components/theme/View/__snapshots__/View.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add optional `token` parameter to ploneClient initialization
  docs/source/client/quick-start.md
  packages/client/news/6076.documentation
Due: none

Release @plone/types 1.0.0-alpha.14
  packages/types/CHANGELOG.md
  packages/types/news/6049.bugfix
  packages/types/news/6063.breaking
  packages/types/news/6064.bugfix
  packages/types/package.json
Due: none

Release @plone/scripts 3.6.2
  packages/scripts/CHANGELOG.md
  packages/scripts/news/6072.documentation
  packages/scripts/news/6073.bugfix
  packages/scripts/package.json
Due: none

Release @plone/client 1.0.0-alpha.16
  packages/client/CHANGELOG.md
  packages/client/news/6034.bugfix
  packages/client/news/6053.bugfix
  packages/client/news/6056.internal
  packages/client/package.json
Due: none

Release @plone/components 2.0.0-alpha.11
  packages/components/CHANGELOG.md
  packages/components/news/6018.bugfix
  packages/components/news/6065.bugfix
  packages/components/package.json
Due: none

Release 18.0.0-alpha.33
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/5279.feature
  packages/volto/news/5866.bugfix
  packages/volto/news/5959.bugfix
  packages/volto/news/6020.feature
  packages/volto/news/6027.feature
  packages/volto/news/6048.breaking
  packages/volto/news/6051.internal
  packages/volto/news/6063.breaking
  packages/volto/news/6063.feature
  packages/volto/news/6070.bugfix
  packages/volto/news/6072.feature
  packages/volto/package.json
  packages/volto/types/components/manage/Sidebar/ObjectBrowserNav.d.ts
  packages/volto/types/components/manage/Widgets/IdWidget.d.ts
  packages/volto/types/components/manage/Widgets/TextWidget.d.ts
  packages/volto/types/components/manage/Widgets/TextWidget.stories.d.ts
  packages/volto/types/components/manage/Widgets/index.d.ts
  packages/volto/types/config/Widgets.d.ts
  packages/volto/types/config/server.d.ts
  packages/volto/types/helpers/Slots/index.d.ts
  packages/volto/types/start-client.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Update packages/client/news/6076.documentation
  packages/client/news/6076.documentation
Due: none

Do the dance in api
  packages/volto/src/middleware/api.js
  packages/volto/src/middleware/index.js
  packages/volto/src/middleware/userSessionReset.js
  packages/volto/src/store.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

ToC Links a11y
  packages/volto/src/components/manage/Blocks/ToC/variations/DefaultTocRenderer.jsx
  packages/volto/src/components/manage/Blocks/ToC/variations/HorizontalMenu.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix deselecting lists.
  packages/volto-slate/src/utils/blocks.js
Due: none

Add changelog.
  packages/volto-slate/news/6080.bugfix
Due: none

fix: typings of ContainedItem
  packages/types/src/content/common.d.ts
Due: none

In dev mode, start by default with the default Volto core defined public files
  packages/volto/razzle.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Use a middleware for location change
  packages/volto/src/middleware/api.js
  packages/volto/src/middleware/index.js
  packages/volto/src/middleware/userSessionReset.js
  packages/volto/src/store.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/volto/news/6081.bugfix
Due: none

Fix typo in Appextras documentation
  docs/source/development/appextras.md
Due: none

Revert "ToC Links a11y"
  packages/volto/src/components/manage/Blocks/ToC/variations/DefaultTocRenderer.jsx
  packages/volto/src/components/manage/Blocks/ToC/variations/HorizontalMenu.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

ToC links i18n,a11y
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/ToC/variations/DefaultTocRenderer.jsx
  packages/volto/src/components/manage/Blocks/ToC/variations/HorizontalMenu.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

test update
  packages/volto/src/components/manage/Blocks/ToC/variations/__snapshots__/DefaultTocRenderer.test.jsx.snap
Due: none

/news
  packages/volto/news/6082.feature
Due: none

Fix public folder in dev mode, now it starts by default with the default Volto core defined public files (#6081)
  packages/volto/news/6081.bugfix
  packages/volto/razzle.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix link in pop-up RelationsMatrix.jsx
  packages/volto/src/components/manage/Controlpanels/Relations/RelationsMatrix.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Change log
  packages/volto/news/6085.bugfix
Due: none

Fix last test, comment out the onFocus that was stealing the focus from the slate block
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

added entry on redirect after logout
  docs/source/development/redirect-after-logout.md
Due: none

added an overview header and steps header to the howto on redirecting after logout
  docs/source/development/redirect-after-logout.md
Due: none

Better changelog as suggested by @ichim-david
  packages/volto-slate/news/6080.bugfix
Due: none

Fix Uncaught RangeError: date value is not finite in DateTimeFormat.format.
  packages/volto/news/6087.bugfix
  packages/volto/src/components/theme/FormattedDate/FormattedDate.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix deselecting lists. (#6080)
  packages/volto-slate/news/6080.bugfix
  packages/volto-slate/src/utils/blocks.js
Due: none
