Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Fix news
  packages/volto-slate/news/6264.feature
Due: none

Document `user` parameter in `restricted` function
  docs/source/development/how-to-restrict-blocks.md
Due: none

Update news
  packages/volto-slate/news/6264.feature
Due: none

Apply suggestions from code review
  docs/source/development/how-to-restrict-blocks.md
Due: none

place the actions-storybook in correct folder
  packages/volto/src/components/manage/Actions/Actions.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

/news
  packages/volto/news/6275.fix
Due: none

/news
  packages/volto/news/6275.bugfix
Due: none

Place the actions-storybook in correct folder (#6275)
  packages/volto/news/6275.bugfix
  packages/volto/src/components/manage/Actions/Actions.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

add i18n make command.
  Makefile
  packages/volto/Makefile
  packages/volto/news/6274.internal
Due: none

Remove obvious clause
  packages/volto/news/6274.internal
Due: none

Added make i18n to volto (#6274)
  Makefile
  packages/volto/Makefile
  packages/volto/news/6274.internal
Due: none

missing params fix in getQuerystringSearchQuery
  packages/client/news/6276.bugfix
  packages/client/src/restapi/querystring-search/get.test.tsx
  packages/client/src/restapi/querystring-search/get.ts
Due: none

Update packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update DatetimeWidget.jsx
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Updated
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactor DatetimeWidget (#6213)
  packages/volto/news/6213.feature
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Remove "Generate tabs for items other than folders" field from navigation control panel
  packages/volto/news/6278.bugfix
  packages/volto/src/config/ControlPanels.js
  packages/volto/src/config/config.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Remove "Generate tabs for items other than folders" field from navigation control panel (#6278)
  packages/volto/news/6278.bugfix
  packages/volto/src/config/ControlPanels.js
  packages/volto/src/config/config.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Refactored SelectMetadataField.jsx to functional component (#5570)
  packages/volto/news/5570.internal
  packages/volto/src/components/manage/Blocks/Search/widgets/SelectMetadataField.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Pass `user`, `navRoot` and `contentType` to the `restricted` function of the block settings
  packages/volto-slate/news/6264.feature
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
  packages/volto/news/6264.feature
  packages/volto/src/components/manage/BlockChooser/BlockChooser.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix dependency array in useMemo
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
Due: none

Passes the `user` to the `restricted` function of the block settings (#6271)
  docs/source/development/how-to-restrict-blocks.md
  packages/volto-slate/news/6264.feature
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
  packages/volto/news/6264.feature
  packages/volto/src/components/manage/BlockChooser/BlockChooser.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Merge from main
  packages/volto/news/5047.feature
  packages/volto/src/components/manage/Contents/ContentsUploadModal.jsx
  packages/volto/src/components/manage/Contents/ContentsUploadModal.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactor Content upload modal (#5047)
  packages/volto/news/5047.feature
  packages/volto/src/components/manage/Contents/ContentsUploadModal.jsx
  packages/volto/src/components/manage/Contents/ContentsUploadModal.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

add a check if blocks_layout is empty for gridBlock then render nothing if true
  packages/volto/src/components/manage/Blocks/Grid/View.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

add changelog
  packages/volto/news/6279.bugfix
Due: none

Update packages/volto/news/6279.bugfix
  packages/volto/news/6279.bugfix
Due: none

Empty GridBlocks will not be rendered in 'View' (#6280)
  packages/volto/news/6279.bugfix
  packages/volto/src/components/manage/Blocks/Grid/View.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Summarization of the final changelog
  packages/volto/CHANGELOG.md
Due: none

Volto form block fixes.
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
  packages/volto/src/components/manage/Widgets/SelectWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add default value in schema editor.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add hidden widget.
  packages/volto/src/components/index.js
  packages/volto/src/components/manage/Widgets/HiddenWidget.jsx
  packages/volto/src/components/manage/Widgets/HiddenWidget.stories.jsx
  packages/volto/src/components/manage/Widgets/HiddenWidget.test.jsx
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
  packages/volto/src/components/manage/Widgets/SelectWidget.jsx
  packages/volto/src/components/manage/Widgets/index.tsx
  packages/volto/src/components/theme/Widgets/HiddenWidget.jsx
  packages/volto/src/components/theme/Widgets/HiddenWidget.stories.jsx
  packages/volto/src/components/theme/Widgets/HiddenWidget.test.js
  packages/volto/src/config/Widgets.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Remove dangling `.only` in Cypress test
  packages/volto/cypress/tests/core/blocks/blocks-image.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix test in Cypress Image block
  packages/volto/cypress/tests/core/blocks/blocks-image.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Remove dangling `.only` in Cypress test (#6282)
  packages/volto/cypress/tests/core/blocks/blocks-image.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix order component
  packages/volto/src/components/manage/Blocks/Block/Order/Item.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/6284.bugfix
Due: none

Update to Volto 6.0.13
  variables.mk
Due: none

Changelog
  packages/volto/news/6285.internal
Due: none

Path conditions:
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm --filter @plone/volto stylelint --fix: (any of: packages/volto/**/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
