Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Split RTD PR preview builds between Volto and plone/registry
  .github/workflows/docs-rtd-pr-preview-registry.yml
  .github/workflows/docs-rtd-pr-preview-volto.yml
Due: none

Add storybook to preview build check for Volto
  .github/workflows/docs-rtd-pr-preview-volto.yml
Due: none

Don't build docs for non-plone/registry changes to the docs
  packages/registry/.readthedocs.yaml
Due: none

Release @plone/types 1.3.0
  packages/types/CHANGELOG.md
  packages/types/news/6600.feature
  packages/types/package.json
Due: none

Release @plone/client 1.0.0-alpha.22
  packages/client/CHANGELOG.md
  packages/client/news/6599.documentation
  packages/client/package.json
Due: none

Use build.commands to disable RTD build
  .readthedocs.yaml
Due: none

Release @plone/registry 2.3.0
  packages/registry/CHANGELOG.md
  packages/registry/news/6600.feature
  packages/registry/news/6604.documentation
  packages/registry/package.json
Due: none

Release @plone/providers 1.0.0-alpha.7
  packages/providers/CHANGELOG.md
  packages/providers/news/6536.internal
  packages/providers/package.json
Due: none

Release @plone/helpers 1.0.1
  packages/helpers/CHANGELOG.md
  packages/helpers/news/6536.internal
  packages/helpers/package.json
Due: none

Release @plone/blocks 1.0.0-alpha.2
  packages/blocks/CHANGELOG.md
  packages/blocks/news/6409.feature
  packages/blocks/news/6536.internal
  packages/blocks/news/6599.bugfix
  packages/blocks/package.json
Due: none

Release @plone/slots 1.0.0-alpha.0
  packages/slots/CHANGELOG.md
  packages/slots/news/6409.internal
  packages/slots/news/6536.internal
  packages/slots/news/6599.bugfix
  packages/slots/package.json
Due: none

Release @plone/theming 1.0.0-alpha.0
  packages/theming/CHANGELOG.md
  packages/theming/news/6409.internal
  packages/theming/news/6536.internal
  packages/theming/news/6599.bugfix
  packages/theming/package.json
Due: none

Release @plone/react-router 1.0.0
  packages/react-router/CHANGELOG.md
  packages/react-router/news/6599.bugfix
  packages/react-router/package.json
Due: none

Release @plone/slate 18.2.0
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/6588.feature
  packages/volto-slate/package.json
Due: none

Release 18.7.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/6576.bugfix
  packages/volto/news/6585.bugfix
  packages/volto/news/6591.feature
  packages/volto/news/6599.internal
  packages/volto/news/6602.feature
  packages/volto/news/6606.feature
  packages/volto/news/6609.documentation
  packages/volto/news/6612.internal
  packages/volto/news/6614.internal
  packages/volto/package.json
  packages/volto/types/components/manage/Widgets/ObjectBrowserWidget.d.ts
  packages/volto/types/components/theme/AlternateHrefLangs/AlternateHrefLangs.d.ts
  packages/volto/types/components/theme/AlternateHrefLangs/AlternateHrefLangs.test.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Use build.commands to disable RTD build on 17.x.x
  .readthedocs.yaml
Due: none

Update Plone 7 release target date
  .github/boring-cyborg.yml
  docs/source/contributing/index.md
Due: none

change log
  packages/volto/news/6617.internal
Due: none

Use build.commands to disable RTD build on 16.x.x (#6618)
  .readthedocs.yaml
Due: none

Use build.commands to disable RTD build on 17.x.x (#6619)
  .readthedocs.yaml
Due: none

Split RTD PR preview builds between Volto and plone/registry (#6617)
  .github/workflows/docs-rtd-pr-preview-registry.yml
  .github/workflows/docs-rtd-pr-preview-volto.yml
  packages/registry/.readthedocs.yaml
  packages/volto/news/6617.internal
Due: none

Add robots.txt setting. (#5584)
  packages/volto/news/5580.feature
  packages/volto/public/robots.txt
  packages/volto/src/config/ControlPanels.js
  packages/volto/src/express-middleware/robotstxt.js
  packages/volto/src/helpers/Api/Api.js
  packages/volto/src/helpers/Robots/Robots.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Amend version policy docs (#6541)
  docs/source/_inc/_branch-policy.md
  docs/source/_inc/_semantic-ui-deprecation.md
  docs/source/contributing/version-policy.md
  docs/source/theming/about-semantic.md
  docs/source/theming/custom-styling.md
  docs/source/theming/index.md
  docs/source/theming/semanticui-theming.md
  docs/source/theming/theming-engine.md
  docs/source/theming/theming-strategy.md
  docs/source/upgrade-guide/index.md
  packages/volto/news/6541.documentation
Due: none

Show working copy links based on actions from backend instead of a volto config setting
  docs/source/configuration/settings-reference.md
  docs/source/configuration/workingcopy.md
  packages/coresandbox/src/index.ts
  packages/seven/Makefile
  packages/types/src/config/Settings.d.ts
  packages/volto/Makefile
  packages/volto/src/components/manage/Toolbar/More.jsx
  packages/volto/src/components/manage/Toolbar/More.test.jsx
  packages/volto/src/components/manage/Toolbar/__snapshots__/More.test.jsx.snap
  packages/volto/src/components/manage/WorkingCopyToastsFactory/WorkingCopyToastsFactory.jsx
  packages/volto/src/config/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Migrated vitest config file to typescript
  packages/volto/vitest.config.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

changelog for types
  packages/types/news/6393.bugfix
Due: none

Adjust test: it's not enabled yet in Plone 6.0
  packages/volto/cypress/tests/workingCopy/create.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Update packages/volto/news/5284.feature
  packages/volto/news/5284.feature
Due: none

Upgraded vitest to 3.0.4
  packages/volto/package.json
  packages/volto/src/components/manage/Widgets/__snapshots__/DatetimeWidget.test.jsx.snap
  pnpm-lock.yaml
Due: none

Update .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Enhance Volto contributing guidelines (#6613)
  .github/ISSUE_TEMPLATE/1_bug_report.md
  .github/ISSUE_TEMPLATE/2_feature_request.md
  .github/ISSUE_TEMPLATE/3_PLIP.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/boring-cyborg.yml
  docs/source/conf.py
  docs/source/contributing/index.md
  packages/volto/news/6613.internal
Due: none

Linkcheck fixes
  .readthedocs.yaml
  packages/registry/.readthedocs.yaml
Due: none

Linkcheck fixes (#6622)
  .readthedocs.yaml
  packages/registry/.readthedocs.yaml
Due: none

Fix: Associate labels with input fields of File and Checkbox Widget
  packages/volto/news/6341.bugfix
  packages/volto/src/components/manage/Widgets/CheckboxWidget.jsx
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/CheckboxWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix duplicate id issue in FileWidget and CheckboxWidget tests
  packages/volto/src/components/manage/Widgets/CheckboxWidget.test.jsx
  packages/volto/src/components/manage/Widgets/FileWidget.test.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/CheckboxWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

#issue-6202Update Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Revise docs
  docs/source/configuration/settings-reference.md
  docs/source/configuration/workingcopy.md
  packages/seven/news/6393.internal
Due: none

Apply suggestions from code review
  docs/source/configuration/settings-reference.md
  docs/source/configuration/workingcopy.md
Due: none

Remove configuration from the settings reference and point to the working copy documentation for details.
  docs/source/configuration/settings-reference.md
Due: none

Path conditions:
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm --filter @plone/volto stylelint --fix: (any of: packages/volto/**/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
