Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Remove news item from blocks
  packages/blocks/news/7538.internal
Due: none

Release @plone/types 2.0.0-alpha.9
  packages/types/CHANGELOG.md
  packages/types/news/7393.feature
  packages/types/news/7432.bugfix
  packages/types/news/7513.feature
  packages/types/package.json
Due: none

Release @plone/registry 3.0.0-alpha.8
  packages/registry/CHANGELOG.md
  packages/registry/news/+tmpfolder.internal
  packages/registry/news/7443.feature
  packages/registry/news/7461.breaking
  packages/registry/news/7580.bugfix
  packages/registry/package.json
Due: none

Remove the installation step for the @volto/razzle dependency
  docs/source/upgrade-guide/index.md
Due: none

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix(css-modules): replace literal [local] placeholder in production .module.less class names
  packages/volto/news/7587.bugfix
  packages/volto/webpack-plugins/webpack-less-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Code review
  docs/source/upgrade-guide/index.md
Due: none

Enable ESlint detection of '.only' in unit and cypress tests (#7567)
  .eslintrc.cjs
  packages/volto/.eslintignore
  packages/volto/.eslintrc
  packages/volto/cypress/support/guillotina.js
  packages/volto/news/7567.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(eslint): calling inside volto addons to fix lints
  .eslintrc
  news/7591.bugfix
Due: none

Add new projects to the README
  README.md
Due: none

Add new projects to the README
  packages/volto/README.md
Due: none

Sync readme with Awesome Volto
  README.md
Due: none

Sync readme with Awesome Volto (#7594)
  README.md
Due: none

Update README with new website entries and sort
  packages/volto/README.md
Due: none

Update README with new website entries and sort (#7595)
  packages/volto/README.md
Due: none

Add recent Plone Conference sites and sort OSS listings
  README.md
Due: none

Update Volto project links in README.md
  packages/volto/README.md
Due: none

Update links for Plone Conference sites in README
  README.md
Due: none

Update links for Plone Conference sites in README
  packages/volto/README.md
Due: none

Add recent Plone Conference sites and sort OSS listings (#7596)
  README.md
  packages/volto/README.md
Due: none

Enable ESlint detection of '.only' in unit and cypress tests (#7589)
  .eslintrc.cjs
  packages/volto/.eslintignore
  packages/volto/.eslintrc
  packages/volto/cypress/support/guillotina.js
  packages/volto/news/7567.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Improve typings, refactor `SidebarPortal` to TS (#7560)
  packages/types/news/7560.bugfix
  packages/types/src/blocks/index.d.ts
  packages/volto/.eslintrc
  packages/volto/news/7560.bugfix
  packages/volto/news/7560.internal
  packages/volto/src/components/manage/Sidebar/SidebarPortal.jsx
  packages/volto/src/components/manage/Sidebar/SidebarPortal.test.jsx
  packages/volto/src/components/manage/Sidebar/SidebarPortal.test.tsx
  packages/volto/src/components/manage/Sidebar/SidebarPortal.tsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/SidebarPortal.test.jsx.snap
  packages/volto/src/helpers/Extensions/withBlockSchemaEnhancer.jsx
  packages/volto/types/components/manage/Sidebar/SidebarPortal.d.ts
  packages/volto/types/helpers/Extensions/withBlockSchemaEnhancer.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix types in function addStyling
  packages/volto/types/helpers/Extensions/withBlockSchemaEnhancer.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add mini-css-extract-plugin@2.7.2 as peerDependencie
  packages/volto-razzle/package.json
  pnpm-lock.yaml
Due: none

Remove mini-css-extract-plugin from peerDependencies
  packages/volto-razzle/package.json
  pnpm-lock.yaml
Due: none

Improve typings, refactor `SidebarPortal` to TS (#7590)
  packages/types/news/7560.bugfix
  packages/types/src/blocks/index.d.ts
  packages/volto/.eslintrc
  packages/volto/news/7560.bugfix
  packages/volto/news/7560.internal
  packages/volto/src/components/manage/Sidebar/SidebarPortal.jsx
  packages/volto/src/components/manage/Sidebar/SidebarPortal.test.jsx
  packages/volto/src/components/manage/Sidebar/SidebarPortal.test.tsx
  packages/volto/src/components/manage/Sidebar/SidebarPortal.tsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/SidebarPortal.test.jsx.snap
  packages/volto/src/helpers/Extensions/withBlockSchemaEnhancer.jsx
  packages/volto/types/components/manage/Sidebar/SidebarPortal.d.ts
  packages/volto/types/helpers/Extensions/withBlockSchemaEnhancer.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix Icon component return type
  packages/components/src/components/Icon/Icon.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/components/news/+fixedIconComponentReturn.bugfix
Due: none

Fix icon return (#7597)
  packages/components/news/+fixedIconComponentReturn.bugfix
  packages/components/src/components/Icon/Icon.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release 19.0.0-alpha.11
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/7565.documentation
  packages/volto/package.json
Due: none

Fixed issue of merging block contents upon pressing delete at end of first block with some content (#7473)
  packages/volto-slate/news/7263.bugfix
  packages/volto-slate/src/blocks/Text/keyboard/joinBlocks.js
  packages/volto/cypress/tests/core/blocks/blocks-slate-delete.js
  packages/volto/news/7263.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix blank screen on protected pages
  packages/volto/news/6736.bugfix
Due: none

Remove container cage on relations control panel
  packages/volto/news/6633.bugfix
  packages/volto/src/components/manage/Controlpanels/Relations/Relations.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

restrict controlpanel to manager role
  packages/volto/src/components/manage/Controlpanels/BlockType.tsx
  packages/volto/src/components/manage/Controlpanels/BlockTypes.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove unneeded getContent fetch from listing block
  packages/volto/news/remove_extra_getContent_from_listing.bugfix
  packages/volto/src/components/manage/Blocks/Listing/withQuerystringResults.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Backport: Fix slate delete merge issue to Volto 18
  packages/volto-slate/news/7263.bugfix
  packages/volto-slate/src/blocks/Text/keyboard/joinBlocks.js
  packages/volto/cypress/tests/core/blocks/blocks-slate-delete.js
  packages/volto/news/7263.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove memoizations
  packages/volto/src/components/manage/Widgets/ButtonsWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix tests
  packages/volto/src/components/manage/Widgets/ButtonsWidget.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Load @plone/components CSS only for CMSUI views
  packages/volto/src/components/theme/App/App.jsx
  packages/volto/src/components/theme/InjectPloneComponentsCSS/InjectPloneComponentsCSS.tsx
  packages/volto/src/config/slots.js
  packages/volto/src/theme.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix tests
  packages/volto/src/components/manage/Widgets/AlignWidget.test.tsx
  packages/volto/src/components/manage/Widgets/__snapshots__/AlignWidget.test.tsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
