Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Translated using Weblate (Italian)
  packages/volto/locales/it/LC_MESSAGES/volto.po
Due: none

Updated docs based on feedback provided in #7221
  apps/seven/news/7221.feature
  packages/registry/docs/conceptual-guides/add-on-styles-loader.md
  packages/registry/news/7221.feature
  packages/scripts/news/7221.feature
Due: none

news items
  apps/seven/news/7226.documentation
  packages/registry/news/7226.documentation
  packages/scripts/news/7226.documentation
Due: none

Updated and unified react-aria version
  catalog.json
  packages/components/package.json
  packages/publicui/package.json
  pnpm-lock.yaml
Due: none

Separating cmsui and publicui styles
  packages/cmsui/index.ts
  packages/cmsui/package.json
  packages/cmsui/routes/layout.tsx
  packages/cmsui/styles/cmsui.css
  packages/cmsui/styles/main.css
  packages/cmsui/styles/utilities.css
  packages/layout/components/App/App.module.css
  packages/layout/components/App/App.stories.tsx
  packages/layout/components/App/App.tsx
  packages/layout/components/Header/Header.module.css
  packages/layout/components/Header/Header.stories.tsx
  packages/layout/components/Header/Header.tsx
  packages/layout/components/Logo/Logo.module.css
  packages/layout/components/Logo/Logo.stories.tsx
  packages/layout/components/Logo/Logo.svg
  packages/layout/components/Logo/Logo.tsx
  packages/layout/components/Main.tsx
  packages/layout/components/MainFooter/MainFooter.module.css
  packages/layout/components/MainFooter/MainFooter.tsx
  packages/layout/components/Navigation.stories.tsx
  packages/layout/components/Navigation/Navigation.module.css
  packages/layout/components/Navigation/Navigation.tsx
  packages/layout/components/Tools.tsx
  packages/layout/config/slots.ts
  packages/layout/package.json
  packages/layout/styles/main.css
  packages/publicui/routes/content.tsx
  packages/publicui/routes/index.tsx
  packages/theming/index.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Fixed tests and adde news items
  apps/seven/app/root.test.tsx
  apps/seven/news/7225.feature
  packages/cmsui/news/7225.feature
  packages/layout/news/7225.feature
  packages/publicui/news/7225.feature
  packages/theming/news/7225.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Access the API under the prefix as well in seamless mode
  packages/volto/Makefile
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/theme/RequestTimeout/RequestTimeout.jsx
  packages/volto/src/components/theme/RequestTimeout/__snapshots__/RequestTimeout.test.jsx.snap
  packages/volto/src/config/index.js
  packages/volto/src/express-middleware/devproxy.js
  packages/volto/src/helpers/Api/APIResourceWithAuth.js
  packages/volto/src/helpers/Api/Api.js
  packages/volto/src/helpers/Html/Html.jsx
  packages/volto/src/helpers/Sitemap/Sitemap.js
  packages/volto/src/helpers/Url/Url.js
  packages/volto/src/server.jsx
  packages/volto/src/start-server.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Split tailwind styles and allowed separate lighter imports from a theme
  packages/components/news/7225.feature
  packages/components/src/components/Breadcrumbs/Breadcrumbs.tsx
  packages/components/src/index.ts
  packages/layout/components/Breadcrumbs.tsx
  packages/layout/package.json
  packages/layout/styles/main.css
  packages/publicui/package.json
  packages/theming/styles/main.css.map
  packages/theming/styles/tailwind.css
  packages/theming/styles/theme.css
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

add agave basics
  apps/seven/package.json
  apps/seven/registry.config.ts
  packages/agave/.release-it.json
  packages/agave/.stylelintrc
  packages/agave/CHANGELOG.md
  packages/agave/README.md
  packages/agave/index.ts
  packages/agave/news/.gitkeep
  packages/agave/package.json
  packages/agave/styles/fonts/FunnelDisplay-Bold.woff2
  packages/agave/styles/fonts/FunnelDisplay-ExtraBold.woff2
  packages/agave/styles/fonts/FunnelDisplay-Light.woff2
  packages/agave/styles/fonts/FunnelDisplay-Medium.woff2
  packages/agave/styles/fonts/FunnelDisplay-Regular.woff2
  packages/agave/styles/fonts/FunnelDisplay-SemiBold.woff2
  packages/agave/styles/fonts/FunnelDisplay[wght].woff2
  packages/agave/styles/fonts/FunnelSans-Bold.woff2
  packages/agave/styles/fonts/FunnelSans-BoldItalic.woff2
  packages/agave/styles/fonts/FunnelSans-ExtraBold.woff2
  packages/agave/styles/fonts/FunnelSans-ExtraBoldItalic.woff2
  packages/agave/styles/fonts/FunnelSans-Italic.woff2
  packages/agave/styles/fonts/FunnelSans-Italic[wght].woff2
  packages/agave/styles/fonts/FunnelSans-Light.woff2
  packages/agave/styles/fonts/FunnelSans-LightItalic.woff2
  packages/agave/styles/fonts/FunnelSans-Medium.woff2
  packages/agave/styles/fonts/FunnelSans-MediumItalic.woff2
  packages/agave/styles/fonts/FunnelSans-Regular.woff2
  packages/agave/styles/fonts/FunnelSans-SemiBold.woff2
  packages/agave/styles/fonts/FunnelSans-SemiBoldItalic.woff2
  packages/agave/styles/fonts/FunnelSans[wght].woff2
  packages/agave/styles/main.css
  packages/agave/towncrier.toml
  packages/agave/tsconfig.json
  packages/blocks/config/index.ts
  packages/layout/styles/main.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

add styles for breadcrumbs & header tools
  packages/agave/styles/main.css
Due: pnpm stylelint --fix

Updated with new @plone/theming
  packages/agave/package.json
  packages/agave/styles/main.css
  packages/layout/styles/main.css
  pnpm-lock.yaml
Due: pnpm stylelint --fix

Sneridagh seven sitemap updates (#7217)
  packages/components/src/index.ts
  packages/components/src/styles/basic/Sitemap.css
  packages/layout/.storybook/preview.ts
  packages/layout/components/Sitemap/Sitemap.stories.tsx
  packages/layout/components/Sitemap/Sitemap.test.tsx
  packages/layout/components/Sitemap/Sitemap.tsx
  packages/layout/styles/main.css
  packages/publicui/index.ts
  packages/publicui/package.json
  packages/publicui/routes/index.tsx
  packages/publicui/routes/sitemap.tsx
  packages/theming/styles/main.css
  packages/theming/styles/typography.css
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Fix prod mode, use setting more consistently
  packages/volto/razzle.config.js
  packages/volto/src/server.jsx
  packages/volto/src/start-client.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Apply suggestions from code review
  apps/seven/news/7226.documentation
  packages/registry/docs/conceptual-guides/add-on-styles-loader.md
  packages/registry/news/7226.documentation
  packages/scripts/news/7226.documentation
Due: none

Recent PR 7221 docs fixes (#7226)
  apps/seven/news/7221.feature
  apps/seven/news/7226.documentation
  packages/registry/docs/conceptual-guides/add-on-styles-loader.md
  packages/registry/news/7221.feature
  packages/registry/news/7226.documentation
  packages/scripts/news/7221.feature
  packages/scripts/news/7226.documentation
Due: none

add breadcrumbs styles & add bm3 classes for block wrapper
  packages/agave/styles/main.css
  packages/blocks/RenderBlocks/BlockWrapper.tsx
  packages/layout/components/Header/Header.module.css
  packages/layout/styles/main.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

color fix
  packages/agave/styles/main.css
Due: pnpm stylelint --fix

Fixed lockfile
  pnpm-lock.yaml
Due: none

docs(changelog): add changelog entry for #7080
  packages/volto/news/7080.bugfix
Due: none

First wireframe of the BlocksEditor, performance first.
  packages/blocks/RenderBlocks/BlockWrapper.tsx
  packages/blocks/RenderBlocks/RenderBlocks.tsx
  packages/blocks/config/index.ts
  packages/cmsui/components/BlockEditor/BlockEditor.tsx
  packages/cmsui/components/BlockEditor/BlockSettingsForm.tsx
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/cmsui/helpers/atoms.ts
  packages/cmsui/package.json
  packages/cmsui/routes/atoms.ts
  packages/cmsui/routes/edit.tsx
  packages/publicui/routes/index.tsx
  packages/types/src/config/Blocks.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

docs: clarify grid block custom block configuration requirements
  docs/source/blocks/core/grid.md
  packages/volto/news/7080.documentation
Due: none

wip on upgrading styles to tailwind
  packages/components/src/components/Button/Button.quanta.tsx
  packages/contents/.prettierrc
  packages/contents/components/AddContentPopover/AddContentPopover.css
  packages/contents/components/AddContentPopover/AddContentPopover.tsx
  packages/contents/components/ContentsActions/ContentsActions.tsx
  packages/contents/components/ContentsCell/ContentsCell.tsx
  packages/contents/components/ContentsTable/ContentsTable.tsx
  packages/contents/components/DeleteModal/DeleteModal.tsx
  packages/contents/components/IconButton.tsx
  packages/contents/components/ItemActionsPopover/ItemActionsPopover.tsx
  packages/contents/components/PopoverListItem.tsx
  packages/contents/components/ReviewState.tsx
  packages/contents/components/Topbar.tsx
  packages/contents/package.json
  packages/contents/routes/contents.tsx
  packages/contents/styles/base/reactAriaPopover.css
  packages/contents/styles/base/reset.css
  packages/contents/styles/main.css
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

add header top margin
  packages/agave/styles/main.css
Due: pnpm stylelint --fix

feat: mode 'display' in form field
  packages/volto/src/components/manage/Form/Field.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: added news file
  packages/volto/news/7230.feature
Due: none

feat: manage field mode='display' in form
  src/components/manage/Form/Field.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: news file
  news/7231.feature
Due: none

fix: lint
  packages/volto/src/components/manage/Form/Field.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: import
  packages/volto/src/components/manage/Form/Field.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Updated the Spanish translations. #7232
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/news/7232.feacture
Due: none

improve backgrounds & simplify
  packages/agave/styles/main.css
Due: pnpm stylelint --fix

Contents view: Label 'None' for deselecting needs to be different from 'None' of a not available value in the table.
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7233.bugfix
  packages/volto/src/components/manage/Contents/ContentsItem.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Contents view: Label 'None' for deselecting needs to be different fro… (#7234)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7233.bugfix
  packages/volto/src/components/manage/Contents/ContentsItem.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Translated using Weblate (Spanish)
  packages/volto/locales/es/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Basque)
  packages/volto/locales/eu/LC_MESSAGES/volto.po
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
