Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Aria label for search and cancel button for the input on search block (#6859)
  packages/volto/news/6859.bugfix
  packages/volto/src/components/manage/TemplateChooser/__snapshots__/TemplateChooser.test.jsx.snap
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.Multilingual.test.jsx.snap
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.test.jsx.snap
  packages/volto/src/components/theme/PreviewImage/__snapshots__/PreviewImage.test.jsx.snap
Due: none

Added tests for size validator.
  packages/volto/src/helpers/FormValidation/FormValidation.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: address PR feedback (rename news file and remove debug log)
  packages/volto/news/7637.bugfix
  packages/volto/news/7955.internal
  packages/volto/src/server.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: simplify news file description
  packages/volto/news/7955.internal
Due: none

Added a test for the case of a JSON field
  packages/volto/src/helpers/FormValidation/FormValidation.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

File size upload limit validator main (#7960)
  docs/source/configuration/validation.md
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7936.bugfix
  packages/volto/src/config/validation.ts
  packages/volto/src/helpers/FormValidation/FormValidation.test.js
  packages/volto/src/helpers/FormValidation/validators.ts
  packages/volto/src/helpers/MessageLabels/MessageLabels.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release 18.32.3
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/7936.bugfix
  packages/volto/package.json
  packages/volto/types/helpers/FormValidation/validators.d.ts
  packages/volto/types/helpers/MessageLabels/MessageLabels.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Tests and polish ImageWidget
  packages/cmsui/components/ImageWidget/ImageWidget.test.tsx
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Refactored BlockSettingsForm
  packages/cmsui/components/BlockEditor/BlockSettingsAtomForm.tsx
  packages/cmsui/components/BlockEditor/BlockSettingsForm.test.tsx
  packages/cmsui/components/BlockEditor/BlockSettingsForm.tsx
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/cmsui/components/BlockEditor/plugins/SidebarPlugin.tsx
  packages/cmsui/components/Form/Field.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update docs/source/configuration/settings-reference.md
  docs/source/configuration/settings-reference.md
Due: none

First full working implementation
  packages/blocks/Image/index.ts
  packages/blocks/Image/schema.tsx
  packages/cmsui/acceptance/tests/image-block.test.ts
  packages/cmsui/components/Sidebar/Sidebar.tsx
  packages/plate/components/ui/slash-node.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Polishments
  packages/cmsui/acceptance/tests/image-block.test.ts
  packages/plate/components/editor/plugins/native-block-adapter.tsx
  packages/plate/components/editor/plugins/title-block.test.ts
  packages/plate/components/editor/plugins/title.tsx
  packages/plate/components/ui/slash-node.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: news update
  packages/volto/news/7494.bugfix
Due: none

WIP teaser
  packages/blocks/Teaser/TeaserBlockView.tsx
  packages/blocks/Teaser/TeaserEdit.tsx
  packages/blocks/Teaser/index.ts
  packages/blocks/Teaser/schema.tsx
  packages/cmsui/acceptance/tests/teaser-block.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix contentEditable prop passed down
  packages/plate/components/editor/plugins/native-block-adapter.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix enter on title block
  packages/cmsui/acceptance/tests/title-block-sync.test.ts
  packages/plate/components/editor/plugins/title.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix and add url field in image block
  packages/blocks/Image/schema.tsx
  packages/cmsui/components/ImageWidget/ImageWidget.stories.tsx
  packages/cmsui/components/ImageWidget/ImageWidget.test.tsx
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fixes the upload button
  packages/cmsui/acceptance/tests/image-block.test.ts
  packages/cmsui/components/ImageWidget/ImageWidget.test.tsx
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: aria-label for content title block (#7948)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7948.bugfix
  packages/volto/src/components/manage/Blocks/Title/Edit.jsx
  packages/volto/src/components/manage/Blocks/Title/__snapshots__/Edit.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: add defensive checks for missing languages and locale files (#7637) (#7955)
  packages/volto/news/7955.internal
  packages/volto/src/components/manage/Add/Add.jsx
  packages/volto/src/components/manage/Multilingual/CreateTranslation.jsx
  packages/volto/src/components/manage/Multilingual/ManageTranslations.jsx
  packages/volto/src/components/manage/Multilingual/TranslationObject.jsx
  packages/volto/src/components/manage/Preferences/PersonalPreferences.jsx
  packages/volto/src/components/manage/Toolbar/Types.crash.test.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
  packages/volto/src/middleware/api.js
  packages/volto/src/server.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Show custom error message when there are errors on delete (clean version) (#7888)
  packages/volto/news/7888.feature
  packages/volto/src/components/manage/Contents/Contents.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix tsconfig root
  packages/tsconfig/base.json
  packages/volto/news/7966.internal
  tsconfig.json
Due: none

Show custom error message when there are errors on delete (clean version) (#7965)
  packages/volto/news/7888.feature
  packages/volto/src/components/manage/Contents/Contents.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix null port in virtual hosting path passed to backend by devproxy
  packages/volto/news/+devproxy_port.bugfix
  packages/volto/src/express-middleware/devproxy.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix null port in virtual hosting path passed to backend by devproxy (#7967)
  packages/volto/news/+devproxy_port.bugfix
  packages/volto/src/express-middleware/devproxy.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Refactor and improve plone-block-adapter
  packages/blocks/plate/native-editor.ts
  packages/blocks/plate/native-renderer.ts
  packages/plate/components/editor/plugins/plone-block-adapter.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix TS errors
  packages/plate/components/editor/plugins/plone-block-adapter.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Better instantiation of the Playwright plugin
  packages/blocks/plate/native-editor.ts
  packages/plate/config/presets/block-editor.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Polish reset in BlocksForm
  packages/cmsui/components/BlockEditor/BlockSettingsForm.test.tsx
  packages/cmsui/components/BlockEditor/BlockSettingsForm.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Better BlockSettingsForm duality
  packages/cmsui/components/BlockEditor/BlockSettingsAtomForm.tsx
  packages/cmsui/components/BlockEditor/BlockSettingsForm.tsx
  packages/cmsui/components/BlockEditor/BlockSettingsFormRenderer.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Removed cruft from SomersaultEditor
  packages/cmsui/components/BlockEditor/SomersaultEditor.tsx
  packages/cmsui/routes/edit.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Move and rename native (somersault) plate preset
  packages/blocks/plate/native-editor.ts
  packages/blocks/plate/native-renderer.ts
  packages/cmsui/components/BlockEditor/SomersaultEditor.tsx
  packages/layout/slots/MainFooter/MainFooter.tsx
  packages/plate/config/presets/somersault-editor.ts
  packages/plate/config/presets/somersault-renderer.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write
