Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

fix changelog
  packages/volto/news/7510.feature
Due: none

fix translations strings
  packages/volto-slate/locales/de/LC_MESSAGES/volto.po
  packages/volto-slate/locales/en/LC_MESSAGES/volto.po
  packages/volto-slate/locales/es/LC_MESSAGES/volto.po
  packages/volto-slate/locales/eu/LC_MESSAGES/volto.po
  packages/volto-slate/locales/it/LC_MESSAGES/volto.po
  packages/volto-slate/locales/nl/LC_MESSAGES/volto.po
  packages/volto-slate/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto-slate/locales/volto.pot
  packages/volto-slate/src/blocks/Table/TableBlockEdit.jsx
  packages/volto-slate/src/blocks/Text/MarkdownIntroduction.jsx
  packages/volto-slate/src/blocks/Text/ShortcutListing.jsx
  packages/volto-slate/src/blocks/Text/TextBlockSchema.js
  packages/volto-slate/src/blocks/Text/schema.js
  packages/volto-slate/src/editor/plugins/AdvancedLink/schema.js
  packages/volto-slate/src/editor/plugins/Blockquote/index.jsx
  packages/volto-slate/src/editor/plugins/StyleMenu/StyleMenu.jsx
  packages/volto-slate/src/editor/plugins/Table/index.jsx
  packages/volto-slate/src/editor/ui/SlateToolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

restore README
  packages/volto/README.md
Due: none

Update packages/volto-slate/news/7510.feature
  packages/volto-slate/news/7510.feature
Due: none

restore package.json
  packages/volto-slate/package.json
Due: none

changelog entry
  packages/volto-slate/news/7510.feature
Due: none

Add some more messages
  packages/volto-slate/src/blocks/Text/TextBlockSchema.js
  packages/volto-slate/src/blocks/Text/schema.js
  packages/volto-slate/src/editor/config.jsx
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Listing/ImageGallery.jsx
  packages/volto/src/components/manage/Form/InlineForm.jsx
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
  packages/volto/src/helpers/MessageLabels/MessageLabels.js
  packages/volto/src/helpers/Utils/withSaveAsDraft.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/news/7510.feature
  packages/volto/news/7510.feature
Due: none

update snapshots
  packages/volto/src/components/manage/Widgets/__snapshots__/RegistryImageWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/UrlWidget.test.jsx.snap
  packages/volto/src/components/theme/Anontools/__snapshots__/Anontools.test.jsx.snap
  packages/volto/src/helpers/Html/__snapshots__/Html.test.jsx.snap
Due: none

restore changelogs
  docs/source/release-notes/index.md
  packages/types/CHANGELOG.md
Due: none

remove
  packages/volto/news/7532.internal
Due: none

restore changelog
  docs/source/release-notes/index.md
Due: none

test if fix works
  packages/volto/cypress/tests/coresandbox/formFieldTypeValidation.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Refactor `LanguageSelector` into TypeScript. Modernize `tsconfig.json` settings in core. (#7531)
  packages/types/news/7531.feature
  packages/types/src/content/common.d.ts
  packages/volto/news/7531.1.internal
  packages/volto/news/7531.2.internal
  packages/volto/package.json
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.test.tsx
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.tsx
  packages/volto/src/components/theme/LanguageSelector/__snapshots__/LanguageSelector.test.tsx.snap
  packages/volto/tsconfig.json
  packages/volto/types/components/theme/LanguageSelector/LanguageSelector.d.ts
  packages/volto/types/reducers/index.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

use_prerelease_versions=Yes in Cookieplone job
  .github/workflows/cookieplone.yml
Due: none

Changes
  packages/volto/news/7545.internal
Due: none

Refactor `LanguageSelector` into TypeScript. Modernize `tsconfig.json` settings in core (#7544)
  packages/types/news/7531.feature
  packages/types/src/content/common.d.ts
  packages/volto/news/7531.1.internal
  packages/volto/news/7531.2.internal
  packages/volto/package.json
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.test.tsx
  packages/volto/src/components/theme/LanguageSelector/LanguageSelector.tsx
  packages/volto/src/components/theme/LanguageSelector/__snapshots__/LanguageSelector.test.tsx.snap
  packages/volto/tsconfig.json
  packages/volto/types/components/theme/LanguageSelector/LanguageSelector.d.ts
  packages/volto/types/reducers/index.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Compat with Volto and React 18
  packages/plate/components/ui/button.tsx
  packages/plate/index.ts
  packages/plate/input.css
  packages/plate/output.css
  packages/plate/package.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Remove the plate config from the registry for now
  packages/blocks/Text/TextBlockEdit.tsx
  packages/blocks/Text/TextBlockView.tsx
  packages/blocks/config/plate.ts
  packages/blocks/index.ts
  packages/plate/components/editor/plugins/floating-toolbar-kit.tsx
  packages/plate/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Updates
  packages/plate/.prettierrc
  packages/plate/components/ui/button.tsx
  packages/plate/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/cmsui/news/7393.feature
  packages/plate/output.css
Due: pnpm stylelint --fix

Changelog
  packages/theming/news/7393.feature
Due: none

feat: enhanced diff reducer to process static behaviors
  packages/volto/src/helpers/Content/Content.js
  packages/volto/src/helpers/Content/Content.test.js
  packages/volto/src/reducers/content/content.js
  packages/volto/src/reducers/diff/diff.js
  packages/volto/src/reducers/diff/diff.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: changelog
  packages/volto/news/7546.feature
Due: none

test: add static behaviors to Content component tests
  packages/volto/src/helpers/Content/Content.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added RSC support to plone components (#7499)
  packages/components/news/+rsc.feature
  packages/components/tsup.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix reset password error handling
  packages/volto/src/components/theme/PasswordReset/PasswordReset.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add changelog entry for reset password error handling (Closes #7533)
  packages/volto/news/news/7533-reset-password-error-handling.toml
Due: none

Added RSC support to plone components (#7502)
  packages/components/news/+rsc.feature
  packages/components/tsup.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Force cookieplone CI job to use 19
  .github/workflows/cookieplone.yml
Due: none

Changelog
  packages/volto/news/7548.internal
Due: none

Reset `fieldset.invisible` class definition in order to prevent clashes with other CSS frameworks that might have `invisible` as utility (#7540)
  packages/volto/news/+reset.fieldset.invisible.bugfix
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm stylelint --fix

Translated using Weblate (Spanish)
  packages/volto/locales/es/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Basque)
  packages/volto/locales/eu/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Dutch)
  packages/volto/locales/nl/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Tamil)
  packages/volto/locales/ta/LC_MESSAGES/volto.po
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
