Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

add DialogTrigger component
  packages/components/news/+dialogtrigger.feature
  packages/components/src/components/Dialog/Dialog.quanta.tsx
  packages/components/src/components/Dialog/Dialog.tsx
  packages/components/src/components/Modal/Modal.stories.tsx
  packages/components/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

forward refs to quanta button and rename quanta-lemmon color to quanta-lemon
  packages/components/news/6656.bugfix
  packages/components/src/components/Button/Button.quanta.tsx
  packages/components/src/styles/quanta/colors.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

rename quanta-lemmon color to quanta-lemon
  packages/cmsui/news/6656.bugfix
  packages/cmsui/styles/cmsui.css
  packages/theming/news/6656.bugfix
  packages/theming/styles/colors.css
  packages/theming/styles/tailwind.css
  packages/theming/styles/theme.css
Due: pnpm stylelint --fix

chore: news updated
  packages/volto/news/7981.bugfix
Due: none

test: add aria-required and aria-invalid attribute tests to TextWidget
  packages/volto/src/components/manage/Widgets/TextWidget.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: compare child.type directly instead of using child.type.name
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added functionality to all the widgets
  packages/blocks/Image/Image.module.css
  packages/blocks/Image/ImageBlockEdit.tsx
  packages/blocks/Image/ImageBlockView.tsx
  packages/blocks/Image/schema.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

fix: separate error announcements into role=alert element and use join with period
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: use defaultMessage as id for downloadFile translation
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: remove redundant title from aria-describedby status text
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

improve login view
  packages/cmsui/components/Login/LoginActions.tsx
  packages/cmsui/components/Login/LoginHero.tsx
  packages/cmsui/components/Login/LoginLogo.tsx
  packages/cmsui/config/slots.ts
  packages/cmsui/index.ts
  packages/cmsui/locales/de/common.json
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/news/6656.feature
  packages/cmsui/routes/auth/login.tsx
  packages/cmsui/static/volto-hero.svg
  packages/cmsui/static/volto-titled.svg
  packages/cmsui/static/volto.svg
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: update changelog to include RegistryImageWidget changes
  packages/volto/news/7982.bugfix
Due: none

fix responsiveness
  packages/cmsui/routes/auth/login.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Added view for content type Link (#7534)
  apps/seven/app/root.test.tsx
  apps/seven/app/root.tsx
  apps/seven/news/6710.feature
  packages/layout/index.ts
  packages/layout/locales/de/common.json
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/news/6710.feature
  packages/layout/styles/content-area.css
  packages/layout/views/LinkView.tsx
  packages/types/news/6710.feature
  packages/types/src/content/index.d.ts
  packages/types/src/content/types/link.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

[Seven] Added Component component (#8257)
  packages/layout/components/Component/Component.test.tsx
  packages/layout/components/Component/Component.tsx
  packages/layout/news/6691.feature
  packages/registry/news/6691.bugfix
  packages/registry/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

remove ?url import from voltoHeroSvg
  packages/cmsui/components/Login/LoginHero.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

put type back where it belongs
  packages/types/src/content/index.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Added view for content type Event (#7529)
  packages/layout/components/EventDate/EventDate.tsx
  packages/layout/components/EventDetails/EventDetails.module.css
  packages/layout/components/EventDetails/EventDetails.tsx
  packages/layout/helpers/index.ts
  packages/layout/index.ts
  packages/layout/locales/de/common.json
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/news/6708.feature
  packages/layout/package.json
  packages/layout/slots/ContentArea.tsx
  packages/layout/views/EventView.module.css
  packages/layout/views/EventView.tsx
  packages/types/news/6708.feature
  packages/types/src/content/index.d.ts
  packages/types/src/content/types/event.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

rename siteActions locale to actions, update pnpm-lock file
  packages/layout/locales/de/common.json
  packages/layout/locales/en/common.json
  packages/layout/locales/it/common.json
  packages/layout/slots/HeaderTools/Actions.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added UploadModal
  packages/components/src/components/DropZone/DropZone.quanta.stories.tsx
  packages/components/src/components/DropZone/DropZone.quanta.tsx
  packages/components/src/components/DropZone/DropZone.stories.tsx
  packages/components/src/components/DropZone/DropZone.tsx
  packages/components/src/components/Modal/Modal.quanta.tsx
  packages/components/src/components/Table/Table.quanta.tsx
  packages/components/src/components/Tooltip/Tooltip.quanta.stories.tsx
  packages/components/src/components/Tooltip/Tooltip.quanta.tsx
  packages/components/src/index.ts
  packages/components/src/quanta/index.ts
  packages/components/src/styles/basic/DropZone.css
  packages/components/src/styles/basic/main.css
  packages/contents/components/ContentsActions.tsx
  packages/contents/components/ContentsActions/ContentsActions.css
  packages/contents/components/ContentsCell/ContentsCell.tsx
  packages/contents/components/ContentsTable/ContentsTable.css
  packages/contents/components/ContentsTable/ContentsTable.tsx
  packages/contents/components/UploadModal/UploadModal.tsx
  packages/contents/locales/en/common.json
  packages/contents/locales/it/common.json
  packages/contents/providers/contents.tsx
  packages/contents/routes/contents.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Remove unused postcss-overrides (#8137)
  packages/volto/news/+dep-postcss-overrides.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Fix personal tools menu in Safari
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

changelog
  packages/volto/news/8272.bugfix
Due: none

Try a different workaround
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add DialogTrigger component (#8265)
  packages/components/news/+dialogtrigger.feature
  packages/components/src/components/Dialog/Dialog.quanta.tsx
  packages/components/src/components/Dialog/Dialog.tsx
  packages/components/src/components/Modal/Modal.stories.tsx
  packages/components/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update more imports
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserTrigger.tsx
  packages/components/src/components/Dialog/Dialog.stories.tsx
  packages/components/src/components/Modal/Modal.quanta.stories.tsx
  packages/components/src/components/Popover/Popover.quanta.stories.tsx
  packages/components/src/components/Popover/Popover.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update vitest mock
  packages/cmsui/components/ImageWidget/ImageWidget.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Add DialogTrigger component (#8270)
  packages/cmsui/components/ImageWidget/ImageWidget.test.tsx
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserTrigger.tsx
  packages/components/news/+dialogtrigger.feature
  packages/components/src/components/Dialog/Dialog.quanta.tsx
  packages/components/src/components/Dialog/Dialog.stories.tsx
  packages/components/src/components/Dialog/Dialog.tsx
  packages/components/src/components/Modal/Modal.quanta.stories.tsx
  packages/components/src/components/Modal/Modal.stories.tsx
  packages/components/src/components/Popover/Popover.quanta.stories.tsx
  packages/components/src/components/Popover/Popover.stories.tsx
  packages/components/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added link view redirects and handled redirects from the backend
  apps/seven/app/middleware.server.test.ts
  apps/seven/app/middleware.server.ts
  apps/seven/app/root.tsx
  apps/seven/news/+handleredirects.feature
  apps/seven/news/+linkmiddleware.feature
  packages/client/news/+handleredirects.feature
  packages/client/src/api.test.ts
  packages/client/src/api.ts
  packages/client/src/restapi/content/get.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix edge case error on block types control panel
  packages/volto/src/components/manage/Controlpanels/BlockTypes.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

changelog
  packages/volto/news/+blocktypes.bugfix
Due: none

Improved middleware test
  apps/seven/app/middleware.server.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Refactored the Content type to allow TypeScript to narrow this type automatically
  docs/how-to-guides/index.md
  docs/how-to-guides/type-custom-content-types.md
  packages/cmsui/components/ObjectBrowserWidget/utils.ts
  packages/cmsui/news/+contenttypes.breaking
  packages/layout/components/EventDate/EventDate.tsx
  packages/layout/components/EventDetails/EventDetails.tsx
  packages/layout/news/+contenttypes.breaking
  packages/layout/views/EventView.tsx
  packages/layout/views/FileView.tsx
  packages/layout/views/LinkView.tsx
  packages/types/news/+contenttypes.breaking
  packages/types/src/content/base.d.ts
  packages/types/src/content/index.d.ts
  packages/types/src/content/types/collection.d.ts
  packages/types/src/content/types/document.d.ts
  packages/types/src/content/types/event.d.ts
  packages/types/src/content/types/file.d.ts
  packages/types/src/content/types/folder.d.ts
  packages/types/src/content/types/image.d.ts
  packages/types/src/content/types/link.d.ts
  packages/types/src/content/types/news-item.d.ts
  packages/types/src/services/common.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Added link view redirects and handled redirects from the backend (#8275)
  apps/seven/app/middleware.server.test.ts
  apps/seven/app/middleware.server.ts
  apps/seven/app/root.tsx
  apps/seven/news/+handleredirects.feature
  apps/seven/news/+linkmiddleware.feature
  packages/client/news/+handleredirects.feature
  packages/client/src/api.test.ts
  packages/client/src/api.ts
  packages/client/src/restapi/content/get.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed test
  packages/layout/views/FileView.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed middleware types
  apps/seven/app/middleware.server.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix edge case error on block types control panel (#8276)
  packages/volto/news/+blocktypes.bugfix
  packages/volto/src/components/manage/Controlpanels/BlockTypes.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
