Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

fix: aria properties added to formfieldwrapper
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: news
  packages/volto/news/7981.bugfix
Due: none

fix: Added aria-required and labels to ensure proper identification of mandatory fields in the FileWidget and RegistryImageWidget components
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: news
  packages/volto/news/7982.bugfix
Due: none

chore: i18n
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

fix: URL required fields - a11y
  packages/volto/src/components/manage/Widgets/UrlWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: news
  packages/volto/news/7983.bugfix
Due: none

chore: unit tests
  packages/volto/src/components/manage/Widgets/__snapshots__/UrlWidget.test.jsx.snap
Due: none

Update http-proxy-middleware to same version as webpack-dev-server
  packages/volto/news/+deps.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update vitest in @plone/client and @plone/registry
  packages/client/news/+vitest.internal
  packages/client/package.json
  packages/registry/news/+vitest.internal
  packages/registry/package.json
  pnpm-lock.yaml
Due: none

Update tmp
  packages/registry/news/+vitest.internal
  packages/registry/package.json
  packages/volto/news/+deps.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Use catalog for vitest version
  packages/client/package.json
  packages/components/package.json
  packages/registry/package.json
  pnpm-lock.yaml
Due: none

Update dependencies to reduce duplicate packages (#7906)
  packages/client/news/+vitest.internal
  packages/client/package.json
  packages/components/package.json
  packages/registry/news/+vitest.internal
  packages/registry/package.json
  packages/volto/news/+deps.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Remove the `immutable` dependency, since it is not a direct dependency (#7974)
  packages/volto/news/7974.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Remove the `immutable` dependency, since it is not a direct dependency (#7985)
  packages/volto/news/7974.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update to webpack 5.105.4
  packages/volto/news/+dep-webpack.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

rec-changes-for-grid-block
  packages/volto/src/components/manage/Blocks/Grid/View.jsx
  packages/volto/src/components/manage/Blocks/Image/View.jsx
  packages/volto/src/components/theme/View/DefaultView.jsx
  packages/volto/src/components/theme/View/RenderBlocks.jsx
  packages/volto/src/components/theme/View/View.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update webpack peers that were using old loader-utils
  packages/volto-razzle/news/+dep-webpack.internal
  packages/volto-razzle/package.json
  packages/volto/news/+dep-webpack.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Made-rec-changes-and-removed-ismount-logic
  packages/components/src/components/ColorPicker/ColorPicker.tsx
  packages/volto/news/7714.internal
  packages/volto/src/components/manage/Diff/Diff.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: add visually-hidden class to file-dropzone
  packages/volto/theme/themes/pastanaga/extras/widgets.less
Due: pnpm stylelint --fix

Docs: remove TanStack terminology and add httpexample
  docs/source/client/actions/content.md
  docs/source/client/future-improvements.md
  docs/source/client/index.md
  docs/source/client/misc.md
  docs/source/client/quick-start.md
  docs/source/conf.py
  docs/source/release-notes/index.md
  requirements-docs.txt
Due: none

Changelog: document @plone/client docs improvements
  packages/client/news/7947.documentation
Due: none

Enhance webpack configuration to isolate build directory, loader and cache per POLICY_PACKAGE
  .gitignore
  packages/volto/razzle.config.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

forward cache-status header in images middleware
  packages/volto/src/express-middleware/files.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update to webpack 5.105.4 (#7986)
  packages/volto-razzle/news/+dep-webpack.internal
  packages/volto-razzle/package.json
  packages/volto/news/+dep-webpack.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Recreate pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Update to webpack 5.105.4 (#7986)
  packages/volto/news/+dep-webpack.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update to webpack 5.105.4 (#7990)
  packages/volto/news/+dep-webpack.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Code review
  docs/source/upgrade-guide/index.md
  packages/volto-razzle-dev-utils/README.md
  packages/volto-razzle-dev-utils/news/7973.internal
Due: none

Fork `razzle-dev-utils` into `@plone/razzle-dev-utils` (#7973)
  docs/source/upgrade-guide/index.md
  packages/volto-razzle-dev-utils/.release-it.json
  packages/volto-razzle-dev-utils/CHANGELOG.md
  packages/volto-razzle-dev-utils/FileSizeReporter.js
  packages/volto-razzle-dev-utils/FriendlyErrorsPlugin.js
  packages/volto-razzle-dev-utils/README.md
  packages/volto-razzle-dev-utils/WebpackConfigHelpers.js
  packages/volto-razzle-dev-utils/devServerMajor.js
  packages/volto-razzle-dev-utils/formatWebpackMessages.js
  packages/volto-razzle-dev-utils/logger.js
  packages/volto-razzle-dev-utils/makeLoaderFinder.js
  packages/volto-razzle-dev-utils/news/.gitkeep
  packages/volto-razzle-dev-utils/news/7973.internal
  packages/volto-razzle-dev-utils/package.json
  packages/volto-razzle-dev-utils/prettyNodeErrors.js
  packages/volto-razzle-dev-utils/printErrors.js
  packages/volto-razzle-dev-utils/printWarnings.js
  packages/volto-razzle-dev-utils/resolveRequest.js
  packages/volto-razzle-dev-utils/setPorts.js
  packages/volto-razzle-dev-utils/towncrier.toml
  packages/volto-razzle-dev-utils/webpackHotDevClient.js
  packages/volto-razzle-dev-utils/webpackHotDevClientV4.js
  packages/volto-razzle-dev-utils/webpackMajor.js
  packages/volto-razzle/config/createConfigAsync.js
  packages/volto-razzle/config/createJestConfig.js
  packages/volto-razzle/config/loadRazzleConfig.js
  packages/volto-razzle/config/modules.js
  packages/volto-razzle/config/paths.js
  packages/volto-razzle/news/7973.breaking
  packages/volto-razzle/package.json
  packages/volto-razzle/scripts/build.js
  packages/volto-razzle/scripts/export.js
  packages/volto-razzle/scripts/start.js
  packages/volto-razzle/scripts/test.js
  packages/volto/news/7973.breaking
  packages/volto/package.json
  packages/volto/razzle.config.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update pnpm to 9.15.9 (#7975)
  package.json
  packages/volto/news/7975.internal
Due: none

Make sure volto-razzle-dev-utils scripts are read as commonjs
  packages/volto-razzle-dev-utils/package.json
Due: none

Remove volto-slate devDependency babel-plugin-transform-class-properties
  packages/volto-slate/news/+dep-babel.internal
  packages/volto-slate/package.json
  pnpm-lock.yaml
Due: none

Remove volto-slate devDependency babel-plugin-transform-class-properties (#7991)
  packages/volto-slate/news/+dep-babel.internal
  packages/volto-slate/package.json
  pnpm-lock.yaml
Due: none

Update to react-dev-utils 12.0.1
  packages/volto-razzle-dev-utils/news/+dep-react-dev-utils.internal
  packages/volto-razzle-dev-utils/package.json
  packages/volto-razzle/news/+dep-react-dev-utils.internal
  packages/volto-razzle/package.json
  pnpm-lock.yaml
Due: none

Revert "Backport #7672: Convert FormFieldWrapper to functional component (18.…"
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Revert "Backport #7672: Convert FormFieldWrapper to functional component (18.x.x)" (#7994)
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/news/7980.bugfix
  packages/volto/news/7980.bugfix
Due: none

Update packages/volto/news/7981.bugfix
  packages/volto/news/7981.bugfix
Due: none

Update packages/volto/news/7983.bugfix
  packages/volto/news/7983.bugfix
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
