Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Fix inner version of Plone T_T
  packages/volto/Makefile
Due: none

Links references view cypress tests (#5111)
  packages/volto/Makefile
  packages/volto/cypress/tests/core/basic/linkIntegrityView.js
  packages/volto/news/5427.internal
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Added aria-live='polite'
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/theme/View/TabularView.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Unify variables from Makefile(s)
  Makefile
  packages/volto/Makefile
  variables.mk
Due: none

Better
  Makefile
Due: none

Changelog
  packages/volto/news/5637.internal
Due: none

addedAriaLive=polite#5617
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/theme/View/TabularView.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Added aria-live='polite'
  packages/volto/src/components/manage/Contents/Contents.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Added aria-live='polite' for volto 17
  src/components/manage/Contents/Contents.jsx
Due: none

bugs: fixes toggle menu
  packages/volto/news/5645.bugfix
Due: none

bugs: fixes toggle menu
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix blocks chooser index and add a bit of breath to the left in the search input.
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm stylelint --fix

Update packages/volto/news/5637.internal
  packages/volto/news/5637.internal
Due: none

Unify variables in Makefile (#5637)
  Makefile
  packages/volto/Makefile
  packages/volto/news/5637.internal
  variables.mk
Due: none

Fixed not closing Toolbar etc. bug
  packages/volto/news/5645.bugfix
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Added change log entry file
  packages/volto/news/5617.feature
Due: none

Update packages/volto/news/5617.feature
  packages/volto/news/5617.feature
Due: none

Fix order of preference in addons-registry for the theme
  packages/registry/src/addon-registry.js
Due: none

Changelog
  packages/registry/news/5649.bugfix
Due: none

Fix order of preference in addons-registry for the theme
  addon-registry.js
Due: none

Changelog
  news/5650.bugfix
Due: none

Fix order of preference in addons-registry for the theme (#5650)
  addon-registry.js
  news/5650.bugfix
Due: none

Fix order of preference in addons-registry for the theme (#5649)
  packages/registry/news/5649.bugfix
  packages/registry/src/addon-registry.js
Due: none

Release 17.11.1
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/5650.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

Update deps
  packages/coresandbox/package.json
  packages/registry/package.json
  packages/types/package.json
  packages/volto-slate/package.json
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Merge the StyleWrapper styles with the draggable props from b-D&D. This fixes the D&D bug introduced in https://github.com/plone/volto/pull/5581
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/5652.bugfix
Due: none

Merge the StyleWrapper styles with the draggable props from b-D&D (#5652)
  packages/volto/news/5652.bugfix
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Merge the StyleWrapper styles with the draggable props from b-D&D (#5652)
  packages/volto/news/5652.bugfix
  src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: none

Merge the StyleWrapper styles with the draggable props from b-D&D (#5652) (#5653)
  packages/volto/news/5652.bugfix
  src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: none

Fix news location
  packages/volto/news/5652.bugfix
Due: none

Release 17.11.2
  CHANGELOG.md
  docs/source/release-notes/index.md
  package.json
  packages/volto-slate/package.json
Due: none

Release @plone/registry 1.2.1
  packages/registry/CHANGELOG.md
  packages/registry/news/5649.bugfix
  packages/registry/package.json
Due: none

Release @plone/scripts 3.3.0
  packages/scripts/CHANGELOG.md
  packages/scripts/news/5542.internal
  packages/scripts/package.json
Due: none

Release 18.0.0-alpha.7
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/5359.bugfix
  packages/volto/news/5427.internal
  packages/volto/news/5542.internal
  packages/volto/news/5585.feature
  packages/volto/news/5586.feature
  packages/volto/news/5591.documentation
  packages/volto/news/5624.bugfix
  packages/volto/news/5633.bugfix
  packages/volto/news/5637.internal
  packages/volto/news/5652.bugfix
  packages/volto/package.json
  packages/volto/types/components/manage/Sidebar/SidebarPortal.d.ts
  packages/volto/types/helpers/Extensions/withBlockSchemaEnhancer.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Resolved Prettier Conflict
  packages/volto/src/components/manage/Contents/Contents.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update ref from install-from-packages to create-project
  docs/source/index.md
Due: none

Add change log
  packages/volto/news/5654.documentation
Due: none

Temporarily pin sphinxcontrib-*help dependencies so docs can build
  requirements-docs.txt
Due: none

add change log
  packages/volto/news/5655.documentation
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
