Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Removed the presets from the config, since we don't want it to be bloated
  packages/blocks/config/plate.ts
  packages/plate/components/editor/plugins/floating-toolbar-kit.tsx
  packages/plate/config/blocks.ts
  packages/plate/config/presets/block.ts
  packages/plate/config/presets/full.ts
  packages/plate/index.ts
  packages/types/src/config/Settings.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

naming
  packages/volto/src/components/manage/Controlpanels/BlockType.tsx
  packages/volto/src/components/manage/Controlpanels/BlockTypes.tsx
  packages/volto/src/components/manage/Controlpanels/Controlpanels.jsx
  packages/volto/src/config/ControlPanels.js
  packages/volto/src/reducers/blocktypes/blocktypes.js
  packages/volto/src/reducers/index.js
  packages/volto/src/routes.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add cypress test for refresh source content Teaser Block (#7417)
  packages/volto/cypress/tests/core/blocks/blocks-teaser.js
  packages/volto/news/+teaserRefreshCypress.internal
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

WIP
  eslint.config.mjs
  package.json
  packages/components/.prettierrc
  packages/components/src/components/Field/Field.quanta.tsx
  packages/tooling/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix links to logos
  packages/volto/README.md
Due: none

Backport for image rerender on page edit (#7391)
  packages/volto/news/7391.bugfix
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Translated using Weblate (Spanish)
  packages/volto/locales/es/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Dutch)
  packages/volto/locales/nl/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Turkish)
  packages/volto/locales/tr/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Basque)
  packages/volto/locales/eu/LC_MESSAGES/volto.po
Due: none

Backport for image rerender on page edit (#7390)
  news/7390.bugfix
  src/components/manage/Widgets/FileWidget.jsx
  src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release 18.27.3
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+teaserRefreshCypress.internal
  packages/volto/news/7391.bugfix
  packages/volto/package.json
Due: none

Release 17.22.3
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/7390.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

fix: removed auto-open
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: aria-label for edit and drag block button
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: removed console.log
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: news item
  packages/volto/news/7424.bugfix
Due: none

chore: fix readme
  packages/volto/README.md
Due: none

fix: updated snapshot for edit block wrapper
  packages/registry/.parcel-cache/4987902b3f9787cc-BundleGraph-0
  packages/registry/.parcel-cache/70f1f7555dda250d-AssetGraph-0
  packages/registry/.parcel-cache/7b8e4611c0f03524-AssetGraph-0
  packages/registry/.parcel-cache/data.mdb
  packages/registry/.parcel-cache/lock.mdb
  packages/registry/.parcel-cache/requestGraph-369948a06d23ec44-0
  packages/registry/.parcel-cache/requestGraph-nodes-0-369948a06d23ec44-0
  packages/registry/.parcel-cache/snapshot-369948a06d23ec44.txt
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
Due: none

fix: removed useless files
  packages/registry/.parcel-cache/4987902b3f9787cc-BundleGraph-0
  packages/registry/.parcel-cache/70f1f7555dda250d-AssetGraph-0
  packages/registry/.parcel-cache/7b8e4611c0f03524-AssetGraph-0
  packages/registry/.parcel-cache/data.mdb
  packages/registry/.parcel-cache/lock.mdb
  packages/registry/.parcel-cache/requestGraph-369948a06d23ec44-0
  packages/registry/.parcel-cache/requestGraph-nodes-0-369948a06d23ec44-0
  packages/registry/.parcel-cache/snapshot-369948a06d23ec44.txt
Due: none

fix: unit tests
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
Due: none

fix: translation with variable
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: snapshots
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
Due: none

fix: aria-label for drag
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: snapshots
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
Due: none

Docs
  docs/source/contributing/accessibility-guidelines.md
Due: none

Add to @plone/components
  packages/components/src/styles/basic/main.css
  packages/components/src/styles/basic/utility.css
Due: pnpm stylelint --fix

add basic styling
  packages/volto/src/components/manage/Controlpanels/BlockType.tsx
  packages/volto/src/components/manage/Controlpanels/BlockTypes.tsx
  packages/volto/theme/themes/pastanaga/extras/block-types.less
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

update locales
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

changelog
  packages/volto/news/7351.feature
Due: none

Translations update from Hosted Weblate (#7351)
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/tr/LC_MESSAGES/volto.po
  packages/volto/news/7351.feature
Due: none

Translated using Weblate (Basque)
  packages/volto-slate/locales/eu/LC_MESSAGES/volto.po
Due: none

changelog
  packages/volto-slate/news/7394.feature
Due: none

Translations update from Hosted Weblate (#7394)
  packages/volto-slate/locales/eu/LC_MESSAGES/volto.po
  packages/volto-slate/news/7394.feature
Due: none

Rename main.css -> publicui.css for holding the publicui CSS in add-ons.
  docs/conceptual-guides/add-on-styles-loader.md
  packages/agave/styles/publicui.css
  packages/layout/styles/publicui.css
  packages/publicui/styles/main.css
  packages/publicui/styles/publicui.css
  packages/registry/src/addon-registry/create-addons-styles-loader.ts
  packages/tooling/.stylelintrc
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Changelog
  apps/seven/news/7426.documentation
  packages/agave/news/7426.feature
  packages/cmsui/news/7426.feature
  packages/layout/news/7426.feature
  packages/publicui/news/7426.feature
  packages/registry/news/7426.breaking
Due: none

Fix logo retrieval from the site endpoint data in the root loader.
  packages/layout/components/Logo/Logo.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/layout/news/7427.bugfix
Due: none

Fix logo retrieval from the site endpoint data in the root loader. (#7427)
  packages/layout/components/Logo/Logo.tsx
  packages/layout/news/7427.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write
