Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "packages/!volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Release @plone/components 2.0.0-alpha.9
  packages/components/CHANGELOG.md
  packages/components/news/6029.feature
  packages/components/package.json
Due: none

Release @plone/providers 1.0.0-alpha.1
  packages/providers/CHANGELOG.md
  packages/providers/news/6029.internal
  packages/providers/package.json
Due: none

Release 18.0.0-alpha.32
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/4834.bugfix
  packages/volto/news/5961.feature
  packages/volto/news/6010.bugfix
  packages/volto/news/6015.feature
  packages/volto/news/6022.bugfix
  packages/volto/news/6026.bugfix
  packages/volto/news/6030.documentation
  packages/volto/news/6037.documentation
  packages/volto/news/6038.internal
  packages/volto/news/6040.bugfix
  packages/volto/news/6043.bugfix
  packages/volto/news/6045.internal
  packages/volto/package.json
  packages/volto/types/config/config.test.d.ts
  packages/volto/types/constants/Languages.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

added watch script to plone/client
  packages/client/package.json
Due: none

Id widget refactor (#6027)
  packages/volto/news/6027.feature
  packages/volto/src/components/manage/Widgets/IdWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fixed querystring search query type (#6034)
  packages/client/news/6034.bugfix
  packages/client/src/validation/querystring-search.ts
Due: none

add tests
  packages/volto/cypress/tests/core/basic/sidebar-focus.js
  packages/volto/cypress/tests/coresandbox/internalUrl.js
  packages/volto/cypress/tests/cypress.config.js
  packages/volto/cypress/tests/cypress/fixtures/example.json
  packages/volto/cypress/tests/cypress/support/commands.js
  packages/volto/cypress/tests/cypress/support/e2e.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Delete packages/volto/cypress/tests/core/basic/sidebar-focus.js
  packages/volto/cypress/tests/core/basic/sidebar-focus.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Delete packages/volto/cypress/tests/cypress.config.js
  packages/volto/cypress/tests/cypress.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Delete packages/volto/cypress/tests/cypress/support/commands.js
  packages/volto/cypress/tests/cypress/support/commands.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Delete packages/volto/cypress/tests/cypress/fixtures/example.json
  packages/volto/cypress/tests/cypress/fixtures/example.json
Due: none

Delete packages/volto/cypress/tests/cypress/support/e2e.js
  packages/volto/cypress/tests/cypress/support/e2e.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

add new block in coresandbox
  cypress.config.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
  packages/coresandbox/src/components/Blocks/InputBlock/Data.tsx
  packages/coresandbox/src/components/Blocks/InputBlock/Edit.tsx
  packages/coresandbox/src/components/Blocks/InputBlock/View.tsx
  packages/coresandbox/src/components/Blocks/InputBlock/schema.ts
  packages/coresandbox/src/components/Blocks/TestBlock/Edit.tsx
  packages/coresandbox/src/index.ts
  packages/volto/cypress/tests/core/basic/sidebar-focus.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Delete pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Delete cypress.config.ts
  cypress.config.ts
Due: none

Update package.json
  package.json
Due: none

Delete cypress/fixtures/example.json
  cypress/fixtures/example.json
Due: none

Delete cypress/support/commands.ts
  cypress/support/commands.ts
Due: none

Delete cypress/support/e2e.ts
  cypress/support/e2e.ts
Due: none

Create pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

wip: testing new implementation
  packages/client/package.json
  packages/client/src/API.ts
  packages/client/src/utils/misc.ts
Due: none

wip: remove logs
  packages/client/package.json
  packages/client/src/API.ts
  packages/client/src/utils/misc.ts
Due: none

Improve image typings
  packages/types/src/content/common.d.ts
  packages/types/src/content/index.d.ts
  packages/types/src/services/common.d.ts
Due: none

Revert bad change
  packages/coresandbox/src/components/Blocks/TestBlock/Edit.tsx
Due: none

Update Edit.tsx
  packages/coresandbox/src/components/Blocks/TestBlock/Edit.tsx
Due: none

Update View.tsx
  packages/coresandbox/src/components/Blocks/InputBlock/View.tsx
Due: none

[@plone/types] BlockExtension as Interface types
  packages/types/src/config/Blocks.d.ts
Due: none

Changelog
  packages/types/news/6049.bugfix
Due: none

First rendering of something
  packages/registry/src/create-addons-loader.js
  packages/volto-slate/package.json
  packages/volto/index.html
  packages/volto/src/client.js
  packages/volto/src/config/index.js
  packages/volto/src/helpers/AuthToken/AuthToken.js
  packages/volto/src/init-store.js
  packages/volto/src/middleware/api.js
  packages/volto/src/start-client.jsx
  packages/volto/vite.config.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

removed need for state value opting to use value from prop
  packages/volto/src/components/manage/Widgets/InternalUrlWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

change value of input when data.url changes from using the sidebar widget
  packages/coresandbox/src/components/Blocks/InputBlock/Edit.tsx
Due: none

[@plone/types] BlockExtension as Interface types (#6049)
  packages/types/news/6049.bugfix
  packages/types/src/config/Blocks.d.ts
Due: none

Move test here metadata.js
  packages/volto/cypress/tests/core/basic/metadata.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Delete packages/volto/cypress/tests/core/basic/sidebar-focus.cy
  packages/volto/cypress/tests/core/basic/sidebar-focus.cy
Due: none

Update metadata.js
  packages/volto/cypress/tests/core/basic/metadata.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Release 16.31.9
  CHANGELOG.md
  news/6043.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

Fix tests from metadata.js
  packages/volto/cypress/tests/core/basic/metadata.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Make it actually does the request
  packages/volto/index.html
  packages/volto/vite.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky
