Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Add more guards
  packages/volto/cypress/tests/core/blocks/blocks-autofocus.js
  packages/volto/cypress/tests/core/blocks/blocks-image.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Support for passing whole data object in the initial block config (#5718)
  docs/source/blocks/settings.md
  packages/types/news/5718.bugfix
  packages/types/src/config/Blocks.d.ts
  packages/volto/news/5718.feature
  packages/volto/package.json
  packages/volto/src/components/manage/Add/Add.jsx
  packages/volto/src/helpers/Blocks/defaultBlocks.test.js
  packages/volto/src/helpers/Blocks/defaultBlocks.ts
  packages/volto/src/helpers/index.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Remove lodash as a dependency from @plone/registry
  packages/registry/package.json
  packages/registry/src/addon-registry.js
  packages/registry/src/index.ts
  pnpm-lock.yaml
Due: none

Changelog
  packages/registry/news/5726.bugfix
Due: none

Remove lodash as a dependency from @plone/registry (#5726)
  packages/registry/news/5726.bugfix
  packages/registry/package.json
  packages/registry/src/addon-registry.js
  packages/registry/src/index.ts
  pnpm-lock.yaml
Due: none

Release @plone/types 1.0.0-alpha.3
  packages/types/CHANGELOG.md
  packages/types/news/5718.bugfix
  packages/types/package.json
Due: none

Enhance release in @plone/registry
  packages/registry/.release-it.json
  packages/registry/package.json
  pnpm-lock.yaml
Due: none

Release @plone/registry 1.2.2
  packages/registry/CHANGELOG.md
  packages/registry/news/5726.bugfix
  packages/registry/package.json
Due: none

Release generate-volto 9.0.0-alpha.4
  packages/generator-volto/CHANGELOG.md
  packages/generator-volto/news/5439.bugfix
  packages/generator-volto/package.json
Due: none

Release 18.0.0-alpha.10
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/4190.bugfix
  packages/volto/news/5549.feature
  packages/volto/news/5617.feature
  packages/volto/news/5715.bugfix
  packages/volto/news/5718.feature
  packages/volto/news/5725.documentation
  packages/volto/package.json
  packages/volto/types/helpers/index.d.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

pass current page to getQueryStringResults
  packages/volto/src/components/manage/Blocks/Listing/getAsyncData.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

3716 - improve validation of id widget (#4686)
  locales/ca/LC_MESSAGES/volto.po
  locales/de/LC_MESSAGES/volto.po
  locales/en/LC_MESSAGES/volto.po
  locales/es/LC_MESSAGES/volto.po
  locales/eu/LC_MESSAGES/volto.po
  locales/fi/LC_MESSAGES/volto.po
  locales/fr/LC_MESSAGES/volto.po
  locales/it/LC_MESSAGES/volto.po
  locales/ja/LC_MESSAGES/volto.po
  locales/nl/LC_MESSAGES/volto.po
  locales/pt/LC_MESSAGES/volto.po
  locales/pt_BR/LC_MESSAGES/volto.po
  locales/ro/LC_MESSAGES/volto.po
  locales/volto.pot
  locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/3716.feature
  src/components/manage/Widgets/IdWidget.jsx
  src/components/manage/Widgets/IdWidget.stories.jsx
  src/components/manage/Widgets/__snapshots__/IdWidget.test.jsx.snap
Due: none

bugfix: wrong conditional proprieties on ObjectBrowser (#4190)
  packages/volto/news/4190.bugfix
  src/components/manage/Sidebar/ObjectBrowserBody.jsx
Due: none

Support for passing whole data object in the initial block config #5718
  docs/source/blocks/settings.md
  package.json
  packages/types/news/5718.bugfix
  packages/volto/news/5718.feature
  src/components/manage/Add/Add.jsx
  src/helpers/Blocks/defaultBlocks.test.js
  src/helpers/Blocks/defaultBlocks.ts
  src/helpers/index.js
  yarn.lock
Due: none

Use getCurrentPage helper to retrive current page from search params
  packages/volto/src/components/manage/Blocks/Listing/getAsyncData.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Replaced outdated diff with a link to the current `package.json` on the `17.x.x` branch.
  docs/source/contributing/typescript.md
  packages/volto/news/5703.documentation
Due: none

Fix double ;; in inlined data resources
  packages/volto/theme/themes/default/elements/step.overrides
  packages/volto/theme/themes/pastanaga/elements/step.overrides
Due: pnpm stylelint --fix

Tweak TerserPlugin optimization settings for supporting ESNext capabilities on parsing the node server bundle
  packages/volto/razzle.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Override webpack version to latest, upgrade parcel deps
  package.json
Due: none

@plone/components is not a module, amend build artifacts names, upgrade parcel, add custom parcel config
  packages/components/.parcelrc
  packages/components/package.json
  packages/components/tsconfig.json
  packages/parcel-optimizer-react-client/ReactClientOptimizer.js
  packages/parcel-optimizer-react-client/package.json
  pnpm-lock.yaml
Due: none

added block data form in Leadsidebar
  packages/volto/src/components/manage/Blocks/LeadImage/LeadImageSidebar.jsx
  packages/volto/src/components/manage/Blocks/LeadImage/Schema.js
  packages/volto/src/components/manage/Blocks/Video/schema.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix conflict
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

remove locales
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

fix conflicts
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  pnpm-lock.yaml
Due: none

Reorganize README, merging content into authoritative locations (#5511)
  .github/workflows/readme-link-check.yml
  README.md
  docs/source/contributing/version-policy.md
  packages/client/README.md
  packages/client/news/5437.documentation
  packages/generator-volto/README.md
  packages/generator-volto/news/5437.documentation
  packages/volto/news/5437.documentation
Due: none

Add .click() call to addNewBlock before typing:
  packages/volto/cypress/support/commands.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Cleaned manual entry of Page listing type
  packages/volto/cypress/tests/core/blocks/listing/blocks-listing.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

WIP define basiq color palette
  packages/components/src/stories/Basiq.colors.stories.mdx
  packages/components/src/stories/Colors.stories.tsx
  packages/components/src/stories/colors.ts
Due: none

Fixed A11y Video Block Issue
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Blocks/Video/Body.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

news fragment
  packages/volto/news/5732.bugfix
Due: none

Temporarily pin `sphinxcontrib-*help` dependencies so docs can build (#5655)
  packages/volto/news/5655.documentation
  requirements-docs.txt
Due: none

Move news items to the right place
  news/3716.feature
  news/4190.bugfix
  news/5655.documentation
  news/5718.feature
Due: none

Update import path for slugify function
  packages/volto/src/components/manage/Blocks/Listing/getAsyncData.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

document environment variables
  docs/source/configuration/environmentvariables.md
  packages/volto/news/5319.documentation
Due: none

Backports for 17.12.0 (#5727)
  docs/source/blocks/settings.md
  locales/ca/LC_MESSAGES/volto.po
  locales/de/LC_MESSAGES/volto.po
  locales/en/LC_MESSAGES/volto.po
  locales/es/LC_MESSAGES/volto.po
  locales/eu/LC_MESSAGES/volto.po
  locales/fi/LC_MESSAGES/volto.po
  locales/fr/LC_MESSAGES/volto.po
  locales/it/LC_MESSAGES/volto.po
  locales/ja/LC_MESSAGES/volto.po
  locales/nl/LC_MESSAGES/volto.po
  locales/pt/LC_MESSAGES/volto.po
  locales/pt_BR/LC_MESSAGES/volto.po
  locales/ro/LC_MESSAGES/volto.po
  locales/volto.pot
  locales/zh_CN/LC_MESSAGES/volto.po
  news/3716.feature
  news/4190.bugfix
  news/5655.documentation
  news/5718.feature
  package.json
  packages/types/news/5718.bugfix
  requirements-docs.txt
  src/components/manage/Add/Add.jsx
  src/components/manage/Sidebar/ObjectBrowserBody.jsx
  src/components/manage/Widgets/IdWidget.jsx
  src/components/manage/Widgets/IdWidget.stories.jsx
  src/components/manage/Widgets/__snapshots__/IdWidget.test.jsx.snap
  src/helpers/Blocks/defaultBlocks.test.js
  src/helpers/Blocks/defaultBlocks.ts
  src/helpers/index.js
  yarn.lock
Due: none

Release 17.12.0
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/3716.feature
  news/4190.bugfix
  news/5655.documentation
  news/5718.feature
  package.json
  packages/volto-slate/package.json
  types/components/manage/Widgets/IdWidget.stories.d.ts
  types/helpers/index.d.ts
Due: none

Refactor getCurrentPage function to use a switch statement for choosing current page logic
  packages/volto/src/components/manage/Blocks/Listing/getAsyncData.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
