Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

initial implementation from Codex
  packages/client/src/client.ts
  packages/client/src/restapi/index.ts
  packages/client/src/restapi/recyclebin/empty.ts
  packages/client/src/restapi/recyclebin/get.ts
  packages/client/src/restapi/recyclebin/get_item.ts
  packages/client/src/restapi/recyclebin/purge.ts
  packages/client/src/restapi/recyclebin/recyclebin.test.ts
  packages/client/src/restapi/recyclebin/restore.ts
  packages/client/src/validation/recyclebin.ts
  packages/cmsui/components/ControlPanel/ControlPanelsList.test.tsx
  packages/cmsui/components/ControlPanel/ControlPanelsList.tsx
  packages/cmsui/components/RecycleBin/RecycleBin.test.tsx
  packages/cmsui/components/RecycleBin/RecycleBinActions.tsx
  packages/cmsui/components/RecycleBin/RecycleBinActiveFilters.tsx
  packages/cmsui/components/RecycleBin/RecycleBinChildrenTable.tsx
  packages/cmsui/components/RecycleBin/RecycleBinFilters.tsx
  packages/cmsui/components/RecycleBin/RecycleBinItemDetails.stories.tsx
  packages/cmsui/components/RecycleBin/RecycleBinItemDetails.tsx
  packages/cmsui/components/RecycleBin/RecycleBinListing.stories.tsx
  packages/cmsui/components/RecycleBin/RecycleBinListing.tsx
  packages/cmsui/components/RecycleBin/RecycleBinRestorePanel.tsx
  packages/cmsui/components/RecycleBin/RecycleBinTable.tsx
  packages/cmsui/components/RecycleBin/utils.ts
  packages/cmsui/config/routes.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/package.json
  packages/cmsui/routes/recyclebin-item.test.tsx
  packages/cmsui/routes/recyclebin-item.tsx
  packages/cmsui/routes/recyclebin.test.tsx
  packages/cmsui/routes/recyclebin.tsx
  packages/types/src/services/index.d.ts
  packages/types/src/services/recyclebin.d.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

end-to-end tests without mocks
  packages/client/AGENTS.md
  packages/client/src/restapi/recyclebin/recyclebin.test.ts
  packages/cmsui/components/RecycleBin/RecycleBinTable.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

various tweaks
  packages/cmsui/components/RecycleBin/RecycleBin.test.tsx
  packages/cmsui/components/RecycleBin/RecycleBinActions.tsx
  packages/cmsui/components/RecycleBin/RecycleBinChildrenTable.tsx
  packages/cmsui/components/RecycleBin/RecycleBinFilters.tsx
  packages/cmsui/components/RecycleBin/RecycleBinListing.tsx
  packages/cmsui/components/RecycleBin/RecycleBinRestorePanel.tsx
  packages/cmsui/components/RecycleBin/utils.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/routes/recyclebin-item.test.tsx
  packages/cmsui/routes/recyclebin-item.tsx
  packages/cmsui/routes/recyclebin.test.tsx
  packages/cmsui/routes/recyclebin.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

improve current filter chips
  packages/cmsui/components/RecycleBin/RecycleBin.test.tsx
  packages/cmsui/components/RecycleBin/RecycleBinActiveFilters.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Make query params consistent
  packages/cmsui/components/RecycleBin/RecycleBin.test.tsx
  packages/cmsui/components/RecycleBin/RecycleBinActiveFilters.tsx
  packages/cmsui/components/RecycleBin/RecycleBinFilters.tsx
  packages/cmsui/components/RecycleBin/RecycleBinListing.tsx
  packages/cmsui/components/RecycleBin/utils.ts
  packages/cmsui/routes/recyclebin.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix redirect after restore
  packages/cmsui/routes/recyclebin-item.test.tsx
  packages/cmsui/routes/recyclebin-item.tsx
  packages/cmsui/routes/recyclebin.test.tsx
  packages/cmsui/routes/recyclebin.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Improve item details, default restore path
  packages/cmsui/components/RecycleBin/RecycleBin.test.tsx
  packages/cmsui/components/RecycleBin/RecycleBinChildrenTable.tsx
  packages/cmsui/components/RecycleBin/RecycleBinItemDetails.tsx
  packages/cmsui/components/RecycleBin/RecycleBinRestorePanel.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update devDependency: `@testing-library/react` 16.3.2
  catalog.json
  packages/volto-slate/package.json
  packages/volto/package.json
  packages/volto/src/components/manage/Blocks/Image/View.test.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Move packages that are used only in testing to devDependencies: react-test-renderer and redux-mock-store. Remove unnecessary dependency: full-icu (#8279)
  packages/volto/news/8279.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Add changes
  packages/volto-slate/news/8294.internal
  packages/volto/news/8294.internal
Due: none

Add ReactAriaRouterProvider to enable client-side navigation support … (#8159)
  packages/volto/news/+react-aria-provider.feature
  packages/volto/package.json
  packages/volto/src/start-client.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Release @plone/components 4.1.0
  packages/components/CHANGELOG.md
  packages/components/news/+dialogtrigger.feature
  packages/components/package.json
Due: none

Release @plone/registry 3.0.1
  packages/registry/CHANGELOG.md
  packages/registry/news/+dep-tmp.internal
  packages/registry/package.json
Due: none

Release @plone/volto-slate 19.0.1
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/7944.documentation
  packages/volto-slate/package.json
Due: none

Release 19.1.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+blocktypes.bugfix
  packages/volto/news/+dep-cypress.internal
  packages/volto/news/+refactorMapsBlock.feature
  packages/volto/news/7717.internal
  packages/volto/news/8263.feature
  packages/volto/news/8272.bugfix
  packages/volto/news/8279.internal
  packages/volto/package.json
  packages/volto/types/components/manage/Blocks/Maps/Body.d.ts
  packages/volto/types/components/manage/Blocks/Maps/View.d.ts
  packages/volto/types/components/manage/Controlpanels/VersionOverview.d.ts
  packages/volto/types/components/manage/Controlpanels/index.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update devDependency: `@testing-library/react` 16.3.2 (#8294)
  catalog.json
  packages/volto-slate/news/8294.internal
  packages/volto-slate/package.json
  packages/volto/news/8294.internal
  packages/volto/package.json
  packages/volto/src/components/manage/Blocks/Image/View.test.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Move packages that are used only in testing to devDependencies: react-test-renderer and redux-mock-store. Remove unnecessary dependency: full-icu (#8295)
  packages/volto/news/8279.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

increase size to comply with WCAG 2.2
  packages/volto/theme/themes/pastanaga/collections/breadcrumb.overrides
Due: pnpm stylelint --fix

changelog
  packages/volto/news/8297.bugfix
Due: none

add more variables to variables.mk
  variables.mk
Due: none

add new Makefile files to each package with install, build and storybook commands
  packages/agave/Makefile
  packages/blocks/Makefile
  packages/client/Makefile
  packages/cmsui/Makefile
  packages/helpers/Makefile
  packages/layout/Makefile
  packages/plate/Makefile
  packages/publicui/Makefile
  packages/react-router/Makefile
  packages/scripts/Makefile
  packages/theming/Makefile
  packages/tsconfig/Makefile
  packages/types/Makefile
Due: none

unify apps seven Makefile
  apps/seven/Makefile
Due: none

fix and unify components Makefile
  packages/components/Makefile
Due: none

unify registry Makefile
  packages/registry/Makefile
Due: none

unify tooling Makefile
  packages/tooling/Makefile
Due: none

unify volto Makefile
  packages/volto/Makefile
Due: none

unify main Makefile
  Makefile
Due: none

Changelog
  packages/blocks/news/8246.bugfix
Due: none

Fixed redux-mock-store in production
  .github/workflows/prod-build.yml
  packages/volto-slate/package.json
  packages/volto-slate/src/widgets/HtmlSlateWidget.jsx
  packages/volto-slate/src/widgets/createStaticStore.js
  packages/volto-slate/src/widgets/createStaticStore.test.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/volto-slate/news/+fixedreduxmockstore.bugfix
Due: none

Fixed redux-mock-store in production (#8299)
  .github/workflows/prod-build.yml
  packages/volto-slate/news/+fixedreduxmockstore.bugfix
  packages/volto-slate/package.json
  packages/volto-slate/src/widgets/HtmlSlateWidget.jsx
  packages/volto-slate/src/widgets/createStaticStore.js
  packages/volto-slate/src/widgets/createStaticStore.test.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/volto-slate 19.0.2
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/+fixedreduxmockstore.bugfix
  packages/volto-slate/news/8294.internal
  packages/volto-slate/package.json
Due: none

Release 19.1.1
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/8294.internal
  packages/volto/package.json
Due: none

Update devDependency: `@testing-library/react` 16.3.2 (#8294)
  packages/client/news/8294.internal
  packages/client/package.json
  packages/components/news/8294.internal
  packages/components/package.json
  packages/volto-slate/news/8294.internal
  packages/volto-slate/package.json
  packages/volto-testing/news/8294.internal
  packages/volto-testing/package.json
  packages/volto/news/8294.internal
  packages/volto/package.json
  packages/volto/src/components/manage/Blocks/Image/View.test.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update to same release as other vitest packages (#8173)
  packages/volto/news/+dep-vitest-ui.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Set breadcrumb icon size in the component instead of overriding in CSS
  packages/volto/src/components/theme/Breadcrumbs/Breadcrumbs.jsx
  packages/volto/theme/themes/pastanaga/collections/breadcrumb.overrides
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Update packages/volto/news/8297.bugfix
  packages/volto/news/8297.bugfix
Due: none

Fixed redux-mock-store in production (#8300)
  .github/workflows/prod-build.yml
  packages/volto-slate/news/+fixedreduxmockstore.bugfix
  packages/volto-slate/package.json
  packages/volto-slate/src/widgets/HtmlSlateWidget.jsx
  packages/volto-slate/src/widgets/createStaticStore.js
  packages/volto-slate/src/widgets/createStaticStore.test.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update devDependency: `@testing-library/react` 16.3.2 (#8301)
  packages/client/news/8294.internal
  packages/client/package.json
  packages/components/news/8294.internal
  packages/components/package.json
  packages/volto-slate/news/8294.internal
  packages/volto-slate/package.json
  packages/volto-testing/news/8294.internal
  packages/volto-testing/package.json
  packages/volto/news/8294.internal
  packages/volto/package.json
  packages/volto/src/components/manage/Blocks/Image/View.test.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n
