Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Revise instructions per https://github.com/plone/volto/pull/6016#issuecomment-2116122261
  docs/source/contributing/testing.md
  docs/source/development/i18n.md
Due: none

Pass showRestricted through to EditBlock block chooser
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/6026.bugfix
Due: none

Update InternalUrlWidget.jsx to flatten the url
  packages/volto/src/components/manage/Widgets/InternalUrlWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

/news
  packages/volto/news/6027.feature
Due: none

TextWidgetRefactor
  packages/volto/src/components/manage/Widgets/TextWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix refresh of image
  packages/volto/src/components/manage/Blocks/Teaser/Data.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

WIP dnd receive from another page
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

add tests the second should fail unless run with the changes in plone.restapi
  packages/volto/cypress/tests/core/blocks/blocks-teaser.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

WIP Drag button is only for accessibility
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add controlpanel for plone.volto index (wip)
  packages/volto/src/actions/blockTypesIndex/blockTypesIndex.js
  packages/volto/src/components/index.js
  packages/volto/src/components/manage/Controlpanels/BlockTypes.jsx
  packages/volto/src/components/manage/Controlpanels/Controlpanels.jsx
  packages/volto/src/components/manage/Controlpanels/index.tsx
  packages/volto/src/config/ControlPanels.js
  packages/volto/src/constants/ActionTypes.js
  packages/volto/src/reducers/blocktypes/blocktypes.js
  packages/volto/src/reducers/index.js
  packages/volto/src/routes.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

wip: move to using plone/client
  packages/client/src/restapi/search/get.ts
  packages/contents/package.json
  packages/contents/src/components/ContentsCell.tsx
  packages/contents/src/components/ContentsTable.tsx
  packages/contents/src/providers/contents.tsx
  packages/volto/package.json
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/manage/Contents/index.tsx
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update german translations
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Improve types and components, minor improvements to the others
  packages/client/src/restapi/search/get.ts
  packages/components/src/components/Button/Button.tsx
  packages/components/src/components/Popover/Popover.tsx
  packages/components/src/components/Table/Column.tsx
  packages/components/src/components/Table/Row.tsx
  packages/components/src/components/Table/Table.stories.tsx
  packages/components/src/components/Table/Table.tsx
  packages/components/src/components/Table/TableHeader.tsx
  packages/components/src/components/Toast/Toast.tsx
  packages/components/src/index.ts
  packages/components/src/styles/basic/Table.css
  packages/components/src/styles/basic/main.css
  packages/components/src/styles/basic/theme.css
  packages/components/src/styles/quanta/Popover.css
  packages/components/src/styles/quanta/Table.css
  packages/components/src/styles/quanta/TextField.css
  packages/components/src/styles/quanta/main.css
  packages/components/src/styles/quanta/theme.css
  packages/providers/src/RouterLocation.tsx
  packages/types/src/index.d.ts
  packages/types/src/services/common.d.ts
  packages/types/src/services/index.d.ts
  packages/types/src/services/querystring-search.d.ts
  packages/types/src/services/search.d.ts
  packages/types/src/utils.d.ts
Due: pnpm stylelint --fix

Replace Netlify pull request preview builds with RTD Temporarily relocate custom.css until @stevepiercy can reconcile legacy styles with current theme
  .github/workflows/rtd-pr-preview.yml
  .readthedocs.yaml
  Makefile
  docs/source/_static/custom.css
  docs/source/backend/index.md
  docs/source/conf.py
  netlify.toml
  requirements-docs.txt
Due: pnpm stylelint --fix

Use Node.js 20
  .readthedocs.yaml
Due: none

Try to install pnpm
  .readthedocs.yaml
Due: none

Relocate command for pnpm
  .readthedocs.yaml
  Makefile
Due: none

Comment out Storybook and pnpm. I don't know how to get part to work on RTD.
  Makefile
Due: none

Add changelog
  packages/volto/news/6030.documentation
Due: none

news items
  packages/client/news/6029.bugfix
  packages/components/news/6029.feature
  packages/providers/news/6029.internal
  packages/types/news/6029.feature
Due: none

Maybe this is the incantation?
  .readthedocs.yaml
  Makefile
Due: none

Try again
  .readthedocs.yaml
  Makefile
Due: none

Maybe this is the incantation?
  .readthedocs.yaml
Due: none

Adjust output directory
  .readthedocs.yaml
  Makefile
Due: none

Server-side redirects for plone.app.redirector aliases (#4854)
  packages/volto/news/4834.bugfix
  packages/volto/src/components/theme/View/View.jsx
  packages/volto/src/components/theme/View/View.test.jsx
  packages/volto/src/helpers/Api/Api.js
  packages/volto/src/helpers/Api/Api.plone.rest.test.js
  packages/volto/src/helpers/Api/Api.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix updating snapshots on pnpm test
  packages/volto/news/5783.bugfix
  packages/volto/package.json
Due: none

Improve types and components, minor improvements to the others (#6029)
  packages/client/news/6029.bugfix
  packages/client/src/restapi/search/get.ts
  packages/components/news/6029.feature
  packages/components/src/components/Button/Button.tsx
  packages/components/src/components/Popover/Popover.tsx
  packages/components/src/components/Table/Column.tsx
  packages/components/src/components/Table/Row.tsx
  packages/components/src/components/Table/Table.stories.tsx
  packages/components/src/components/Table/Table.tsx
  packages/components/src/components/Table/TableHeader.tsx
  packages/components/src/components/Toast/Toast.tsx
  packages/components/src/index.ts
  packages/components/src/styles/basic/Table.css
  packages/components/src/styles/basic/main.css
  packages/components/src/styles/basic/theme.css
  packages/components/src/styles/quanta/Popover.css
  packages/components/src/styles/quanta/Table.css
  packages/components/src/styles/quanta/TextField.css
  packages/components/src/styles/quanta/main.css
  packages/components/src/styles/quanta/theme.css
  packages/providers/news/6029.internal
  packages/providers/src/RouterLocation.tsx
  packages/types/news/6029.feature
  packages/types/src/index.d.ts
  packages/types/src/services/common.d.ts
  packages/types/src/services/index.d.ts
  packages/types/src/services/querystring-search.d.ts
  packages/types/src/services/search.d.ts
  packages/types/src/utils.d.ts
Due: pnpm stylelint --fix

Add clarifying sentence about .json files
  docs/source/development/i18n.md
Due: none

Fix test
  packages/volto/src/components/manage/Preferences/__snapshots__/PersonalPreferences.test.jsx.snap
Due: none

Improve scoping of separator class (#6010)
  packages/volto/news/6010.bugfix
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm stylelint --fix

Add hindi translation in Volto (#6016)
  docs/source/addons/i18n.md
  docs/source/contributing/testing.md
  docs/source/development/i18n.md
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/news/6015.feature
  packages/volto/src/components/manage/Preferences/__snapshots__/PersonalPreferences.test.jsx.snap
  packages/volto/src/constants/Languages.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Replace Netlify pull request preview builds with RTD (#6030)
  .github/workflows/rtd-pr-preview.yml
  .readthedocs.yaml
  Makefile
  docs/source/_static/custom.css
  docs/source/backend/index.md
  docs/source/conf.py
  netlify.toml
  packages/volto/news/6030.documentation
  requirements-docs.txt
Due: pnpm stylelint --fix

Server-side redirects for plone.app.redirector aliases (#4854)
  news/4834.bugfix
  src/components/theme/View/View.jsx
  src/components/theme/View/View.test.jsx
  src/helpers/Api/Api.js
  src/helpers/Api/Api.plone.rest.test.js
  src/helpers/Api/Api.test.js
Due: none

Fixed querystring search query type
  packages/client/src/validation/querystring-search.ts
Due: none

news item
  packages/client/news/6034.bugfix
Due: none

Add `.readthedocs.yaml` that cancels the build.
  .readthedocs.yaml
Due: none

fix syntax
  .readthedocs.yaml
Due: none

Add comment to document what this does with a reference
  .readthedocs.yaml
Due: none

Server-side redirects for plone.app.redirector aliases (#4854) (#6033)
  .readthedocs.yaml
  news/4834.bugfix
  src/components/theme/View/View.jsx
  src/components/theme/View/View.test.jsx
  src/helpers/Api/Api.js
  src/helpers/Api/Api.plone.rest.test.js
  src/helpers/Api/Api.test.js
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
