Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

updated snapshot of UsersControlpanel
  packages/volto/src/components/manage/Controlpanels/Users/__snapshots__/UsersControlpanel.test.jsx.snap
Due: none

fix: remove boolean concatenated into textValue string in AddonItem
  packages/volto/src/components/manage/Controlpanels/Addons/AddonItem.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix invalid builds from Terser 5.51.0
  packages/volto-razzle/news/+pin-terser.internal
  packages/volto-razzle/package.json
  pnpm-lock.yaml
Due: none

Fix invalid production builds from Terser 5.51.0 (#8403)
  packages/volto-razzle/news/+pin-terser.internal
  packages/volto-razzle/package.json
  pnpm-lock.yaml
Due: none

Release @plone/razzle 1.0.1
  packages/volto-razzle/CHANGELOG.md
  packages/volto-razzle/news/+pin-terser.internal
  packages/volto-razzle/package.json
Due: none

Release 19.3.1
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+remove-rtd-pr-preview-workflow.internal
  packages/volto/news/+remove-rtd-pr-preview.internal
  packages/volto/news/8397.bugfix
  packages/volto/news/8401.internal
  packages/volto/package.json
  packages/volto/types/components/theme/View/NewsItemView.d.ts
  packages/volto/types/config/Views.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Extract an overridable UserAvatar component from the Toolbar
  packages/volto/news/8404.feature
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/src/components/manage/Toolbar/UserAvatar.test.tsx
  packages/volto/src/components/manage/Toolbar/UserAvatar.tsx
  packages/volto/src/components/manage/Toolbar/__snapshots__/UserAvatar.test.tsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fixes the cursor position when clicking on a Slate block (#8402)
  packages/volto-slate/news/8402.bugfix
  packages/volto-slate/src/editor/SlateEditor.jsx
  packages/volto/cypress/tests/core/blocks/blocks-slate-cursor.js
  packages/volto/news/8402.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixes the cursor position when clicking on a Slate block (#8406)
  packages/volto-slate/news/8402.bugfix
  packages/volto-slate/src/editor/SlateEditor.jsx
  packages/volto/cypress/tests/core/blocks/blocks-slate-cursor.js
  packages/volto/news/8402.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

moved styles to main.less
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Extract an overridable UserAvatar component from the Toolbar (#8405)
  packages/volto/news/8404.feature
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/src/components/manage/Toolbar/UserAvatar.test.tsx
  packages/volto/src/components/manage/Toolbar/UserAvatar.tsx
  packages/volto/src/components/manage/Toolbar/__snapshots__/UserAvatar.test.tsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore(@plone/scripts): upgrade execa to avoid security vulnerability
  pnpm-lock.yaml
Due: none

adding acceptance tests for csv exports/imports
  packages/volto/cypress/fixtures/cy_users_test.csv
  packages/volto/cypress/tests/core/controlpanels/users-control-panel.js
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

updated UsersControlpanel snapshot
  packages/volto/src/components/manage/Controlpanels/Users/__snapshots__/UsersControlpanel.test.jsx.snap
Due: none

adjusted the test to work properly
  packages/volto/cypress/tests/core/controlpanels/users-control-panel.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

updated tests again
  packages/volto/cypress/tests/core/controlpanels/users-control-panel.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

adjusted tests again
  packages/volto/cypress/tests/core/controlpanels/users-control-panel.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix ci test
  packages/volto/cypress/tests/core/controlpanels/users-control-panel.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add cookie
  packages/volto/cypress/tests/core/controlpanels/users-control-panel.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: enable copy/cut/paste of inner blocks in grid and container blocks
  packages/volto/cypress/tests/core/blocks/blocks-grid.js
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/Edit.test.jsx
  packages/volto/src/components/manage/Blocks/Container/Edit.jsx
  packages/volto/src/components/manage/Blocks/Container/Edit.test.jsx
  packages/volto/src/components/manage/Blocks/Container/EditBlockWrapper.jsx
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/components/manage/Form/Form.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: enable copy/cut/paste of blocks via modifier-click multi-selection
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/Edit.test.jsx
  packages/volto/src/components/manage/Blocks/Container/Edit.test.jsx
  packages/volto/src/components/manage/Form/BlocksToolbar.jsx
  packages/volto/src/components/manage/Form/blocksClipboardUtils.js
  packages/volto/src/components/manage/Form/blocksClipboardUtils.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: remove non‑existent Block/Edit.test.jsx (was added in eea fix)
  packages/volto/src/components/manage/Blocks/Block/Edit.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix Edit block: import actions directly and add blockNode ref
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

revet changes to EditBlockWrapper,BlocksToolbar
  packages/volto/src/components/manage/Blocks/Container/Edit.jsx
  packages/volto/src/components/manage/Blocks/Container/EditBlockWrapper.jsx
  packages/volto/src/components/manage/Form/BlocksToolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

remove unncesssary changes
  packages/volto/src/components/manage/Form/blocksClipboardUtils.js
  packages/volto/src/components/manage/Form/blocksClipboardUtils.test.js
  packages/volto/src/helpers/Blocks/cloneBlocks.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix cloneBlocks
  packages/volto/src/helpers/Blocks/cloneBlocks.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: simplify loadFromStorage and clean up Edit.jsx formatting
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Form/BlocksToolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Release generate-volto 9.0.6
  packages/generator-volto/CHANGELOG.md
  packages/generator-volto/news/8396.bugfix
  packages/generator-volto/package.json
Due: none

Release @plone/slate 18.10.2
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/8347.bugfix
  packages/volto-slate/news/8402.bugfix
  packages/volto-slate/package.json
Due: none

Release 18.36.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/5503.feature
  packages/volto/news/8168.bugfix
  packages/volto/news/8228.bugfix
  packages/volto/news/8320.bugfix
  packages/volto/news/8347.internal
  packages/volto/news/8362.feature
  packages/volto/news/8365.bugfix
  packages/volto/news/8372.bugfix
  packages/volto/news/8374.internal
  packages/volto/news/8381.bugfix
  packages/volto/news/8402.bugfix
  packages/volto/package.json
Due: none

fix: restore single-click selection in Edit.jsx and remove duplicate pnpm-lock entry
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: remove blocks-grid.js cypress test that requires container multi-selection feature
  packages/volto/cypress/tests/core/blocks/blocks-grid.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: enable copy/cut/paste of blocks in container blocks (grid, group, columns)
  packages/volto/cypress/tests/core/blocks/blocks-copypaste.js
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Form/BlocksToolbar.jsx
  packages/volto/src/components/manage/Form/Form.test.jsx
  packages/volto/src/components/manage/Form/blocksClipboardUtils.js
  packages/volto/src/components/manage/Form/blocksClipboardUtils.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

refactor: move blocksClipboardUtils to helpers/Blocks/cloneBlocks.ts
  packages/volto/src/components/manage/Form/BlocksToolbar.jsx
  packages/volto/src/components/manage/Form/blocksClipboardUtils.js
  packages/volto/src/components/manage/Form/blocksClipboardUtils.test.js
  packages/volto/src/helpers/Blocks/cloneBlocks.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

adding quanta support with semanticUI fallback for seach container
  packages/volto/news/8411.feature
  packages/volto/src/components/theme/Search/Search.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Allow .cjs and .mjs files to be shadowed
  packages/registry/__tests__/addon-registry.test.js
  packages/registry/__tests__/fixtures/test-volto-project/node_modules/@plone/volto/src/constants/Languages.cjs
  packages/registry/__tests__/fixtures/test-volto-project/src/customizations/constants/Languages.cjs
  packages/registry/news/8366.bugfix
  packages/registry/src/addon-registry/addon-registry.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Guard /change-password against anonymous visitors
  packages/volto/news/8367.bugfix
  packages/volto/src/components/manage/Preferences/ChangePassword.jsx
  packages/volto/src/components/manage/Preferences/ChangePassword.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

adding quanta support with semanticUI fallback for seach container (#8412)
  packages/volto/news/8411.feature
  packages/volto/src/components/theme/Search/Search.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n
