Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

changelog
  packages/client/news/+dep-axios.internal
Due: none

Update jsdom to 23.0.0 (#8107)
  packages/client/news/8107.internal
  packages/client/package.json
  packages/components/news/8107.internal
  packages/components/package.json
  packages/volto-slate/news/8107.internal
  packages/volto-slate/package.json
  packages/volto/news/8107.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Replace unmaintained drag-and-drop libraries with dnd-kit.
  docs/source/upgrade-guide/index.md
  packages/volto/news/+dep-dnd.breaking
  packages/volto/package.json
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/manage/Contents/Contents.test.jsx
  packages/volto/src/components/manage/Contents/ContentsIndexHeader.jsx
  packages/volto/src/components/manage/Contents/ContentsIndexHeader.test.jsx
  packages/volto/src/components/manage/Contents/ContentsItem.jsx
  packages/volto/src/components/manage/Contents/ContentsItem.test.jsx
  packages/volto/src/components/manage/Contents/__snapshots__/Contents.test.jsx.snap
  packages/volto/src/components/manage/Contents/__snapshots__/ContentsIndexHeader.test.jsx.snap
  packages/volto/src/components/manage/Contents/__snapshots__/ContentsItem.test.jsx.snap
  packages/volto/src/components/manage/Form/Field.jsx
  packages/volto/src/components/manage/Widgets/ArrayWidget.jsx
  packages/volto/src/components/manage/Widgets/ArrayWidget.test.jsx
  packages/volto/src/components/manage/Widgets/SelectStyling.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/QuerystringWidget.test.jsx.snap
  packages/volto/src/config/Loadables.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix acceptance test and remove button
  packages/volto/cypress/tests/coresandbox/fieldTypeValidation.js
  packages/volto/src/components/manage/Widgets/ArrayWidget.jsx
  packages/volto/src/components/manage/Widgets/SelectStyling.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update param name for @users userId->id
  apps/seven/app/middleware.server.test.ts
  apps/seven/app/middleware.server.ts
  packages/client/src/restapi/users/get.test.ts
  packages/client/src/restapi/users/get.ts
  packages/client/src/restapi/users/update.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Align REST client path param names with response IDs
  packages/client/src/restapi/addons/get.test.ts
  packages/client/src/restapi/addons/get.ts
  packages/client/src/restapi/addons/install.test.ts
  packages/client/src/restapi/addons/install.ts
  packages/client/src/restapi/addons/install_profile.test.ts
  packages/client/src/restapi/addons/install_profile.ts
  packages/client/src/restapi/addons/uninstall.test.ts
  packages/client/src/restapi/addons/uninstall.ts
  packages/client/src/restapi/addons/upgrade.test.ts
  packages/client/src/restapi/addons/upgrade.ts
  packages/client/src/restapi/groups/delete.test.ts
  packages/client/src/restapi/groups/delete.ts
  packages/client/src/restapi/groups/get.test.ts
  packages/client/src/restapi/groups/get.ts
  packages/client/src/restapi/groups/update.test.ts
  packages/client/src/restapi/groups/update.ts
  packages/client/src/restapi/translations/get.test.ts
  packages/client/src/restapi/translations/link.test.ts
  packages/client/src/restapi/translations/unlink.test.ts
  packages/client/src/restapi/types/get.test.ts
  packages/client/src/restapi/types/get.ts
  packages/client/src/restapi/types/update_type_field.test.ts
  packages/client/src/restapi/users/delete.test.ts
  packages/client/src/restapi/users/delete.ts
  packages/client/src/restapi/users/reset_password.test.ts
  packages/client/src/restapi/users/reset_password.ts
  packages/client/src/restapi/users/reset_password_with_token.ts
  packages/client/src/restapi/users/update.test.ts
  packages/client/src/restapi/users/update.ts
  packages/client/src/restapi/users/update_password.test.ts
  packages/client/src/restapi/users/update_password.ts
  packages/client/src/restapi/workingcopy/check-in.test.ts
  packages/client/src/restapi/workingcopy/create.test.ts
  packages/client/src/restapi/workingcopy/delete.test.ts
  packages/client/src/restapi/workingcopy/get.test.ts
  packages/cmsui/routes/edit.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Align more REST client path params with API semantics
  packages/client/src/restapi/comments/create.ts
  packages/client/src/restapi/controlpanels/get.test.ts
  packages/client/src/restapi/controlpanels/get.ts
  packages/client/src/restapi/controlpanels/update.test.ts
  packages/client/src/restapi/registry/get.test.ts
  packages/client/src/restapi/registry/get.ts
  packages/client/src/restapi/registry/update.test.ts
  packages/cmsui/routes/controlpanel.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  apps/seven/news/+unify-rest-path-params.internal
  packages/client/news/+unify-rest-path-params.breaking
  packages/cmsui/news/+unify-rest-path-params.internal
Due: none

add retrieval option for single block schema & llm field to blocks config
  packages/volto/src/config/Blocks.jsx
  packages/volto/src/express-middleware/blocks-schema.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

formatting
  packages/volto/src/express-middleware/blocks-schema.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Refactored to use context in all loaders and actions
  packages/publicui/+contextloaders.internal
Due: none

fixed news item
  packages/publicui/+contextloaders.internal
Due: none

Add addon-driven Vite extension support
  apps/seven/vite.config.ts
  docs/how-to-guides/extend-vite-config.md
  docs/how-to-guides/index.md
  packages/registry/bin/init-loaders.js
  packages/registry/src/addon-registry/addon-registry.ts
  packages/registry/src/addon-registry/create-vite-loader.ts
  packages/registry/vite-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Get rid of dash.js dependency
  packages/plate/components/ui/media-video-node.tsx
  packages/plate/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/plate/news/+remove-dashjs.internal
Due: none

Changelog
  apps/seven/news/+addon-vite-config.feature
  packages/registry/news/+vite-extenders.feature
Due: none

Get rid of `dash.js` (#8115)
  packages/plate/components/ui/media-video-node.tsx
  packages/plate/news/+remove-dashjs.internal
  packages/plate/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add addon-driven Vite extension support (#8116)
  apps/seven/news/+addon-vite-config.feature
  apps/seven/vite.config.ts
  docs/how-to-guides/extend-vite-config.md
  docs/how-to-guides/index.md
  packages/registry/bin/init-loaders.js
  packages/registry/news/+vite-extenders.feature
  packages/registry/src/addon-registry/addon-registry.ts
  packages/registry/src/addon-registry/create-vite-loader.ts
  packages/registry/vite-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Clean up #8116 - Add Vite to spelling - Fix grammar in news and documentation - Use `config` as an inline literal object, or spell out configuration - Add some clauses to make the sentences clearer
  apps/seven/news/+addon-vite-config.feature
  docs/how-to-guides/extend-vite-configuration.md
  docs/how-to-guides/index.md
  packages/registry/news/+vite-extenders.feature
  styles/config/vocabularies/Plone/accept.txt
Due: none

Clean up #8116 (#8117)
  apps/seven/news/+addon-vite-config.feature
  docs/how-to-guides/extend-vite-configuration.md
  docs/how-to-guides/index.md
  packages/registry/news/+vite-extenders.feature
  styles/config/vocabularies/Plone/accept.txt
Due: none

[components] Refactor some components to match closely RAC implementation. (#8061)
  .codex/config.toml
  packages/components/AGENTS.md
  packages/components/news/+refactorComponents.breaking
  packages/components/src/components/BlockToolbar/BlockToolbar.stories.tsx
  packages/components/src/components/Breadcrumbs/Breadcrumb.stories.tsx
  packages/components/src/components/Breadcrumbs/Breadcrumbs.quanta.stories.tsx
  packages/components/src/components/ColorPicker/ColorPicker.tsx
  packages/components/src/components/Menu/Menu.quanta.stories.tsx
  packages/components/src/components/Menu/Menu.quanta.tsx
  packages/components/src/components/Menu/Menu.stories.tsx
  packages/components/src/components/Menu/Menu.tsx
  packages/components/src/components/Menu/menuTriggerChildren.tsx
  packages/components/src/components/MultiSelect/TokenSelect.quanta.tsx
  packages/components/src/components/Select/Select.quanta.stories.tsx
  packages/components/src/components/Select/Select.quanta.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/components/TagGroup/TagGroup.quanta.stories.tsx
  packages/components/src/components/Toolbar/Toolbar.quanta.stories.tsx
  packages/components/src/components/Toolbar/Toolbar.stories.tsx
  packages/components/src/components/quanta/Select/Select.stories.tsx
  packages/components/src/components/quanta/Select/Select.tsx
  packages/components/src/index.ts
  packages/components/src/quanta/index.ts
  packages/components/src/stories/Icons.stories.tsx
  packages/components/src/styles/basic/Menu.css
  packages/components/src/styles/basic/Select.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Added @@add view
  packages/client/news/+contentvalidation.bugfix
  packages/client/src/validation/content.ts
  packages/cmsui/components/ContentForm/ContentForm.tsx
  packages/cmsui/config/routes.ts
  packages/cmsui/index.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/news/+addview.feature
  packages/cmsui/routes/add.test.tsx
  packages/cmsui/routes/add.tsx
  packages/cmsui/routes/edit.test.tsx
  packages/cmsui/routes/edit.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: visually hidden class
  packages/volto/src/components/manage/Toast/Toast.jsx
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

chore: unit test
  packages/volto/src/components/manage/Toast/__snapshots__/Toast.test.jsx.snap
Due: none

Fixed add view title
  packages/cmsui/routes/add.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

We do not release client or components from here
  packages/client/news/8107.internal
  packages/components/news/8107.internal
Due: none

Release @plone/slate 18.9.1
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/8107.internal
  packages/volto-slate/package.json
Due: none

Release 18.33.1
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/7309.bugfix
  packages/volto/news/7900.bugfix
  packages/volto/news/8086.bugfix
  packages/volto/news/8107.internal
  packages/volto/package.json
Due: none

Fixed unit tests
  packages/cmsui/routes/add.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Updated packages configuration for vite 8
  packages/cmsui/news/+vitest8.internal
  packages/cmsui/vite.config.ts
  packages/cmsui/vitest.config.ts
  packages/components/news/+vitest8.internal
  packages/components/vite.config.ts
  packages/layout/news/+vitest8.internal
  packages/layout/vite.config.ts
  packages/plate/news/+vitest8.internal
  packages/plate/vite.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Removed obsolete package
  packages/cmsui/package.json
  packages/components/package.json
  packages/layout/package.json
  packages/plate/package.json
  packages/tooling/package.json
  pnpm-lock.yaml
Due: none

[Seven] Updated packages configuration for vite 8 (#8119)
  packages/cmsui/news/+vitest8.internal
  packages/cmsui/package.json
  packages/cmsui/vite.config.ts
  packages/cmsui/vitest.config.ts
  packages/components/news/+vitest8.internal
  packages/components/package.json
  packages/components/vite.config.ts
  packages/layout/news/+vitest8.internal
  packages/layout/package.json
  packages/layout/vite.config.ts
  packages/plate/news/+vitest8.internal
  packages/plate/package.json
  packages/plate/vite.config.ts
  packages/tooling/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Added `@@add` view (#8118)
  packages/client/news/+contentvalidation.bugfix
  packages/client/src/validation/content.ts
  packages/cmsui/components/ContentForm/ContentForm.tsx
  packages/cmsui/config/routes.ts
  packages/cmsui/index.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/news/+addview.feature
  packages/cmsui/routes/add.test.tsx
  packages/cmsui/routes/add.tsx
  packages/cmsui/routes/edit.test.tsx
  packages/cmsui/routes/edit.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update to RAC 1.17.0
  catalog.json
  pnpm-lock.yaml
Due: none

Changelog
  packages/components/news/+rac-1.17.0.internal
Due: none

Update RAC to 1.17.0 (#8120)
  catalog.json
  packages/components/news/+rac-1.17.0.internal
  pnpm-lock.yaml
Due: none

Fix CI config not to unnecessarily use acceptance setup
  .github/workflows/code-analysis.yml
  .github/workflows/cookieplone.yml
  .github/workflows/unit.yml
Due: none

Adjust
  .github/actions/node_env_setup/action.yml
  .github/workflows/code-analysis.yml
  .github/workflows/unit.yml
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
