Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

fix(register): include username when creating user
  packages/volto/src/components/theme/Register/Register.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add changelog entry for registration username fix
  packages/volto/news/6987.bugfix
Due: none

Apply suggestion from @ksuess
  docs/source/configuration/settings-reference.md
Due: none

restore: packages/components/.storybook from 18.x.x
  packages/components/.storybook/Logo.svg
  packages/components/.storybook/main.ts
  packages/components/.storybook/manager.js
  packages/components/.storybook/preview-head.html
  packages/components/.storybook/preview.ts
  packages/components/.storybook/storybook-base.css
  packages/components/.storybook/theme.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Added requested changes
  packages/volto/src/helpers/Blocks/Blocks.js
  packages/volto/test-setup-config.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add contextual help links for volto editor
  packages/volto-slate/src/blocks/Table/schema.js
  packages/volto/news/3827.feature
  packages/volto/src/components/manage/Blocks/Grid/schema.js
  packages/volto/src/components/manage/Blocks/Image/schema.jsx
  packages/volto/src/components/manage/Blocks/Listing/schema.js
  packages/volto/src/components/manage/Blocks/Maps/schema.js
  packages/volto/src/components/manage/Blocks/Search/schema.js
  packages/volto/src/components/manage/Blocks/Teaser/schema.js
  packages/volto/src/components/manage/Blocks/ToC/Schema.jsx
  packages/volto/src/components/manage/Blocks/Video/schema.js
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
  packages/volto/theme/themes/pastanaga/extras/widgets.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Removed references to 'apps' folder from 18.x.x (#7818)
  .github/workflows/readme-link-check.yml
  .github/workflows/unit.yml
  README.md
  docs/source/contributing/developing-core.md
  packages/volto/README.md
  packages/volto/news/7785.internal
  packages/volto/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fixed the changelog file path.
  packages/volto/news/3827.feature
  packages/volto/news/feature/3827.feature
Due: none

refactor: move vscode settings setup to pnpm postinstall hook
  .gitignore
  .vscode/settings.json
  Makefile
  package.json
  packages/scripts/vscodesettings.js
  packages/volto/Makefile
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add changes
  packages/volto/news/7834.internal
Due: none

Add changes
  packages/scripts/news/7834.internal
Due: none

Apply suggestions from code review
  docs/source/configuration/settings-reference.md
Due: none

Test
  packages/volto/src/actions/blockTypes/blockTypes.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix eslint file warning
  packages/volto/src/actions/blockTypes/blockTypes.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

test: update History snapshots after readability changes
  packages/volto/src/components/manage/History/__snapshots__/History.test.jsx.snap
Due: none

fix: Changed the order of the Save and Cancel buttons
  packages/volto/news/7754 copy.bugfix
  packages/volto/src/components/manage/Sharing/Sharing.jsx
  packages/volto/src/components/manage/Sharing/__snapshots__/Sharing.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: news
  packages/volto/news/7835.bugfix
Due: none

Docs: document known dev watcher issue
  docs/development/troubleshooting.md
Due: none

Properly handle endpoint errors
  packages/volto/src/components/manage/Controlpanels/BlockType.tsx
  packages/volto/src/components/manage/Controlpanels/BlockTypes.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add changelog entry for dev watcher docs
  packages/volto/news/7836.documentation
Due: none

Fix Cloudflare JS challenge compatibility with site.webmanifest
  packages/volto/src/config/index.js
  packages/volto/src/helpers/Html/Html.jsx
  packages/volto/src/helpers/Html/Html.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add changelog entry for #7831
  packages/volto/news/7831.bugfix
Due: none

Fix copying of .well-known directory from public in production builds
  packages/volto-razzle/config/createConfigAsync.js
  packages/volto-razzle/news/7804.bugfix
  packages/volto/public/.well-known/test.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fixing changelog
  packages/volto/news/3827.feature
  packages/volto/news/feature/3827.feature
Due: none

Adding pr number 7833 as changelog fragment
  packages/volto/news/3827.feature
  packages/volto/news/7833.feature
Due: none

fix2 for failing test
  packages/volto/src/components/theme/View/RenderBlocks.test.jsx
  packages/volto/test-setup-config.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix linting, formatting, and add changelog entry
  packages/volto-razzle/config/createConfigAsync.js
  packages/volto/public/.well-known/test.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Apply suggestions from code review
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Improved Changelog
  packages/volto/news/7791.internal
Due: none

Fixed dangling conflict error output.css
  packages/plate/output.css
Due: pnpm stylelint --fix

Removed generic documentation URLs
  packages/volto-slate/src/blocks/Table/schema.js
  packages/volto/news/helpIcon.feature
  packages/volto/src/components/manage/Blocks/Grid/schema.js
  packages/volto/src/components/manage/Blocks/Image/schema.jsx
  packages/volto/src/components/manage/Blocks/Listing/schema.js
  packages/volto/src/components/manage/Blocks/Maps/schema.js
  packages/volto/src/components/manage/Blocks/Search/schema.js
  packages/volto/src/components/manage/Blocks/Teaser/schema.js
  packages/volto/src/components/manage/Blocks/ToC/Schema.jsx
  packages/volto/src/components/manage/Blocks/Video/schema.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Updated Search.jsx to main
  packages/volto/news/7489.bugfix
  packages/volto/news/7489.internal
  packages/volto/src/components/theme/Search/Search.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove cruft
  .github/workflows/acceptance.yml
  .gitignore
Due: none

Add helpUrl for Image and Video block schemas url
  packages/volto/src/components/manage/Blocks/Image/schema.jsx
  packages/volto/src/components/manage/Blocks/Video/schema.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix grammar in Volto development overview (#7802)
  docs/source/development/overview.md
Due: none

fixing Volto delivers HTTP 200 when no backend server is available (#7754)
  packages/volto/news/7754.bugfix
  packages/volto/src/components/theme/App/App.jsx
  packages/volto/src/components/theme/ConnectionRefused/ConnectionRefused.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix for failing test
  packages/volto/src/components/theme/Search/Search.jsx
  packages/volto/src/reducers/controlpanels/controlpanels.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix link to of Humboldt-Universität entry in READMEs (#7809)
  README.md
  packages/volto/README.md
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
