Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Add reference to Docker installation for some Linux distributions (#5861)
  docs/source/contributing/install-docker.md
  packages/volto/news/5861.documentation
Due: none

Removed process.env
  docs/source/configuration/environmentvariables.md
Due: none

Convert to a Glossary, minor grammar fixes
  docs/source/configuration/environmentvariables.md
Due: none

Update docs for defaultBlockType setting
  docs/source/configuration/settings-reference.md
  packages/volto/news/5854.documentation
Due: none

Fix lint errors
  packages/volto/src/components/manage/Blocks/LeadImage/LeadImageSidebar.jsx
  packages/volto/src/components/manage/Blocks/LeadImage/schema.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

sort facet values if they are numbers
  packages/volto/news/5864.bugfix
  packages/volto/src/components/manage/Blocks/Search/components/Facets.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix test
  src/components/theme/Sitemap/Sitemap.test.jsx
Due: none

adjust state attribute
  src/components/theme/Sitemap/Sitemap.jsx
Due: none

adjust call settings
  packages/volto/src/components/theme/Sitemap/Sitemap.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

prettier
  packages/volto/src/components/manage/Blocks/Search/SearchBlockView.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

changelog fix
  packages/volto/news/5338.bugfix
Due: none

missing state for tests
  packages/volto/src/components/theme/Sitemap/Sitemap.test.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update docs for blockHasValue
  docs/source/blocks/settings.md
  docs/source/configuration/settings-reference.md
Due: none

Apply suggestions from code review
  docs/source/configuration/settings-reference.md
  packages/volto/news/5854.documentation
Due: none

Update docs for defaultBlockType setting (#5862)
  docs/source/blocks/settings.md
  docs/source/configuration/settings-reference.md
  packages/volto/news/5854.documentation
Due: none

factored out the sorting function and tests
  packages/volto/src/components/manage/Blocks/Search/components/Facets.jsx
  packages/volto/src/components/manage/Blocks/Search/components/Facets.test.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

test labels with accents
  packages/volto/src/components/manage/Blocks/Search/components/Facets.test.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

lint
  packages/volto/src/components/manage/Blocks/Search/components/Facets.test.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix block chooser search is not focusable when clicked on add button
  packages/volto/news/5866.bugfix
  packages/volto/src/components/manage/BlockChooser/BlockChooserSearch.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

make option No Selection to work on edit
  packages/volto/src/components/manage/Blocks/Search/SearchBlockEdit.jsx
  packages/volto/src/components/manage/Blocks/Search/hocs/withSearch.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

WIP
  .pnpmfilecjs
  apps/nextjs/package.json
  apps/nextjs/src/app/Providers.tsx
  apps/nextjs/src/app/content.tsx
  apps/vite-ssr/src/routeTree.gen.ts
  apps/vite-ssr/src/routes/__root.tsx
  packages/client/.parcelrc
  packages/client/package.json
  packages/providers/.parcelrc
  packages/providers/README.md
  packages/providers/dist/index.d.ts
  packages/providers/dist/index.d.ts.map
  packages/providers/dist/main.js
  packages/providers/dist/main.js.map
  packages/providers/dist/module.mjs
  packages/providers/dist/module.mjs.map
  packages/providers/package.json
  packages/providers/src/PloneClient.tsx
  packages/providers/src/RouterLocation.tsx
  packages/providers/src/index.ts
  packages/providers/src/utils.ts
  packages/providers/tsconfig.json
  packages/registry/src/addon-registry.js
  packages/slots/README.md
  packages/slots/package.json
  packages/slots/src/Header/Header.tsx
  packages/slots/src/SlotRenderer.tsx
  packages/slots/src/index.ts
  packages/slots/tsconfig.json
  pnpm-lock.yaml
Due: none

docs for defaultBlockType setting updated
  docs/source/configuration/settings-reference.md
Due: none

Fix edge case in search options mangling when the options are false-ish
  packages/volto/src/actions/search/search.js
  packages/volto/src/actions/search/search.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Changelog
  packages/volto/news/5869.bugfix
Due: none

(Fix): Sorting Order and Sorting On are not working in Search Block edit mode (#5262)
  packages/volto/cypress/tests/core/blocks/blocks-search.js
  packages/volto/news/5262.bugfix
  packages/volto/src/components/manage/Blocks/Search/SearchBlockEdit.jsx
  packages/volto/src/components/manage/Blocks/Search/hocs/withSearch.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add missing nextjs install step (#5857)
  apps/nextjs/README.md
  packages/volto/news/5857.documentation
Due: none

Fix broken link to TanStack Query
  docs/source/client/future-improvements.md
Due: none

change log
  packages/volto/news/5871.documentation
Due: none

Fix broken link to TanStack Query (#5871)
  docs/source/client/future-improvements.md
  packages/volto/news/5871.documentation
Due: none

Improve deps in project
  packages/generator-volto/generators/app/templates/package.json.tpl
Due: none

More deps, move tooling config out of package.json
  packages/generator-volto/generators/app/templates/.browserslistrc
  packages/generator-volto/generators/app/templates/.prettierrc
  packages/generator-volto/generators/app/templates/.stylelintrc
  packages/generator-volto/generators/app/templates/package.json.tpl
Due: none

Add @types/react-router-dom and @types/uuid to devDependencies of app
  packages/generator-volto/generators/app/templates/package.json.tpl
  packages/generator-volto/news/5870.bugfix
Due: none

Fix syntax in package.json.tpl
  packages/generator-volto/generators/app/templates/package.json.tpl
Due: none

Fix .browserslistrc
  packages/generator-volto/generators/app/templates/.browserslistrc
Due: none

Browserlist fix
  packages/generator-volto/generators/app/templates/.browserslistrc
Due: none

Bump all the versions in GitHub workflows
  .github/workflows/docs.yml
  .github/workflows/readme-link-check.yml
Due: none

Changelog
  packages/volto/news/5873.internal
Due: none

More deps
  packages/generator-volto/generators/app/templates/package.json.tpl
Due: none

More devdeps
  packages/generator-volto/generators/app/templates/package.json.tpl
Due: none

Improve deps in project generator (#5872)
  packages/generator-volto/generators/app/templates/.browserslistrc
  packages/generator-volto/generators/app/templates/.prettierrc
  packages/generator-volto/generators/app/templates/.stylelintrc
  packages/generator-volto/generators/app/templates/package.json.tpl
  packages/generator-volto/news/5870.bugfix
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
