Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Update to modern `.readthedocs.yaml`
  .readthedocs.yaml
Due: none

added configuration for vitest in volto
  packages/volto/package.json
  packages/volto/test-setup-globals.js
  packages/volto/vitest.config.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Migrated src/helpers to vitest
  packages/volto/src/helpers/Api/Api.plone.rest.test.js
  packages/volto/src/helpers/Api/Api.test.js
  packages/volto/src/helpers/AsyncConnect/AsyncConnect.test.jsx
  packages/volto/src/helpers/AuthToken/AuthToken.test.js
  packages/volto/src/helpers/Extensions/__snapshots__/withBlockExtensions.test.jsx.snap
  packages/volto/src/helpers/Html/Html.test.jsx
  packages/volto/src/helpers/Html/__snapshots__/Html.test.jsx.snap
  packages/volto/src/helpers/Loadable/__mocks__/Loadable.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

migrated tests and fixed test warnings
  package.json
  packages/volto/.eslintignore
  packages/volto/.i18nrc.js
  packages/volto/__tests__/addon-registry-project.test.js
  packages/volto/__tests__/addon-registry-volto.test.js
  packages/volto/__tests__/webpack-relative-resolver.test.js
  packages/volto/news/6326.feature
  packages/volto/package.json
  packages/volto/src/components/manage/Blocks/ToC/variations/DefaultTocRenderer.test.jsx
  packages/volto/src/components/manage/Contents/Contents.test.jsx
  packages/volto/src/components/manage/Controlpanels/Aliases.test.jsx
  packages/volto/src/components/manage/Controlpanels/Groups/GroupsControlpanel.test.jsx
  packages/volto/src/components/manage/Controlpanels/Rules/AddRule.test.jsx
  packages/volto/src/components/manage/Controlpanels/Rules/ConfigureRule.test.jsx
  packages/volto/src/components/manage/Controlpanels/Rules/EditRule.test.jsx
  packages/volto/src/components/manage/Controlpanels/Rules/Rules.test.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.test.jsx
  packages/volto/src/components/theme/App/App.test.jsx
  packages/volto/src/components/theme/Comments/Comments.test.jsx
  packages/volto/src/components/theme/PasswordReset/PasswordReset.test.jsx
  packages/volto/src/components/theme/PasswordReset/__snapshots__/PasswordReset.test.jsx.snap
  packages/volto/src/components/theme/View/ListingView.test.jsx
  packages/volto/src/components/theme/View/SummaryView.test.jsx
  packages/volto/src/components/theme/View/TabularView.test.jsx
  packages/volto/src/components/theme/View/View.test.jsx
  packages/volto/src/components/theme/View/__snapshots__/ListingView.test.jsx.snap
  packages/volto/src/components/theme/View/__snapshots__/SummaryView.test.jsx.snap
  packages/volto/src/components/theme/View/__snapshots__/TabularView.test.jsx.snap
  packages/volto/src/helpers/AsyncConnect/AsyncConnect.test.jsx
  packages/volto/tsconfig.json
  packages/volto/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove leftovers from old branches
  packages/react-router/dist/index.cjs
  packages/react-router/dist/index.d.cts
  packages/react-router/dist/index.d.ts
  packages/react-router/dist/index.js
  packages/seven/.react-router/types/app/+types/content.ts
  packages/seven/.react-router/types/app/+types/okroute.ts
  packages/seven/.react-router/types/app/+types/root.ts
  packages/seven/addons.styles.css
  packages/seven/registry.loader.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Migrated vitest config file to typescript
  packages/volto/vitest.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

migrated all tests to use vitest
  packages/volto/__tests__/create-addons-loader.test.js
  packages/volto/__tests__/volto-slate/deserialize.test.js
  packages/volto/package.json
  packages/volto/src/actions/types/types.test.js
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.test.jsx
  packages/volto/src/components/manage/Blocks/Search/components/__snapshots__/SelectFacet.test.jsx.snap
  packages/volto/src/components/manage/Widgets/FileWidget.test.jsx
  packages/volto/src/components/manage/Widgets/RegistryImageWidget.test.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RegistryImageWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
  packages/volto/tsconfig.json
  packages/volto/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Migrated src/actions to vitest
  packages/volto/src/actions/actions/actions.test.js
  packages/volto/src/actions/addons/addons.test.js
  packages/volto/src/actions/aliases/aliases.test.js
  packages/volto/src/actions/types/types.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Migrated src/middleware to vitest
  packages/volto/src/middleware/storeProtectLoadUtils.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

clean up unnecessary parts in tests
  packages/volto/src/components/manage/Add/Add.test.jsx
  packages/volto/src/components/manage/Aliases/Aliases.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix Datetimewidget and other issue
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
  packages/volto/src/components/manage/Preferences/__snapshots__/PersonalInformation.test.jsx.snap
  packages/volto/src/components/manage/Widgets/DatetimeWidget.test.jsx
  packages/volto/src/components/manage/Widgets/NumberWidget.test.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/DatetimeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/NumberWidget.test.jsx.snap
  packages/volto/src/helpers/Html/Html.test.jsx
  packages/volto/src/helpers/Html/__snapshots__/Html.test.jsx.snap
  packages/volto/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Upgraded vitest to 3.0.4
  packages/volto/package.json
  packages/volto/src/components/manage/Widgets/__snapshots__/DatetimeWidget.test.jsx.snap
  pnpm-lock.yaml
Due: none

Finalized changes after rebase
  package.json
  packages/react-router/dist/index.cjs
  packages/react-router/dist/index.d.cts
  packages/react-router/dist/index.d.ts
  packages/react-router/dist/index.js
  packages/seven/.react-router/types/app/+types/content.ts
  packages/seven/.react-router/types/app/+types/okroute.ts
  packages/seven/.react-router/types/app/+types/root.ts
  packages/seven/addons.styles.css
  packages/seven/registry.loader.js
  packages/volto/src/components/manage/Blocks/Search/components/__snapshots__/SelectFacet.test.jsx.snap
  packages/volto/src/components/manage/Toolbar/__snapshots__/More.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
  packages/volto/src/helpers/Blocks/Blocks.test.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Updates in test and news
  packages/volto/news/6326.feature
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.test.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/ObjectBrowserNav.test.jsx.snap
  packages/volto/test-setup-globals.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: missing news file in packages/generator-volto
  packages/generator-volto/news/6345.bugfix
Due: none

Update README.md
  README.md
Due: none

Update to use Plone 6.1.1rc2
  variables.mk
Due: none

fix toolbar icon for back navigation in contact form
  packages/volto/src/components/theme/ContactForm/ContactForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

add newsitem
  packages/volto/news/6852.bugfix
Due: none

refactor: UniversalLink - fix types and logic, add render counter for testing
  packages/volto/src/components/manage/UniversalLink/UniversalLink.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: tests, snapshots, add negative tests for testing component optimized component behavior using React.memo
  packages/volto/src/components/manage/UniversalLink/UniversalLink.test.jsx
  packages/volto/src/components/manage/UniversalLink/__snapshots__/UniversalLink.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

docs: update news file
  packages/volto/news/6826.feature
Due: none

fix: snapshot, and update a comment
  packages/volto/src/components/manage/UniversalLink/UniversalLink.test.jsx
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fixed Self-Registration issue
  packages/volto/news/6782.bugfix
  packages/volto/src/components/theme/Register/Register.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

slight update
  packages/volto/src/components/theme/Register/Register.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Check first if the destination (build public directory) exists before trying to create it
  packages/volto/razzle.config.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/volto/news/6853.bugfix
Due: none

Check first if the destination (build public directory) exists before trying to create it in `AfterBuildPlugin` (#6853)
  packages/volto/news/6853.bugfix
  packages/volto/razzle.config.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix toolbar icon for back navigation in contact form (#6852)
  packages/volto/news/6852.bugfix
  packages/volto/src/components/theme/ContactForm/ContactForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove unrequired packages
  packages/volto-guillotina/.npmignore
  packages/volto-guillotina/.project.eslintrc.js
  packages/volto-guillotina/Makefile
  packages/volto-guillotina/babel.config.js
  packages/volto-guillotina/locales/volto.pot
  packages/volto-guillotina/package.json
  packages/volto-guillotina/src/customizations/volto/actions/sharing/sharing.js
  packages/volto-guillotina/src/customizations/volto/actions/sharing/sharing.test.js
  packages/volto-guillotina/src/customizations/volto/components/theme/Logo/Logo.svg
  packages/volto-guillotina/src/index.js
  packages/volto-testing/.release-it.json
  packages/volto-testing/CHANGELOG.md
  packages/volto-testing/cypress/helpers/index.js
  packages/volto-testing/cypress/support/commands.js
  packages/volto-testing/cypress/support/constants.js
  packages/volto-testing/cypress/support/index.js
  packages/volto-testing/cypress/support/reset-fixture.js
  packages/volto-testing/news/.gitkeep
  packages/volto-testing/package.json
  packages/volto-testing/towncrier.toml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

refactor: replace static import with dynamic import for __setLoadables
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.test.jsx
  packages/volto/src/components/manage/Blocks/HTML/Edit.test.jsx
  packages/volto/src/components/manage/Blocks/Search/components/DateRangeFacet.test.jsx
  packages/volto/src/components/manage/Blocks/Search/components/SelectFacet.test.jsx
  packages/volto/src/components/manage/Contents/Contents.test.jsx
  packages/volto/src/components/manage/Diff/Diff.test.jsx
  packages/volto/src/components/manage/Diff/DiffField.test.jsx
  packages/volto/src/components/manage/Display/Display.test.jsx
  packages/volto/src/components/manage/Preferences/PersonalPreferences.test.jsx
  packages/volto/src/components/manage/Widgets/ArrayWidget.test.jsx
  packages/volto/src/components/manage/Widgets/DatetimeWidget.test.jsx
  packages/volto/src/components/manage/Widgets/ObjectListWidget.test.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/RecurrenceWidget.test.jsx
  packages/volto/src/components/manage/Widgets/SchemaWidget.test.jsx
  packages/volto/src/components/manage/Widgets/SchemaWidgetFieldset.test.jsx
  packages/volto/src/components/manage/Widgets/SelectAutoComplete.test.jsx
  packages/volto/src/components/manage/Widgets/SelectWidget.test.jsx
  packages/volto/src/components/manage/Widgets/TokenWidget.test.jsx
  packages/volto/src/components/manage/Widgets/VocabularyTermsWidget.test.jsx
  packages/volto/src/components/manage/Workflow/Workflow.test.jsx
  packages/volto/src/components/theme/Comments/Comments.test.jsx
  packages/volto/src/components/theme/View/EventDatesInfo.test.jsx
  packages/volto/src/components/theme/View/EventView.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

migration documentation for vitest
  docs/source/contributing/index.md
  docs/source/contributing/testing-vitest.md
Due: none

Fix: Set lang and dir attributes for RTL languages (#6851)
  packages/volto/src/components/theme/App/App.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove unrequired packages (#6854)
  packages/volto-guillotina/.npmignore
  packages/volto-guillotina/.project.eslintrc.js
  packages/volto-guillotina/Makefile
  packages/volto-guillotina/babel.config.js
  packages/volto-guillotina/locales/volto.pot
  packages/volto-guillotina/package.json
  packages/volto-guillotina/src/customizations/volto/actions/sharing/sharing.js
  packages/volto-guillotina/src/customizations/volto/actions/sharing/sharing.test.js
  packages/volto-guillotina/src/customizations/volto/components/theme/Logo/Logo.svg
  packages/volto-guillotina/src/index.js
  packages/volto-testing/.release-it.json
  packages/volto-testing/CHANGELOG.md
  packages/volto-testing/cypress/helpers/index.js
  packages/volto-testing/cypress/support/commands.js
  packages/volto-testing/cypress/support/constants.js
  packages/volto-testing/cypress/support/index.js
  packages/volto-testing/cypress/support/reset-fixture.js
  packages/volto-testing/news/.gitkeep
  packages/volto-testing/package.json
  packages/volto-testing/towncrier.toml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  apps/seven/news/6856.documentation
Due: none

Apply suggestions from code review
  apps/quanta/CHANGELOG.md
  apps/quanta/README.md
Due: none
