Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Fix out of date registry changelog
  packages/registry/news/6161.feature
Due: none

Add initial sort for keys when hashing them into the depsString
  packages/registry/src/index.ts
Due: none

Remove granularity from the paragraph
  docs/source/configuration/validation.md
Due: none

Change the name of the dependency key from `widgetName` to `widget`
  docs/source/configuration/validation.md
  packages/volto/src/config/validation.ts
  packages/volto/src/helpers/FormValidation/FormValidation.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

locales
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Add an example of how to build an invariant
  docs/source/configuration/validation.md
Due: none

Move the default validators section to the top
  docs/source/configuration/validation.md
Due: none

Update packages/volto/news/6188.documentation
  packages/volto/news/6188.documentation
Due: none

Added change vlog
  packages/volto/news/6190.feature
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
  packages/volto/news/6189.breaking
Due: none

refactor: move content types to interfaces to make them extendable
  packages/types/src/content/common.d.ts
Due: none

chore: add change vlog
  packages/types/news/6191.feature
Due: none

Update packages/volto/news/6173.feature
  packages/volto/news/6173.feature
Due: none

Update packages/volto/src/config/PublicNonContentRoutes.jsx
  packages/volto/src/config/PublicNonContentRoutes.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update packages/volto/src/helpers/Url/Url.js
  packages/volto/src/helpers/Url/Url.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

`SchemaWidget` CSS and registration (#6189)
  docs/source/upgrade-guide/index.md
  packages/volto/news/6189.breaking
  packages/volto/news/6189.bugfix
  packages/volto/src/components/manage/Controlpanels/ContentTypeSchema.jsx
  packages/volto/src/config/Widgets.jsx
  packages/volto/theme/themes/pastanaga/collections/form.overrides
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Improved i18n docs for customizations (#6188)
  docs/source/development/i18n.md
  packages/volto/news/6188.documentation
Due: none

Add a label and minor grammar fixes to i18n
  docs/source/development/i18n.md
Due: none

news
  packages/volto/news/6192.documentation
Due: none

Add a label and minor grammar fixes to i18n (#6192)
  docs/source/development/i18n.md
  packages/volto/news/6192.documentation
Due: none

Polish upgrade docs and news items for `SchemaWidget` See #6189
  docs/source/upgrade-guide/index.md
  packages/volto/news/6189.breaking
  packages/volto/news/6189.bugfix
Due: none

news
  packages/volto/news/6193.documentation
Due: none

Polish upgrade docs and news items for `SchemaWidget` (#6193)
  docs/source/upgrade-guide/index.md
  packages/volto/news/6189.breaking
  packages/volto/news/6189.bugfix
  packages/volto/news/6193.documentation
Due: none

Drop Volto 15
  docs/source/contributing/developing-core.md
Due: none

Add references for contributing to latest and earlier versions of Volto (#6184)
  docs/source/contributing/developing-core.md
  packages/volto/news/6184.documentation
Due: none

[Search Block] do not send sorting information by default (#5339)
  packages/volto/news/5338.bugfix
  packages/volto/src/components/manage/Blocks/Search/SearchBlockView.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

field validation cypress test
  packages/volto/cypress/tests/coresandbox/validations.js
  packages/volto/src/helpers/FormValidation/validators.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Refactored Edit.jsx into Functional based components
  packages/volto/src/components/manage/Blocks/LeadImage/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update Edit.jsx
  packages/volto/src/components/manage/Blocks/LeadImage/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fixed Errors in Edit.jsx
  packages/volto/src/components/manage/Blocks/LeadImage/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: pass the pagination size explicitly in all the search calls (#5496)
  packages/volto/news/5464.bugfix
  packages/volto/src/components/theme/Search/Search.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

form validation jest test and i18n
  packages/volto/cypress/tests/coresandbox/validations.js
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/helpers/FormValidation/FormValidation.test.js
  packages/volto/src/helpers/FormValidation/validators.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

chore: had to mention myself in change vlog
  packages/types/news/6191.feature
Due: none

Refactor Aliases.jsx.
  packages/volto/news/6192.feature
  packages/volto/src/components/manage/Aliases/Aliases.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Move news
  packages/volto/news/4861.feature
Due: none

Remove unused variable
  packages/volto/src/components/theme/Register/Register.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Initial test
  packages/coresandbox/src/index.ts
  packages/volto/cypress/tests/coresandbox/self-registration.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Add missing registry settings
  packages/volto/cypress/tests/coresandbox/self-registration.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
