Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

.lintstagedrc:

{
  "packages/!(volto)/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "packages/!(volto)/**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.{css,less,scss}": [
    "pnpm --filter @plone/volto stylelint --fix"
  ],
  "packages/volto/**/*.overrides": [
    "pnpm --filter @plone/volto stylelint --fix"
  ]
}

First version
  docs/source/_inc/_branch-policy.md
  docs/source/_inc/_install-browser-reqs-volto.md
  docs/source/contributing/version-policy.md
Due: none

Deprecation warning for SemanticUI theming.
  docs/source/theming/about-semantic.md
  docs/source/theming/custom-styling.md
  docs/source/theming/index.md
  docs/source/theming/semanticui-theming.md
  docs/source/theming/theming-a-base-theme.md
  docs/source/theming/theming-engine.md
  docs/source/theming/theming-strategy.md
Due: none

Changelog
  packages/volto/news/6541.documentation
Due: none

Apply suggestions from code review
  docs/source/configuration/settings-reference.md
  packages/components/README.md
  packages/components/news/6539.bugfix
  packages/components/src/stories/Introduction.mdx
  packages/types/news/6539.feature
  packages/volto/news/6539.feature
Due: none

Apply suggestions from code review
  docs/source/contributing/version-policy.md
  docs/source/theming/about-semantic.md
Due: none

Add monorepo structure to the README. Update `@plone/components`'s URLs in its `package.json`. Update the monorepo structure file tree.
  README.md
  docs/source/contributing/developing-core.md
  packages/components/package.json
Due: none

news
  packages/components/news/6542.internal
  packages/volto/news/6542.documentation
Due: none

Remove paragraph, use a translatable
  README.md
Due: none

lock
  pnpm-lock.yaml
Due: none

Add reference to Plone 6.1 and the release schedule page. Remove confusing paragraph.
  docs/source/_inc/_branch-policy.md
  docs/source/contributing/version-policy.md
Due: none

Use an inc for the SemanticUI notice, move under titles
  docs/source/_inc/_install-browser-reqs-volto.md
  docs/source/_inc/_semanticui-deprecation.md
  docs/source/contributing/version-policy.md
  docs/source/theming/about-semantic.md
  docs/source/theming/custom-styling.md
  docs/source/theming/index.md
  docs/source/theming/semanticui-theming.md
  docs/source/theming/theming-a-base-theme.md
  docs/source/theming/theming-engine.md
  docs/source/theming/theming-strategy.md
Due: none

Add monorepo structure to the README (#6542)
  README.md
  docs/source/contributing/developing-core.md
  packages/components/news/6542.internal
  packages/components/package.json
  packages/volto/news/6542.documentation
Due: none

Apply suggestions from code review
  docs/source/contributing/version-policy.md
  docs/source/theming/about-semantic.md
  packages/volto/news/6541.documentation
Due: none

Rename _semantic-ui-deprecation.md
  docs/source/_inc/_semantic-ui-deprecation.md
Due: none

Complete what legacy means
  docs/source/_inc/_branch-policy.md
Due: none

First working version, using the kb from #6050
  .gitignore
  packages/volto/.eslintrc
  packages/volto/package.json
  packages/volto/src/components/manage/AnchorPlugin/components/LinkButton/AddLinkForm.jsx
  packages/volto/src/components/manage/BlockChooser/BlockChooserButton.jsx
  packages/volto/src/components/manage/Sidebar/SidebarPopup.jsx
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/src/components/theme/App/App.jsx
  packages/volto/src/config/index.js
  packages/volto/src/constants/Languages.cjs
  packages/volto/src/helpers/Utils/useDetectClickOutside.js
  packages/volto/vite-plugins/volto.js
  packages/volto/vite.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Apply suggestions from code review
  docs/source/_inc/_semantic-ui-deprecation.md
  docs/source/contributing/version-policy.md
Due: none

Remove contradicting statement in 17.x.x branch, create an entry to clarify what legacy means.
  docs/source/_inc/_branch-policy.md
Due: none

Release @plone/types 1.2.0
  packages/types/CHANGELOG.md
  packages/types/news/6539.feature
  packages/types/package.json
Due: none

Release @plone/components 3.0.1
  packages/components/CHANGELOG.md
  packages/components/news/6539.bugfix
  packages/components/news/6542.internal
  packages/components/package.json
Due: none

Release 18.4.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/README.md
  packages/volto/news/6534.internal
  packages/volto/news/6539.feature
  packages/volto/news/6542.documentation
  packages/volto/package.json
Due: none

feat: enhanced undo ctrl panel
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Controlpanels/UndoControlpanel.jsx
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

chore: updated news
  packages/volto/news/6545.feature
Due: none

chore: updated snapshot
  packages/volto/src/components/manage/Controlpanels/UndoControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/__snapshots__/UndoControlpanel.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix styles
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm --filter @plone/volto stylelint --fix

fix import
  packages/volto/src/components/manage/Controlpanels/UndoControlpanel.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Docs: add config.blocks.initialBlocks documentation for configuring initial blocks
  docs/source/blocks/settings.md
Due: none

Add sorting to types in schemawidget.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
  packages/volto/src/components/manage/Widgets/SelectWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Show field type on edit in schemawidget.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Set default field type in add field in schema widet.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Shows working copy options for Plone Site
  packages/volto/cypress/tests/workingCopy/create.js
  packages/volto/news/5284.feature
  packages/volto/src/components/manage/Toolbar/More.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add classname to edit and add field modal in schemawidget.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Classname fix for schemawidget modal.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix modal title in schemawidget.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

revert changes to a11y checkboxes
  packages/registry/.parcel-cache/4987902b3f9787cc-BundleGraph-0
  packages/registry/.parcel-cache/70f1f7555dda250d-AssetGraph-0
  packages/registry/.parcel-cache/7b8e4611c0f03524-AssetGraph-0
  packages/registry/.parcel-cache/data.mdb
  packages/registry/.parcel-cache/lock.mdb
  packages/registry/.parcel-cache/requestGraph-369948a06d23ec44-0
  packages/registry/.parcel-cache/requestGraph-nodes-0-369948a06d23ec44-0
  packages/registry/.parcel-cache/snapshot-369948a06d23ec44.txt
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm --filter @plone/volto stylelint --fix

removed cache file
  packages/registry/.parcel-cache/4987902b3f9787cc-BundleGraph-0
  packages/registry/.parcel-cache/70f1f7555dda250d-AssetGraph-0
  packages/registry/.parcel-cache/7b8e4611c0f03524-AssetGraph-0
  packages/registry/.parcel-cache/data.mdb
  packages/registry/.parcel-cache/lock.mdb
  packages/registry/.parcel-cache/requestGraph-369948a06d23ec44-0
  packages/registry/.parcel-cache/requestGraph-nodes-0-369948a06d23ec44-0
  packages/registry/.parcel-cache/snapshot-369948a06d23ec44.txt
Due: none

Update packages/volto/cypress/tests/workingCopy/create.js
  packages/volto/cypress/tests/workingCopy/create.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky
