Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

fix: removed unused vite config
  apps/seven/vite.config.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: removed unused import
  packages/cmsui/components/RecurrenceWidget/Components/IntervalField.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

prettier
  apps/seven/app/root.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: removed content types
  packages/types/src/content/index.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add @@slots route
  packages/cmsui/config/routes.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix eslint
  apps/seven/app/root.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: content types
  packages/types/src/content/index.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: news item
  packages/cmsui/news/+recurrencewidget.feature
Due: none

chore: news item
  apps/seven/news/+recurrencewidget.feature
Due: none

chore: news item
  packages/types/news/+eventtypes.fix
Due: none

chore: news item
  packages/cmsui/news/+fix-sidebar-vertical-height.bugfix
  packages/components/news/+qmodal.feature
  packages/components/news/+radiogroup.feature
  packages/theming/news/+mutedbackground.feature
  packages/types/news/+eventtypes.bugfix
Due: none

chore: removed news item
  packages/cmsui/news/+fix-sidebar-vertical-height.bugfix
  packages/components/news/+qmodal.feature
Due: none

re-arrange imports
  apps/seven/app/root.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

build slot composition tree in init-loaders.js
  packages/registry/bin/init-loaders.js
  packages/registry/bin/slot-tree.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

implemented slots view
  packages/cmsui/locales/de/common.json
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/news/8264.feature
  packages/cmsui/routes/slots.tsx
  packages/registry/news/8264.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Fixed toolbar edit and back button (#8249)
  packages/cmsui/components/ContentForm/ContentForm.tsx
  packages/cmsui/news/+fix-cancel-button-href.bugfix
  packages/publicui/news/+fix-edit-button-stale-url.bugfix
  packages/publicui/routes/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Fixed objectbrowser and Teaser block (#8260)
  packages/blocks/Teaser/schema.tsx
  packages/blocks/news/+fix-teaser-schema.bugfix
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserContext.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidgetBody.tsx
  packages/cmsui/components/ObjectBrowserWidget/utils.ts
  packages/cmsui/news/+fixobjectbrowser.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Removed the native Plate Image block from the slash menu (#8233)
  packages/plate/components/editor/plugins/slash-menu.tsx
  packages/plate/news/+removeimageblockfromtextgroup.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: update changelog
  packages/volto/news/8258.bugfix
Due: none

fix accessibility bug
  packages/layout/components/Toolbar/ToolbarMenu.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

conditional rendering for toolbar buttons/menus
  packages/publicui/components/Toolbar/ContentTypesMenu.tsx
  packages/publicui/routes/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

refactor: create useQuerystringResults hook, move search logic to it
  packages/blocks/Listing/ListingBlockEdit.tsx
  packages/blocks/Listing/useQuerystringResults.ts
  packages/cmsui/components/BlockEditor/BlockSettingsForm.tsx
  packages/cmsui/components/BlockEditor/BlockSettingsFormRenderer.tsx
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.stories.tsx
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

move Component component to @plone/layout
  packages/components/package.json
  packages/layout/components/Component/Component.test.tsx
  packages/layout/components/Component/Component.tsx
  packages/layout/news/6691.feature
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix Nick usage of babel/core, add bcrypt and node-gyp to the externals
  apps/seven/.gitignore
  apps/seven/package.json
  packages/registry/vite-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

lock and changelog
  apps/seven/news/+babel-core-dev-dependency.internal
  packages/registry/news/+externalize-native-ssr-deps.bugfix
  pnpm-lock.yaml
Due: none

Merge seven into 66673-seven-header-slots
  pnpm-lock.yaml
Due: none

move styles from header.css to the correct modules
  packages/layout/slots/Header/Header.module.css
  packages/layout/slots/Navigation/Navigation.module.css
  packages/layout/styles/header.css
Due: pnpm stylelint --fix

fix: used quanta components
  packages/cmsui/components/RecurrenceWidget/Components/ByDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByMonthDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByWeekdayOfTheMonth.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByWeekdayOfTheMonthIndex.tsx
  packages/cmsui/components/RecurrenceWidget/Components/CountEndField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/IntervalField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/MonthOfTheYearField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/RadioOptionsField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/RecurrenceWidgetModal.tsx
  packages/cmsui/components/RecurrenceWidget/utils.ts
  packages/cmsui/components/TextField/TextField.tsx
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/components/news/+radiogroup-and-components-props.feature
  packages/components/news/+radiogroup.feature
  packages/components/src/components/Select/Select.quanta.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/components/TextField/TextField.quanta.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

remove space from language switcher slot name
  packages/layout/config/slots.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: restored rrule import
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/Utils.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: removed unused classes and imports
  packages/cmsui/components/RecurrenceWidget/utils.ts
  packages/components/src/quanta/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Merge branch 'seven' into 6691-component-component
  pnpm-lock.yaml
Due: none

fix: add role="status" to aria-live announce span in Toolbar
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

simplify event view and separate styles into css modules
  packages/layout/components/EventDetails/EventDetails.module.css
  packages/layout/components/EventDetails/EventDetails.tsx
  packages/layout/views/EventView.module.css
  packages/layout/views/EventView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

move document description margin to content-area.css
  packages/layout/styles/content-area.css
  packages/layout/styles/views/link.css
Due: pnpm stylelint --fix

remove unused link styles
  packages/layout/views/LinkView.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update packages/volto/news/8258.bugfix
  packages/volto/news/8258.bugfix
Due: none

refactor: apply naming conventions to variables
  packages/volto/src/config/index.js
  packages/volto/src/helpers/Site/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: unit test
  packages/volto/src/components/manage/Toolbar/__snapshots__/Toolbar.test.jsx.snap
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
