Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "packages/!volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Remove cruft
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
Due: none

Bring back correct typing
  packages/registry/src/index.ts
Due: none

added change log
  packages/volto/news/6182.feature
Due: none

added change log 1
  packages/volto/news/6182.feature
Due: none

carry over suggestions from #6161 to index.md
  docs/source/upgrade-guide/index.md
Due: none

Steve's review and edits of validation.md
  docs/source/configuration/validation.md
Due: none

Add references for contributing to latest and earlier versions of Volto
  docs/source/contributing/developing-core.md
Due: none

news
  packages/volto/news/6184.documentation
Due: none

commit.
  packages/volto/src/components/manage/Blocks/Video/Edit.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Apply suggestions from code review
  packages/registry/src/registry.test.tsx
  packages/types/news/6161.bugfix
  packages/volto/news/6161.breaking
Due: none

Unify validator names, ending in `Validator`
  packages/volto/src/config/validation.ts
  packages/volto/src/helpers/FormValidation/validators.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Converted Edit component from class based to function based
  packages/volto-slate/src/blocks/Table/TableBlockEdit.jsx
Due: none

Fix start-end date validator i18n msg, add tests
  packages/volto/src/helpers/FormValidation/FormValidation.test.js
  packages/volto/src/helpers/FormValidation/validators.ts
  packages/volto/src/helpers/MessageLabels/MessageLabels.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix: improve url regex
  packages/volto/src/helpers/Url/Url.test.js
  packages/volto/src/helpers/Url/urlRegex.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Add pattern validator
  packages/volto/src/config/validation.ts
  packages/volto/src/helpers/FormValidation/FormValidation.test.js
  packages/volto/src/helpers/FormValidation/validators.ts
  packages/volto/src/helpers/MessageLabels/MessageLabels.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

strange, but valid, url
  packages/volto/src/helpers/Url/Url.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Implemented default `maxItems`/`minItems`
  packages/volto/src/config/validation.ts
  packages/volto/src/helpers/FormValidation/FormValidation.test.js
  packages/volto/src/helpers/FormValidation/validators.ts
  packages/volto/src/helpers/MessageLabels/MessageLabels.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Edited 2 comments
  packages/volto-slate/src/blocks/Table/TableBlockEdit.jsx
Due: none

Updated changelog
  packages/volto/news/6187.feature
Due: none

Fixed ESLint errors
  packages/volto-slate/src/blocks/Table/TableBlockEdit.jsx
Due: none

Use specific earlier version references to build a backend and documentation
  docs/source/contributing/developing-core.md
Due: none

Refactored FormFeildWrapper to functional components
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Updated change log
  packages/volto/news/6185.feature
Due: none

Update packages/volto/news/6153.internal
  packages/volto/news/6153.internal
Due: none

Debounced searching for users and groups in controlpanel (#6153)
  packages/volto/news/6153.internal
  packages/volto/src/components/manage/Controlpanels/Users/UserGroupMembershipListing.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UserGroupMembershipMatrix.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Added data folder as volume for backend-docker-start (#6168)
  .gitignore
  docs/source/contributing/developing-core.md
  packages/volto/Makefile
  packages/volto/news/6157.bugfix
Due: none

Improved i18n docs for customizations
  docs/source/development/i18n.md
Due: none

news item
  packages/volto/news/6188.documentation
Due: none

Configured the failing checks
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Make the block save the form
  packages/volto/src/components/manage/Blocks/Form/Edit.jsx
  packages/volto/src/components/manage/Blocks/Form/View.jsx
  packages/volto/src/components/manage/Blocks/Form/schema.js
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
  packages/volto/src/config/Blocks.jsx
  packages/volto/src/config/Widgets.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

locales
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Some CSS fixes
  packages/volto/theme/themes/pastanaga/collections/form.overrides
Due: pnpm stylelint --fix

Remove `schemaWidget` widget registered as `id`, move it to `widget` type instead
  packages/volto/src/components/manage/Controlpanels/ContentTypeSchema.jsx
  packages/volto/src/config/Widgets.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  docs/source/upgrade-guide/index.md
  packages/volto/news/6189.breaking
  packages/volto/news/6189.bugfix
Due: none

Update docs/source/configuration/validation.md
  docs/source/configuration/validation.md
Due: none

Apply suggestions from code review
  docs/source/configuration/validation.md
Due: none

Include in the documentation all the default validators in Volto
  docs/source/configuration/validation.md
  packages/volto/src/config/validation.ts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Added missing docs for utilities in types
  packages/types/news/6161.bugfix
  packages/types/news/6161.feature
Due: none
