Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Apply suggestions from code review
  docs/how-to-guides/index.md
  docs/how-to-guides/routes.md
Due: none

Apply suggestions from code review
  docs/conceptual-guides/shadowing.md
Due: none

A couple of fixes
  docs/conceptual-guides/shadowing.md
Due: none

Improve the first paragraph
  docs/how-to-guides/routes.md
Due: none

Load catalog versions from `catalog.json` (#7065)
  .pnpmfile.cjs
  apps/seven/news/7065.internal.1
  apps/seven/news/7065.internal.2
  catalog.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix the path in which to detect changes to documentation files.
  .github/workflows/docs-rtd-pr-preview-volto.yml
Due: none

change log
  packages/volto/news/7066.documentation
Due: none

Fix rtd preview builds for Seven (#7066)
  .github/workflows/docs-rtd-pr-preview-volto.yml
  packages/volto/news/7066.documentation
Due: none

Apply suggestions from code review
  docs/how-to-guides/routes.md
Due: none

Added suggestion and tests
  packages/registry/src/vite-plugin.test.tsx
  packages/registry/vite-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feat: use translated schema title in Helmet for `Add` component page
  packages/volto/news/7048.feature
  packages/volto/src/components/manage/Add/Add.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added Shadowing documentation (#7064)
  apps/seven/news/+shadowing.documentation
  docs/conceptual-guides/index.md
  docs/conceptual-guides/shadowing.md
Due: none

Support not publishing a package on NPM if plonePrePublish.publish is set to false (Fixes #7068).
  packages/scripts/news/7068.feature
  packages/scripts/prepublish.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Support not publishing a package on NPM if plonePrePublish.publish is set to false (#7069)
  packages/scripts/news/7068.feature
  packages/scripts/prepublish.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Support not publishing a package on NPM if plonePrePublish.publish is… (#7070)
  packages/scripts/news/7068.feature
  packages/scripts/prepublish.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/scripts 3.10.0
  packages/scripts/CHANGELOG.md
  packages/scripts/news/7068.feature
  packages/scripts/package.json
Due: none

Fix prepublish name
  packages/scripts/news/+fix-prepublishname.bugfix
  packages/scripts/prepublish.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/scripts 3.10.1
  packages/scripts/CHANGELOG.md
  packages/scripts/news/+fix-prepublishname.bugfix
  packages/scripts/package.json
Due: none

Fix declarations, remove .test.tsx
  packages/volto/tsconfig.declarations.json
Due: none

Release 18.20.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/6964.feature
  packages/volto/news/7057.bugfix
  packages/volto/package.json
  packages/volto/types/components/manage/ConditionalLink/ConditionalLink.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Allow `object_list` widget to receive a `schemaName` prop, mapped to an utility (#7007)
  packages/registry/news/7007.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/news/7007.feature
  packages/types/src/content/common.d.ts
  packages/types/src/services/site.d.ts
  packages/volto/news/7007.feature
  packages/volto/src/components/manage/Widgets/ObjectListWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fixed `unRegisterSlotComponent` method (#7016)
  packages/registry/news/7016.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/news/7016.bugfix
  packages/types/src/config/Settings.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove the slot registration from the array if it is the last in `unRegisterSlotComponent` (#7031)
  packages/registry/news/7031.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed `groupBlocksOrder` typing and move `MaybeWrap` to TS (#7029)
  packages/types/news/7029.feature
  packages/types/src/config/Blocks.d.ts
  packages/volto/news/7029.feature
  packages/volto/src/components/manage/MaybeWrap/MaybeWrap.jsx
  packages/volto/src/components/manage/MaybeWrap/MaybeWrap.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

`blockModel` type is optional (#7033)
  packages/types/src/config/Blocks.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Improve typings of brains and objectBrowser references (#7047)
  packages/types/news/7047.bugfix
  packages/types/src/blocks/index.d.ts
  packages/types/src/blocks/objectBrowser.d.ts
  packages/types/src/config/Settings.d.ts
  packages/types/src/config/index.d.ts
  packages/types/src/services/common.d.ts
  packages/volto/src/components/manage/Widgets/FileWidget.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Release @plone/types 2.0.0-alpha.2
  packages/types/CHANGELOG.md
  packages/types/news/6994.bugfix
  packages/types/news/7007.feature
  packages/types/news/7016.bugfix
  packages/types/news/7029.feature
  packages/types/news/7033.bugfix
  packages/types/news/7047.bugfix
  packages/types/package.json
Due: none

Release @plone/registry 3.0.0-alpha.3
  packages/registry/CHANGELOG.md
  packages/registry/news/7007.bugfix
  packages/registry/news/7016.bugfix
  packages/registry/news/7031.bugfix
  packages/registry/package.json
Due: none

Backport 7007 7016 7031 (#7071)
  packages/registry/news/7007.bugfix
  packages/registry/news/7016.bugfix
  packages/registry/news/7031.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/news/7007.feature
  packages/types/news/7016.bugfix
  packages/types/news/7029.feature
  packages/types/news/7047.bugfix
  packages/types/src/blocks/index.d.ts
  packages/types/src/blocks/objectBrowser.d.ts
  packages/types/src/config/Blocks.d.ts
  packages/types/src/config/Settings.d.ts
  packages/types/src/config/index.d.ts
  packages/types/src/content/common.d.ts
  packages/types/src/services/common.d.ts
  packages/types/src/services/site.d.ts
  packages/volto/news/7007.feature
  packages/volto/news/7029.feature
  packages/volto/src/components/manage/MaybeWrap/MaybeWrap.jsx
  packages/volto/src/components/manage/MaybeWrap/MaybeWrap.tsx
  packages/volto/src/components/manage/Widgets/FileWidget.test.jsx
  packages/volto/src/components/manage/Widgets/ObjectListWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add cmsui Storybook
  docs/conf.py
  docs/index.md
  docs/reference/storybook.md
  packages/cmsui/.readthedocs.yaml
  packages/tooling/.storybook/main.ts
  requirements-docs.txt
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add cmsui Storybook (#7072)
  docs/conf.py
  docs/index.md
  docs/reference/storybook.md
  packages/cmsui/.readthedocs.yaml
  packages/tooling/.storybook/main.ts
  requirements-docs.txt
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add component accepts optional initialFormData prop
  packages/volto/src/components/manage/Add/Add.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: acceptance tests
  packages/volto/src/components/manage/Add/Add.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

add news
  packages/volto/news/7073.feature
Due: none

chore
  packages/volto/news/7073.feature
Due: none

Outcome of Steve's discussion this morning
  docs/conceptual-guides/index.md
  docs/conceptual-guides/routing.md
  docs/how-to-guides/routes.md
Due: none

Add docs for writing a new widget
  docs/source/development/widget.md
Due: none

Add news file
  packages/volto/news/7075.feature
Due: none
