Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

One sentence/paragraph, better wrap, corrected code snippet
  docs/source/contributing/redux.md
Due: none

Correct 2 grammar issues, 1 word wrap issue
  docs/source/contributing/redux.md
Due: none

1 sentence per LOC without word wrapping at 80
  docs/source/contributing/redux.md
Due: none

Add {file} tag to file/directory paths
  docs/source/contributing/redux.md
Due: none

add the description,input and label primitives
  packages/components/src/tailwind/TokenWidget/MultipleSelect.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

updated docs for vitest in bundle-size-optimiazation
  docs/source/contributing/bundle-size-optimization.md
  packages/volto/news/7024.documentation
Due: none

minor modification
  packages/volto/news/7024.documentation
Due: none

Update packages/volto/news/7024.documentation
  packages/volto/news/7024.documentation
Due: none

updated docs for vitest in bundle-size-optimiazation (#7025)
  docs/source/contributing/bundle-size-optimization.md
  packages/volto/news/7024.documentation
Due: none

Apply suggestions from code review
  docs/source/contributing/redux.md
Due: none

Update redux.md
  docs/source/contributing/redux.md
Due: none

Better Redux-related docs, word wrapping (#7023)
  docs/source/contributing/redux.md
  packages/volto/news/7023.documentation
Due: none

Fix title to "Microsoft Writing Style Guide" - Minor grammar fix
  docs/source/contributing/documentation.md
Due: none

Fix title to "Microsoft Writing Style Guide" (#7026)
  docs/source/contributing/documentation.md
Due: none

documentation for gridBlock upgrade guide
  docs/source/upgrade-guide/index.md
Due: none

Create 7027.documentation
  packages/volto/news/7027.documentation
Due: none

documentation for gridBlock upgrade guide (#7027)
  docs/source/upgrade-guide/index.md
  packages/volto/news/7027.documentation
Due: none

docs: move seealso and replace plain text with a versionadded block
  docs/source/upgrade-guide/index.md
Due: none

Remove circular link
  docs/source/upgrade-guide/index.md
Due: none

Fix typings of `groupBlocksOrder`
  packages/types/src/config/Blocks.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Move `MaybeWrap` to TS, add proper tests
  packages/volto/src/components/manage/MaybeWrap/MaybeWrap.jsx
  packages/volto/src/components/manage/MaybeWrap/MaybeWrap.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changelog
  packages/types/news/7029.feature
  packages/volto/news/7029.feature
Due: none

Fixed `groupBlocksOrder` typing and move `MaybeWrap` to TS (#7029)
  packages/types/news/7029.feature
  packages/types/src/config/Blocks.d.ts
  packages/volto/news/7029.feature
  packages/volto/src/components/manage/MaybeWrap/MaybeWrap.jsx
  packages/volto/src/components/manage/MaybeWrap/MaybeWrap.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove the slot registration from the array if it is the last in `unRegisterSlotComponent`
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/registry/news/7031.bugfix
Due: none

Fixed `groupBlocksOrder` typing and move `MaybeWrap` to TS (#7029) (#7030)
  packages/types/news/7029.feature
  packages/types/src/config/Blocks.d.ts
  packages/volto/news/7029.feature
  packages/volto/src/components/manage/MaybeWrap/MaybeWrap.jsx
  packages/volto/src/components/manage/MaybeWrap/MaybeWrap.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove the slot registration from the array if it is the last in `unRegisterSlotComponent` (#7031)
  packages/registry/news/7031.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove the slot registration from the array if it is the last in `unR… (#7032)
  packages/registry/news/7031.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/types 1.4.2
  packages/types/CHANGELOG.md
  packages/types/news/7029.feature
  packages/types/package.json
Due: none

Release @plone/registry 2.5.3
  packages/registry/CHANGELOG.md
  packages/registry/news/7031.bugfix
  packages/registry/package.json
Due: none

Release 18.15.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/7029.feature
  packages/volto/package.json
  packages/volto/types/components/manage/MaybeWrap/MaybeWrap.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

`blockModel` type is optional
  packages/types/src/config/Blocks.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

`blockModel` type is optional (#7033)
  packages/types/src/config/Blocks.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add missing changelog for #7033
  packages/types/news/7033.bugfix
Due: none

Changelog
  packages/types/news/7033.bugfix
Due: none

Backport7033 (#7034)
  packages/types/news/7033.bugfix
  packages/types/src/config/Blocks.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/types 1.4.3
  packages/types/CHANGELOG.md
  packages/types/news/7033.bugfix
  packages/types/package.json
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
