Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Added translation using Weblate (Tongan)
  packages/volto/locales/to/LC_MESSAGES/volto.po
Due: none

Added translation using Weblate (Norwegian Bokmål)
  packages/volto/locales/nb_NO/LC_MESSAGES/volto.po
Due: none

Added translation using Weblate (fu (generated) (fu))
  packages/volto/locales/fu/LC_MESSAGES/volto.po
Due: none

Added translation using Weblate (Serbian (sr@cyrl))
  packages/volto/locales/sr@cyrl/LC_MESSAGES/volto.po
Due: none

Added translation using Weblate (Serbian (sr@latn))
  packages/volto/locales/sr@latn/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Dutch)
  packages/volto/locales/nl/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Spanish)
  packages/volto/locales/es/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (German)
  packages/volto/locales/de/LC_MESSAGES/volto.po
Due: none

Fix types of #6826 (#7052)
  packages/volto/news/+fixtypes.internal
  packages/volto/news/6826.feature
  packages/volto/src/components/manage/ConditionalLink/ConditionalLink.tsx
  packages/volto/src/components/manage/UniversalLink/UniversalLink.tsx
  packages/volto/types/components/manage/ConditionalLink/ConditionalLink.d.ts
  packages/volto/types/components/manage/UniversalLink/UniversalLink.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add detailed list with links to contents delete modal
  packages/volto/news/7054.feature
  packages/volto/src/components/manage/Contents/ContentsDeleteModal.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

add pt-br translations ContentsDeleteModal
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
Due: none

Fix translations default of ContentsDeleteModal: 'linkintegrity: delete' -> 'delete' if no link to break. (#6964)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/6964.feature
  packages/volto/src/components/manage/Contents/ContentsDeleteModal.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/news/7054.feature
  packages/volto/news/7054.feature
Due: none

Fix types of #6826 (#7052) (#7053)
  packages/volto/news/+fixtypes.internal
  packages/volto/news/6826.feature
  packages/volto/src/components/manage/ConditionalLink/ConditionalLink.tsx
  packages/volto/src/components/manage/UniversalLink/UniversalLink.tsx
  packages/volto/types/components/manage/ConditionalLink/ConditionalLink.d.ts
  packages/volto/types/components/manage/UniversalLink/UniversalLink.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Backport 6964 (#7056)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/6964.feature
  packages/volto/src/components/manage/Contents/ContentsDeleteModal.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Improve typings in ConditionalLink component, add TS tests to catch the bad typings
  packages/volto/src/components/manage/ConditionalLink/ConditionalLink.test.tsx
  packages/volto/src/components/manage/ConditionalLink/ConditionalLink.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/volto/news/7057.bugfix
Due: none

Improve typings in ConditionalLink component, add TS tests to catch the bad typings (#7057)
  packages/volto/news/7057.bugfix
  packages/volto/src/components/manage/ConditionalLink/ConditionalLink.test.tsx
  packages/volto/src/components/manage/ConditionalLink/ConditionalLink.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add message when all items are selected for deletion
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/manage/Contents/ContentsDeleteModal.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Improve typings in ConditionalLink component, add TS tests to catch t… (#7058)
  packages/volto/news/7057.bugfix
  packages/volto/src/components/manage/ConditionalLink/ConditionalLink.test.tsx
  packages/volto/src/components/manage/ConditionalLink/ConditionalLink.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update to RR 7.6.0
  apps/seven/package.json
  packages/registry/bin/init-loaders.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  apps/seven/news/7060.internal
Due: none

Changelog
  packages/registry/news/7060.internal
Due: none

Fix tests and TW config
  apps/seven/package.json
  packages/registry/bin/init-loaders.js
  packages/registry/news/7060.internal
  packages/scripts/vscodesettings.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/scripts/news/7060.internal
Due: none

Update to RR 7.6.0 (#7060)
  apps/seven/news/7060.internal
  apps/seven/package.json
  packages/registry/bin/init-loaders.js
  packages/registry/news/7060.internal
  packages/scripts/news/7060.internal
  packages/scripts/vscodesettings.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Improve the vite plugin by adding a relative to absolute path import plugin.
  packages/registry/vite-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/registry/news/7062.feature
Due: none

Update packages/registry/vite-plugin.js
  packages/registry/vite-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

how to create a route in Seven
  docs/how-to-guides/index.md
  docs/how-to-guides/routes.md
  docs/index.md
Due: none

Changelog
  apps/seven/news/+howtoroute.documentation
Due: none

minor changes
  docs/how-to-guides/index.md
Due: none

fix
  docs/how-to-guides/index.md
Due: none

Add shadowing documentation
  docs/conceptual-guides/index.md
  docs/conceptual-guides/shadowing.md
Due: none

Changelog
  apps/seven/news/+shadowing.documentation
Due: none

Load catalog versions from `catalog.json`
  .pnpmfile.cjs
  catalog.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Update pnpmfile checksum
  pnpm-lock.yaml
Due: none

Changelog
  apps/seven/news/7065.internal.1
  apps/seven/news/7065.internal.2
Due: none
