Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Removed hardcoded suggestions and comments, wire them up with backend data
  packages/plate/TODO.md
  packages/plate/components/editor/plate-plugins-context.tsx
  packages/plate/components/editor/plugins/discussion-kit.tsx
  packages/plate/components/editor/plugins/slash-menu.tsx
  packages/plate/components/editor/plugins/suggestion-base-kit.tsx
  packages/plate/components/editor/plugins/suggestion-core.ts
  packages/plate/components/editor/plugins/suggestion-kit.tsx
  packages/plate/components/editor/transforms.ts
  packages/plate/components/editor/use-chat.ts
  packages/plate/components/ui/block-discussion.tsx
  packages/plate/components/ui/block-suggestion.tsx
  packages/plate/components/ui/comment.tsx
  packages/plate/components/ui/link-node.tsx
  packages/plate/components/ui/mode-toolbar-button.tsx
  packages/plate/components/ui/suggestion-node-static.tsx
  packages/plate/components/ui/suggestion-toolbar-button.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

More docs
  packages/plate/TODO.md
Due: none

Remove .codex folder from repo
  .codex/config.toml
  .gitignore
Due: none

Fix formatting and lint
  packages/plate/components/editor/plate-plugins-context.tsx
  packages/plate/components/editor/plugins/discussion-kit.tsx
  packages/plate/components/editor/plugins/suggestion-core.ts
  packages/plate/components/ui/block-discussion.tsx
  packages/plate/components/ui/block-suggestion.tsx
  packages/plate/components/ui/comment.tsx
  packages/plate/components/ui/mode-toolbar-button.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add ReactAriaRouterProvider to enable client-side navigation support for React Aria Link components.
  packages/volto/news/+react-aria-provider.feature
  packages/volto/src/start-client.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove suggestion and comments kit from the default editor for now. We need to wire them later when the backend support is in core.
  packages/plate/components/editor/block-editor-kit.tsx
  packages/plate/components/editor/editor-base-kit.tsx
  packages/plate/components/editor/editor-kit.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added missing exports
  packages/components/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Search translation DE (#8153)
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/news/+searchTranslation.internal
Due: none

Fix TS
  packages/plate/components/editor/plugins/suggestion-core.ts
  packages/plate/components/ui/suggestion-node-static.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/plate/news/+comments-suggestions.feature
Due: none

add react-aria-components
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Fixed AGENTS.md mentions to TS check check-ts -> check:ts
  AGENTS.md
  packages/blocks/AGENTS.md
  packages/cmsui/AGENTS.md
  packages/layout/AGENTS.md
  packages/plate/AGENTS.md
  packages/publicui/AGENTS.md
  packages/registry/AGENTS.md
  packages/tsconfig/AGENTS.md
  packages/types/AGENTS.md
Due: none

Fix flakey tests
  packages/cmsui/acceptance/tests/title-block-sync.test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/components/news/8160.bugfix
  packages/plate/news/8160.bugfix
Due: none

Changelog
  packages/cmsui/news/8160.bugfix
Due: none

feat: add .visually-hidden-volto accessibility utility class (#8139)
  docs/source/contributing/accessibility-guidelines.md
  docs/source/theming/custom-styling.md
  packages/volto/news/8139.feature
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm stylelint --fix

docs: add versionchanged directive for visually-hidden -volto suffix in Volto 19 (#8155)
  docs/source/contributing/accessibility-guidelines.md
  docs/source/upgrade-guide/index.md
  packages/volto/news/8155.documentation
Due: none

export accordion
  packages/components/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

changelog
  packages/components/news/+exportAccordion.internal
Due: none

Add ReactAriaRouterProvider to enable client-side navigation support … (#8159)
  packages/volto/news/+react-aria-provider.feature
  packages/volto/package.json
  packages/volto/src/start-client.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Release 19.0.0-alpha.31
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+react-aria-provider.feature
  packages/volto/news/+searchTranslation.internal
  packages/volto/news/8155.documentation
  packages/volto/package.json
Due: none

change hotkey for strikethrough in Slate editor (#4197)
  packages/volto-slate/news/4196.breaking
  packages/volto-slate/src/editor/config.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Implemented SSR rendering for the UsersControlpanel component
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/index.tsx
  packages/volto/types/jwt-decode.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Show `Unauthorized` page via SSR if an anonymous user accesses the user control panel.
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added missing exports (#8160)
  packages/cmsui/acceptance/tests/title-block-sync.test.ts
  packages/cmsui/news/8160.bugfix
  packages/components/news/8160.bugfix
  packages/components/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

401 redirects for annonymous users instead of showing the 401 page
  packages/volto/src/components/theme/Unauthorized/Unauthorized.jsx
  packages/volto/src/components/theme/Unauthorized/Unauthorized.test.jsx
  packages/volto/src/components/theme/Unauthorized/__snapshots__/Unauthorized.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Improve wording and breaking notice
  docs/source/upgrade-guide/index.md
  packages/volto/news/8164.breaking
  packages/volto/news/8164.bugfix
Due: none

More docs
  docs/source/upgrade-guide/index.md
Due: none

Fix test
  packages/volto/src/components/manage/History/__snapshots__/History.test.jsx.snap
Due: none

AGENTS.md for Volto
  AGENTS.md
  packages/client/AGENTS.md
  packages/components/AGENTS.md
  packages/coresandbox/AGENTS.md
  packages/eslintconfig/AGENTS.md
  packages/registry/AGENTS.md
  packages/registry/package.json
  packages/scripts/AGENTS.md
  packages/types/AGENTS.md
  packages/types/package.json
  packages/volto-babel-preset-razzle/AGENTS.md
  packages/volto-razzle-dev-utils/AGENTS.md
  packages/volto-razzle/AGENTS.md
  packages/volto-slate/AGENTS.md
  packages/volto/AGENTS.md
  packages/volto/package.json
Due: none

Remove setUsers from the equation
  packages/plate/components/editor/plate-plugins-context.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

withSaveAsDraft as opt-in
  packages/volto/news/+autosave-opt-in.breaking
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/components/manage/Form/Form.test.jsx
  packages/volto/src/components/manage/Form/__snapshots__/Form.test.jsx.snap
  packages/volto/src/config/index.js
  packages/volto/src/helpers/Utils/withSaveAsDraft.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Documentation
  docs/source/upgrade-guide/index.md
Due: none

More docs
  docs/source/user-manual/blocks.md
Due: none

Disable autosave cypress tests for now
  packages/volto/cypress/tests/core/basic/autosave.js.disabled
Due: none

Implement the "AutoSave" feature (`withSaveAsDraft`) as opt-in (#8166)
  docs/source/upgrade-guide/index.md
  docs/source/user-manual/blocks.md
  packages/volto/cypress/tests/core/basic/autosave.js.disabled
  packages/volto/news/+autosave-opt-in.breaking
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/components/manage/Form/Form.test.jsx
  packages/volto/src/components/manage/Form/__snapshots__/Form.test.jsx.snap
  packages/volto/src/config/index.js
  packages/volto/src/helpers/Utils/withSaveAsDraft.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Release 19.0.0-alpha.32
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+autosave-opt-in.breaking
  packages/volto/package.json
Due: none

Changelog
  packages/client/news/+agents-guidance.documentation
  packages/components/news/+agents-guidance.documentation
  packages/registry/news/+check-ts.internal
  packages/scripts/news/+agents-guidance.documentation
  packages/types/news/+check-ts.internal
  packages/volto-babel-preset-razzle/news/+agents-guidance.documentation
  packages/volto-razzle-dev-utils/news/+agents-guidance.documentation
  packages/volto-razzle/news/+agents-guidance.documentation
  packages/volto-slate/news/+agents-guidance.documentation
  packages/volto/news/+check-ts.internal
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
