Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Require linkcheck to pass. - Fix or ignore any broken links.
  docs/source/conf.py
  docs/source/contributing/developing-core.md
  docs/source/development/add-ons/test-add-ons-18.md
Due: none

Fix search results pagination overflow on mobile screens (#8432)
  packages/volto/news/8432.bugfix
  packages/volto/theme/themes/pastanaga/collections/menu.overrides
  packages/volto/theme/themes/pastanaga/extras/search.less
Due: pnpm stylelint --fix

remove more artifacts & use modified formData
  packages/volto/src/components/manage/Controlpanels/Mail.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

handle errors & save after successfully sending test email
  packages/volto/src/components/manage/Controlpanels/Mail.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove redundant search-footer CSS in search.less
  packages/volto/theme/themes/pastanaga/extras/search.less
Due: pnpm stylelint --fix

Fix search results pagination overflow on mobile screens (#8432) (#8437)
  packages/volto/news/8432.bugfix
  packages/volto/theme/themes/pastanaga/collections/menu.overrides
Due: pnpm stylelint --fix

Fix search results pagination overflow on mobile screens (#8432)
  packages/volto/news/8432.bugfix
  packages/volto/theme/themes/pastanaga/collections/menu.overrides
Due: pnpm stylelint --fix

Fix search results pagination overflow on mobile screens (#8438)
  packages/volto/news/8432.bugfix
  packages/volto/theme/themes/pastanaga/collections/menu.overrides
Due: pnpm stylelint --fix

Translated using Weblate (Dutch)
  packages/volto/locales/nl/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Turkish)
  packages/volto/locales/tr/LC_MESSAGES/volto.po
Due: none

Add timezone selector for event start/end
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
  packages/volto/src/helpers/Utils/Utils.jsx
  packages/volto/theme/themes/pastanaga/extras/react-dates-overrides.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

checkpoint
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Restore missing change log
  packages/volto/news/+linkcheck-required.documentation
Due: none

Require linkcheck to pass (#8436)
  docs/source/conf.py
  docs/source/contributing/developing-core.md
  docs/source/development/add-ons/test-add-ons-18.md
  packages/volto/news/+linkcheck-required.documentation
Due: none

Allow forcing personal tools visibility for site-setup fix
  packages/volto/src/components/manage/Controlpanels/Controlpanels.jsx
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

add changelog
  packages/volto/news/955.bugfix.rst
Due: none

Add changes
  packages/volto/news/8421.internal
Due: none

Add changes
  packages/components/news/8419.internal
Due: none

Bump browserslist from 4.23.0 to 4.28.7 (#8443)
  packages/components/news/8419.internal
  packages/components/package.json
  pnpm-lock.yaml
Due: none

Use gh CLI token and uvx in releases, add release how-to docs
  RELEASING.md
  docs/source/release-management-notes/how-to-make-a-release.md
  docs/source/release-management-notes/index.md
  packages/components/.release-it.json
  packages/components/package.json
  packages/registry/.release-it.json
  packages/registry/package.json
  packages/scripts/.release-it.json
  packages/scripts/package.json
  packages/types/.release-it.json
  packages/types/package.json
  packages/volto-babel-preset-razzle/.release-it.json
  packages/volto-babel-preset-razzle/package.json
  packages/volto-razzle-dev-utils/.release-it.json
  packages/volto-razzle-dev-utils/package.json
  packages/volto-razzle/.release-it.json
  packages/volto-razzle/package.json
  packages/volto-slate/.release-it.json
  packages/volto-slate/package.json
  packages/volto/.release-it.json
  packages/volto/news/+how-to-release.documentation
  packages/volto/news/+release-gh-token-uvx.internal
  packages/volto/package.json
Due: none

Add news fragments for the release script changes in each package
  packages/components/news/+release-gh-token-uvx.internal
  packages/registry/news/+release-gh-token-uvx.internal
  packages/scripts/news/+release-gh-token-uvx.internal
  packages/types/news/+release-gh-token-uvx.internal
  packages/volto-babel-preset-razzle/news/+release-gh-token-uvx.internal
  packages/volto-razzle-dev-utils/news/+release-gh-token-uvx.internal
  packages/volto-razzle/news/+release-gh-token-uvx.internal
  packages/volto-slate/news/+release-gh-token-uvx.internal
Due: none

Use gh CLI token and uvx in releases, add release how-to docs (#8444)
  RELEASING.md
  docs/source/release-management-notes/how-to-make-a-release.md
  docs/source/release-management-notes/index.md
  packages/components/.release-it.json
  packages/components/news/+release-gh-token-uvx.internal
  packages/components/package.json
  packages/registry/.release-it.json
  packages/registry/news/+release-gh-token-uvx.internal
  packages/registry/package.json
  packages/scripts/.release-it.json
  packages/scripts/news/+release-gh-token-uvx.internal
  packages/scripts/package.json
  packages/types/.release-it.json
  packages/types/news/+release-gh-token-uvx.internal
  packages/types/package.json
  packages/volto-babel-preset-razzle/.release-it.json
  packages/volto-babel-preset-razzle/news/+release-gh-token-uvx.internal
  packages/volto-babel-preset-razzle/package.json
  packages/volto-razzle-dev-utils/.release-it.json
  packages/volto-razzle-dev-utils/news/+release-gh-token-uvx.internal
  packages/volto-razzle-dev-utils/package.json
  packages/volto-razzle/.release-it.json
  packages/volto-razzle/news/+release-gh-token-uvx.internal
  packages/volto-razzle/package.json
  packages/volto-slate/.release-it.json
  packages/volto-slate/news/+release-gh-token-uvx.internal
  packages/volto-slate/package.json
  packages/volto/.release-it.json
  packages/volto/news/+how-to-release.documentation
  packages/volto/news/+release-gh-token-uvx.internal
  packages/volto/package.json
Due: none

Fix the Table of Contents links of headings with inline formatting
  packages/volto-slate/news/8340.bugfix
  packages/volto-slate/src/blocks/Text/TextBlockView.jsx
  packages/volto-slate/src/blocks/Text/TextBlockView.test.jsx
  packages/volto-slate/src/blocks/Text/index.jsx
  packages/volto-slate/src/utils/index.js
  packages/volto-slate/src/utils/toc.js
  packages/volto-slate/src/utils/toc.test.js
  packages/volto/cypress/tests/core/blocks/block-anchors.js
  packages/volto/news/8340.bugfix
  packages/volto/src/components/manage/Blocks/ToC/View.jsx
  packages/volto/src/components/manage/Blocks/ToC/View.test.jsx
  packages/volto/src/components/manage/Blocks/ToC/variations/DefaultTocRenderer.jsx
  packages/volto/src/components/manage/Blocks/ToC/variations/DefaultTocRenderer.test.jsx
  packages/volto/src/components/manage/Blocks/ToC/variations/HorizontalMenu.jsx
  packages/volto/src/components/manage/Blocks/ToC/variations/HorizontalMenu.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix the search results paginator never updating its previous and next buttons
  packages/volto/news/8016.bugfix
  packages/volto/src/components/theme/Search/Search.jsx
  packages/volto/src/components/theme/Search/Search.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Silence redux-localstorage-simple invalid-load warnings for anonymous and first-run sessions
  packages/volto/news/8037.bugfix
  packages/volto/src/components/manage/Form/BlocksToolbar.jsx
  packages/volto/src/store.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

update to work with plone.restapi `send-test-mail` branch
  packages/volto/src/actions/emailNotification/emailNotification.js
  packages/volto/src/components/manage/Controlpanels/Mail.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

New Sphinx extension for syntax for getting the latest version of a repo
  docs/source/_inc/_install-nvm.md
  docs/source/conf.py
  docs/source/latest_gh_version_substitution.py
Due: none

Add changelog entry
  packages/volto/news/documentation.8447
Due: none

Correct news file name
  packages/volto/news/8447.documentation
Due: none

Pick the SSR locale only from supportedLanguages (#8448)
  packages/volto/news/8448.bugfix
  packages/volto/src/helpers/Locale/Locale.test.ts
  packages/volto/src/helpers/Locale/Locale.ts
  packages/volto/src/server.jsx
  packages/volto/types/locale.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Compare the content language with the request locales, not the store
  packages/volto/src/helpers/Locale/Locale.test.ts
  packages/volto/src/helpers/Locale/Locale.ts
  packages/volto/src/server.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

show reorder diff, only one time blocks
  packages/volto/src/components/manage/Diff/Diff.jsx
  packages/volto/src/components/manage/Diff/DiffField.jsx
  packages/volto/src/components/manage/Diff/DiffField.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

add middleware to prxy `Accept: text/markdown` requests to the backend
  packages/volto/src/config/server.js
  packages/volto/src/express-middleware/markdown.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
