Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

.lintstagedrc:

{
  "packages/!(volto)/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "packages/!(volto)/**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.{css,less,scss}": [
    "pnpm --filter @plone/volto stylelint --fix"
  ],
  "packages/volto/**/*.overrides": [
    "pnpm --filter @plone/volto stylelint --fix"
  ]
}

correct the path to Actions storybook test
  packages/volto/src/components/manage/Actions/Actions.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix redirect
  docs/source/contributing/install-docker.md
Due: none

news
  packages/volto/news/6262.documentation
Due: none

Fix redirect (#6262)
  docs/source/contributing/install-docker.md
  packages/volto/news/6262.documentation
Due: none

useIntl used
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update how-to.md
  docs/source/configuration/how-to.md
Due: none

Refactor Change password (#5044)
  packages/volto/news/5044.feature
  packages/volto/src/components/manage/Preferences/ChangePassword.jsx
  packages/volto/src/components/manage/Preferences/ChangePassword.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add missing for-attribute and (hidden) label to input (#6249)
  packages/components/news/6249.fix
  packages/volto/src/components/manage/Blocks/Search/components/CheckboxFacet.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update test snapshot
  packages/volto/src/components/manage/Blocks/Search/components/__snapshots__/CheckboxFacet.test.jsx.snap
Due: none

Revert rename of .gitkeep for consistency (#6232)
  packages/volto/news/.gitkeep
  packages/volto/news/.keep
  packages/volto/news/6232.internal
Due: none

Add setting unwantedControlPanelsFields and use it in the function filterControlPanelsSchema (#4819)
  docs/source/configuration/settings-reference.md
  packages/volto/news/4819.feature
  packages/volto/src/config/ControlPanels.js
  packages/volto/src/config/index.js
  packages/volto/test-setup-config.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Move Tags component to the slot belowContent
  packages/types/news/6269.feature
  packages/types/src/config/Settings.d.ts
  packages/volto/news/6269.feature
  packages/volto/src/components/theme/Tags/Tags.jsx
  packages/volto/src/components/theme/Tags/Tags.test.jsx
  packages/volto/src/components/theme/Tags/__snapshots__/Tags.test.jsx.snap
  packages/volto/src/components/theme/View/View.jsx
  packages/volto/src/config/index.js
  packages/volto/src/config/slots.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Documents changes to Tags in the upgrade guide
  docs/source/upgrade-guide/index.md
  packages/volto/news/6269.breaking
Due: none

Fix initialValue block setting (#5978)
  packages/volto/news/5971.bugfix
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
  packages/volto/src/helpers/Blocks/Blocks.test.js
  packages/volto/src/helpers/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Back showTags setting
  docs/source/upgrade-guide/index.md
  packages/types/news/6269.feature
  packages/types/src/config/Settings.d.ts
  packages/volto/news/6269.breaking
  packages/volto/src/components/theme/Tags/Tags.jsx
  packages/volto/src/config/index.js
  packages/volto/test-setup-config.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update packages/volto/news/6269.breaking
  packages/volto/news/6269.breaking
Due: none

Move Tags component to the slot belowContent (#6269)
  docs/source/upgrade-guide/index.md
  packages/volto/news/6269.breaking
  packages/volto/src/components/theme/Tags/Tags.jsx
  packages/volto/src/components/theme/Tags/Tags.test.jsx
  packages/volto/src/components/theme/Tags/__snapshots__/Tags.test.jsx.snap
  packages/volto/src/components/theme/View/View.jsx
  packages/volto/src/config/index.js
  packages/volto/src/config/slots.js
  packages/volto/test-setup-config.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Trivial MyST syntax enhancement
  docs/source/upgrade-guide/index.md
Due: none

remove commented code
  packages/volto/src/middleware/api.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

When user changes location, set the userSession.token value based on cookie (#6079)
  packages/volto/news/6071.bugfix
  packages/volto/src/middleware/api.js
  packages/volto/src/middleware/index.js
  packages/volto/src/middleware/userSessionReset.js
  packages/volto/src/store.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix error in SortOn component when there is no sort selected.
  packages/volto/src/components/manage/Blocks/Search/components/SortOn.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

changelog
  packages/volto/news/6273.bugfix
Due: none

Fix error in SortOn component when there is no sort selected. (#6273)
  packages/volto/news/6273.bugfix
  packages/volto/src/components/manage/Blocks/Search/components/SortOn.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Backport #6273
  news/6273.bugfix
  src/components/manage/Blocks/Search/components/SortOn.jsx
Due: none

Release 16.32.1
  CHANGELOG.md
  news/6273.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

fix widget
  packages/volto/src/components/manage/Widgets/ReferenceWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactor ReferenceWidget (#5093)
  packages/volto/news/5093.feature
  packages/volto/src/components/manage/Widgets/ReferenceWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Use h2 instead of h4
  packages/volto/src/components/theme/RelatedItems/RelatedItems.jsx
  packages/volto/src/components/theme/RelatedItems/__snapshots__/RelatedItems.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Show related items
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/3740.feature
  packages/volto/src/components/index.js
  packages/volto/src/components/theme/RelatedItems/RelatedItems.jsx
  packages/volto/src/components/theme/RelatedItems/RelatedItems.test.jsx
  packages/volto/src/components/theme/RelatedItems/__snapshots__/RelatedItems.test.jsx.snap
  packages/volto/src/components/theme/View/View.jsx
  packages/volto/src/config/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changes default setting of showRelatedItems to false
  packages/volto/src/config/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Remove inline CSS
  packages/volto/src/components/theme/RelatedItems/RelatedItems.jsx
  packages/volto/src/components/theme/RelatedItems/__snapshots__/RelatedItems.test.jsx.snap
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Related Items in slot
  packages/volto/src/components/theme/RelatedItems/RelatedItems.jsx
  packages/volto/src/components/theme/RelatedItems/RelatedItems.test.jsx
  packages/volto/src/components/theme/View/View.jsx
  packages/volto/src/config/slots.js
  packages/volto/test-setup-config.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix news
  packages/volto/news/3740.feature
Due: none

Setting `showRelatedItems` `true` by default
  packages/volto/src/config/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Passes the `user` to the `restricted` function of the block settings
  packages/volto-slate/news/6264.feature
  packages/volto-slate/src/blocks/Text/SlashMenu.jsx
Due: none
