Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Update packages/volto/news/3839.breaking
  packages/volto/news/3839.breaking
Due: none

Use default query in SSR rendering and client fetch of the listing block when we don't have a search criteria
  packages/volto/cypress/tests/core/blocks/blocks-search.js
  packages/volto/news/3839.breaking
  packages/volto/src/components/manage/Blocks/Listing/__snapshots__/ListingBody.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Listing/getAsyncData.js
  packages/volto/src/components/manage/Blocks/Listing/withQuerystringResults.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Change to bugfix
  packages/volto/news/3839.bugfix
Due: none

added migration todo comment
  packages/volto/news/7000.bugfix
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.test.jsx
  packages/volto/src/components/manage/Contents/__mocks__/index.tsx
  packages/volto/src/components/manage/Form/__mocks__/index.tsx
  packages/volto/src/components/manage/Widgets/__mocks__/index.tsx
  packages/volto/src/helpers/Loadable/__mocks__/Loadable.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

minor correction in migration comment
  packages/volto/src/components/manage/Contents/__mocks__/index.tsx
  packages/volto/src/components/manage/Form/__mocks__/index.tsx
  packages/volto/src/components/manage/Widgets/__mocks__/index.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix links
  apps/nextjs/README.md
Due: none

Fix moar links
  docs/source/development/images.md
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
Due: none

Fix moar links
  docs/source/conf.py
  docs/source/development/add-ons/test-add-ons-18.md
  docs/source/development/i18n.md
Due: none

Linkcheck 2025 04 22 (#7010)
  apps/nextjs/README.md
  docs/source/conf.py
  docs/source/development/add-ons/test-add-ons-18.md
  docs/source/development/i18n.md
  docs/source/development/images.md
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
Due: none

Fix reference
  docs/source/contributing/testing.md
Due: none

Linkcheck 2025 04 22 part 2 (#7011)
  docs/source/contributing/testing.md
Due: none

Added current evaluated `querystring` as a parameter in expander `querystring` key when it is a function.
  docs/source/configuration/expanders.md
  docs/source/configuration/settings-reference.md
  packages/volto/src/middleware/Api.test.js
  packages/volto/src/middleware/api.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/volto/news/7012.feature
Due: none

Apply suggestions from code review
  docs/source/configuration/expanders.md
  docs/source/configuration/settings-reference.md
Due: none

Added current evaluated `querystring` as a parameter in expander `querystring` key when it is a function (#7012)
  docs/source/configuration/expanders.md
  docs/source/configuration/settings-reference.md
  packages/volto/news/7012.feature
  packages/volto/src/middleware/Api.test.js
  packages/volto/src/middleware/api.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added current evaluated `querystring` as a parameter in expander `que… (#7013)
  docs/source/configuration/expanders.md
  docs/source/configuration/settings-reference.md
  packages/volto/news/7012.feature
  packages/volto/src/middleware/Api.test.js
  packages/volto/src/middleware/api.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release 18.14.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/7012.feature
  packages/volto/package.json
Due: none

Add the array widget support also
  packages/components/news/6646.feature
  packages/components/src/tailwind/TokenWidget/MultipleSelect.stories.tsx
  packages/components/src/tailwind/TokenWidget/MultipleSelect.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Pin plone-sphinx-theme to prepare for PLIP 4097 See https://github.com/plone/Products.CMFPlone/issues/4097
  requirements-docs.txt
Due: none

change log
  packages/volto/news/7015.documentation
Due: none

Pin plone-sphinx-theme to prepare for PLIP 4097 (#7015)
  packages/volto/news/7015.documentation
  requirements-docs.txt
Due: none

WIP, added jotai and simplify editor
  eslint.config.mjs
  package.json
  packages/cmsui/components/Tabs/Tabs.tsx
  packages/helpers/package.json
  packages/helpers/src/atoms.ts
  packages/helpers/src/index.ts
  packages/plate/components/editor/plate-editor.tsx
  packages/plate/components/editor/use-create-basic-editor.ts
  packages/plate/components/editor/use-create-editor.ts
  packages/plate/components/plate-ui/floating-toolbar-buttons.tsx
  packages/plate/index.ts
  packages/plate/package.json
  packages/plate/routes/editor-simple.tsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

return to original code
  packages/volto/src/components/manage/Widgets/SelectWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix:prettier
  packages/volto/src/components/manage/Widgets/SelectWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fixed `unRegisterSlotComponent` method
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/src/config/Settings.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/registry/news/7016.bugfix
  packages/types/news/7016.bugfix
Due: none

fix:towncrier
  packages/volto/news/5094.feature
Due: none

fix:remove the news from root
  news/5094.feature
Due: none

Fixed `unRegisterSlotComponent` method (#7016)
  packages/registry/news/7016.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/news/7016.bugfix
  packages/types/src/config/Settings.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add description for props in storybook
  packages/components/src/tailwind/TokenWidget/MultipleSelect.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix:towncrier
  packages/volto/news/5090.feature
Due: none

fix: towncrier
  packages/volto/news/5089.feature
Due: none

fix:towncrier
  packages/volto/news/5087.feature
Due: none

fix:towncrier
  packages/volto/news/5086.feature
Due: none

Fixed `unRegisterSlotComponent` method (#7016) (#7017)
  packages/registry/news/7016.bugfix
  packages/registry/src/index.ts
  packages/registry/src/registry.test.tsx
  packages/types/news/7016.bugfix
  packages/types/src/config/Settings.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: sitemap storybook
  packages/volto/src/components/theme/Sitemap/Sitemap.stories.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n
