Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

feat: include self-link in alternate language links
  packages/volto/src/components/theme/AlternateHrefLangs/AlternateHrefLangs.jsx
  packages/volto/src/components/theme/AlternateHrefLangs/AlternateHrefLangs.test.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

changelog
  packages/volto/news/6602.feature
Due: none

Sync content from Awesome Volto
  README.md
Due: none

change log
  packages/volto/news/6745.internal
Due: none

fix: checkbox bhv select undo transactions
  packages/volto/src/components/manage/Controlpanels/UndoControlpanel.jsx
  packages/volto/src/components/theme/Logo/Logo.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: revert logo
  .env.local
  packages/volto/src/components/theme/Logo/Logo.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Use Image from @plone/volto/components/theme/Image/Image instead of semantic-ui-react
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
  packages/volto/src/components/manage/Widgets/RegistryImageWidget.jsx
  packages/volto/src/components/theme/Image/Image.jsx
  packages/volto/src/components/theme/Logo/Logo.jsx
  packages/volto/src/components/theme/Navigation/ContextNavigation.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Sync content from Awesome Volto (#6745)
  README.md
  packages/volto/news/6745.internal
Due: none

Alternate hreflang v2 (#6744)
  packages/volto/news/6602.feature
  packages/volto/src/components/theme/AlternateHrefLangs/AlternateHrefLangs.jsx
  packages/volto/src/components/theme/AlternateHrefLangs/AlternateHrefLangs.test.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix tests
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RegistryImageWidget.test.jsx.snap
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.Multilingual.test.jsx.snap
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.test.jsx.snap
Due: none

Sync with main
  packages/volto/razzle.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Volto 17 - fix add extensions in RichtextWidget refs#6570 (#6743)
  cypress/tests/coresandbox/fields.js
  news/6570.bugfix
  packages/volto-slate/src/blocks/Text/extensions/breakListInWidget.js
  packages/volto-slate/src/blocks/Text/extensions/index.js
  packages/volto-slate/src/blocks/Text/index.js
  packages/volto-slate/src/widgets/HtmlSlateWidget.jsx
  packages/volto-slate/src/widgets/RichTextWidget.jsx
Due: none

initial commit
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/theme/View/EventDatesInfo.jsx
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Attempt to fix PR admonition comment syntax
  .github/boring-cyborg.yml
Due: none

Attempt to fix PR admonition comment syntax (#6749)
  .github/boring-cyborg.yml
Due: none

added loader for order tab
  packages/volto/src/icons/loader.svg
Due: none

fix: render Ordertab only when active
  packages/volto/news/6492.bugfix
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/Sidebar.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Order tab to remain rendered after the initial load
  packages/volto/news/6492.bugfix
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
  packages/volto/theme/themes/pastanaga/extras/sidebar.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

migrated all tests to use vitest
  packages/volto/__tests__/create-addons-loader.test.js
  packages/volto/__tests__/volto-slate/deserialize.test.js
  packages/volto/package.json
  packages/volto/src/components/manage/Blocks/Search/components/__snapshots__/SelectFacet.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/DatetimeWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/FileWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/RegistryImageWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
  packages/volto/tsconfig.json
  packages/volto/vitest.config.ts
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Stop generating sitemap.xml.gz (#6561)
  packages/volto/news/6561.bugfix
  packages/volto/src/express-middleware/sitemap.js
  packages/volto/src/helpers/Sitemap/Sitemap.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

docs: document slate heading as anchor links in user-manual
  docs/source/user-manual/blocks.md
  packages/volto/news/5755.documentation
Due: none

feat: logic for 5 different use cases
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/theme/View/EventDatesInfo.jsx
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

chore: pt-br translation
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
Due: none

Update packages/volto/news/6561.bugfix
  packages/volto/news/6561.bugfix
Due: none

Stop generating sitemap.xml.gz (#6561) (#6562)
  packages/volto/news/6561.bugfix
  packages/volto/src/express-middleware/sitemap.js
  packages/volto/src/helpers/Sitemap/Sitemap.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix: block chooser position in experimental.addBlockButton
  packages/volto/src/components/manage/BlockChooser/BlockChooserButton.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

news
  packages/volto/news/6751.bugifx
Due: none

Update packages/volto/news/6751.bugifx
  packages/volto/news/6751.bugifx
Due: none

Rename 6751.bugifx to 6751.bugfix
  packages/volto/news/6751.bugfix
  packages/volto/news/6751.bugifx
Due: none

Recreate a valid blocks layout on delete from existing data if possible
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Wait until rendering has finished in BlocksForm before trying to update block state
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix deps list for useEffect
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

changelog
  packages/volto/news/6753.bugfix
Due: none

Use full path imports for easier shadowing
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Another full path import
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add link icon
  docs/source/_static/link.svg
Due: none

Apply suggestions from code review
  docs/source/user-manual/blocks.md
  packages/volto/news/5755.documentation
Due: none

Clean up extra lines
  docs/source/user-manual/blocks.md
Due: none

refinements
  packages/components/components.json
  packages/components/src/shadcn/components/ui/ButtonTW.stories.tsx
  packages/components/src/shadcn/components/ui/button.tsx
  packages/components/src/stories/TailwindComponents.mdx
  packages/components/src/styles/tailwind/base.css
  packages/components/tsconfig.json
  pnpm-lock.yaml
Due: none

Fix path to link icon
  docs/source/user-manual/blocks.md
Due: none

Path conditions:
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm --filter @plone/volto stylelint --fix: (any of: packages/volto/**/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
