Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

added docs for add-on in volto 19
  docs/source/development/add-ons/index.md
  docs/source/development/add-ons/test-add-ons-19.md
Due: none

added stable timezone for vitest
  packages/volto/global-test-setup.js
  packages/volto/vitest.config.mjs
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Apply suggestion
  packages/cmsui/components/BlockEditor/BlockEditor.tsx
  packages/cmsui/components/BlockEditor/BlockEditorContext.ts
  packages/cmsui/components/BlockEditor/EditBlockWrapper.tsx
  packages/cmsui/components/BlockEditor/useBlockEditorContextValue.test.ts
  packages/cmsui/components/BlockEditor/useBlockEditorContextValue.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update packages/volto-babel-preset-razzle/README.md
  packages/volto-babel-preset-razzle/README.md
Due: none

Added suggestion
  packages/volto/webpack-plugins/webpack-scss-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Apply suggestions from code review
  docs/source/development/add-ons/test-add-ons-19.md
Due: none

Remove the dangling original razzle-scss-plugin
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Fix: Handle undefined language field in multilingual content (#7309)
  packages/volto/news/7309.bugfix
  packages/volto/src/components/manage/Edit/Edit.jsx
  packages/volto/src/components/manage/Multilingual/ManageTranslations.jsx
  packages/volto/src/components/theme/AlternateHrefLangs/AlternateHrefLangs.jsx
  packages/volto/src/helpers/Content/Content.js
  packages/volto/src/helpers/Content/Content.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix: Prettier formatting for language token changes
  packages/volto/news/7309.bugfix
  packages/volto/src/components/manage/Edit/Edit.jsx
  packages/volto/src/components/theme/AlternateHrefLangs/AlternateHrefLangs.jsx
  packages/volto/src/helpers/Content/Content.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Rename package to @plone/razzle
  packages/volto-razzle/.release-it.json
  packages/volto-razzle/CHANGELOG.md
  packages/volto-razzle/README.md
  packages/volto-razzle/package.json
  packages/volto/.storybook/main.js
  packages/volto/babel.js
  packages/volto/news/7542.breaking
  packages/volto/package.json
  packages/volto/patches/patchit.sh
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fork `babel-razzle-preset` into `@plone/babel-razzle-preset` (#7619)
  package.json
  packages/scripts/news/7619.breaking
  packages/scripts/package.json
  packages/volto-babel-preset-razzle/.release-it.json
  packages/volto-babel-preset-razzle/CHANGELOG.md
  packages/volto-babel-preset-razzle/LICENSE
  packages/volto-babel-preset-razzle/README.md
  packages/volto-babel-preset-razzle/babel-plugins/commonjs.js
  packages/volto-babel-preset-razzle/babel-plugins/jsx-pragma.js
  packages/volto-babel-preset-razzle/babel-plugins/no-anonymous-default-export.js
  packages/volto-babel-preset-razzle/babel-plugins/optimize-hook-destructuring.js
  packages/volto-babel-preset-razzle/index.js
  packages/volto-babel-preset-razzle/package.json
  packages/volto-babel-preset-razzle/towncrier.toml
  packages/volto-razzle/babel.js
  packages/volto-razzle/config/babel-loader/razzle-babel-loader.js
  packages/volto-razzle/config/createConfigAsync.js
  packages/volto-razzle/config/jest/babelTransform.js
  packages/volto-razzle/package.json
  packages/volto/babel.js
  packages/volto/news/7619.breaking
  packages/volto/package.json
  packages/volto/razzle.config.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed Basic select in components (#7632)
  packages/components/news/7632.bugfix
  packages/components/src/components/Select/Select.stories.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/styles/basic/Select.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Release @plone/components 4.0.0-alpha.4
  packages/components/CHANGELOG.md
  packages/components/news/7632.bugfix
  packages/components/package.json
Due: none

Fixed Basic select in components (#7632) (#7638)
  packages/components/CHANGELOG.md
  packages/components/package.json
  packages/components/src/components/Select/Select.stories.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/styles/basic/Select.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Fix import
  packages/volto/webpack-plugins/webpack-scss-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  docs/source/upgrade-guide/index.md
  packages/volto/news/+missingupgradedocs.documentation
Due: none

Adopted SCSS plugin and silence the deprecation warnings. (#7188)
  docs/source/upgrade-guide/index.md
  packages/volto/news/7188.feature
  packages/volto/package.json
  packages/volto/razzle.config.js
  packages/volto/webpack-plugins/webpack-scss-plugin.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Regenerate lockfile to resolve conflicts
  pnpm-lock.yaml
Due: none

One option: Clarify production docs to use Cookieplone project template
  docs/source/deploying/production.md
  packages/volto/news/7189.documentation
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
  packages/volto/news/+missingupgradedocs.documentation
Due: none

pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Apply suggestions from code review
  docs/source/deploying/production.md
Due: none

Missing upgrade docs for latest changes (#7639)
  docs/source/upgrade-guide/index.md
  packages/volto/news/+missingupgradedocs.documentation
Due: none

Release @plone/types 2.0.0-alpha.11
  packages/types/CHANGELOG.md
  packages/types/news/7627.bugfix
  packages/types/package.json
Due: none

Release @plone/scripts 4.0.0-alpha.4
  packages/scripts/CHANGELOG.md
  packages/scripts/news/7619.breaking
  packages/scripts/package.json
Due: none

Release @plone/slate 19.0.0-alpha.8
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/7263.bugfix
  packages/volto-slate/package.json
Due: none

Release 19.0.0-alpha.14
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+missingupgradedocs.documentation
  packages/volto/news/+upgradeguide.documentation
  packages/volto/news/7188.feature
  packages/volto/news/7263.internal
  packages/volto/news/7542.breaking
  packages/volto/news/7619.breaking
  packages/volto/news/7620.breaking
  packages/volto/news/fix-glossary-terms.bugfix
  packages/volto/package.json
  packages/volto/types/components/manage/Contents/__mocks__/index.d.ts
  packages/volto/types/components/manage/Form/__mocks__/index.d.ts
  packages/volto/types/components/manage/Widgets/__mocks__/index.d.ts
  packages/volto/types/helpers/Loadable/__mocks__/Loadable.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Slight changelog amendment
  packages/volto/CHANGELOG.md
Due: none

fix: removed class visually-hidden from toolbar.less
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm stylelint --fix

fix: onFocus opacity
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm stylelint --fix

Add menu opening in folder-contents-breadcrumb due to long navigation title
  packages/components/src/styles/basic/Breadcrumbs.css
  packages/volto/src/components/manage/Contents/ContentsBreadcrumbs.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

fix: opacity and label
  packages/volto/src/components/manage/Toolbar/Toolbar.jsx
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix
