Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Apply suggestions
  packages/components/news/6018.bugfix
  packages/components/src/components/Breadcrumbs/Breadcrumbs.tsx
Due: none

Changelog
  packages/volto/news/5996.documentation
Due: none

Apply suggestions from code review
  README.md
Due: none

Fix block chooser search is not focusable when clicked on add button (#5867)
  packages/volto/news/5866.bugfix
  packages/volto/src/components/manage/BlockChooser/BlockChooserSearch.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Text widget Refactor & Storybook
  packages/volto/src/components/manage/Widgets/TextWidget.jsx
  packages/volto/src/components/manage/Widgets/TextWidget.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Storybook
  packages/volto/src/components/manage/Widgets/TextWidget.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

textwidget
  packages/volto/src/components/manage/Widgets/TextWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix test script in monorepo root
  package.json
Due: none

refactor changes
  packages/volto/src/components/manage/Widgets/TextWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/6051.internal
Due: none

Fix test script in monorepo root (#6051)
  package.json
  packages/volto/news/6051.internal
Due: none

[client] Fix login mutation
  packages/client/src/client.ts
  packages/client/src/restapi/login/post.test.tsx
  packages/client/src/restapi/login/post.ts
Due: none

Changelog
  packages/client/news/6053.bugfix
Due: none

PR review fixes.
  news/5279.feature
  src/components/manage/Sidebar/ObjectBrowserNav.jsx
Due: none

Update TextWidget.jsx
  packages/volto/src/components/manage/Widgets/TextWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Listing Block variants for Page/News Item/Event
  packages/volto/src/components/manage/Blocks/Listing/DefaultTemplate.jsx
  packages/volto/src/components/manage/Blocks/Listing/Grid.jsx
  packages/volto/src/components/manage/Blocks/Listing/Link.jsx
  packages/volto/src/components/manage/Blocks/Listing/ListEventItem.jsx
  packages/volto/src/components/manage/Blocks/Listing/ListNewsItem.jsx
  packages/volto/src/components/manage/Blocks/Listing/ListPage.jsx
  packages/volto/src/components/manage/Blocks/Listing/RenderAccordingToContentType.jsx
  packages/volto/src/components/manage/Blocks/Listing/SummaryTemplate.jsx
  packages/volto/src/config/Blocks.jsx
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

[client] Fix login mutation (#6053)
  packages/client/news/6053.bugfix
  packages/client/src/client.ts
  packages/client/src/restapi/login/post.test.tsx
  packages/client/src/restapi/login/post.ts
Due: none

Remove the custom runner with bare vitest config
  packages/client/package.json
  packages/client/testRunner.js
  packages/client/vitest.config.ts
Due: none

Changelog
  packages/client/news/6056.internal
Due: none

[client] Remove the custom runner with bare vitest config (#6056)
  packages/client/news/6056.internal
  packages/client/package.json
  packages/client/testRunner.js
  packages/client/vitest.config.ts
Due: none

Fixed typo in Content type
  packages/types/src/content/index.d.ts
Due: none

Update packages/volto/news/6020.feature
  packages/volto/news/6020.feature
Due: none

Refactor TextWidget (#6020)
  packages/volto/news/6020.feature
  packages/volto/src/components/manage/Widgets/TextWidget.jsx
  packages/volto/src/components/manage/Widgets/TextWidget.stories.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

feat: added PloneRegistryProvider in @plone/providers
  packages/blocks/package.json
  packages/providers/src/PloneRegistry.tsx
  packages/providers/src/index.ts
  packages/registry/src/index.ts
Due: none

Improved image typing
  packages/types/src/content/common.d.ts
Due: none

migration
  packages/volto/src/components/manage/Blocks/Listing/Edit.jsx
  packages/volto/src/components/manage/Blocks/Listing/ListingBody.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Cleanup registry import in providers
  packages/providers/src/PloneRegistry.tsx
Due: none

Fix locales.
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Add object browser icon view.
  packages/volto/cypress/tests/core/basic/objectBrowser.js
  packages/volto/news/5279.feature
  packages/volto/src/components/manage/Sidebar/ObjectBrowserBody.jsx
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.jsx
  packages/volto/theme/themes/pastanaga/extras/objectbrowser-widget.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

Update locales.
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
Due: none

Review changes.
  packages/volto/src/components/manage/Sidebar/ObjectBrowserBody.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Object browser icon view v2 (#6054)
  packages/volto/cypress/tests/core/basic/objectBrowser.js
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/5279.feature
  packages/volto/src/components/manage/Sidebar/ObjectBrowserBody.jsx
  packages/volto/src/components/manage/Sidebar/ObjectBrowserNav.jsx
  packages/volto/theme/themes/pastanaga/extras/objectbrowser-widget.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

fix code and add registery component
  packages/volto/src/components/index.js
  packages/volto/src/components/manage/Blocks/Listing/Edit.jsx
  packages/volto/src/components/manage/Blocks/Listing/ListingBody.jsx
  packages/volto/src/components/manage/Blocks/Listing/RenderAccordingToContentType.jsx
  packages/volto/src/config/Components.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add changelog
  packages/volto/news/4765.feature
Due: none

fix cypress
  packages/volto/cypress/tests/core/blocks/listing/blocks-listing-templates.js
  packages/volto/cypress/tests/core/blocks/listing/blocks-listing.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix `align-items: start` to make autoprefixer happy
  packages/components/src/styles/basic/BlockToolbar.css
  packages/components/src/styles/basic/Form.css
  packages/components/src/styles/basic/Toolbar.css
Due: pnpm stylelint --fix

Changelog
  packages/components/news/6062.bugfix
Due: none

[components] Fix `align-items: start` to make autoprefixer happy (#6062)
  packages/components/news/6062.bugfix
  packages/components/src/styles/basic/BlockToolbar.css
  packages/components/src/styles/basic/Form.css
  packages/components/src/styles/basic/Toolbar.css
Due: pnpm stylelint --fix

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: packages/!volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto lint:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto prettier:husky: any of: packages/volto/**/*.{js,jsx,ts,tsx}
  pnpm --filter @plone/volto i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
