Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

.lintstagedrc:

{
  "packages/!(volto)/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "packages/!(volto)/**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.{css,less,scss}": [
    "pnpm --filter @plone/volto stylelint --fix"
  ],
  "packages/volto/**/*.overrides": [
    "pnpm --filter @plone/volto stylelint --fix"
  ]
}

Initial outline
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm --filter @plone/volto stylelint --fix

fix: onFocus handle to focus tabbed blocks - file cleaned
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix offset outline
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm --filter @plone/volto stylelint --fix

Update Diff.test.jsx.snap
  packages/volto/src/components/manage/Diff/__snapshots__/Diff.test.jsx.snap
Due: none

Also apply to anchors
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm --filter @plone/volto stylelint --fix

refactor DiffField.jsx
  packages/volto/src/components/manage/Diff/DiffField.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

chore: news updated
  packages/volto/news/6314.documentation
Due: none

Fix for preferences styling
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm --filter @plone/volto stylelint --fix

fix: revert EditBlockWrapper
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix(SideBarPopup): close sidebarPopup on ESC keypress
  packages/volto/src/components/manage/Sidebar/SidebarPopup.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Latest version of the codemod
  packages/volto/src/replace-barrel-imports.cjs
Due: none

feat: proxy middleware using express-http-proxy
  packages/volto/package.json
  packages/volto/src/express-middleware/files.js
  packages/volto/src/express-middleware/images.js
  packages/volto/src/helpers/Proxy/Proxy.js
  packages/volto/src/helpers/index.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix: do not focus on aside, intercept event conditionally
  packages/volto/src/components/manage/Sidebar/SidebarPopup.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

chore: revert range/if-range header forward
  packages/volto/src/helpers/Api/APIResourceWithAuth.js
  packages/volto/src/helpers/Proxy/Proxy.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

chore: update changelog
  packages/volto/news/6315.bugfix
Due: none

cleanup
  packages/volto/src/config/server.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix: Listing block default summary should use ul tag for its listing
  packages/volto/src/components/manage/Blocks/Listing/SummaryTemplate.jsx
  packages/volto/theme/themes/pastanaga/elements/list.overrides
  packages/volto/theme/themes/pastanaga/elements/list.variables
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

Add a11y acceptance test
  packages/volto/cypress/tests/core/basic/a11y.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

update changelog
  packages/volto/news/6318.bugfix
Due: none

Update DiffField.jsx
  packages/volto/src/components/manage/Diff/DiffField.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update packages/volto/news/2570.bugfix
  packages/volto/news/2570.bugfix
Due: none

Update DiffField.test.jsx.snap
  packages/volto/src/components/manage/Diff/__snapshots__/DiffField.test.jsx.snap
Due: none

Changelog
  packages/volto/news/6313.bugfix
Due: none

lint
  packages/volto/theme/themes/pastanaga/extras/toolbar.less
Due: pnpm --filter @plone/volto stylelint --fix

Add chapter: theming a base theme
  docs/source/theming/index.md
  docs/source/theming/theming-a-base-theme.md
Due: none

Add a11y test for image-block
  packages/volto/cypress/tests/core/basic/a11y.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

add changelog
  packages/volto/news/6329.internal
Due: none

Update DiffField.jsx to handle arrays
  packages/volto/src/components/manage/Diff/DiffField.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

remove pathrewrite
  packages/volto/src/helpers/Proxy/Proxy.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky
