Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

.lintstagedrc:

{
  "packages/!(volto)/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "packages/!(volto)/**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.{css,less,scss}": [
    "pnpm --filter @plone/volto stylelint --fix"
  ],
  "packages/volto/**/*.overrides": [
    "pnpm --filter @plone/volto stylelint --fix"
  ]
}

Update 6545.feature
  packages/volto/news/6545.feature
Due: none

Release 17.20.4
  CHANGELOG.md
  docs/source/release-notes/index.md
  news/6555.bugfix
  package.json
  packages/volto-slate/package.json
Due: none

add changelog
  packages/volto/CHANGELOG.md
Due: none

add them only in production
  packages/volto/src/helpers/Html/Html.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

update on hold
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-layout.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

update schema test
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-schema.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

update test
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-schema.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fixing showRelatedItems setting default to true
  packages/volto/src/config/index.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Depth search issue (#6558)
  packages/volto/news/5856.bugfix
  packages/volto/src/components/manage/Blocks/Search/hocs/withSearch.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

added swedish translation (#6557)
  packages/volto/locales/sv/LC_MESSAGES/volto.po
  packages/volto/news/5957.feature
  packages/volto/src/components/manage/Preferences/__snapshots__/PersonalPreferences.test.jsx.snap
  packages/volto/src/constants/Languages.cjs
Due: none

fix: translations
  packages/volto-slate/locales/it/LC_MESSAGES/volto.po
Due: none

feat: generic content translation framework
  packages/volto/src/actions/translations/translations.js
  packages/volto/src/components/manage/Blocks/Block/EditBlockWrapper.jsx
  packages/volto/src/constants/ActionTypes.js
  packages/volto/src/reducers/index.js
  packages/volto/src/reducers/translations/translations.js
  packages/volto/src/reducers/translations/translations.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

chore: updated feature with config settings flag and updated toolbar of html and grid blocks to standardize them
  packages/volto-slate/src/blocks/Table/TableBlockEdit.jsx
  src/components/manage/Blocks/Block/BlocksForm.test.jsx
  src/components/manage/Blocks/Block/EditBlockWrapper.jsx
  src/components/manage/Blocks/Block/__snapshots__/BlocksForm.test.jsx.snap
  src/components/manage/Blocks/Container/SimpleContainerToolbar.jsx
  src/components/manage/Blocks/HTML/Edit.jsx
  src/components/manage/Form/Form.jsx
  src/config/index.js
  test-setup-config.js
  theme/themes/pastanaga/extras/blocks.less
  theme/themes/pastanaga/extras/grid.less
Due: none

fix: i18n
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/sv/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  pnpm-lock.yaml
Due: none

updated snapshot
  packages/volto/src/components/manage/Controlpanels/__snapshots__/UndoControlpanel.test.jsx.snap
Due: none

Fix robots.txt in devmode
  packages/volto/news/6572.bugfix
  packages/volto/src/helpers/Robots/Robots.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix robots.txt in devmode (#6571)
  packages/volto/news/6572.bugfix
  packages/volto/src/helpers/Robots/Robots.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Release 18.5.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/3740.feature
  packages/volto/news/5856.bugfix
  packages/volto/news/5957.feature
  packages/volto/news/6493.bugfix
  packages/volto/news/6552.documentation
  packages/volto/news/6554.bugfix
  packages/volto/news/6560.documentation
  packages/volto/news/6572.bugfix
  packages/volto/package.json
  packages/volto/types/components/theme/Navigation/ContextNavigation.d.ts
  packages/volto/types/components/theme/RelatedItems/RelatedItems.d.ts
  packages/volto/types/components/theme/RelatedItems/RelatedItems.test.d.ts
  packages/volto/types/components/theme/View/RenderBlocks.d.ts
  packages/volto/types/components/theme/Widgets/ArrayWidget.d.ts
  packages/volto/types/components/theme/Widgets/DateWidget.d.ts
  packages/volto/types/components/theme/Widgets/DatetimeWidget.d.ts
  packages/volto/types/components/theme/Widgets/DescriptionWidget.d.ts
  packages/volto/types/components/theme/Widgets/EmailWidget.d.ts
  packages/volto/types/components/theme/Widgets/FileWidget.d.ts
  packages/volto/types/components/theme/Widgets/ImageWidget.d.ts
  packages/volto/types/components/theme/Widgets/PasswordWidget.d.ts
  packages/volto/types/components/theme/Widgets/RelationWidget.d.ts
  packages/volto/types/components/theme/Widgets/RelationsWidget.d.ts
  packages/volto/types/components/theme/Widgets/RichTextWidget.d.ts
  packages/volto/types/components/theme/Widgets/SelectWidget.d.ts
  packages/volto/types/components/theme/Widgets/TextWidget.d.ts
  packages/volto/types/components/theme/Widgets/TitleWidget.d.ts
  packages/volto/types/components/theme/Widgets/TokenWidget.d.ts
  packages/volto/types/components/theme/Widgets/UrlWidget.d.ts
  packages/volto/types/config/slots.d.ts
  packages/volto/types/constants/Languages.d.cts
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

issue fixed
  packages/volto/news/2837.bugfix
  packages/volto/src/config/Blocks.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update packages/volto/news/2837.bugfix
  packages/volto/news/2837.bugfix
Due: none

Slate Italian translations (#6563)
  packages/volto-slate/locales/it/LC_MESSAGES/volto.po
  packages/volto-slate/news/6563.feature
  packages/volto-slate/src/blocks/Table/schema.js
Due: none

Improve the usability of the ObjectBrowser when inputting a manual value, checking it on blur, and adding a local validator.
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Changelog
  packages/volto/news/6576.bugfix
Due: none

fix: use Pastanaga table sorting icons instead of Font Awesome
  packages/volto/news/6359.bugfix
  packages/volto/theme/themes/pastanaga/collections/table.overrides
Due: pnpm --filter @plone/volto stylelint --fix

Revert "added swedish translation (#6557)"
  packages/volto/locales/sv/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Preferences/__snapshots__/PersonalPreferences.test.jsx.snap
  packages/volto/src/constants/Languages.cjs
Due: none

Changelog
  packages/volto/CHANGELOG.md
Due: none

Fix focus visibility for input components in site setup
  packages/volto/news/6348.bugfix
  packages/volto/src/components/manage/Widgets/SelectStyling.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update packages/volto/news/6348.bugfix
  packages/volto/news/6348.bugfix
Due: none

Update snapshots to match new UI behavior
  packages/volto/src/components/manage/Widgets/__snapshots__/ArrayWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectAutoComplete.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/SelectWidget.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/TokenWidget.test.jsx.snap
Due: none

Revert "added swedish translation" (#6578)
  packages/volto/CHANGELOG.md
  packages/volto/locales/sv/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Preferences/__snapshots__/PersonalPreferences.test.jsx.snap
  packages/volto/src/constants/Languages.cjs
Due: none

Release @plone/slate 18.1.0
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/6563.feature
  packages/volto-slate/package.json
Due: none

Release 18.6.0
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/package.json
  packages/volto/types/constants/Languages.d.cts
Due: none

Adding new text block via dropdown when current block is empty
  packages/volto/news/6574.bugfix
  packages/volto/src/components/manage/BlockChooser/BlockChooserButton.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

in respect with issue no. 6577
  .lh/.lhignore
  .lh/packages/volto-slate/src/editor/plugins/Markdown/constants.js.json
  packages/volto-slate/src/editor/plugins/Markdown/constants.js
Due: none

fixed #6577 issue
  packages/volto-slate/src/editor/plugins/Markdown/constants.js
Due: none

fix: render Ordertab only when active
  packages/volto/news/6492.bugfix
  packages/volto/src/components/manage/Blocks/Block/BlocksForm.jsx
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/Sidebar.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix: incorrect copied state useClipboard
  packages/volto/src/hooks/clipboard/useClipboard.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

update: changelog info
  packages/volto/news/6585.bugix
Due: none

fix changelog
  packages/volto/news/6585.bugfix
Due: none

fix: add extensions in RichtextWidget refs#6570
  packages/volto-slate/src/blocks/Text/extensions/breakListInWidget.js
  packages/volto-slate/src/blocks/Text/extensions/index.js
  packages/volto-slate/src/blocks/Text/index.jsx
  packages/volto-slate/src/widgets/RichTextWidget.jsx
Due: none
