Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Remove warning, then abort rewriting something I have no clue how to rewrite.
  docs/source/development/add-ons/load-add-on-configuration.md
Due: none

Rephrase SetupTests.js mention
  docs/source/development/add-ons/test-add-ons-18.md
Due: none

Backport(18.x) PR #7055 (#7147)
  packages/volto/cypress/tests/core/basic/deleteItemModal.js
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7054.feature
  packages/volto/src/components/manage/Contents/Contents.jsx
  packages/volto/src/components/manage/Contents/ContentsDeleteModal.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add instructions for navigating and viewing diffs in PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Purge so wrong tip
  docs/source/development/customizing-components.md
Due: none

Revert change from UniversalLink to Link
  docs/source/development/customizing-components.md
Due: none

bah, revert the whole code block, it's totally broken anyway, lol
  docs/source/development/customizing-components.md
Due: none

Revert code questionable sample changes
  docs/source/blocks/anatomy.md
  docs/source/blocks/core/container.md
  docs/source/blocks/editcomponent.md
  docs/source/configuration/how-to.md
  docs/source/configuration/settings-reference.md
  docs/source/configuration/validation.md
  docs/source/configuration/volto-slate/configuration-settings.md
  docs/source/deploying/sentry.md
  docs/source/development/add-ons/install-an-add-on-dev-18.md
  docs/source/development/creating-views.md
Due: none

MyST format
  docs/source/blocks/settings.md
Due: none

add default if no filename is supplied in FileView
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7174.bugfix
  packages/volto/src/components/theme/View/FileView.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

add default if no filename is supplied in FileView (#7175)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7174.bugfix
  packages/volto/src/components/theme/View/FileView.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Style and optimize code in volto-slate's i18n.js
  packages/volto-slate/src/i18n.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Run ESLint on i18n.js
  packages/volto-slate/src/i18n.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add news/ file for the PR
  packages/volto-slate/news/7176.internal
Due: none

Add instructions for navigating and viewing diffs in PULL_REQUEST_TEM… (#7173)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Contents: Add a pill to indicate working copies
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/+workingcopy-pill.feature
  packages/volto/src/components/manage/Contents/ContentsItem.jsx
  packages/volto/theme/themes/pastanaga/extras/contents.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Make sure make test runs vitest
  packages/volto/news/+make-test.internal
  packages/volto/package-why.json
  packages/volto/package.json
Due: none

Clarification in README.md, code fixes in HtmlSlateWidget.jsx and
  packages/volto-slate/README.md
  packages/volto-slate/src/constants.js
  packages/volto-slate/src/widgets/HtmlSlateWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add news/ file for the bugfixes
  packages/volto-slate/news/7179.bugfix
Due: none

Apply suggestions from code review
  packages/volto-slate/README.md
  packages/volto-slate/news/7179.bugfix
Due: none

Small updates to package.json and LICENSE.md (#7165)
  package.json
  packages/volto/news/7165.internal
Due: none

Optimize ObjectByTypeWidget in volto-slate package
  packages/volto-slate/src/widgets/ObjectByTypeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Lint ObjectByTypeWidget in volto-slate package
  packages/volto-slate/src/widgets/ObjectByTypeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add news/ file for the internal changes
  packages/volto-slate/news/7180.internal
Due: none

Correct logic in ObjectByTypeWidget.jsx
  packages/volto-slate/src/widgets/ObjectByTypeWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Better code logic, formatting, clarification
  packages/volto-slate/src/widgets/RichTextWidget.jsx
  packages/volto-slate/src/widgets/RichTextWidgetView.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update packages/volto-slate/news/7180.internal
  packages/volto-slate/news/7180.internal
Due: none

Add news/ file for the bugfix changes
  packages/volto-slate/news/7182.bugfix
Due: none

TextField quanta as normal tailwind
  packages/components/src/components/Field/Field.quanta.tsx
  packages/components/src/components/Field/Field.tailwind.tsx
  packages/components/src/components/TextField/TextField.tailwind.stories.tsx
  packages/components/src/components/TextField/TextField.tailwind.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update packages/volto-slate/news/7182.bugfix
  packages/volto-slate/news/7182.bugfix
Due: none

Update Catalan translations in volto.po for various components and messages
  packages/volto/locales/ca/LC_MESSAGES/volto.po
Due: none

chore: Changelog
  packages/volto/news/7183.feature
Due: none

feat: Update Catalan translations in volto.po
  packages/volto/locales/ca/LC_MESSAGES/volto.po
Due: none

fix: Correct Catalan translations in volto.po for file upload instructions
  packages/volto/locales/ca/LC_MESSAGES/volto.po
Due: none

fix: Update Catalan translation for file upload button in volto.po
  packages/volto/locales/ca/LC_MESSAGES/volto.po
Due: none

Upgrade query-string package to version 9.0.0 and update import statement
  packages/volto/package.json
  packages/volto/src/actions/users/users.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Upgrade debug package to version 4.3.4 in package.json
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Do not rename in CMSUI yet
  packages/cmsui/components/TextField/TextField.stories.tsx
  packages/cmsui/components/TextField/TextField.tsx
  packages/components/src/index.tailwind.ts
  packages/components/src/tailwind/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
