Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

WIP, added plan, bulk contents actions
  packages/contents/AGENTS.md
  packages/contents/IMPLEMENTATION_PLAN.md
  packages/contents/acceptance/tests/contents.test.ts
  packages/contents/components/AddContentPopover/AddContentPopover.tsx
  packages/contents/components/ContentsActions/ContentsActions.tsx
  packages/contents/components/ContentsTable/ContentsTable.tsx
  packages/contents/locales/en/common.json
  packages/contents/locales/it/common.json
  packages/contents/routes/contents.test.tsx
  packages/contents/routes/contents.tsx
  packages/contents/routes/layout.test.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Apply suggestions, added test
  apps/seven/app/middleware.server.test.ts
  apps/seven/app/middleware.server.ts
  packages/react-router/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Apply suggestion
  apps/seven/app/middleware.server.test.ts
  apps/seven/app/middleware.server.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: add type button to sidebar tab menuItem to prevent form submit
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: tests
  packages/volto/src/components/manage/Sidebar/__snapshots__/Sidebar.test.jsx.snap
Due: none

Formtabs - tab links - A11Y (#7308)
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-schema.js
  packages/volto/news/7308.fix
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/Sidebar.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix(a11y): use button elements for formtabs menu items
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-schema.js
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/Sidebar.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: add news entry for #8219
  packages/volto/news/8219.bugfix
Due: none

fix(a11y): add type=button to formtabs menu items to prevent form submit
  packages/volto/src/components/manage/Form/Form.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

[codex] Handle stale auth cookies on public requests (#8216)
  apps/seven/app/middleware.server.test.ts
  apps/seven/app/middleware.server.ts
  apps/seven/app/root.test.tsx
  apps/seven/app/root.tsx
  apps/seven/news/+stale-auth-cookie-public-pages.bugfix
  packages/react-router/news/+auth-cookie-clear-helpers.internal
  packages/react-router/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update pt_BR translations
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/news/+pt_BR.feature
Due: none

Revert "Formtabs - tab links - A11Y (#7308)"
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-schema.js
  packages/volto/news/7308.fix
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/Sidebar.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Tab buttons should not submit the form
  packages/volto/src/components/manage/Form/Form.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix(a11y): use button elements for formtabs menu items (#8219)
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-schema.js
  packages/volto/news/8219.bugfix
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/Sidebar.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Formtabs tab links (#8221)
  packages/volto/cypress/tests/core/controlpanels/dexterity-controlpanel-schema.js
  packages/volto/news/7308.fix
  packages/volto/src/components/manage/Form/Form.jsx
  packages/volto/src/components/manage/Sidebar/Sidebar.jsx
  packages/volto/src/components/manage/Sidebar/__snapshots__/Sidebar.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update pt_BR translations (18.x.x) (#8220)
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/news/+pt_BR.feature
Due: none

Update dependency: cypress 13.17.0
  packages/volto-testing/news/+dep-cypress.internal
  packages/volto-testing/package.json
  pnpm-lock.yaml
Due: none

Update to diff 3.5.1 (#8092)
  packages/volto/news/+dep-diff.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Change log
  packages/volto/news/8051.documentation
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
  packages/volto/news/+dnddocs.documentation
Due: none

More info about removed dnd libraries in the upgrade guide (#8215)
  docs/source/upgrade-guide/index.md
  packages/volto/news/+dnddocs.documentation
Due: none

fix test
  packages/volto/cypress/tests/core/blocks/blocks-table.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update dependency: cypress 13.17.0 (#8222)
  packages/volto-testing/news/+dep-cypress.internal
  packages/volto-testing/package.json
  pnpm-lock.yaml
Due: none

Update to diff 3.5.1 (#8223)
  packages/volto/news/+dep-diff.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Upgrade to storybook 10 (Vite 8)
  packages/cmsui/.storybook/preview.ts
  packages/cmsui/package.json
  packages/components/.storybook/preview.ts
  packages/components/package.json
  packages/layout/.storybook/preview.tsx
  packages/layout/package.json
  packages/plate/.storybook/preview.ts
  packages/plate/package.json
  packages/tooling/.storybook/preview.ts
  packages/tooling/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add changelog
  packages/cmsui/news/+storybook.internal
  packages/components/news/+storybook.internal
  packages/layout/news/+storybook.internal
  packages/plate/news/+storybook.internal
Due: none

Upgrade to storybook 10 (Vite 8) (#8225)
  packages/cmsui/.storybook/preview.ts
  packages/cmsui/news/+storybook.internal
  packages/cmsui/package.json
  packages/components/.storybook/preview.ts
  packages/components/news/+storybook.internal
  packages/components/package.json
  packages/layout/.storybook/preview.tsx
  packages/layout/news/+storybook.internal
  packages/layout/package.json
  packages/plate/.storybook/preview.ts
  packages/plate/news/+storybook.internal
  packages/plate/package.json
  packages/tooling/.storybook/preview.ts
  packages/tooling/package.json
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update packages/volto-slate/news/8194.feature
  packages/volto-slate/news/8194.feature
Due: none

correctly escape double quotes in po files sync (#8203)
  packages/scripts/i18n.cjs
  packages/scripts/i18n.test.cjs
  packages/scripts/news/8203.bugfix
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/ta/LC_MESSAGES/volto.po
Due: none

Update to 1.16.1
  packages/client/news/+dep-axios.internal
  packages/client/package.json
  pnpm-lock.yaml
Due: none

update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

Show Unauthorized page via SSR if an anonymous user accesses the user control panel (#8184)
  packages/volto/news/8184.bugfix
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.ssr.test.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Bump axios from 1.13.5 to 1.16.1 (#8224)
  packages/client/news/+dep-axios.internal
  packages/client/package.json
  pnpm-lock.yaml
Due: none

Search Site DE translation 18.x.x (#8154)
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/news/+fixSearchSiteTranslationDE.internal
Due: none

Translated using Weblate (Swedish)
  packages/volto-slate/locales/sv/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Dutch)
  packages/volto-slate/locales/nl/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Albanian)
  packages/volto-slate/locales/sq/LC_MESSAGES/volto.po
Due: none

Translated using Weblate (Croatian)
  packages/volto-slate/locales/hr/LC_MESSAGES/volto.po
Due: none

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
