Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Update prismjs
  packages/volto/news/+dep-prismjs.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update prismjs (#8135)
  packages/volto/news/+dep-prismjs.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update packages/volto/news/+login-redirect.bugfix
  packages/volto/news/+login-redirect.bugfix
Due: none

Update postcss stack
  catalog.json
  packages/volto-razzle/news/+dep-postcss.internal
  packages/volto-razzle/package.json
  packages/volto/news/+dep-postcss.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update postcss stack (#8136)
  catalog.json
  packages/volto-razzle/news/+dep-postcss.internal
  packages/volto-razzle/package.json
  packages/volto/news/+dep-postcss.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Fix redirect after login on non-content routes (#8131)
  packages/volto/news/+login-redirect.bugfix
  packages/volto/src/components/theme/Unauthorized/Unauthorized.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remove unused postcss-overrides
  packages/volto/news/+dep-postcss-overrides.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Remove unused postcss-overrides (#8137)
  packages/volto/news/+dep-postcss-overrides.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Fix filenames
  packages/volto/news/5086.internal
  packages/volto/src/components/theme/View/TabularView.stories.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

rename changelog
  packages/volto/news/5087.internal
Due: none

Storybook views (#5086)
  packages/volto/news/5086.internal
  packages/volto/src/components/theme/View/EventView.stories.jsx
  packages/volto/src/components/theme/View/FileView.stories.jsx
  packages/volto/src/components/theme/View/LinkView.stories.jsx
  packages/volto/src/components/theme/View/ListingView.stories.jsx
  packages/volto/src/components/theme/View/NewsItemView.stories.jsx
  packages/volto/src/components/theme/View/RenderBlocks.stories.jsx
  packages/volto/src/components/theme/View/SummaryView.stories.jsx
  packages/volto/src/components/theme/View/TabularView.stories.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Storybook sitemap (#5087)
  packages/volto/news/5087.internal
  packages/volto/src/components/theme/Sitemap/Sitemap.stories.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

rename changelog
  packages/volto/news/5089.internal
Due: none

Fixed title block placeholder and sync bugs
  docs/how-to-guides/bind-metadata-fields-to-plate-text-blocks.md
  docs/how-to-guides/index.md
  docs/reference/index.md
  docs/reference/metadata-text-binding.md
  packages/cmsui/acceptance/tests/title-block-sync.test.ts
  packages/plate/components/editor/plugins/metadata-text-binding.test.ts
  packages/plate/components/editor/plugins/metadata-text-binding.tsx
  packages/plate/components/editor/plugins/title-block.test.ts
  packages/plate/components/editor/plugins/title.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

feat: add .visually-hidden-volto accessibility utility class
  docs/source/theming/custom-styling.md
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm stylelint --fix

chore: add news fragment for visually-hidden-volto feature
  packages/volto/news/8139.feature
Due: none

docs: move utility CSS classes section to accessibility-guidelines
  docs/source/contributing/accessibility-guidelines.md
  docs/source/theming/custom-styling.md
Due: none

Multilingual Support in contents tab bugfix
  packages/volto/news/8140.bugfix
  packages/volto/src/components/manage/Contents/ContentsBreadcrumbs.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix TS
  packages/cmsui/news/+title-block-sync-coverage.internal
  packages/plate/components/editor/plugins/metadata-text-binding.tsx
  packages/plate/news/+title-block-sync.bugfix
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Synchronizes versions of Volto dependencies with other packages in the monorepo
  packages/volto/news/7184.feature
  packages/volto/package.json
  packages/volto/src/actions/users/users.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Keeps the query-string version
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update query-string dependency version to 7.1.3 in Volto and @plone/client
  packages/client/package.json
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Synchronizes versions of Volto dependencies with other packages in the monorepo (#7288)
  packages/client/package.json
  packages/volto/news/7184.feature
  packages/volto/package.json
  packages/volto/src/actions/users/users.js
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

uodated PR
  packages/volto/src/components/manage/Contents/ContentsBreadcrumbs.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Cleaned up tsconfig files (#7966)
  package.json
  packages/registry/news/7966.internal
  packages/registry/package.json
  packages/tsconfig/README.md
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/types/news/7966.internal
  packages/types/package.json
  packages/volto/news/7966.internal
  pnpm-lock.yaml
  tsconfig.json
Due: none

Fixed flaky test
  packages/cmsui/acceptance/tests/edit.test.ts
  packages/cmsui/components/ImageWidget/ImageWidget.test.tsx
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove references to the `apps` folder.
  .eslintignore
  package.json
Due: none

Better reset fixture
  packages/tooling/playwright/test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed title block placeholder and sync bugs (#8138)
  docs/how-to-guides/bind-metadata-fields-to-plate-text-blocks.md
  docs/how-to-guides/index.md
  docs/reference/index.md
  docs/reference/metadata-text-binding.md
  packages/cmsui/acceptance/tests/edit.test.ts
  packages/cmsui/acceptance/tests/title-block-sync.test.ts
  packages/cmsui/components/ImageWidget/ImageWidget.test.tsx
  packages/cmsui/components/ImageWidget/ImageWidget.tsx
  packages/cmsui/news/+title-block-sync-coverage.internal
  packages/plate/components/editor/plugins/metadata-text-binding.test.ts
  packages/plate/components/editor/plugins/metadata-text-binding.tsx
  packages/plate/components/editor/plugins/title-block.test.ts
  packages/plate/components/editor/plugins/title.tsx
  packages/plate/news/+title-block-sync.bugfix
  packages/tooling/playwright/test.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Add changes
  packages/volto/news/8144.internal
Due: none

fix: Add authorization error handling to control panels (#8129)
  packages/volto/news/7807.bugfix
  packages/volto/src/components/manage/Controlpanels/AddonsControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/DatabaseInformation.jsx
  packages/volto/src/components/manage/Controlpanels/ModerateComments.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/news/8140.bugfix
  packages/volto/news/8140.bugfix
Due: none

Multilingual Support in contents tab bugfix (#8141)
  packages/volto/news/8140.bugfix
  packages/volto/src/components/manage/Contents/ContentsBreadcrumbs.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update packages/volto/news/7966.internal
  packages/volto/news/7966.internal
Due: none

fix: LinkEditor not opening from SlateEditor (#4146)
  packages/volto-slate/news/4130.bugfix
  packages/volto-slate/src/editor/plugins/Link/index.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Deployment app new concept
  docs/conceptual-guides/index.md
  docs/conceptual-guides/seven-add-on-deployment-app.md
  docs/get-started/create-package.md
Due: none

Also update volto dependency, add changelogs
  packages/client/news/+dep-uuid.internal
  packages/client/package.json
  packages/volto-slate/news/+dep-uuid.internal
  packages/volto/news/+dep-uuid.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update release-it
  catalog.json
  packages/volto/news/+dep-release-it.internal
  pnpm-lock.yaml
Due: none
