Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

update docs for vitest (#7582)
  docs/source/contributing/testing.md
  docs/source/development/add-ons/test-add-ons-18.md
  docs/source/development/lazyload.md
  docs/source/development/overview.md
Due: none

Update docs for vitest (#7602)
  docs/source/contributing/testing.md
  docs/source/development/add-ons/test-add-ons-18.md
  docs/source/development/lazyload.md
  docs/source/development/overview.md
Due: none

Listing block #7527
  apps/seven/app/root.tsx
  packages/blocks/Listing/ListingBlockView.tsx
  packages/blocks/Listing/index.tsx
  packages/blocks/index.ts
  packages/types/src/blocks/index.d.ts
  packages/types/src/services/querystring-search.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix icon return (#7597)
  packages/components/news/+fixedIconComponentReturn.bugfix
  packages/components/src/components/Icon/Icon.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update to React 18.3.1 and use RenderToPipeableStream in the SSR part
  packages/coresandbox/package.json
  packages/volto/package.json
  packages/volto/src/components/manage/TemplateChooser/__snapshots__/TemplateChooser.test.jsx.snap
  packages/volto/src/components/theme/Header/Header.jsx
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.Multilingual.test.jsx.snap
  packages/volto/src/components/theme/Logo/__snapshots__/Logo.test.jsx.snap
  packages/volto/src/components/theme/PreviewImage/PreviewImage.test.jsx
  packages/volto/src/components/theme/PreviewImage/__snapshots__/PreviewImage.test.jsx.snap
  packages/volto/src/helpers/Html/Html.jsx
  packages/volto/src/server.jsx
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Remaining fields
  packages/volto/src/components/manage/Form/Field.jsx
  packages/volto/src/components/manage/Widgets/CheckboxWidget.jsx
  packages/volto/src/components/manage/Widgets/EmailWidget.jsx
  packages/volto/src/components/manage/Widgets/FileWidget.jsx
  packages/volto/src/components/manage/Widgets/ImageSizeWidget.jsx
  packages/volto/src/components/manage/Widgets/InternalUrlWidget.jsx
  packages/volto/src/components/manage/Widgets/NumberWidget.jsx
  packages/volto/src/components/manage/Widgets/ObjectWidget.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/ByDayField.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/ByMonthDayField.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/ByMonthField.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/ByYearField.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/EndField.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/IntervalField.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/MonthOfTheYearField.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/Occurences.jsx
  packages/volto/src/components/manage/Widgets/RecurrenceWidget/SelectInput.jsx
  packages/volto/src/components/manage/Widgets/TextareaWidget.jsx
  packages/volto/src/components/manage/Widgets/UrlWidget.jsx
  packages/volto/src/components/theme/Pagination/Pagination.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

More components fixed
  packages/volto/src/components/manage/Controlpanels/Users/UserGroupMembershipControlPanel.jsx
  packages/volto/src/components/manage/Toolbar/Types.jsx
  packages/volto/src/components/theme/ContactForm/ContactForm.jsx
  packages/volto/src/components/theme/ContactForm/ContactForm.test.jsx
  packages/volto/src/components/theme/ContactForm/__snapshots__/ContactForm.test.jsx.snap
  packages/volto/src/components/theme/Error/ErrorBoundary.test.jsx
  packages/volto/src/components/theme/Error/__snapshots__/ErrorBoundary.test.jsx.snap
  packages/volto/src/components/theme/Widgets/ArrayWidget.jsx
  packages/volto/src/helpers/Utils/usePagination.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Force cookieplone CI job to use 19 (#7548)
  .github/workflows/cookieplone.yml
  packages/volto/news/7548.internal
Due: none

Fix icon return (#7604)
  packages/components/news/+fixedIconComponentReturn.bugfix
  packages/components/src/components/Icon/Icon.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove container cage on relations control panel (#7599)
  packages/volto/news/6633.bugfix
  packages/volto/src/components/manage/Controlpanels/Relations/Relations.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Update versions
  catalog.json
Due: none

Changelog
  packages/volto/news/7562.internal
Due: none

Update pnpm version
  package.json
Due: none

log versions
  .github/workflows/cookieplone.yml
Due: none

test
  .github/workflows/cookieplone.yml
  .pnpmfile.cjs
  packages/volto/Makefile
Due: none

Update lock
  pnpm-lock.yaml
Due: none

Remove logs
  packages/volto/Makefile
  packages/volto/news/7562.feature
Due: none

Introduce the pnpm catalog feature in core (#7562)
  .pnpmfile.cjs
  catalog.json
  package.json
  packages/volto/news/7562.internal
  pnpm-lock.yaml
Due: none

Release @plone/types 2.0.0-alpha.10
  packages/types/CHANGELOG.md
  packages/types/news/7555.feature
  packages/types/package.json
Due: none

Release @plone/slate 19.0.0-alpha.7
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/7263.bugfix
  packages/volto-slate/package.json
Due: none

Quick fix typings in ButtonsWidget because Icon has the wrong typings in JSDoc...
  packages/volto/src/components/manage/Widgets/ButtonsWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release 19.0.0-alpha.12
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/6633.bugfix
  packages/volto/news/7263.internal
  packages/volto/news/7548.internal
  packages/volto/news/7555.breaking
  packages/volto/news/7555.feature
  packages/volto/news/7562.internal
  packages/volto/package.json
  packages/volto/types/components/manage/Widgets/AlignWidget.stories.d.ts
  packages/volto/types/components/manage/Widgets/BlockAlignment.d.ts
  packages/volto/types/components/manage/Widgets/BlockAlignment.stories.d.ts
  packages/volto/types/components/manage/Widgets/BlockWidth.d.ts
  packages/volto/types/components/manage/Widgets/BlockWidth.stories.d.ts
  packages/volto/types/components/manage/Widgets/ButtonsWidget.d.ts
  packages/volto/types/components/manage/Widgets/ButtonsWidget.stories.d.ts
  packages/volto/types/components/manage/Widgets/Size.d.ts
  packages/volto/types/components/manage/Widgets/Size.stories.d.ts
  packages/volto/types/components/manage/Widgets/index.d.ts
  packages/volto/types/components/theme/InjectPloneComponentsCSS/InjectPloneComponentsCSS.d.ts
  packages/volto/types/config/Widgets.d.ts
  packages/volto/types/config/slots.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added `Radio` component to basic set of components, proxied from RAC
  packages/components/news/7555.feature
  packages/components/src/components/RadioGroup/RadioGroup.stories.tsx
  packages/components/src/components/RadioGroup/RadioGroup.tsx
  packages/components/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added `Radio` component to basic set of components, proxied from RAC (#7607)
  packages/components/news/7555.feature
  packages/components/src/components/RadioGroup/RadioGroup.stories.tsx
  packages/components/src/components/RadioGroup/RadioGroup.tsx
  packages/components/src/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Force cookieplone CI job to use 18 (#7548)
  .github/workflows/cookieplone.yml
  packages/volto/news/7548.internal
Due: none

Force cookieplone CI job to use 18 (#7548) (#7608)
  .github/workflows/cookieplone.yml
  packages/volto/news/7548.internal
Due: none

Remove container cage on relations control panel (#7610)
  packages/volto/news/6633.bugfix
  packages/volto/src/components/manage/Controlpanels/Relations/Relations.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix delete merge for empty Slate block
  packages/volto-slate/news/7473.bugfix
  packages/volto-slate/src/blocks/Text/keyboard/joinBlocks.js
  packages/volto-slate/src/utils/volto-blocks.js
  packages/volto/cypress/tests/core/blocks/blocks-slate-delete.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added changelog
  packages/volto/news/7473.internal
Due: none

Fix #7609: Remove glossary terms contentIcons and excludeLinksAndReferencesMenuItem
  docs/source/upgrade-guide/index.md
  docs/source/user-manual/links-to-item.md
Due: none

Release @plone/components 4.0.0-alpha.2
  packages/components/CHANGELOG.md
  packages/components/news/+rsc.feature
  packages/components/news/7395 copy.internal
  packages/components/news/7395.internal
  packages/components/news/7434.feature
  packages/components/news/7467.internal
  packages/components/news/7469.bugfix
  packages/components/news/7555.feature
  packages/components/package.json
Due: none

Fix icon return (#7597) (#7613)
  packages/components/news/+fixedIconComponentReturn.bugfix
  packages/components/src/components/Icon/Icon.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Release @plone/components 4.0.0-alpha.3
  packages/components/CHANGELOG.md
  packages/components/news/+fixedIconComponentReturn.bugfix
  packages/components/package.json
Due: none

lock
  pnpm-lock.yaml
Due: none
