Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Only include the original image in the Image component if the image does not have all the scales present. Fixed and update tests. (#7655)
  .github/workflows/readme-link-check.yml
  docs/source/conf.py
  docs/source/upgrade-guide/index.md
  packages/volto/news/7655.bugfix
  packages/volto/src/components/manage/Blocks/Grid/View.jsx
  packages/volto/src/components/manage/Blocks/Grid/context.js
  packages/volto/src/components/manage/Blocks/Image/ImageSidebar.test.jsx
  packages/volto/src/components/manage/Blocks/LeadImage/LeadImageSidebar.test.jsx
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Blocks/Teaser/View.jsx
  packages/volto/src/components/manage/Blocks/Teaser/utils.js
  packages/volto/src/components/manage/Blocks/Teaser/utils.test.js
  packages/volto/src/components/manage/Blocks/Video/View.test.jsx
  packages/volto/src/components/manage/TemplateChooser/TemplateChooser.test.jsx
  packages/volto/src/components/manage/Toolbar/PersonalTools.test.jsx
  packages/volto/src/components/manage/Widgets/ImageWidget.jsx
  packages/volto/src/components/manage/Widgets/RegistryImageWidget.test.jsx
  packages/volto/src/components/theme/Image/Image.jsx
  packages/volto/src/components/theme/Image/Image.test.jsx
  packages/volto/src/components/theme/Image/__snapshots__/Image.test.jsx.snap
  packages/volto/src/components/theme/View/ImageView.jsx
  packages/volto/src/components/theme/View/ImageView.test.jsx
  packages/volto/src/components/theme/View/__snapshots__/ImageView.test.jsx.snap
  packages/volto/src/components/theme/Widgets/ImageWidget.test.jsx
  packages/volto/src/config/Blocks.jsx
  packages/volto/src/config/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added missing upgrade guide information about .pnpmfile.cjs and catalog
  docs/source/upgrade-guide/index.md
Due: none

Changelog
  packages/volto/news/8096.documentation
Due: none

Apply suggestions from code review
  docs/source/upgrade-guide/index.md
Due: none

Update exact date
  docs/source/upgrade-guide/index.md
Due: none

Added missing upgrade guide information about .pnpmfile.cjs and catalog (#8096)
  docs/source/upgrade-guide/index.md
  packages/volto/news/8096.documentation
Due: none

We do not release client or components from here
  packages/client/news/+dep-release-it.internal
  packages/components/news/+dep-release-it.internal
  packages/components/news/8082.internal
Due: none

Do not release the packages that we updated the release-it package, no need.
  packages/registry/news/+dep-release-it.internal
  packages/registry/news/+dep-vite.internal
  packages/scripts/news/+dep-release-it.internal
  packages/types/news/+dep-release-it.internal
  packages/volto-babel-preset-razzle/news/+dep-release-it.internal
Due: none

Release @plone/razzle-dev-utils 1.0.0-alpha.2
  packages/volto-razzle-dev-utils/CHANGELOG.md
  packages/volto-razzle-dev-utils/news/+dep-release-it.internal
  packages/volto-razzle-dev-utils/news/+dep-webpack.breaking
  packages/volto-razzle-dev-utils/package.json
Due: none

Release @plone/razzle 1.0.0-alpha.3
  packages/volto-razzle/CHANGELOG.md
  packages/volto-razzle/news/+dep-release-it.internal
  packages/volto-razzle/news/+dep-webpack.breaking
  packages/volto-razzle/package.json
Due: none

Release @plone/slate 19.0.0-alpha.14
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/+dep-release-it.internal
  packages/volto-slate/news/4130.bugfix
  packages/volto-slate/news/4196.breaking
  packages/volto-slate/package.json
Due: none

Release 19.0.0-alpha.29
  docs/source/release-notes/index.md
  packages/volto/CHANGELOG.md
  packages/volto/news/+dep-cypress.internal
  packages/volto/news/+dep-diff.internal
  packages/volto/news/+dep-express.internal
  packages/volto/news/+dep-release-it.internal
  packages/volto/news/+dep-webpack.breaking
  packages/volto/news/7655.bugfix
  packages/volto/news/7962.bugfix
  packages/volto/news/7980.bugfix
  packages/volto/news/8052.bugfix
  packages/volto/news/8096.documentation
  packages/volto/package.json
  packages/volto/types/components/manage/Blocks/Grid/context.d.ts
  packages/volto/types/components/manage/Blocks/Teaser/utils.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix(i18n): complete missing Romanian translations and align UI labels
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/news/+i18n-ro.bugfix
Due: none

fix(i18n): add Romanian translations for volto-slate catalog
  packages/volto-slate/locales/ro/LC_MESSAGES/volto.po
  packages/volto-slate/news/+i18n-ro.bugfix
Due: none

Better widths implementation, try 1
  packages/cmsui/components/BlockEditor/BlocksEditor.tsx
  packages/plate/components/editor/plugins/ai-kit.tsx
  packages/plate/components/editor/plugins/autoformat-kit.tsx
  packages/plate/components/editor/plugins/block-width-plugin.test.ts
  packages/plate/components/editor/plugins/block-width-plugin.ts
  packages/plate/components/editor/plugins/plone-block-adapter.tsx
  packages/plate/components/editor/plugins/slash-menu.tsx
  packages/plate/components/editor/plugins/title.tsx
  packages/plate/components/editor/transforms.ts
  packages/plate/migrations/block-width.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Final shape of better widths handling, tapping the editor API
  .gitignore
  packages/cmsui/components/BlockEditor/BlocksEditor.tsx
  packages/plate/components/editor/plugins/ai-kit.tsx
  packages/plate/components/editor/plugins/autoformat-kit.tsx
  packages/plate/components/editor/plugins/block-width-plugin.ts
  packages/plate/components/editor/plugins/plone-block-adapter.tsx
  packages/plate/components/editor/plugins/slash-menu.tsx
  packages/plate/components/editor/plugins/title.tsx
  packages/plate/components/editor/transforms.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix format
  packages/plate/migrations/block-width.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/plate/news/8099.feature
Due: none

Improve block widths implementation (#8099)
  .gitignore
  packages/plate/components/editor/plugins/block-width-plugin.test.ts
  packages/plate/components/editor/plugins/block-width-plugin.ts
  packages/plate/components/editor/transforms.ts
  packages/plate/migrations/block-width.ts
  packages/plate/news/8099.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: removed double role attr
  packages/volto/src/components/manage/Toast/Toast.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: unit test
  packages/volto/src/components/manage/Toast/__snapshots__/Toast.test.jsx.snap
Due: none

chore: news
  packages/volto/news/8087.bugfix
Due: none

Fixed discussion kit render placement aboveNode->belowNode
  packages/plate/components/editor/plugins/discussion-kit.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  packages/plate/news/8101.feature
Due: none

fix(i18n): add Romanian translations for volto-slate catalog (#8098)
  packages/volto-slate/locales/ro/LC_MESSAGES/volto.po
  packages/volto-slate/news/+i18n-ro.bugfix
Due: none

fix(i18n): complete missing Romanian translations and align UI labels (#8097)
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/news/+i18n-ro.bugfix
Due: none

Fixed discussion kit render placement aboveNodes->belowNodes (#8101)
  packages/plate/components/editor/plugins/discussion-kit.tsx
  packages/plate/news/8101.feature
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix crash in AlternateHrefLangs when content.language is undefined (#8100)
  packages/volto/news/7309.bugfix
  packages/volto/src/components/theme/AlternateHrefLangs/AlternateHrefLangs.jsx
  packages/volto/src/components/theme/AlternateHrefLangs/AlternateHrefLangs.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Backport to 18.x.x: Fix crash in AlternateHrefLangs when content.language is undefined (#8094)
  packages/volto/news/7309.bugfix
  packages/volto/src/components/theme/AlternateHrefLangs/AlternateHrefLangs.jsx
  packages/volto/src/components/theme/AlternateHrefLangs/AlternateHrefLangs.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fixed RegistryImageWidget appending stray '}' to base64 data (#8095)
  packages/volto/news/7900.bugfix
  packages/volto/src/components/manage/Widgets/RegistryImageWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix missing import
  packages/plate/components/editor/transforms.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Remove the H1 from the turninto component
  packages/plate/components/ui/turn-into-toolbar-button.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Cross-Model review fixes
  packages/components/src/components/Breadcrumbs/Breadcrumbs.quanta.stories.tsx
  packages/components/src/components/Menu/Menu.quanta.tsx
  packages/components/src/components/Menu/Menu.tsx
  packages/components/src/components/Menu/menuTriggerChildren.tsx
  packages/components/src/components/Select/Select.quanta.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/index.ts
  packages/components/src/quanta/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix DTS errors
  packages/components/src/components/Select/Select.quanta.tsx
  packages/components/src/components/Select/Select.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix TS in @plone/components
  packages/components/src/components/ColorPicker/ColorPicker.tsx
  packages/components/src/components/MultiSelect/TokenSelect.quanta.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/components/TagGroup/TagGroup.quanta.stories.tsx
  packages/components/src/stories/Icons.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Better Menu typing
  packages/components/src/components/Menu/Menu.quanta.tsx
  packages/components/src/components/Menu/Menu.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fixed alias bug in razzle configuration and webpack-less-plugin (#8034)
  packages/volto/news/+depsloader.bugfix
  packages/volto/razzle.config.js
  packages/volto/webpack-plugins/webpack-less-plugin.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: toast a11y alert
  packages/volto/src/components/manage/Toast/Toast.jsx
  packages/volto/src/components/manage/Toast/Toast.test.jsx
  packages/volto/src/helpers/FormValidation/validators.ts
  packages/volto/theme/themes/pastanaga/extras/main.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix
