Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm --filter @plone/volto stylelint --fix

.lintstagedrc:

{
  "packages/!(volto)/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "packages/!(volto)/**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.{css,less,scss}": [
    "pnpm --filter @plone/volto stylelint --fix"
  ],
  "packages/volto/**/*.overrides": [
    "pnpm --filter @plone/volto stylelint --fix"
  ]
}

Fix linkcheck (#6502)
  docs/source/conf.py
  packages/registry/docs/conf.py
  packages/registry/news/6502.documentation
  packages/volto/news/6502.documentation
Due: none

Use a scale in Image and Teaser blocks for now
  packages/blocks/Image/index.tsx
  packages/blocks/Teaser/index.tsx
Due: none

Create unique slug for new fields in schemawidget.
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
  packages/volto/src/helpers/Utils/Utils.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

# issue -6448
  apps/vite-ssr/server.js
  package.json
  packages/client/src/utils/sanitize.test.js
Due: none

a11y.js test now use naming Type tested for a11y axe violations
  packages/volto/cypress/tests/core/content/a11y.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Move content/a11y.js to a11y/content.js
  packages/volto/cypress/tests/core/a11y/content.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Modified changelog to mention my name as well
  packages/volto/news/6339.internal
Due: none

Add Accessibility acceptance tests for content-types (#6339)
  packages/volto/cypress/tests/core/a11y/content.js
  packages/volto/cypress/tests/core/basic/metadata.js
  packages/volto/news/6339.internal
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Fix broken call to getWidgetPropsFromTaggedValues
  packages/volto/src/components/manage/Form/Field.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Activate the redirect
  docs/source/conf.py
Due: none

Line break
  docs/source/index.md
Due: none

Cleanup
  apps/nextjs/src/app/[[...slug]]/page.tsx
  packages/blocks/RenderBlocks/RenderBlocks.tsx
  packages/quanta/index.ts
Due: none

Modal form improvements.
  packages/volto/src/components/manage/Form/ModalForm.jsx
  packages/volto/src/components/manage/Widgets/SchemaWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix server redirect for external URLs
  packages/volto/src/components/theme/View/LinkView.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update fr translation
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/news/update_fr.feature
Due: none

Add (more) french translations
  packages/volto/locales/fr/LC_MESSAGES/volto.po
Due: none

Add (even more) french translations
  packages/volto/locales/fr/LC_MESSAGES/volto.po
Due: none

News item
  packages/volto/news/6509.internal
Due: none

News item for slate
  packages/volto-slate/news/6509.internal
Due: none

Added docs
  docs/source/upgrade-guide/index.md
Due: none

Apply suggestions from code review
  packages/volto-slate/news/6509.internal
  packages/volto/news/6509.internal
Due: none

Fix README in npm by copying it from the root of the monorepo.
  packages/volto/.release-it.json
Due: none

Changelog
  packages/volto/news/6510.internal
Due: none

Move the rules to its right place.
  packages/volto/.eslintrc
Due: none

Update latest eslint plugin versions.
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Revert "Update latest eslint plugin versions."
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Fix linting everywhere now
  .eslintignore
  packages/coresandbox/src/components/Blocks/FormBlock/Edit.tsx
  packages/coresandbox/src/components/Blocks/InputBlock/Edit.tsx
  packages/coresandbox/src/components/Blocks/TestBlock/Edit.tsx
  packages/coresandbox/src/components/TestForm.jsx
  packages/coresandbox/src/components/Views/NewsAndEvents.tsx
  packages/coresandbox/src/index.ts
  packages/volto-slate/.eslintrc.js
  pnpm-lock.yaml
Due: none

Fix README in npm by copying it from the root of the monorepo. (#6510)
  packages/volto/.release-it.json
  packages/volto/news/6510.internal
Due: none

Remove devserver settings for HMR of volto
  packages/volto/razzle.config.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

changelog
  packages/volto/news/6511.bugfix
Due: none

Update packages/volto/news/6511.bugfix
  packages/volto/news/6511.bugfix
Due: none

Only use the new config in core, detecting the VOLTOCONFIG env var.
  packages/volto/.eslintrc
  packages/volto/.eslintrc.core.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Use warning instead, fix the condition
  packages/volto/.eslintrc.core.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

[components] Fix color picker usability
  packages/components/src/components/ColorPicker/ColorPicker.stories.tsx
  packages/components/src/components/ColorPicker/ColorPicker.tsx
Due: none

Changelog
  packages/components/news/6512.bugfix
Due: none
