Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Update to same release as other vitest packages (#8302)
  packages/volto/news/+dep-vitest-ui.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

update test snapshot
  packages/volto/src/components/theme/Breadcrumbs/__snapshots__/Breadcrumbs.test.jsx.snap
Due: none

fix: exclude contenteditable and slate editors from universal focus-visible styles
  packages/volto/theme/themes/pastanaga/extras/focus.less
Due: pnpm stylelint --fix

Remove unused dependency react-docgen-typescript-plugin (#8174)
  packages/volto/news/+dep-docgen-typescript-plugin.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Remove unused dependency react-docgen-typescript-plugin (#8303)
  packages/volto/news/+dep-docgen-typescript-plugin.internal
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Add timezone selector for event start/end
  packages/volto/src/components/manage/Widgets/DatetimeWidget.jsx
  packages/volto/src/helpers/Utils/Utils.jsx
  packages/volto/theme/themes/pastanaga/extras/react-dates-overrides.less
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

increase icon size to comply with WCAG 2.2 (#8297)
  packages/volto/news/8297.bugfix
  packages/volto/src/components/theme/Breadcrumbs/Breadcrumbs.jsx
  packages/volto/src/components/theme/Breadcrumbs/__snapshots__/Breadcrumbs.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: add experiments to test plone-pgcatalog integration
  packages/volto/src/components/manage/Blocks/Image/ImageSidebar.jsx
  packages/volto/src/components/manage/Blocks/Teaser/Data.jsx
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/theme/Image/Image.jsx
  packages/volto/src/helpers/Url/Url.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Integrate links with ObjectBrowser (#8246)
  packages/blocks/Teaser/TeaserBlockEdit.tsx
  packages/blocks/news/8246.bugfix
  packages/cmsui/acceptance/tests/link-kit.test.ts
  packages/cmsui/components/BlockEditor/BlocksEditor.tsx
  packages/cmsui/components/BlockEditor/plugins/link-kit.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserModal.test.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserModal.tsx
  packages/cmsui/news/8246.feature
  packages/cmsui/package.json
  packages/plate/components/editor/block-editor-kit.tsx
  packages/plate/components/ui/link-node-static.tsx
  packages/plate/components/ui/link-node.tsx
  packages/plate/news/8246.feature
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  apps/seven/news/+unify-makefiles.internal
  packages/agave/news/+unify-makefiles.internal
  packages/blocks/news/+unify-makefiles.internal
  packages/client/news/+unify-makefiles.internal
  packages/cmsui/news/+unify-makefiles.internal
  packages/components/news/+unify-makefiles.internal
  packages/helpers/news/+unify-makefiles.internal
  packages/layout/news/+unify-makefiles.internal
  packages/plate/news/+unify-makefiles.internal
  packages/publicui/news/+unify-makefiles.internal
  packages/react-router/news/+unify-makefiles.internal
  packages/registry/news/+unify-makefiles.internal
  packages/scripts/news/+unify-makefiles.internal
  packages/theming/news/+unify-makefiles.internal
  packages/types/news/+unify-makefiles.internal
  packages/volto/news/+unify-makefiles.internal
Due: none

Added upload to the whole view and rename-while-uploading
  packages/contents/components/ContentsTable/ContentsDropZone.tsx
  packages/contents/components/ContentsTable/ContentsTable.tsx
  packages/contents/components/UploadModal/UploadModal.tsx
  packages/contents/index.ts
  packages/contents/locales/en/common.json
  packages/contents/locales/it/common.json
  packages/contents/providers/contents.tsx
  packages/contents/routes/upload.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Cleanup
  packages/cmsui/components/Toolbar/Toolbar.css
  packages/cmsui/config/widgets.ts
  packages/contents/IMPLEMENTATION_PLAN.md
  packages/contents/components/AddContentPopover/AddContentPopover.tsx
  packages/contents/components/ContentsTable/ContentsTable.tsx
  packages/contents/routes/layout.tsx
  packages/contents/routes/order.tsx
  packages/contents/routes/paste.tsx
  packages/helpers/src/index.ts
  packages/publicui/routes/index.tsx
  packages/volto/src/components/theme/Pagination/Pagination.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

Cleanup
  pnpm-lock.yaml
Due: none

Fix playwright problems with Node 24
  catalog.json
  pnpm-lock.yaml
Due: none

Fix typings
  packages/contents/helpers/Errors.ts
  packages/contents/index.ts
  packages/contents/package.json
  packages/types/src/config/Settings.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Changelog
  apps/seven/news/+contents-addon.feature
  packages/client/news/+content-ordering-schema.feature
  packages/cmsui/news/+layout-context-loader.internal
  packages/components/news/+contents-components.feature
  packages/contents/news/+contents-package.feature
  packages/helpers/news/+content-icons-helper.feature
  packages/layout/news/+route-error-toast.bugfix
  packages/publicui/news/+contents-toolbar-button.feature
  packages/types/news/+content-icons-component-type.bugfix
Due: none

Add documentation
  docs/how-to-guides/customize-login-screen.md
  docs/how-to-guides/index.md
Due: none

[Seven] Login layout implementation (#8271)
  docs/how-to-guides/customize-login-screen.md
  docs/how-to-guides/index.md
  packages/cmsui/components/Login/LoginActions.tsx
  packages/cmsui/components/Login/LoginHero.tsx
  packages/cmsui/components/Login/LoginLogo.tsx
  packages/cmsui/config/slots.ts
  packages/cmsui/index.ts
  packages/cmsui/locales/de/common.json
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/news/6656.bugfix
  packages/cmsui/news/6656.feature
  packages/cmsui/routes/auth/login.tsx
  packages/cmsui/static/plone-white.svg
  packages/cmsui/static/plone.svg
  packages/cmsui/static/volto-hero.svg
  packages/cmsui/styles/cmsui.css
  packages/components/news/6656.bugfix
  packages/components/src/styles/quanta/colors.css
  packages/theming/news/6656.bugfix
  packages/theming/styles/colors.css
  packages/theming/styles/tailwind.css
  packages/theming/styles/theme.css
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Unify Makefile files across the packages (#8298)
  Makefile
  apps/seven/Makefile
  apps/seven/news/+unify-makefiles.internal
  packages/agave/Makefile
  packages/agave/news/+unify-makefiles.internal
  packages/blocks/Makefile
  packages/blocks/news/+unify-makefiles.internal
  packages/client/Makefile
  packages/client/news/+unify-makefiles.internal
  packages/cmsui/Makefile
  packages/cmsui/news/+unify-makefiles.internal
  packages/components/Makefile
  packages/components/news/+unify-makefiles.internal
  packages/helpers/Makefile
  packages/helpers/news/+unify-makefiles.internal
  packages/layout/Makefile
  packages/layout/news/+unify-makefiles.internal
  packages/plate/Makefile
  packages/plate/news/+unify-makefiles.internal
  packages/publicui/Makefile
  packages/publicui/news/+unify-makefiles.internal
  packages/react-router/Makefile
  packages/react-router/news/+unify-makefiles.internal
  packages/registry/Makefile
  packages/registry/news/+unify-makefiles.internal
  packages/scripts/Makefile
  packages/scripts/news/+unify-makefiles.internal
  packages/theming/Makefile
  packages/theming/news/+unify-makefiles.internal
  packages/tsconfig/Makefile
  packages/types/Makefile
  packages/types/news/+unify-makefiles.internal
  packages/volto/Makefile
  packages/volto/news/+unify-makefiles.internal
  variables.mk
Due: none

localisation fixes for toolbar
  packages/cmsui/components/ContentForm/ContentForm.tsx
  packages/cmsui/locales/de/common.json
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: use textWidget with type 'number' instead of NumberField
  packages/cmsui/components/QuerystringWidget/QuerystringWidget.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

add `renderEmptyState` to `Table` component
  packages/components/news/+tableRenderEmptyState.feature
  packages/components/src/components/Table/Table.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Widgets definition and typings documentation
  docs/conceptual-guides/form-fields-controls-and-widgets.md
  docs/conceptual-guides/index.md
  packages/types/news/+form-widget-types.feature
  packages/types/src/config/Widgets.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Added checkbox widget
  packages/cmsui/components/BooleanWidget/BooleanWidget.stories.tsx
  packages/cmsui/components/BooleanWidget/BooleanWidget.test.tsx
  packages/cmsui/components/BooleanWidget/BooleanWidget.tsx
  packages/cmsui/components/Form/Field.tsx
  packages/cmsui/config/widgets.ts
  packages/cmsui/news/+boolean-widget-adapter.bugfix
  packages/components/src/components/Checkbox/Checkbox.quanta.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Recurrence widget (#7200)
  apps/seven/news/+recurrencewidget.feature
  packages/cmsui/components/Form/Field.tsx
  packages/cmsui/components/Form/Form.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByMonthDayField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByWeekdayOfTheMonth.tsx
  packages/cmsui/components/RecurrenceWidget/Components/ByWeekdayOfTheMonthIndex.tsx
  packages/cmsui/components/RecurrenceWidget/Components/CountEndField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/IntervalField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/MonthOfTheYearField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/RadioOptionsField.tsx
  packages/cmsui/components/RecurrenceWidget/Components/RecurrenceWidgetModal.tsx
  packages/cmsui/components/RecurrenceWidget/Components/SelectedDates.tsx
  packages/cmsui/components/RecurrenceWidget/Components/UntilEndField.tsx
  packages/cmsui/components/RecurrenceWidget/RecurrenceWidget.stories.tsx
  packages/cmsui/components/RecurrenceWidget/RecurrenceWidget.test.tsx
  packages/cmsui/components/RecurrenceWidget/RecurrenceWidget.tsx
  packages/cmsui/components/RecurrenceWidget/rrule.ts
  packages/cmsui/components/RecurrenceWidget/utils.ts
  packages/cmsui/config/widgets.ts
  packages/cmsui/locales/en/common.json
  packages/cmsui/locales/it/common.json
  packages/cmsui/news/+recurrencewidget.feature
  packages/cmsui/package.json
  packages/cmsui/routes/atoms.ts
  packages/components/news/+radiogroup-and-components-props.feature
  packages/components/src/components/Select/Select.quanta.tsx
  packages/components/src/components/Select/Select.tsx
  packages/components/src/components/TextField/TextField.quanta.tsx
  packages/theming/news/+mutedbackground.feature
  packages/theming/styles/tailwind.css
  packages/types/news/+eventtypes.bugfix
  pnpm-lock.yaml
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm stylelint --fix

Fix unhydrated login form error
  packages/volto/news/+login.bugfix
  packages/volto/src/components/theme/Login/Login.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

update snapshot
  packages/volto/src/components/theme/Login/__snapshots__/Login.test.jsx.snap
Due: none

Avoid unhydrated login form error (#8310)
  packages/volto/news/+login.bugfix
  packages/volto/src/components/theme/Login/Login.jsx
  packages/volto/src/components/theme/Login/__snapshots__/Login.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Improve support for non multilingual sites default language (#8179)
  packages/volto/news/+non-multilingual-site-cookie.bugfix
  packages/volto/src/server.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Apply suggestion, remove unused type import
  packages/components/src/components/Table/Table.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

[Seven] Add `renderEmptyState` to `Table` component (#8308)
  packages/components/news/+tableRenderEmptyState.feature
  packages/components/src/components/Table/Table.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: select block on focus for keyboard navigation in block editor
  packages/volto/cypress/tests/core/blocks/blocks-table.js
  packages/volto/news/8312.bugfix
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: wait for cell content instead of table visibility in cypress table test
  packages/volto/cypress/tests/core/blocks/blocks-table.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: add text assertions after typing and fix intercept alias in table block test
  packages/volto/cypress/tests/core/blocks/blocks-table.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: unused code removed
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: remove have.text assertions incompatible with Slate v18 table editor
  packages/volto/cypress/tests/core/blocks/blocks-table.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Path conditions:
  pnpm eslint --max-warnings=0 --fix: any of: **/*.{js,jsx,ts,tsx}
  pnpm prettier --single-quote --write: any of: **/*.{js,jsx,ts,tsx}
  pnpm i18n: any of: packages/volto/src/**/*.{jsx, tsx}
  pnpm stylelint --fix: (any of: **/*.{css,less,scss}) or (any of: packages/volto/**/*.overrides)
