Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "packages/!volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @plone/volto lint:husky",
    "pnpm --filter @plone/volto prettier:husky"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm --filter @plone/volto i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

changelog
  packages/volto/news/5935.bugfix
Due: none

Fix `error is null` in `FormFieldWrapper.jsx`. (#5920)
  packages/volto/news/5919.bugfix
  packages/volto/src/components/manage/Widgets/FormFieldWrapper.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Update DefaultView.jsx with Absolute Path for RenderBlocks (#5917)
  packages/volto/news/5917.internal
  packages/volto/src/components/theme/View/DefaultView.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix self-registration (#5935)
  packages/volto/news/5935.bugfix
  packages/volto/src/components/theme/Register/Register.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

fix(slate): fix insert/remove element edgecase bug in slate (#5926)
  packages/volto-slate/news/5928.bugfix
  packages/volto-slate/src/elementEditor/utils.js
Due: none

Add additional parameters to ContentsUploadModal to be reusable in different scenarios (#5881)
  packages/volto/news/5881.feature
  packages/volto/src/components/manage/Contents/ContentsUploadModal.jsx
  packages/volto/src/components/manage/Contents/ContentsUploadModal.test.jsx
  packages/volto/src/components/manage/Contents/__snapshots__/ContentsUploadModal.test.jsx.snap
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Fix edge case in search options mangling when the options are false-ish (#5869)
  packages/volto/news/5869.bugfix
  packages/volto/src/actions/search/search.js
  packages/volto/src/actions/search/search.test.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Added aria-live='polite' for volto 17 (#5640)
  src/components/manage/Contents/Contents.jsx
  src/components/manage/Contents/__snapshots__/Contents.test.jsx.snap
Due: none

fix sentence casing issues in translations and changelog in 5620.bugfix
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/5620.bugfix
  packages/volto/src/components/manage/Contents/ContentsUploadModal.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Refactor clearSlate function to remove forced wait
  packages/volto/cypress/support/commands.js
  packages/volto/cypress/tests/core/basic/locking.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

fix image block field to wrap the entire image across various alignments
  packages/volto/news/5922.bugfix
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm stylelint --fix

update changelog
  packages/volto/news/5922.bugfix
Due: none

Does not show borders in addon block inputs (#5898)
  packages/volto/cypress/tests/core/blocks/blocks-image.js
  packages/volto/cypress/tests/core/blocks/blocks-slate.js
  packages/volto/cypress/tests/core/blocks/blocks-table.js
  packages/volto/cypress/tests/core/blocks/blocks-title.js
  packages/volto/news/5894.bugfix
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm stylelint --fix

fix Stylelint check
  packages/volto/theme/themes/pastanaga/extras/blocks.less
Due: pnpm stylelint --fix

update changelog to contain a space before username.
  packages/volto/news/5922.bugfix
Due: none

Improve the `ContentMetadataTags` component, add missing `preview_image_link` use case. Add exhaustive unit tests.
  packages/volto/package.json
  packages/volto/src/actions/navroot/navroot.js
  packages/volto/src/components/theme/ContentMetadataTags/ContentMetadataTags.jsx
  packages/volto/src/components/theme/ContentMetadataTags/ContentMetadataTags.test.tsx
  packages/volto/src/components/theme/ContentMetadataTags/ContentMetadataTags.tsx
  packages/volto/src/helpers/Url/Url.js
  packages/volto/test-setup-config.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add env to deployment tests
  .github/workflows/deployment_tests.yml
Due: none

Add a new label `needs: triage` to new bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add change log
  packages/volto/news/5940.internal
Due: none

Fix redirect of `https://sustainability.eionet.europa.eu` to `https://www.eea.europa.eu/en/topics/at-a-glance/sustainability/`.
  README.md
Due: none

Add change log entry
  packages/volto/news/5941.documentation
Due: none

Fix redirect of `https://sustainability.eionet.europa.eu` to `https:/… (#5941)
  README.md
  packages/volto/news/5941.documentation
Due: none

Add a new label `needs: triage` to new bug reports (#5940)
  .github/ISSUE_TEMPLATE/bug_report.md
  packages/volto/news/5940.internal
Due: none

changelog
  packages/client/news/5942.bugfix
  packages/components/news/5942.bugfix
Due: none

docs: Cleanup obsolete EEA projects and update info about EEA main website
  README.md
Due: none

Update changelog
  packages/volto/news/5943.documentation
Due: none

Update README.md
  README.md
Due: none

docs: Cleanup obsolete EEA projects and update info about EEA main website (#5943)
  README.md
  packages/volto/news/5943.documentation
Due: none

minor improvements, still wip
  packages/components/src/components/Button/Button.tsx
  packages/components/src/components/Popover/Popover.tsx
  packages/components/src/views/Contents/Contents.tsx
  packages/components/src/views/Contents/ContentsCell.tsx
Due: none

restore new deps
  packages/volto/package.json
  pnpm-lock.yaml
Due: none

Update packages/volto/src/reducers/navigation/navigation.js
  packages/volto/src/reducers/navigation/navigation.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky

Add open/copy target in object browser widget.
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Add changelog.
  packages/volto/news/5944.feature
Due: none

Mock loadable.
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.test.jsx
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

unit tests
  packages/volto/src/components/manage/Blocks/Block/__snapshots__/Settings.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Image/__snapshots__/ImageSidebar.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Maps/__snapshots__/MapsSidebar.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/VideoSidebar.test.jsx.snap
  packages/volto/src/components/manage/Contents/__snapshots__/ContentsPropertiesModal.test.jsx.snap
  packages/volto/src/components/manage/Contents/__snapshots__/ContentsRenameModal.test.jsx.snap
  packages/volto/src/components/manage/Contents/__snapshots__/ContentsTagsModal.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/Controlpanels.jsx
  packages/volto/src/components/manage/Controlpanels/Rules/__snapshots__/AddRule.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/Rules/__snapshots__/EditRule.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/__snapshots__/Aliases.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/__snapshots__/ContentType.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/__snapshots__/Controlpanel.test.jsx.snap
  packages/volto/src/components/manage/Controlpanels/__snapshots__/UndoControlpanel.test.jsx.snap
  packages/volto/src/components/manage/Edit/__snapshots__/Edit.test.jsx.snap
  packages/volto/src/components/manage/Form/__mocks__/index.tsx
  packages/volto/src/components/manage/Form/__snapshots__/BlockDataForm.test.jsx.snap
  packages/volto/src/components/manage/Preferences/__snapshots__/ChangePassword.test.jsx.snap
  packages/volto/src/components/manage/Widgets/__snapshots__/VocabularyTermsWidget.test.jsx.snap
  packages/volto/src/components/theme/Comments/__snapshots__/CommentEditModal.test.jsx.snap
  packages/volto/src/components/theme/Comments/__snapshots__/Comments.test.jsx.snap
  packages/volto/src/components/theme/ContactForm/__snapshots__/ContactForm.test.jsx.snap
  packages/volto/src/components/theme/PasswordReset/__snapshots__/RequestPasswordReset.test.jsx.snap
  packages/volto/src/components/theme/Register/__snapshots__/Register.test.jsx.snap
  packages/volto/src/config/ControlPanels.js
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

more tests fixes
  packages/volto/src/components/manage/Controlpanels/Controlpanels.jsx
  packages/volto/src/components/manage/Pluggable/Pluggable.stories.js
  pnpm-lock.yaml
Due: pnpm --filter @plone/volto lint:husky, pnpm --filter @plone/volto prettier:husky, pnpm --filter @plone/volto i18n

Release @plone/types 1.0.0-alpha.9
  packages/types/CHANGELOG.md
  packages/types/news/5921.bugfix
  packages/types/package.json
Due: none

Release @plone/registry 1.5.5
  packages/registry/CHANGELOG.md
  packages/registry/news/5912.internal
  packages/registry/news/5925.bugfix
  packages/registry/package.json
Due: none

Release @plone/slate 18.0.0-alpha.11
  packages/volto-slate/CHANGELOG.md
  packages/volto-slate/news/5928.bugfix
  packages/volto-slate/package.json
Due: none

Rename news item
  packages/volto/news/5921.breaking
Due: none
