Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

fix-failing-test
  packages/volto/news/7678.internal
  packages/volto/src/components/manage/Widgets/ObjectBrowserWidget.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix-failing-test
  packages/volto/news/7685.internal
  packages/volto/src/components/manage/Form/ModalForm.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix-failing-test-for-html-block-edit
  packages/volto/news/7697.internal
  packages/volto/src/components/manage/Blocks/HTML/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix-failing-test-for-controlpannel-new-2
  packages/volto/news/7707.internal
  packages/volto/src/components/manage/Controlpanels/Groups/GroupsControlpanel.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Improved LCP by prioritizing the first image or carousel block
  packages/volto/news/news.internal
  packages/volto/src/components/manage/Blocks/Image/View.jsx
  packages/volto/src/components/manage/Blocks/Listing/ImageGallery.jsx
  packages/volto/src/components/manage/Blocks/Listing/ListingBody.jsx
  packages/volto/src/components/theme/View/RenderBlocks.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changed Changelog filename
  packages/volto/news/7791.internal
Due: none

Shifted logic to config
  packages/volto/src/config/index.js
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix failing test
  packages/volto/src/config/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix2 for failing test
  packages/volto/src/components/theme/View/RenderBlocks.test.jsx
  packages/volto/test-setup-config.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added requested changes
  packages/volto/src/helpers/Blocks/Blocks.js
  packages/volto/test-setup-config.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Improved Changelog
  packages/volto/news/7791.internal
Due: none

Fix: Use loading/fetchpriority props in Teaser DefaultBody and fix spacing in LeadImage
  packages/volto/src/components/manage/Blocks/LeadImage/View.jsx
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Blocks/Teaser/View.jsx
  packages/volto/src/components/manage/Blocks/Video/View.jsx
  packages/volto/src/components/theme/View/RenderBlocks.test.jsx
  packages/volto/src/config/index.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix: Update LeadImage View snapshot for loading/fetchpriority props
  packages/volto/src/components/manage/Blocks/LeadImage/__snapshots__/View.test.jsx.snap
Due: none

Update docs/source/configuration/settings-reference.md
  docs/source/configuration/settings-reference.md
Due: none

Fixes for teasure.jsx + video.jsx + docs
  docs/source/configuration/settings-reference.md
  packages/volto/src/components/manage/Blocks/Teaser/Body.jsx
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Blocks/Teaser/View.jsx
  packages/volto/src/components/manage/Blocks/Video/View.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

rec-changes-for-grid-block
  packages/volto/src/components/manage/Blocks/Grid/View.jsx
  packages/volto/src/components/manage/Blocks/Image/View.jsx
  packages/volto/src/components/theme/View/DefaultView.jsx
  packages/volto/src/components/theme/View/RenderBlocks.jsx
  packages/volto/src/components/theme/View/View.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Applied-latest-rec-change
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/View.test.jsx.snap
Due: none

half-work-as-per-maintainer-done
  docs/source/configuration/settings-reference.md
  packages/volto/src/components/manage/Blocks/LeadImage/View.jsx
  packages/volto/src/components/manage/Blocks/LeadImage/__snapshots__/View.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Blocks/Video/Body.jsx
  packages/volto/src/components/manage/Blocks/Video/View.jsx
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/Body.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/View.test.jsx.snap
  packages/volto/src/components/theme/VideoEmbed/VideoEmbed.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fixed last type error
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserContext.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Resolved-Conflicts
  packages/volto/src/components/manage/Blocks/Video/Body.jsx
  packages/volto/src/components/manage/Blocks/Video/View.jsx
  packages/volto/src/components/theme/VideoEmbed/VideoEmbed.jsx
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Updated docs
  docs/how-to-guides/custom-content-types.md
  docs/how-to-guides/index.md
  packages/cmsui/news/+contenttypes.breaking
  packages/layout/news/+contenttypes.breaking
  packages/types/news/+contenttypes.breaking
Due: none

fix-2
  packages/volto/src/components/manage/Controlpanels/Groups/GroupsControlpanel.test.jsx
  packages/volto/src/components/manage/Controlpanels/Groups/__snapshots__/GroupsControlpanel.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added missing news item
  apps/seven/news/+contenttypes.breaking
Due: none

Updated docs
  docs/how-to-guides/custom-content-types.md
Due: none

Fixed more typescript errors
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidget.stories.tsx
  packages/types/src/blocks/objectBrowser.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

update documentation with latest suggestions
  docs/configuration/component-registry.md
  docs/configuration/configuration-registry.md
  docs/how-to-guides/customize-toolbar.md
  docs/how-to-guides/icons.md
Due: none

fix-3
  packages/volto/src/components/manage/Blocks/Teaser/DefaultBody.jsx
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/Body.test.jsx.snap
  packages/volto/src/components/manage/Blocks/Video/__snapshots__/Edit.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

added news fragment for documentation changes
  packages/volto/news/6653.documentation
Due: none

Added link and button cross variants
  packages/components/src/components/Breadcrumbs/Breadcrumbs.quanta.tsx
  packages/components/src/components/Button/Button.quanta.stories.tsx
  packages/components/src/components/Button/Button.quanta.test.tsx
  packages/components/src/components/Button/Button.quanta.tsx
  packages/components/src/components/Button/Button.quanta.variants.tsx
  packages/components/src/components/Button/Button.test.tsx
  packages/components/src/components/Link/Link.quanta.stories.tsx
  packages/components/src/components/Link/Link.quanta.test.tsx
  packages/components/src/components/Link/Link.quanta.tsx
  packages/components/src/components/Link/Link.quanta.variants.tsx
  packages/components/src/components/Link/Link.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

News item
  packages/components/news/7379.feature
Due: none

fix-as-rec
  packages/volto/src/components/manage/History/History.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Updated storybook stories docs
  packages/components/src/components/Button/Button.quanta.stories.tsx
  packages/components/src/components/Link/Link.quanta.stories.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

pass-failing-test
  packages/volto/src/components/manage/History/History.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

cleanup, and fix the actual loading of the history
  packages/volto/src/components/manage/History/History.jsx
  packages/volto/src/components/manage/History/History.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Refactor History: Convert class-based component to functional component (#7717)
  packages/volto/news/7717.internal
  packages/volto/src/components/manage/History/History.jsx
  packages/volto/src/components/manage/History/History.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Refactored the `Content` type to allow TypeScript to narrow this type automatically (#8277)
  apps/seven/app/middleware.server.ts
  apps/seven/news/+contenttypes.breaking
  docs/how-to-guides/custom-content-types.md
  docs/how-to-guides/index.md
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserContext.tsx
  packages/cmsui/components/ObjectBrowserWidget/ObjectBrowserWidget.stories.tsx
  packages/cmsui/components/ObjectBrowserWidget/utils.ts
  packages/cmsui/news/+contenttypes.breaking
  packages/layout/components/EventDate/EventDate.tsx
  packages/layout/components/EventDetails/EventDetails.tsx
  packages/layout/news/+contenttypes.breaking
  packages/layout/views/EventView.tsx
  packages/layout/views/FileView.test.tsx
  packages/layout/views/FileView.tsx
  packages/layout/views/LinkView.tsx
  packages/types/news/+contenttypes.breaking
  packages/types/src/blocks/objectBrowser.d.ts
  packages/types/src/content/base.d.ts
  packages/types/src/content/index.d.ts
  packages/types/src/content/types/collection.d.ts
  packages/types/src/content/types/document.d.ts
  packages/types/src/content/types/event.d.ts
  packages/types/src/content/types/file.d.ts
  packages/types/src/content/types/folder.d.ts
  packages/types/src/content/types/image.d.ts
  packages/types/src/content/types/link.d.ts
  packages/types/src/content/types/news-item.d.ts
  packages/types/src/services/common.d.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write
