Repository plone/volto: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n, pnpm stylelint --fix

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": [
    "pnpm eslint --max-warnings=0 --fix",
    "pnpm prettier --single-quote --write"
  ],
  "packages/volto/src/**/*.{jsx, tsx}": ["pnpm i18n"],
  "**/*.{css,less,scss}": ["pnpm stylelint --fix"],
  "packages/volto/**/*.overrides": ["pnpm stylelint --fix"]
}

Fix subordering order tab (#7937)
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/7937.bugfix
  packages/volto/src/components/manage/Blocks/Block/Order/Item.jsx
  packages/volto/src/components/manage/Blocks/Block/Order/Order.jsx
  packages/volto/src/components/manage/Blocks/Block/Order/utilities.js
  packages/volto/src/helpers/Blocks/Blocks.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: eslit duplicate onFocus
  packages/volto/src/components/manage/Blocks/Block/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: fixed drag and drop of listing block in page
  src/components/manage/Blocks/Listing/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

chore: news item
  news/7940.bugfix
Due: none

Remove the `minimizerOptions.sourceMap` option from CssMinimizerPlugin
  packages/volto-razzle/config/createConfigAsync.js
  packages/volto-razzle/config/createConfigAsync.test.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Update packages/volto-razzle/news/7934.internal
  packages/volto-razzle/news/7934.internal
Due: none

chore: changelog
  packages/volto/news/7915.bugfix
Due: none

fix: Fixed searchable types in Object Browser Widget, adding also selectable-types to searchable-types.
  packages/volto/src/components/manage/Sidebar/ObjectBrowserBody.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: changelog
  packages/volto/news/7942.bugfix
Due: none

Update 7915.bugfix
  packages/volto/news/7915.bugfix
Due: none

Fix in-page drag-and-drop for the Listing block in Volto 18
  packages/volto/news/news.internal
  packages/volto/src/components/manage/Blocks/Listing/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changed changelog filename
  packages/volto/news/7943.internal
Due: none

Document-to-run-make-install-when-changing-a-dependency
  docs/source/contributing/acceptance-tests.md
  docs/source/contributing/developing-core.md
  docs/source/contributing/testing.md
Due: none

Added Changelog file
  packages/volto-slate/news/7944.internal
Due: none

fix: added more specific rules to block-tables cypress tests
  packages/volto/cypress/tests/core/blocks/blocks-table.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

bundle split improvements
  packages/plate/config/presets/block-editor.ts
  packages/plate/config/presets/block-renderer.ts
  packages/plate/config/presets/full.ts
  packages/plate/stories/MultiPlateEditor.stories.tsx
  packages/plate/stories/PlateRendering.stories.tsx
  packages/plate/types.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

More better splitting
  packages/plate/config/presets/block-editor.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

Fix icons
  packages/components/src/components/icons/index.ts
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

A11Y - Changed the order of the Save and Cancel buttons - Sharing page - CMS UI (#7835)
  packages/volto/news/7835.bugfix
  packages/volto/src/components/manage/Sharing/Sharing.jsx
  packages/volto/src/components/manage/Sharing/__snapshots__/Sharing.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Handle create-user 500 responses where body contains 'message' instead of 'error'
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.jsx
  packages/volto/src/components/manage/Controlpanels/Users/UsersControlpanel.test.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Add changes
  packages/volto/news/7946.bugfix
Due: none

fix: more changes to pass tests
  packages/volto/cypress/tests/core/blocks/blocks-table.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: in production builds, chunk filenames include a content hash
  packages/volto/cypress/tests/core/blocks/blocks-table.js
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write

fix: aria-label for content title block
  packages/volto/locales/ca/LC_MESSAGES/volto.po
  packages/volto/locales/de/LC_MESSAGES/volto.po
  packages/volto/locales/en/LC_MESSAGES/volto.po
  packages/volto/locales/es/LC_MESSAGES/volto.po
  packages/volto/locales/eu/LC_MESSAGES/volto.po
  packages/volto/locales/fi/LC_MESSAGES/volto.po
  packages/volto/locales/fr/LC_MESSAGES/volto.po
  packages/volto/locales/hi/LC_MESSAGES/volto.po
  packages/volto/locales/it/LC_MESSAGES/volto.po
  packages/volto/locales/ja/LC_MESSAGES/volto.po
  packages/volto/locales/nl/LC_MESSAGES/volto.po
  packages/volto/locales/pt/LC_MESSAGES/volto.po
  packages/volto/locales/pt_BR/LC_MESSAGES/volto.po
  packages/volto/locales/ro/LC_MESSAGES/volto.po
  packages/volto/locales/ru/LC_MESSAGES/volto.po
  packages/volto/locales/volto.pot
  packages/volto/locales/zh_CN/LC_MESSAGES/volto.po
  packages/volto/news/1234.bugfix
  packages/volto/src/components/manage/Blocks/Title/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

snapshot
  packages/volto/src/components/manage/Blocks/Title/__snapshots__/Edit.test.jsx.snap
Due: none

chore: news
  packages/volto/news/7948.bugfix
Due: none

A11Y - Changed the order of the Save and Cancel buttons - Sharing page - CMS UI (#7945)
  packages/volto/news/7835.bugfix
  packages/volto/src/components/manage/Sharing/Sharing.jsx
  packages/volto/src/components/manage/Sharing/__snapshots__/Sharing.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix href override in UniversalLink component. (#7883)
  packages/volto/news/+protocol.bugfix
  packages/volto/src/components/manage/UniversalLink/UniversalLink.test.jsx
  packages/volto/src/components/manage/UniversalLink/UniversalLink.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Added needed message in jsx
  packages/volto/src/components/theme/PasswordReset/PasswordReset.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix in-page drag-and-drop for the Listing block in Volto 18 and 19 (#7907)
  packages/volto/news/7907.internal
  packages/volto/src/components/manage/Blocks/Listing/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Fix href override in UniversalLink component (#7949)
  packages/volto/news/+protocol.bugfix
  packages/volto/src/components/manage/UniversalLink/UniversalLink.test.jsx
  packages/volto/src/components/manage/UniversalLink/UniversalLink.tsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Backport: Fix in-page drag-and-drop for Listing block (Volto 18) (#7943)
  packages/volto/news/7943.internal
  packages/volto/src/components/manage/Blocks/Listing/Edit.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix: Fixed searchable types in Object Browser Widget, adding also sel… (#7942)
  packages/volto/news/7942.bugfix
  packages/volto/src/components/manage/Sidebar/ObjectBrowserBody.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

fix(richTextWidget): fixed the invalid nesting of data in richtextwidget view
  packages/volto/src/components/theme/Widgets/RichTextWidget.jsx
  packages/volto/src/components/theme/Widgets/__snapshots__/RichTextWidget.test.jsx.snap
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

chore: amend changelog
  packages/volto/news/7950.bugfix
Due: none

Refactor Password Reset: Convert Class-Based Component to Functional Component (#7697)
  packages/volto/news/7697.internal
  packages/volto/src/components/theme/PasswordReset/PasswordReset.jsx
Due: pnpm eslint --max-warnings=0 --fix, pnpm prettier --single-quote --write, pnpm i18n

Changed changelog filename
  packages/volto/news/7951.internal
Due: none
